69*69
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

69*.yml69
indent_style = space
indent_size = 2

69*.py69
indent_style = space

69*.md69
trim_trailing_whitespace = false

69Dockerfile69
indent_style = space
