#ignore misc BYOND files
Thumbs.db
*.sav
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
*~Stashed changes
build_log.txt

#folders
tools/
data/
cfg/
tmp/
strings/loot_data/

#python
__pycache__

#vscode
.vscode
.history