#ignore misc BYOND files
Thumbs.db
*.sav
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
*~Stashed changes
./tools/
data/
cfg/
tmp/
build_log.txt
strings/loot_data/
__pycache__

#vscode
.vscode
.history