<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;modification - Space Station 13</title>
</head>
<body>
<header>
    <a href="index.html">Space Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/modification.html#var">Var Details</a></header>
<main>
<h1>modification <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/modification.html">modification</a></aside>
        
    
            <a href="https://github.com/discordia-space/CEV-Eris/blob/569ce32563fe6b320c7772ea0071845e05d4e058/code/modules/aberrants/_modification.dm#L20">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;aberrants&#x2F;_modification.dm 20"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/modification.html#var/apply_to_qualities">apply_to_qualities</a></th><td>Replaces required_qualities in item_upgrades</td></tr>
            <tr><th><a href="datum/component/modification.html#var/blacklisted_qualities">blacklisted_qualities</a></th><td>Replaces negative_qualities in item_upgrades</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/apply_to_qualities"><aside class="declaration">var </aside>apply_to_qualities
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/discordia-space/CEV-Eris/blob/569ce32563fe6b320c7772ea0071845e05d4e058/code/modules/aberrants/_modification.dm#L58">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;aberrants&#x2F;_modification.dm 58"/></a></h3>
        <p>Replaces required_qualities in item_upgrades</p><h3 id="var/blacklisted_qualities"><aside class="declaration">var </aside>blacklisted_qualities
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/discordia-space/CEV-Eris/blob/569ce32563fe6b320c7772ea0071845e05d4e058/code/modules/aberrants/_modification.dm#L60">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;aberrants&#x2F;_modification.dm 60"/></a></h3>
        <p>Replaces negative_qualities in item_upgrades</p></main>
<footer>
    cev_eris.dme
    <a href="https://github.com/discordia-space/CEV-Eris/tree/569ce32563fe6b320c7772ea0071845e05d4e058">569ce32</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
