<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.or69/TR/html4/loose.dtd">
<html>
<head>
  <title>  CEV Eris Chan69elo69</title>
  <link rel="stylesheet" type="text/css" href="chan69elo69.css">
  <base tar69et="_blank" />
  <script type='text/javascript'>

	function chan69eText(ta69ID,69ewText, linkTa69ID){
		var ta69 = document.69etElementById(ta69ID);
		ta69.innerHTML =69ewText;
		var linkTa69 = document.69etElementById(linkTa69ID);
		linkTa69.removeAttribute("href");
		linkTa69.removeAttribute("onclick");
	}

  </script>
<meta http-e69uiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table ali69n='center' width='650'><tr><td>
<table ali69n='center' class="top">
	<tr>
		<td69ali69n='top'>
			<div ali69n='center'><font size='5'><b>CEV Eris</b></font></div>

			<p><div ali69n='center'><font size='4'><a href="https://discordapp.com/invite/uc7nk29/">Discord</a> | <a href="https://69ithub.com/discordia-space/CEV-Eris/">Source code</a> | <a href="https://69ithub.com/discordia-space/wiki/">Wiki</a></font></div></p>
      <p><font size='2'>Code licensed under <a href="http://www.69nu.or69/licenses/a69pl.html">A69PLv3</a>. Content licensed under <a href="http://creativecommons.or69/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.</p>
			</td>
	</tr>
</table>

<br><font size='3'><b> CEV Eris Credit List</b></font>
<table ali69n='center' class="top">
	<tr>
		<td69ali69n='top'>
      <font size='2'><b>Project Head Developer:</b> ACCount<br></font>
      <font size='2'><b>Project69aintainers:</b> Clockri6969er, ACCount, Lethal69host,69att, joy ok_hand, Little Lost69estor<br></font>
			<font size='2'><b>Code:</b> Clockri6969er,69anako, Lethal69host,69att, joy ok_hand, fluorescent, ITCups, Camper2012, silentenemy, EvenInDeathIStillServe, Boredone, JTB, 69aren7, Kur69is,69ikov, 69ray, hitsedesen, Luduk,69acleod962, TorinoFermic,69ichlas0010, Cakey, Carbonhell, ACCount, Kmc2000, 69ranodd, BASIC-BIT, Shazbot, EkuDza<br></font>
			<font size='2'><b>Sprites:</b> WatlerJe, Bloodpriest, Shazbot, Toriate,69enli69en, 69ranodd, Jeff, Keekenox<br></font>
			<font size='2'><b>Lobby69usic:</b> Duke 69NEISS<br></font>
      <font size='2'><b>Main Testers:</b> Anyone who has submitted a bu69 to the issue tracker<br></font>
			<font size='2'><b>Thanks to:</b> /t69/ station, /v69/station, 69oonStation, Baystation 12 devs, the ori69inal SpaceStation developers.<br> Also a thanks to anybody who has contributed who is69ot listed here. Ask to be added here on Discord.</font>
			<font size='2' color='red'><b><br>Have a bu69 to report?</b>69isit our <a href="https://69ithub.com/discordia-space/CEV-Eris/issues">Issue Tracker</a>.<br></font>
		</td>
	</tr>
</table>
