<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>  CEV Eris Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>

	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}

  </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='5'><b>CEV Eris</b></font></div>

			<p><div align='center'><font size='4'><a href="https://discordapp.com/invite/uc7nk29/">Discord</a> | <a href="https://github.com/discordia-space/CEV-Eris/">Source code</a> | <a href="https://github.com/discordia-space/wiki/">Wiki</a></font></div></p>
      <p><font size='2'>Code licensed under <a href="http://www.gnu.org/licenses/agpl.html">AGPLv3</a>. Content licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.</p>
			</td>
	</tr>
</table>

<br><font size='3'><b> CEV Eris Credit List</b></font>
<table align='center' class="top">
	<tr>
		<td valign='top'>
      <font size='2'><b>Project Head Developer:</b> ACCount<br></font>
      <font size='2'><b>Project Maintainers:</b> Clockrigger, ACCount, LethalGhost, Matt, joy ok_hand, Little Lost Nestor<br></font>
			<font size='2'><b>Code:</b> Clockrigger, Nanako, LethalGhost, Matt, joy ok_hand, fluorescent, ITCups, Camper2012, silentenemy, EvenInDeathIStillServe, Boredone, JTB, Garen7, Kurgis, Nikov, Gray, hitsedesen, Luduk, Macleod962, TorinoFermic, nichlas0010, Cakey, Carbonhell, ACCount, Kmc2000, Granodd, BASIC-BIT, Shazbot, EkuDza<br></font>
			<font size='2'><b>Sprites:</b> WatlerJe, Bloodpriest, Shazbot, Toriate, Venligen, Granodd, Jeff, Keekenox<br></font>
			<font size='2'><b>Lobby music:</b> Duke GNEISS<br></font>
      <font size='2'><b>Main Testers:</b> Anyone who has submitted a bug to the issue tracker<br></font>
			<font size='2'><b>Thanks to:</b> /tg/ station, /vg/station, GoonStation, Baystation 12 devs, the original SpaceStation developers.<br> Also a thanks to anybody who has contributed who is not listed here. Ask to be added here on Discord.</font>
			<font size='2' color='red'><b><br>Have a bug to report?</b> Visit our <a href="https://github.com/discordia-space/CEV-Eris/issues">Issue Tracker</a>.<br></font>
		</td>
	</tr>
</table>