.Reward {
  &--text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--cost {
    overflow: hidden;
    text-overflow: ellipsis;
    color: goldenrod;
  }

  &--icon {
    text-align: center;
    width: 5.9ch;
    height: 5.9ch;
  }

  &--game-icon {
    width: 2.5rem;
    align-items: center;
  }

  &--name {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}
