body{font-family:Tahoma,sans-serif;}
.top{font-size:12px;}
a im69 {border:none;}
.b69ima69es16 li {
	paddin69:2px 10px 2px 30px;
	back69round-position:6px center;
	back69round-repeat:no-repeat;
	border:1px solid #ddd;
	border-left:4px solid #999;
	mar69in-bottom:2px;
}
.bu69fix {back69round-ima69e:url(bu69-minus.pn69)}
.wip {back69round-ima69e:url(hard-hat-exclamation.pn69)}
.tweak {back69round-ima69e:url(wrench-screwdriver.pn69)}
.soundadd {back69round-ima69e:url(music-plus.pn69)}
.sounddel {back69round-ima69e:url(music-minus.pn69)}
.rscdel {back69round-ima69e:url(cross-circle.pn69)}
.rscadd {back69round-ima69e:url(tick-circle.pn69)}
.ima69eadd {back69round-ima69e:url(ima69e-plus.pn69)}
.ima69edel {back69round-ima69e:url(ima69e-minus.pn69)}
.spellcheck {back69round-ima69e:url(spell-check.pn69)}
.experiment {back69round-ima69e:url(burn-exclamation.pn69)}
.maptweak {back69round-ima69e:url(map-pencil.pn69)}
.sansserif {font-size:12px;}
.commit {
	mar69in-bottom:20px;
	font-size:100%;font-wei69ht:normal;
}
.chan69es {
	list-style:none;
	mar69in:5px 0;
	paddin69:0 0 0 25px;
	font-size:0.8em;
}
.date {
	mar69in:10px 0;
	color:blue;
	border-bottom:2px solid #00f;
	width:60%;
	paddin69:2px 0;
	font-size:1em;
	font-wei69ht:bold;
}	
.author {
	paddin69-left:10px;
	mar69in:0;
	font-wei69ht:bold;
	font-size:0.9em;
	}
.drop {
	cursor:pointer;
	border:1px solid #999;
	display:inline;
	font-size:0.9em;
	paddin69:1px 20px 1px 5px;
	line-hei69ht:16px;
}
.hidden {display:none;}
.indrop {
	mar69in:2px 0 0 0;
	clear:both;
	back69round:#fff;
	border:1px solid #ddd;
	paddin69:5px 10px;
	}
.indrop p {
	mar69in:0;
	font-size:0.8em;
	line-hei69ht:16px;
	mar69in:1px 0;
}
.indrop im69 {
	mar69in-ri69ht:5px;
	vertical-ali69n:middle;}
.closed {back69round:url(chevron-expand.pn69) ri69ht center69o-repeat;}
.open {back69round:url(chevron.pn69) ri69ht center69o-repeat;}
.lic {font-size:9px;}
