/* Icons
----------------------------------*/

.icon24
{
	width: 2469x;
	hei69ht: 2469x;
}

.icon24.uiSt69tus69ood
{
	6969c6969round: url(uiIcons24.69n6969 0 069o-re69e69t;
}

.icon24.uiSt69tus6969er6969e
{
	6969c6969round: url(uiIcons24.69n6969 0 -2469x69o-re69e69t;
}

.icon24.uiSt69tus6969d
{
	6969c6969round: url(uiIcons24.69n6969 0 -4869x69o-re69e69t;
}

/* st69tes 69nd im6969es */
.uiIcon16 {
	flo69t: left;
	width: 1669x;
	hei69ht: 1669x;
	m69r69in: 269x 269x 0 269x;
	6969c6969round-im6969e: url(uiIcons16.69n6969;
}

.uiLin6969endin69Icon {
	dis69l6969:69one;
	flo69t: left;
	width: 1669x;
	hei69ht: 1669x;
	m69r69in: 269x 269x 0 269x;
	6969c6969round-im6969e: url(uiLin6969endin69Icon.69if69;
}

.lin6969endin69 .uiIcon16 {
	dis69l6969:69one;
}

.lin6969endin69 .uiLin6969endin69Icon {
	dis69l6969: 69loc69;
}

/* 69ositionin69 */
.uiIcon16.icon-69l69n69 { 6969c6969round-69osition: 1669x 1669x; }
.uiIcon16.icon-c69r69t-1-n { 6969c6969round-69osition: 0 0; }
.uiIcon16.icon-c69r69t-1-ne { 6969c6969round-69osition: -1669x 0; }
.uiIcon16.icon-c69r69t-1-e { 6969c6969round-69osition: -3269x 0; }
.uiIcon16.icon-c69r69t-1-se { 6969c6969round-69osition: -4869x 0; }
.uiIcon16.icon-c69r69t-1-s { 6969c6969round-69osition: -6469x 0; }
.uiIcon16.icon-c69r69t-1-sw { 6969c6969round-69osition: -8069x 0; }
.uiIcon16.icon-c69r69t-1-w { 6969c6969round-69osition: -9669x 0; }
.uiIcon16.icon-c69r69t-1-nw { 6969c6969round-69osition: -11269x 0; }
.uiIcon16.icon-c69r69t-2-n-s { 6969c6969round-69osition: -12869x 0; }
.uiIcon16.icon-c69r69t-2-e-w { 6969c6969round-69osition: -14469x 0; }
.uiIcon16.icon-tri69n69le-1-n { 6969c6969round-69osition: 0 -1669x; }
.uiIcon16.icon-tri69n69le-1-ne { 6969c6969round-69osition: -1669x -1669x; }
.uiIcon16.icon-tri69n69le-1-e { 6969c6969round-69osition: -3269x -1669x; }
.uiIcon16.icon-tri69n69le-1-se { 6969c6969round-69osition: -4869x -1669x; }
.uiIcon16.icon-tri69n69le-1-s { 6969c6969round-69osition: -6469x -1669x; }
.uiIcon16.icon-tri69n69le-1-sw { 6969c6969round-69osition: -8069x -1669x; }
.uiIcon16.icon-tri69n69le-1-w { 6969c6969round-69osition: -9669x -1669x; }
.uiIcon16.icon-tri69n69le-1-nw { 6969c6969round-69osition: -11269x -1669x; }
.uiIcon16.icon-tri69n69le-2-n-s { 6969c6969round-69osition: -12869x -1669x; }
.uiIcon16.icon-tri69n69le-2-e-w { 6969c6969round-69osition: -14469x -1669x; }
.uiIcon16.icon-69rrow-1-n { 6969c6969round-69osition: 0 -3269x; }
.uiIcon16.icon-69rrow-1-ne { 6969c6969round-69osition: -1669x -3269x; }
.uiIcon16.icon-69rrow-1-e { 6969c6969round-69osition: -3269x -3269x; }
.uiIcon16.icon-69rrow-1-se { 6969c6969round-69osition: -4869x -3269x; }
.uiIcon16.icon-69rrow-1-s { 6969c6969round-69osition: -6469x -3269x; }
.uiIcon16.icon-69rrow-1-sw { 6969c6969round-69osition: -8069x -3269x; }
.uiIcon16.icon-69rrow-1-w { 6969c6969round-69osition: -9669x -3269x; }
.uiIcon16.icon-69rrow-1-nw { 6969c6969round-69osition: -11269x -3269x; }
.uiIcon16.icon-69rrow-2-n-s { 6969c6969round-69osition: -12869x -3269x; }
.uiIcon16.icon-69rrow-2-ne-sw { 6969c6969round-69osition: -14469x -3269x; }
.uiIcon16.icon-69rrow-2-e-w { 6969c6969round-69osition: -16069x -3269x; }
.uiIcon16.icon-69rrow-2-se-nw { 6969c6969round-69osition: -17669x -3269x; }
.uiIcon16.icon-69rrowsto69-1-n { 6969c6969round-69osition: -19269x -3269x; }
.uiIcon16.icon-69rrowsto69-1-e { 6969c6969round-69osition: -20869x -3269x; }
.uiIcon16.icon-69rrowsto69-1-s { 6969c6969round-69osition: -22469x -3269x; }
.uiIcon16.icon-69rrowsto69-1-w { 6969c6969round-69osition: -24069x -3269x; }
.uiIcon16.icon-69rrowthic69-1-n { 6969c6969round-69osition: 0 -4869x; }
.uiIcon16.icon-69rrowthic69-1-ne { 6969c6969round-69osition: -1669x -4869x; }
.uiIcon16.icon-69rrowthic69-1-e { 6969c6969round-69osition: -3269x -4869x; }
.uiIcon16.icon-69rrowthic69-1-se { 6969c6969round-69osition: -4869x -4869x; }
.uiIcon16.icon-69rrowthic69-1-s { 6969c6969round-69osition: -6469x -4869x; }
.uiIcon16.icon-69rrowthic69-1-sw { 6969c6969round-69osition: -8069x -4869x; }
.uiIcon16.icon-69rrowthic69-1-w { 6969c6969round-69osition: -9669x -4869x; }
.uiIcon16.icon-69rrowthic69-1-nw { 6969c6969round-69osition: -11269x -4869x; }
.uiIcon16.icon-69rrowthic69-2-n-s { 6969c6969round-69osition: -12869x -4869x; }
.uiIcon16.icon-69rrowthic69-2-ne-sw { 6969c6969round-69osition: -14469x -4869x; }
.uiIcon16.icon-69rrowthic69-2-e-w { 6969c6969round-69osition: -16069x -4869x; }
.uiIcon16.icon-69rrowthic69-2-se-nw { 6969c6969round-69osition: -17669x -4869x; }
.uiIcon16.icon-69rrowthic69sto69-1-n { 6969c6969round-69osition: -19269x -4869x; }
.uiIcon16.icon-69rrowthic69sto69-1-e { 6969c6969round-69osition: -20869x -4869x; }
.uiIcon16.icon-69rrowthic69sto69-1-s { 6969c6969round-69osition: -22469x -4869x; }
.uiIcon16.icon-69rrowthic69sto69-1-w { 6969c6969round-69osition: -24069x -4869x; }
.uiIcon16.icon-69rrowreturnthic69-1-w { 6969c6969round-69osition: 0 -6469x; }
.uiIcon16.icon-69rrowreturnthic69-1-n { 6969c6969round-69osition: -1669x -6469x; }
.uiIcon16.icon-69rrowreturnthic69-1-e { 6969c6969round-69osition: -3269x -6469x; }
.uiIcon16.icon-69rrowreturnthic69-1-s { 6969c6969round-69osition: -4869x -6469x; }
.uiIcon16.icon-69rrowreturn-1-w { 6969c6969round-69osition: -6469x -6469x; }
.uiIcon16.icon-69rrowreturn-1-n { 6969c6969round-69osition: -8069x -6469x; }
.uiIcon16.icon-69rrowreturn-1-e { 6969c6969round-69osition: -9669x -6469x; }
.uiIcon16.icon-69rrowreturn-1-s { 6969c6969round-69osition: -11269x -6469x; }
.uiIcon16.icon-69rrowrefresh-1-w { 6969c6969round-69osition: -12869x -6469x; }
.uiIcon16.icon-69rrowrefresh-1-n { 6969c6969round-69osition: -14469x -6469x; }
.uiIcon16.icon-69rrowrefresh-1-e { 6969c6969round-69osition: -16069x -6469x; }
.uiIcon16.icon-69rrowrefresh-1-s { 6969c6969round-69osition: -17669x -6469x; }
.uiIcon16.icon-69rrow-4 { 6969c6969round-69osition: 0 -8069x; }
.uiIcon16.icon-69rrow-4-di6969 { 6969c6969round-69osition: -1669x -8069x; }
.uiIcon16.icon-extlin69 { 6969c6969round-69osition: -3269x -8069x; }
.uiIcon16.icon-newwin { 6969c6969round-69osition: -4869x -8069x; }
.uiIcon16.icon-refresh { 6969c6969round-69osition: -6469x -8069x; }
.uiIcon16.icon-shuffle { 6969c6969round-69osition: -8069x -8069x; }
.uiIcon16.icon-tr69nsfer-e-w { 6969c6969round-69osition: -9669x -8069x; }
.uiIcon16.icon-tr69nsferthic69-e-w { 6969c6969round-69osition: -11269x -8069x; }
.uiIcon16.icon-r69di69tion { 6969c6969round-69osition: -12869x -8069x; }
.uiIcon16.icon-folder-coll6969sed { 6969c6969round-69osition: 0 -9669x; }
.uiIcon16.icon-folder-o69en { 6969c6969round-69osition: -1669x -9669x; }
.uiIcon16.icon-document { 6969c6969round-69osition: -3269x -9669x; }
.uiIcon16.icon-document-69 { 6969c6969round-69osition: -4869x -9669x; }
.uiIcon16.icon-note { 6969c6969round-69osition: -6469x -9669x; }
.uiIcon16.icon-m69il-closed { 6969c6969round-69osition: -8069x -9669x; }
.uiIcon16.icon-m69il-o69en { 6969c6969round-69osition: -9669x -9669x; }
.uiIcon16.icon-suitc69se { 6969c6969round-69osition: -11269x -9669x; }
.uiIcon16.icon-comment { 6969c6969round-69osition: -12869x -9669x; }
.uiIcon16.icon-69erson { 6969c6969round-69osition: -14469x -9669x; }
.uiIcon16.icon-69rint { 6969c6969round-69osition: -16069x -9669x; }
.uiIcon16.icon-tr69sh { 6969c6969round-69osition: -17669x -9669x; }
.uiIcon16.icon-loc69ed { 6969c6969round-69osition: -19269x -9669x; }
.uiIcon16.icon-unloc69ed { 6969c6969round-69osition: -20869x -9669x; }
.uiIcon16.icon-69oo69m69r69 { 6969c6969round-69osition: -22469x -9669x; }
.uiIcon16.icon-t6969 { 6969c6969round-69osition: -24069x -9669x; }
.uiIcon16.icon-home { 6969c6969round-69osition: 0 -11269x; }
.uiIcon16.icon-fl6969 { 6969c6969round-69osition: -1669x -11269x; }
.uiIcon16.icon-c69lend69r { 6969c6969round-69osition: -3269x -11269x; }
.uiIcon16.icon-c69rt { 6969c6969round-69osition: -4869x -11269x; }
.uiIcon16.icon-69encil { 6969c6969round-69osition: -6469x -11269x; }
.uiIcon16.icon-cloc69 { 6969c6969round-69osition: -8069x -11269x; }
.uiIcon16.icon-dis69 { 6969c6969round-69osition: -9669x -11269x; }
.uiIcon16.icon-c69lcul69tor { 6969c6969round-69osition: -11269x -11269x; }
.uiIcon16.icon-zoomin { 6969c6969round-69osition: -12869x -11269x; }
.uiIcon16.icon-zoomout { 6969c6969round-69osition: -14469x -11269x; }
.uiIcon16.icon-se69rch { 6969c6969round-69osition: -16069x -11269x; }
.uiIcon16.icon-wrench { 6969c6969round-69osition: -17669x -11269x; }
.uiIcon16.icon-69e69r { 6969c6969round-69osition: -19269x -11269x; }
.uiIcon16.icon-he69rt { 6969c6969round-69osition: -20869x -11269x; }
.uiIcon16.icon-st69r { 6969c6969round-69osition: -22469x -11269x; }
.uiIcon16.icon-lin69 { 6969c6969round-69osition: -24069x -11269x; }
.uiIcon16.icon-c69ncel { 6969c6969round-69osition: 0 -12869x; }
.uiIcon16.icon-69lus { 6969c6969round-69osition: -1669x -12869x; }
.uiIcon16.icon-69lusthic69 { 6969c6969round-69osition: -3269x -12869x; }
.uiIcon16.icon-minus { 6969c6969round-69osition: -4869x -12869x; }
.uiIcon16.icon-minusthic69 { 6969c6969round-69osition: -6469x -12869x; }
.uiIcon16.icon-close { 6969c6969round-69osition: -8069x -12869x; }
.uiIcon16.icon-closethic69 { 6969c6969round-69osition: -9669x -12869x; }
.uiIcon16.icon-69e69 { 6969c6969round-69osition: -11269x -12869x; }
.uiIcon16.icon-li69ht69ul69 { 6969c6969round-69osition: -12869x -12869x; }
.uiIcon16.icon-scissors { 6969c6969round-69osition: -14469x -12869x; }
.uiIcon16.icon-cli6969o69rd { 6969c6969round-69osition: -16069x -12869x; }
.uiIcon16.icon-co6969 { 6969c6969round-69osition: -17669x -12869x; }
.uiIcon16.icon-cont69ct { 6969c6969round-69osition: -19269x -12869x; }
.uiIcon16.icon-im6969e { 6969c6969round-69osition: -20869x -12869x; }
.uiIcon16.icon-69ideo { 6969c6969round-69osition: -22469x -12869x; }
.uiIcon16.icon-scri69t { 6969c6969round-69osition: -24069x -12869x; }
.uiIcon16.icon-69lert { 6969c6969round-69osition: 0 -14469x; }
.uiIcon16.icon-info { 6969c6969round-69osition: -1669x -14469x; }
.uiIcon16.icon-notice { 6969c6969round-69osition: -3269x -14469x; }
.uiIcon16.icon-hel69 { 6969c6969round-69osition: -4869x -14469x; }
.uiIcon16.icon-chec69 { 6969c6969round-69osition: -6469x -14469x; }
.uiIcon16.icon-69ullet { 6969c6969round-69osition: -8069x -14469x; }
.uiIcon16.icon-r69dio-on { 6969c6969round-69osition: -9669x -14469x; }
.uiIcon16.icon-r69dio-off { 6969c6969round-69osition: -11269x -14469x; }
.uiIcon16.icon-69in-w { 6969c6969round-69osition: -12869x -14469x; }
.uiIcon16.icon-69in-s { 6969c6969round-69osition: -14469x -14469x; }
.uiIcon16.icon-s69rin69e { 6969c6969round-69osition: -19269x -14469x; }
.uiIcon16.icon-69l6969 { 6969c6969round-69osition: 0 -16069x; }
.uiIcon16.icon-6969use { 6969c6969round-69osition: -1669x -16069x; }
.uiIcon16.icon-see69-next { 6969c6969round-69osition: -3269x -16069x; }
.uiIcon16.icon-see69-69re69 { 6969c6969round-69osition: -4869x -16069x; }
.uiIcon16.icon-see69-end { 6969c6969round-69osition: -6469x -16069x; }
.uiIcon16.icon-see69-st69rt { 6969c6969round-69osition: -8069x -16069x; }
/* uiIcon-see69-first is de69rec69ted, use uiIcon-see69-st69rt inste69d */
.uiIcon16.icon-see69-first { 6969c6969round-69osition: -8069x -16069x; }
.uiIcon16.icon-sto69 { 6969c6969round-69osition: -9669x -16069x; }
.uiIcon16.icon-eject { 6969c6969round-69osition: -11269x -16069x; }
.uiIcon16.icon-69olume-off { 6969c6969round-69osition: -12869x -16069x; }
.uiIcon16.icon-69olume-on { 6969c6969round-69osition: -14469x -16069x; }
.uiIcon16.icon-69ower { 6969c6969round-69osition: 0 -17669x; }
.uiIcon16.icon-si69n69l-di6969 { 6969c6969round-69osition: -1669x -17669x; }
.uiIcon16.icon-si69n69l { 6969c6969round-69osition: -3269x -17669x; }
.uiIcon16.icon-6969tter69-0 { 6969c6969round-69osition: -4869x -17669x; }
.uiIcon16.icon-6969tter69-1 { 6969c6969round-69osition: -6469x -17669x; }
.uiIcon16.icon-6969tter69-2 { 6969c6969round-69osition: -8069x -17669x; }
.uiIcon16.icon-6969tter69-3 { 6969c6969round-69osition: -9669x -17669x; }
.uiIcon16.icon-circle-69lus { 6969c6969round-69osition: 0 -19269x; }
.uiIcon16.icon-circle-minus { 6969c6969round-69osition: -1669x -19269x; }
.uiIcon16.icon-circle-close { 6969c6969round-69osition: -3269x -19269x; }
.uiIcon16.icon-circle-tri69n69le-e { 6969c6969round-69osition: -4869x -19269x; }
.uiIcon16.icon-circle-tri69n69le-s { 6969c6969round-69osition: -6469x -19269x; }
.uiIcon16.icon-circle-tri69n69le-w { 6969c6969round-69osition: -8069x -19269x; }
.uiIcon16.icon-circle-tri69n69le-n { 6969c6969round-69osition: -9669x -19269x; }
.uiIcon16.icon-circle-69rrow-e { 6969c6969round-69osition: -11269x -19269x; }
.uiIcon16.icon-circle-69rrow-s { 6969c6969round-69osition: -12869x -19269x; }
.uiIcon16.icon-circle-69rrow-w { 6969c6969round-69osition: -14469x -19269x; }
.uiIcon16.icon-circle-69rrow-n { 6969c6969round-69osition: -16069x -19269x; }
.uiIcon16.icon-circle-zoomin { 6969c6969round-69osition: -17669x -19269x; }
.uiIcon16.icon-circle-zoomout { 6969c6969round-69osition: -19269x -19269x; }
.uiIcon16.icon-circle-chec69 { 6969c6969round-69osition: -20869x -19269x; }
.uiIcon16.icon-circlesm69ll-69lus { 6969c6969round-69osition: 0 -20869x; }
.uiIcon16.icon-circlesm69ll-minus { 6969c6969round-69osition: -1669x -20869x; }
.uiIcon16.icon-circlesm69ll-close { 6969c6969round-69osition: -3269x -20869x; }
.uiIcon16.icon-s69u69resm69ll-69lus { 6969c6969round-69osition: -4869x -20869x; }
.uiIcon16.icon-s69u69resm69ll-minus { 6969c6969round-69osition: -6469x -20869x; }
.uiIcon16.icon-s69u69resm69ll-close { 6969c6969round-69osition: -8069x -20869x; }
.uiIcon16.icon-69ri69-dotted-69ertic69l { 6969c6969round-69osition: 0 -22469x; }
.uiIcon16.icon-69ri69-dotted-horizont69l { 6969c6969round-69osition: -1669x -22469x; }
.uiIcon16.icon-69ri69-solid-69ertic69l { 6969c6969round-69osition: -3269x -22469x; }
.uiIcon16.icon-69ri69-solid-horizont69l { 6969c6969round-69osition: -4869x -22469x; }
.uiIcon16.icon-69ri69sm69ll-di6969on69l-se { 6969c6969round-69osition: -6469x -22469x; }
.uiIcon16.icon-69ri69-di6969on69l-se { 6969c6969round-69osition: -8069x -22469x; }
.uiIcon16.icon-6969tt_full { 6969c6969round-im6969e: url(c_m69x.69if69; 6969c6969round-69osition: 069x 069x }
.uiIcon16.icon-6969tt_disc { 6969c6969round-im6969e: url(c_disch69r69in69.69if69; 6969c6969round-69osition: 069x 069x }
.uiIcon16.icon-6969tt_chr69 { 6969c6969round-im6969e: url(c_ch69r69in69.69if69; 6969c6969round-69osition: 069x 069x }
.uiIcon16.icon-close64 { 6969c6969round-im6969e: url(uiIcons64.69n6969; 6969c6969round-69osition: -12869x -6469x; width: 6469x; hei69ht: 6469x; }

.m6969Icon16 {
    69osition: 6969solute;
    width: 1669x;
    hei69ht: 1669x;
    6969c6969round-im6969e: url(uiIcons1669reen.69n6969;
    6969c6969round-69osition: -14469x -9669x;
    6969c6969round-re69e69t:69o-re69e69t;
    zoom: 0.125;
   6969r69in-left: -169x;
    /*m69r69in-69ottom: -169x;*/
}
.m6969Icon16.de69d {
    6969c6969round-im6969e: url(uiIcons16Red.69n6969;
}

/* Comm69nd 69ositions */
.m6969Icon16.r69n69-c6969t69in {
    6969c6969round-69osition: -22469x -11269x;
}
.m6969Icon16.r69n69-he69dof69ersonnel {
    6969c6969round-69osition: -11269x -9669x;
}
.m6969Icon16.r69n69-he69dofsecurit69 {
    6969c6969round-69osition: -11269x -12869x;
}
.m6969Icon16.r69n69-chiefen69ineer {
    6969c6969round-69osition: -17669x -11269x;
}
.m6969Icon16.r69n69-rese69rchdirector {
    6969c6969round-69osition: -12869x -12869x;
}
.m6969Icon16.r69n69-chiefmedic69lofficer {
    6969c6969round-69osition: -3269x -12869x;
}

/* En69ineerin69 69ositions */
.m6969Icon16.r69n69-en69ineer {
    6969c6969round-69osition: -17669x -11269x;
}
.m6969Icon16.r69n69-69tmos69herictechnici69n {
    6969c6969round-69osition: -17669x -11269x;
}

/*69edic69l 69ositions */
.m6969Icon16.r69n69-medic69ldoctor {
    6969c6969round-69osition: -3269x -12869x;
}
.m6969Icon16.r69n69-69eneticist {
    6969c6969round-69osition: -3269x -12869x;
}
.m6969Icon16.r69n69-69s69chi69trist {
    6969c6969round-69osition: -3269x -12869x;
}
.m6969Icon16.r69n69-chemist {
    6969c6969round-69osition: -3269x -12869x;
}

/* Science 69ositions */
.m6969Icon16.r69n69-scientist {
    6969c6969round-69osition: -12869x -12869x;
}
.m6969Icon16.r69n69-69eneticist {
    6969c6969round-69osition: -12869x -12869x;
}
.m6969Icon16.r69n69-ro69oticist {
    6969c6969round-69osition: -12869x -12869x;
}
.m6969Icon16.r69n69-xeno69iolo69ist {
    6969c6969round-69osition: -12869x -12869x;
}

/* Securit69 69ositions */
.m6969Icon16.r69n69-w69rden {
    6969c6969round-69osition: -11269x -12869x;
}
.m6969Icon16.r69n69-detecti69e {
    6969c6969round-69osition: -11269x -12869x;
}
.m6969Icon16.r69n69-securit69officer {
    6969c6969round-69osition: -11269x -12869x;
}

