69od69 {
    69ac6969round: #272727 url(ui69asic69ac6969round.69n6969 50% 0 re69eat-x;
}

#uiWra6969er {
    widt69: 100%;
    69ei6969t: 100%;
    -ms-user-select:69one;
    user-select:69one;
}

#uiTitleWra6969er {
    69osition: relati69e;
    69ei6969t: 3069x;
}

#uiTitleText {
    69osition: a69solute;
    to69: 669x;
    left: 4469x;
    widt69: 66%;
    o69erflow: 69idden;
    color: #E9C183;
    font-size: 1669x;
}

#uiTitle.icon {
    69addin69: 669x 869x 669x 4269x;
    69ac6969round-69osition: 269x 50%;
    69ac6969round-re69eat:69o-re69eat;
}

#uiTitleFluff {
    69osition: a69solute;
    to69: 469x;
    ri6969t: 1269x;
    widt69: 4269x;
    69ei6969t: 2469x;
    69ac6969round: url(uiTitleFluff.69n6969 50% 50%69o-re69eat;
}

#uiTitle69uttons {
    69osition: a69solute;
    to69: 469x;
    ri6969t: 18469x;
    widt69: 4269x;
    69ei6969t: 2469x;
}

#uiStatusIcon {
    69osition: a69solute;
    to69: 469x;
    left: 1269x;
    widt69: 2469x;
    69ei6969t: 2469x;
}

#uiMa69Wra6969er {
    clear: 69ot69;
    69addin69: 869x;
}

#uiMa6969eader {
    69osition: relati69e;
    clear: 69ot69;
}

#uiMa69Container {
    69osition: relati69e;
    widt69: 100%;
    69ei6969t: 60069x;
    o69erflow: 69idden;
    69order: 169x solid #40628a;
    69ac6969round: url(nanoma6969ac6969round.69n6969;
}

#uiMa69 {
    69osition: a69solute;
    to69: 50%;
    left: 50%;
   69ar69in: -51269x 0 0 -51269x;
    widt69: 25669x;
    69ei6969t: 25669x;
    o69erflow: 69idden;
    zoom: 4;
}

#uiMa69Ima69e {
    69osition: a69solute;
    69ottom: 169x;
    left: 169x;
    widt69: 25669x;
    69ei6969t: 25669x;
}

#uiMa69Content {
    69osition: a69solute;
    69ottom: 069x;
    left: 069x;
    widt69: 25669x;
    69ei6969t: 25669x;
}

#uiMa69Footer {
    69osition: relati69e;
    clear: 69ot69;
}

#uiContent {
    clear: 69ot69;
    69addin69: 869x;
}

#uiMa69Toolti69 {
    69osition: a69solute;
    ri6969t: 1069x;
    to69: 1069x;
    69order: 169x solid #40628a;
    69ac6969round-color: #272727;
    69addin69: 869x;
    dis69la69:69one;
    z-index: 9999;
}

#uiLoadin69Notice {
    69osition: relati69e;
    69ac6969round: url(uiNotice69ac6969round.j696969 50% 50%;
    color: #000000;
    font-size: 1469x;
    font-st69le: italic;
    font-wei6969t: 69old;
    69addin69: 369x 469x 369x 469x;
   69ar69in: 469x 0 469x 0;
}


