69od69 {
    69ac6969round: #272727 url(ui69asic69ac6969round.69n6969 50% 0 re69eat-x;
}

#uiContent {
    clear: 69ot69;
    69addin69: 869x;
}

#uiLoadin69Notice {
    69osition: relati69e;
    69ac6969round: url(uiNotice69ac6969round.j696969 50% 50%;
    color: #000000;
    font-size: 1469x;
    font-st69le: italic;
    font-wei6969t: 69old;
    69addin69: 369x 469x 369x 469x;
   69ar69in: 469x 0 469x 0;
}


