body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #ffffff;
	line-height: 170%;
	font-family: Verdana, Geneva, sans-serif;
	background: #272727;
}

.uiModularHeader {
	width: 100%;
	padding: 0px;
	background: #272727 url(uiHeaderPattern.png) 0 5% repeat;
	box-shadow: 0px 6px 6px #232323;
	margin-bottom: 6px;
	min-height: 15px;
}

#uiNoScript {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -150px;
	width: 280px;
	height: 120px;
	background: #ffffff;
	border: 2px solid #ff0000;
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	z-index: 9999;
	padding: 0px 10px;
	text-align: center;
}

hr {
	background-color: #40628a;
	height: 1px;
}

.link, .linkOn, .linkOff, .selected, .disabled, .yellowButton, .redButton {
	float: left;
	min-width: 15px;
	height: 16px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	background: #40628a;
	border: 1px solid #161616;
	padding: 0px 4px 4px 4px;
	margin: 0 2px 2px 0;
	cursor: default;
	white-space: nowrap;
}

.linkFaintBackground {
	background: none;
}

.hasIcon {
	padding: 0px 4px 4px 0px;
}

.onlyIcon {
	padding: 0px 0px 4px 0px;
}

a:hover, .zoomLink:hover, .linkActive:hover {
	background: #405a8c;
}

.linkFaintBackground:hover {
	background: rgba(80,100,120,.5);
}

.linkPending, .linkPending:hover {
	color: #ffffff;
	background: #507aac;
}

a.white, a.white:link, a.white:visited, a.white:active {
	color: #40628a;
	text-decoration: none;
	background: #ffffff;
	border: 1px solid #161616;
	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor: default;
}

a.white:hover {
	color: #ffffff;
	background: #40628a;
}

.hidden {
	display: none;
}

.linkOn, a.linkOn:link, a.linkOn:visited, a.linkOn:active, a.linkOn:hover, .selected, a.selected:link, a.selected:visited, a.selected:active, a.selected:hover {
	color: #ffffff;
	background: #2f943c;
}

.linkOff, a.linkOff:link, a.linkOff:visited, a.linkOff:active, a.linkOff:hover, .disabled, a.disabled:link, a.disabled:visited, a.disabled:active, a.disabled:hover {
	color: #ffffff;
	background: #999999;
	border-color: #666666;
}

a.icon, .linkOn.icon, .linkOff.icon, .selected.icon, .disabled.icon {
	position: relative;
	padding: 1px 4px 2px 20px;
}

a.icon img, .linkOn.icon img, .linkOff.icon img, .selected.icon img, .disabled.icon img {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
}

.linkDanger, a.linkDanger:link, a.linkDanger:visited, a.linkDanger:active {
	color: #ffffff;
	background-color: #ff0000;
	border-color: #aa0000;
}

.linkDanger:hover {
	background-color: #ff6666;
}

ul {
	padding: 4px 0 0 10px;
	margin: 0;
	list-style-type: none;
}

li {
	padding: 0 0 2px 0;
}

img, a img {
	border-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 12px 0 6px 0;
	color: #FFFFFF;
	clear: both;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
}

abbr {
	border-bottom: .1em dotted;
}

.white {
	color: white;
}

.good {
	color: #4f7529;
}

.average {
	color: #cd6500;
}

.bad {
	color: #ee0000;
}

.unimportant {
	color: #808080;
}

.idle {
	color: #272727;
}

.redButton {
	background: #b00e0e;
}

.yellowButton {
	background: #cacc00;
}

.highlight {
	color: #8BA5C4;
}

.dark {
	color: #272727;
}

.caption {
	font-size: 10px;
	font-weight: bold;
	padding: 5px;
}

.footer {
	font-size: 10px;
}

.noticePlaceholder {
	position: relative;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding: 3px 4px 3px 4px;
	margin: 4px 0 4px 0;
}

.notice {
	position: relative;
	background: url(uiNoticeBackground.jpg) 50% 50%;
	color: #000000;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding: 3px 4px 3px 4px;
	margin: 4px 0 4px 0;
}

.danger
{
	color: #ff0000;	
	font-weight: bold;
}
.warning
{
	color: #ff0000;	
	font-style: italic;
}

.notice.icon {
	padding: 2px 4px 0 20px;
}

.notice img {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
}

div.notice {
	clear: both;
}

.itemGroup {
	border: 1px solid #e9c183;
	background: #2c2c2c;
	padding: 4px;
	clear: both;
}

.item {
	width: 100%;
	margin: 4px 0 0 0;
	clear: both;
	overflow: auto;
}

.flexContainer {
	width: 100%;
	margin: 4px 0 0 0;
	clear: both;
	display: flex;
	align-content: wrap;
	align-items: stretch;

}

.flexBox {
	display: flex;
}

.itemContentNarrow, .itemContent {
	float: left;
}

.itemContentNarrow {
	width: 30%;
}

.itemContent {
	width: 69%;
}

.itemLabelNarrow, .itemLabel, .itemLabelWide, .itemLabelWider, .itemLabelWidest {
	float: left;
	color: #e9c183;
}

.itemLabelNarrow {
	width: 20%;
}

.itemLabel {
	width: 30%;
}

.itemLabelWide {
	width: 45%;
}

.itemLabelWider {
	width: 69%;
}

.itemLabelWidest {
	width: 100%;
}

.itemLabelHeader {
	width: 100%;
	float: left;
	color: #e9c183;
	font-size: 18px;
	margin: 0;
	padding: 12px 0 6px 0;
	clear: both;
	font-weight: bold;
}

.itemContentWide {
	float: left;
	width: 79%;
}

.itemContentSmall {
	float: left;
	width: 33%;
}

.itemContentMedium {
	float: left;
	width: 55%;
}

.statusDisplay {
	background: #000000;
	color: #ffffff;
	border: 1px solid #40628a;
	padding: 4px;
	margin: 3px 0;
	overflow: hidden;
}

.statusDisplayItem {
	background: #000000;
	color: #ffffff;
	border: 1px solid #40628a;
	padding: 1px;
	margin: 0px 4px;
	overflow: hidden;
}
.statusDisplayRecords {
	background: #000000;
	color: #ffffff;
	border: 1px solid #40628a;
	padding: 4px;
	margin: 3px 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.statusDisplayComm {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	padding-bottom: 4px;
	border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	border-bottom: 2px inset #40628a;
	margin: 3px 0;
	overflow: hidden;
}

.statusLabel {
	width: 138px;
	float: left;
	overflow: hidden;
	color: #98B0C3;
}

.statusValue {
	float: left;
}

.block {
	padding: 8px;
	margin: 10px 4px 4px 4px;
	border: 1px solid #40628a;
	background-color: #202020;
}

.block h3 {
	padding: 0;
}

.displayBar {
	position: relative;
	width: 100%;
	height: 16px;
	border: 1px solid #40628a;
	float: left;
	margin: 0 5px 0 0;
	overflow: hidden;
	background: #000000;
	line-height: 17px;
	padding: 1px;
	border: 1px solid #40628a;
	background: #272727;
}

.displayBarText, .displayBarVerticalText, .displayBarBeakerText{
	position: absolute;
	top: 0;
	right: 3px;
	color: #ffffff;
	font-weight: normal;
}

.displayBarFill {
	width: 0%;
	height: 100%;
	background: #40628a;
	overflow: hidden;
	float: left;
}

.displayBarVertical {
	position: relative;
	width: 16px;
	height: 200px;
	border: 1px solid #666666;
	float: left;
	margin: 0 5px 0 0;
	overflow: hidden;
	background: #40628a;
}

.displayBarVerticalFill {
	width: 100%;
	height: 0%;
	overflow: hidden;
	float: left;
	background: #000000;
}

.colorBox {
	display: inline-block; 
	width: 20px; 
	height: 8px; 
	border:1px solid #000; 
	padding: 0px;
}

/*used in xenobio2 computer*/

.displayBarBeaker {
	position: relative;
	width: 100px;
	height: 110px;
	border-right: 2px solid rgb(102, 179, 255);
	border-left: 2px solid rgb(102, 179, 255);
	border-bottom: 2px solid rgb(102, 179, 255);
	float: left;
	margin: 0 5px 0 0;
	overflow: hidden;
	background: #40628a;
}

.displayBarBeakerFill {
	width: 100%;
	height: 0%;
	overflow: hidden;
	float: left;
	background: rgba(153, 204, 255, 0.3);
}

.displayBarFill.alignRight {
	float: right;
}

.displayBarFill.good {
	color: #ffffff;
	background: #4f7529;
}

.displayBarFill.average {
	color: #ffffff;
	background: #cd6500;
}

.displayBarFill.bad {
	color: #ffffff;
	background: #b00e0e;
}

.displayBarFill.highlight {
	color: #ffffff;
	background: #8BA5C4;
}

.clearBoth {
	clear: both;
}

.noFloat {
	float: none;
}

.clearLeft {
	clear: left;
}

.clearRight {
	clear: right;
}

.line {
	width: 100%;
	clear: both;
}

.inactive, a.inactive:link, a.inactive:visited, a.inactive:active, a.inactive:hover {
	color: #ffffff;
	background: #999999;
	border-color: #666666;
}

.fixedLeft {
	width: 110px;
	float: left;
}

.fixedLeftWide {
	width: 165px;
	float: left;
}

.fixedLeftWider {
	width: 220px;
	float: left;
}

.fixedLeftWidest {
	width: 250px;
	float: left;
}

.fixedLeftWiderRed {
	width: 220px;
	float: left;
	background: #ee0000;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

/* Used in PDA */

.wholeScreen {
	position: absolute;
	color: #517087;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.pdalink {
	float: left;
	white-space: nowrap;
}

/* DNA Modifier UI (dna_modifier.tmpl) */

.dnaBlock {
	float: left;
	width: 90px;
	padding: 0 0 5px 0;
}

.dnaBlockNumber {
	font-family: Fixed, monospace;
	float: left;
	color: #ffffff;
	background: #363636;
	min-width: 20px;
	height: 20px;
	padding: 0;
	text-align: center;
}

.dnaSubBlock {
	font-family: Fixed, monospace;
	float: left;
	padding: 0;
	min-width: 16px;
	height: 20px;
	text-align: center;
}

.mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(uiMaskBackground.png);
}

.maskContent {
	width: 100%;
	height: 200px;
	margin: 200px 0;
	text-align: center;
}

table.fixed { 
	table-layout:fixed;
}

table.fixed td {
	overflow: hidden;
}

/* Table stuffs for power monitor */
table.pmon {
	border: 2px solid RoyalBlue;
}

table.pmon td, table.pmon th {
	border-bottom: 1px dotted black;
	padding: 0px 5px 0px 5px;
}

/* Table Stuffs for manifest*/

tr.bottom_bordered td, .bottom_bordered{
	border-bottom: 1px solid #aaf
}

th.command {
	background: #3333ff;
	font-weight: bold;
	color: #ffffff;
}

th.spt {
	background: #4f4ff2;
	font-weight: bold;
	color: #ffffff;
}

th.sec {
	background: #8e0000;
	font-weight: bold;
	color: #ffffff;
}

th.med {
	background: #006600;
	font-weight: bold;
	color: #ffffff;
}

th.eng {
	background: #b27300;
	font-weight: bold;
	color: #ffffff;
}

th.sci {
	background: #a65ba6;
	font-weight: bold;
	color: #ffffff;
}

th.car {
	background: #bb9040;
	font-weight: bold;
	color: #ffffff;
}

th.sup {
	background: #bb9040;
	font-weight: bold;
	color: #ffffff;
}

th.civ {
	background: #a32800;
	font-weight: bold;
	color: #ffffff;
}

th.srv {
	background: #88b764;
	font-weight: bold;
	color: #ffffff;
}

th.exp {
	background: #68099e;
	font-weight: bold;
	color: #ffffff;
}

th.misc {
	background: #666666;
	font-weight: bold;
	color: #ffffff;
}

th.bot {
	background: #414249;
	font-weight: bold;
	color: #ffffff;
}

/* Damage colors for crew monitoring computer */

.burn {
	color: orange;
}

.brute {
	color: red;
}

.toxin {
	color: green;
}

.oxyloss {
	color: cyan;
}

/* 75px width used in power monitoring console buttons */
.width75btn {
	width: 75px;
}
.wideTable tr:nth-child(odd) {
	background-color: #272727;
}

/* Candystriped rows for tables */
.candystripe {
	background-color: rgba(148, 148, 148, 0.25);
}
.candystripe:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.16);
}
.nanoMap{
	background: url(nanomapBackground.png) repeat;
	border: 1px solid #40628a;
	overflow: auto;
	position: relative;
	padding: 10px;
	margin: 5px 0;
}
#SpecialOffer{
	border: 1px solid #40628a;
	border-radius: 10px 0;
	width: 99%;
	padding: 5px;
}
#sciTechTreeContainer {
	width: 99%;
	height: 590px;
}
#tradeTreeContainer {
	width: 100%;
	height: 590px;
}

/* [Tooltips of description] */
.withToolTip .ImTooltip, .withToolTipInTooltip .ImTooltipInTooltip{
	display			: none;
	padding			: 10px;
	margin-left		: 8px;
	width			: 200px;
	z-index			: 999;
	background      : #717177;
	border          : 4px solid #666;
	border-radius   : 0px 5px;
	color           : #d1d1dd;
	text-align      : center;
	white-space     : pre-line;
	overflow: wrap;
}
.withToolTip:hover .ImTooltip, .withToolTipInTooltip:hover .ImTooltipInTooltip{
	display			: block;
	position		: absolute;
}
.sciTechTreeIcon .ImTooltip img{
	background-image: url(science.png);
}
.tradeTreeIcon .ImTooltip img{
	background-image: url(overmap.png);
}

/* [/Tooltips of description] */
.sciTechTreeIcon {
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url(science.png);
	background-position: -0px -0px;
	background-repeat: no-repeat;
	zoom: 1;
}

.sciTechTreeIconBox {
	width: 32px;
	height: 32px;
}

.sciTechResearched {
	background: #2f943c;
}

.sciTechResearched:hover {
	background: #3fB44c;
}	

.sciTechCantResearch {
	background: #942f3c;
}

.sciTechCantResearch:hover {
	background: #B43f4c;
}

.sciTechSelected {
	background: #3333cc;
}

.sciTechSelected:hover {
	background: #3333cf;
}

.icon-gun { background-position: 0px 0px; }
.icon-diamond { background-position: -32px 0px; }
.icon-cell { background-position: -64px 0px; }
.icon-wrench { background-position: -96px 0px; }
.icon-telescience { background-position: -128px 0px; }
.icon-monitoring { background-position: -160px 0px; }
.icon-rd { background-position: -192px 0px; }
.icon-tesla { background-position: -224px 0px; }
.icon-mob { background-position: -32px 0px; }

.icon-spaceheater { background-position: 0px -32px; }
.icon-pda { background-position: -32px -32px; }
.icon-goldpda { background-position: -64px -32px; }
.icon-advmop { background-position: -96px -32px; }
.icon-drill { background-position: -128px -32px; }
.icon-jackhammer { background-position: -160px -32px; }
.icon-advmatterbin { background-position: -192px -32px; }
.icon-supermatterbin { background-position: -224px -32px; }

.icon-bluespacematterbin { background-position: 0px -64px; }
.icon-rped { background-position: -32px -64px; }
.icon-jawsoflife { background-position: -64px -64px; }
.icon-Moebius_box1 { background-position: -256px -0px; }
.icon-healthanalyzer { background-position: -96px -64px; }
.icon-hydroponics { background-position: -128px -64px; }
.icon-microwave { background-position: -160px -64px; }
.icon-candymachine { background-position: -192px -64px; }
.icon-operationcomputer { background-position: -224px -64px; }
.icon-autolathe { background-position: -256px -64px; }

.icon-vialbox { background-position: 0px -96px; }
.icon-sleeper { background-position: -32px -96px; }
.icon-medhud { background-position: -64px -96px; }
.icon-handheldmonitor { background-position: -96px -96px; }
.icon-medbeacon { background-position: -128px -96px; }
.icon-rapidsyringegun { background-position: -160px -96px; }
.icon-scalpelmanager { background-position: -192px -96px; }
.icon-stunbaton { background-position: -224px -96px; }

.icon-seccomputer { background-position: 0px -128px; }
.icon-flash { background-position: -32px -128px; }
.icon-recharger { background-position: -64px -128px; }
.icon-ammobox { background-position: -96px -128px; }
.icon-submachinegun { background-position: -128px -128px; }
.icon-tempgun { background-position: -160px -128px; }
.icon-teslagun { background-position: -192px -128px; }
.icon-stunrevolver { background-position: -224px -128px; }

.icon-supercell { background-position: 0px -160px; }
.icon-hypercell { background-position: -32px -160px; }
.icon-bluespacecell { background-position: -64px -160px; }
.icon-solarcontrol { background-position: -96px -160px; }
.icon-generator { background-position: -128px -160px; }
.icon-supergenerator { background-position: -160px -160px; }
.icon-smes { background-position: -192px -160px; }
.icon-gps { background-position: -224px -160px; }

.icon-headset { background-position: 0px -192px; }
.icon-communications { background-position: -32px -192px; }
.icon-radiogrid { background-position: -64px -192px; }
.icon-bluespacething { background-position: -96px -192px; }
.icon-teleporter { background-position: -128px -192px; }
.icon-bluespacerped { background-position: -160px -192px; }
.icon-bagofholding { background-position: -192px -192px; }
.icon-cyborganalyzer { background-position: -224px -192px; }

.icon-ripley { background-position: 0px -224px; }
.icon-odyssey { background-position: -32px -224px; }
.icon-posbrain { background-position: -64px -224px; }
.icon-aicard { background-position: -96px -224px; }
.icon-gygax { background-position: -128px -224px; }
.icon-gygaxultra { background-position: -160px -224px; }
.icon-durand { background-position: -192px -224px; }
.icon-vindicator { background-position: -224px -224px; }

.icon-mechgrenadelauncher { background-position: 0px -256px; }
.icon-mechlaser { background-position: -32px -256px; }
.icon-mechrcd { background-position: -64px -256px; }
.icon-mecharmor { background-position: -96px -256px; }
.icon-mechteleporter { background-position: -128px -256px; }
.icon-rigscanner { background-position: -160px -256px; }
.icon-rigtaser { background-position: -192px -256px; }
.icon-rignuclearreactor { background-position: -224px -256px; }

.icon-shield { background-position: 0px -288px; }
.icon-fusion { background-position: -32px -288px; }
.icon-chemdisp { background-position: -64px -288px; }
.icon-binarykey { background-position: -96px -288px; }
.icon-night { background-position: -256px -32px; }
.icon-chamelion { background-position: -128px -288px; }
.icon-freedom { background-position: -160px -288px; }
.icon-module { background-position: -192px -288px; }
.icon-borgmodule { background-position: -224px -288px; }

.icon-plasmablock { background-position: 0px -320px; }
.icon-booster { background-position: -32px -320px; }
.icon-compensatedbarrel { background-position: -64px -320px; }
.icon-cellmount { background-position: -96px -320px; }
.icon-toxincoater { background-position: -128px -320px; }
.icon-mindswapper { background-position: -160px -320px; }
.icon-holdingpouch { background-position: -192px -320px; }
.icon-spiderlegs { background-position: -224px -320px; }
.icon-moebiushelm { background-position: -256px -320px; }
.icon-clarissa { background-position: -0px -352px; }
.icon-traumateam { background-position: -32px -352px; }
.icon-moetablet { background-position: -64px -352px; }
.icon-cybercoffin { background-position: -96px -352px; }

.sciMenuButton {
	width: 300px;
	float: left;
}

/* Trade tree */
.tradeTreeIcon {
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url(overmap.png);
	background-position: -0px -0px;
	background-repeat: no-repeat;
	zoom: 1;
}

.tradeTreeIconBox {
	width: 32px;
	height: 32px;
}

.tradeDiscovered {
	background: #2f943c;
}

.tradeDiscovered:hover {
	background: #3fB44c;
}	

.tradeNotDiscovered {
	background: #942f3c;
}

.tradeNotDiscovered:hover {
	background: #B43f4c;
}

.tradeSelected {
	background: #3333cc;
}

.tradeSelected:hover {
	background: #3333cf;
}

.icon-object { background-position: 0px 0px; }
.icon-ship { background-position: -32px 0px; }
.icon-planet { background-position: -64px 0px; }
.icon-station { background-position: -96px 0px; }
.icon-bluedwarf { background-position: -128px 0px; }
.icon-reddwarf { background-position: -160px 0px; }
.icon-yellowgiant { background-position: -192px 0px; }
.icon-blackhole { background-position: -224px 0px; }

.icon-illusive { background-position: 0px -32px; }
.icon-clockwork{ background-position: -32px -32px; }
.icon-barren { background-position: -64px -32px; }
.icon-chlorine { background-position: -96px -32px; }
.icon-desert { background-position: -128px -32px; }
.icon-ruined { background-position: -160px -32px; }
.icon-lush { background-position: -192px -32px; }
.icon-penumbra { background-position: -224px -32px; }

.icon-frozen { background-position: 0px -64px; }
.icon-volcanic { background-position: -32px -64px; }
.icon-metallic { background-position: -64px -64px; }
.icon-dyson { background-position: -256px -0px; }
.icon-os_fortress { background-position: -96px -64px; }
.icon-ring { background-position: -128px -64px; }
.icon-ring_active { background-position: -160px -64px; }
.icon-asteroid0 { background-position: -192px -64px; }

.icon-asteroid1 { background-position: 0px -96px; }
.icon-asteroid2 { background-position: -32px -96px; }
.icon-asteroid3 { background-position: -64px -96px; }
.icon-os_ruins { background-position: -96px -96px; }
.icon-spacehulk { background-position: -128px -96px; }
.icon-eris { background-position: -160px -96px; }
.icon-htu_station { background-position: -192px -96px; }
.icon-htu_capital { background-position: -224px -96px; }

.icon-htu_cruiser { background-position: 0px -128px; }
.icon-htu_destroyer { background-position: -32px -128px; }
.icon-htu_frigate { background-position: -64px -128px; }
.icon-moe_station { background-position: -96px -128px; }
.icon-moe_capital { background-position: -128px -128px; }
.icon-moe_cruiser { background-position: -160px -128px; }
.icon-moe_destroyer { background-position: -192px -128px; }
.icon-moe_frigate { background-position: -224px -128px; }

.icon-ihs_capital { background-position: 0px -160px; }
.icon-ihs_cruiser { background-position: -32px -160px; }
.icon-ihs_destroyer { background-position: -64px -160px; }
.icon-ihs_frigate { background-position: -96px -160px; }
.icon-nt_cruiser { background-position: -128px -160px; }
.icon-nt_destroyer { background-position: -160px -160px; }
.icon-nt_frigate { background-position: -192px -160px; }
.icon-serb_cruiser { background-position: -224px -160px; }

.icon-serb_destroyer { background-position: 0px -192px; }
.icon-serb_frigate { background-position: -32px -192px; }
.icon-oberth_cruiser { background-position: -64px -192px; }
.icon-oberth_destroyer { background-position: -96px -192px; }
.icon-oberth_frigate { background-position: -128px -192px; }
.icon-os_frigate { background-position: -160px -192px; }
.icon-capital { background-position: -192px -192px; }
.icon-mothership { background-position: -224px -192px; }

.icon-planetcracker { background-position: 0px -224px; }
.icon-unkn { background-position: -32px -224px; }