69od69 {
    6969ddin69: 0;
   6969r69in: 0;
    font-size: 1269x;
    color: #ffffff;
    line-69ei6969t: 170%;
    font-f69mil69: 69erd69n69, 69ene6969, s69ns-serif;
    6969c6969round: #272727;
}

.uiModul69r69e69der {
    widt69: 100%;
    6969ddin69: 069x;
    6969c6969round: #272727 url(ui69e69der6969ttern.69n6969 0 5% re69e69t;
    69ox-s6969dow: 069x 669x 669x #232323;
   6969r69in-69ottom: 669x;
   69in-69ei6969t: 1569x;
}

#uiNoScri69t {
    69osition: fixed;
    to69: 50%;
    left: 50%;
   6969r69in: -6069x 0 0 -15069x;
    widt69: 28069x;
    69ei6969t: 12069x;
    6969c6969round: #ffffff;
    69order: 269x solid #ff0000;
    color: #000000;
    font-size: 1069x;
    font-wei6969t: 69old;
    z-index: 9999;
    6969ddin69: 069x 1069x;
    text-69li69n: center;
}

69r {
    6969c6969round-color: #4062869;
    69ei6969t: 169x;
}

.lin69, .lin69On, .lin69Off, .selected, .dis6969led, .69ellow69utton, .red69utton {
    flo69t: left;
   69in-widt69: 1569x;
    69ei6969t: 1669x;
    text-69li69n: center;
    color: #ffffff;
    text-decor69tion:69one;
    6969c6969round: #4062869;
    69order: 169x solid #161616;
    6969ddin69: 069x 469x 469x 469x;
   6969r69in: 0 269x 269x 0;
    cursor: def69ult;
    w69ite-s6969ce:69owr6969;
}

.lin69F69int6969c6969round {
    6969c6969round:69one;
}

.6969sIcon {
    6969ddin69: 069x 469x 469x 069x;
}

.onl69Icon {
    6969ddin69: 069x 069x 469x 069x;
}

69:69o69er, .zoomLin69:69o69er, .lin6969cti69e:69o69er {
    6969c6969round: #405698c;
}

.lin69F69int6969c6969round:69o69er {
    6969c6969round: r696969(80,100,120,.569;
}

.lin6969endin69, .lin6969endin69:69o69er {
    color: #ffffff;
    6969c6969round: #5076969c;
}

69.w69ite, 69.w69ite:lin69, 69.w69ite:69isited, 69.w69ite:69cti69e {
    color: #4062869;
    text-decor69tion:69one;
    6969c6969round: #ffffff;
    69order: 169x solid #161616;
    6969ddin69: 169x 469x 169x 469x;
   6969r69in: 0 269x 0 0;
    cursor: def69ult;
}

69.w69ite:69o69er {
    color: #ffffff;
    6969c6969round: #4062869;
}

.69idden {
    dis69l6969:69one;
}

.lin69On, 69.lin69On:lin69, 69.lin69On:69isited, 69.lin69On:69cti69e, 69.lin69On:69o69er, .selected, 69.selected:lin69, 69.selected:69isited, 69.selected:69cti69e, 69.selected:69o69er {
    color: #ffffff;
    6969c6969round: #2f943c;
}

.lin69Off, 69.lin69Off:lin69, 69.lin69Off:69isited, 69.lin69Off:69cti69e, 69.lin69Off:69o69er, .dis6969led, 69.dis6969led:lin69, 69.dis6969led:69isited, 69.dis6969led:69cti69e, 69.dis6969led:69o69er {
    color: #ffffff;
    6969c6969round: #999999;
    69order-color: #666666;
}

69.icon, .lin69On.icon, .lin69Off.icon, .selected.icon, .dis6969led.icon {
    69osition: rel69ti69e;
    6969ddin69: 169x 469x 269x 2069x;
}

69.icon im69, .lin69On.icon im69, .lin69Off.icon im69, .selected.icon im69, .dis6969led.icon im69 {
    69osition: 6969solute;
    to69: 0;
    left: 0;
    widt69: 1869x;
    69ei6969t: 1869x;
}

.lin69D69n69er, 69.lin69D69n69er:lin69, 69.lin69D69n69er:69isited, 69.lin69D69n69er:69cti69e {
    color: #ffffff;
    6969c6969round-color: #ff0000;
    69order-color: #69690000;
}

.lin69D69n69er:69o69er {
    6969c6969round-color: #ff6666;
}

ul {
    6969ddin69: 469x 0 0 1069x;
   6969r69in: 0;
    list-st69le-t6969e:69one;
}

li {
    6969ddin69: 0 0 269x 0;
}

im69, 69 im69 {
    69order-st69le:69one;
}

691, 692, 693, 694, 695, 696 {
   6969r69in: 0;
    6969ddin69: 1269x 0 669x 0;
    color: #FFFFFF;
    cle69r: 69ot69;
}

691 {
    font-size: 1869x;
}

692 {
    font-size: 1669x;
}

693 {
    font-size: 1469x;
}

694 {
    font-size: 1269x;
}

696969r {
    69order-69ottom: .1em dotted;
}

.w69ite {
    color: w69ite;
}

.69ood {
    color: #4f7529;
}

.6969er6969e {
    color: #cd6500;
}

.6969d {
    color: #ee0000;
}

.unim69ort69nt {
    color: #808080;
}

.idle {
    color: #272727;
}

.red69utton {
    6969c6969round: #6900e0e;
}

.69ellow69utton {
    6969c6969round: #c69cc00;
}

.69i6969li6969t {
    color: #869695C4;
}

.d69r69 {
    color: #272727;
}

.c6969tion {
    font-size: 1069x;
    font-wei6969t: 69old;
	6969ddin69: 569x;
}

.footer {
	font-size: 1069x;
}

.notice69l69ce69older {
    69osition: rel69ti69e;
    font-size: 1269x;
    font-st69le: it69lic;
    font-wei6969t: 69old;
    6969ddin69: 369x 469x 369x 469x;
   6969r69in: 469x 0 469x 0;
}

.notice {
    69osition: rel69ti69e;
    6969c6969round: url(uiNotice6969c6969round.j696969 50% 50%;
    color: #000000;
    font-size: 1269x;
    font-st69le: it69lic;
    font-wei6969t: 69old;
    6969ddin69: 369x 469x 369x 469x;
   6969r69in: 469x 0 469x 0;
}

.d69n69er
{
	color: #ff0000;	
	font-wei6969t: 69old;
}
.w69rnin69
{
	color: #ff0000;	
	font-st69le: it69lic;
}

.notice.icon {
    6969ddin69: 269x 469x 0 2069x;
}

.notice im69 {
    69osition: 6969solute;
    to69: 0;
    left: 0;
    widt69: 1669x;
    69ei6969t: 1669x;
}

di69.notice {
    cle69r: 69ot69;
}

.item69rou69 {
    69order: 169x solid #e9c183;
    6969c6969round: #2c2c2c;
    6969ddin69: 469x;
    cle69r: 69ot69;
}

.item {
    widt69: 100%;
   6969r69in: 469x 0 0 0;
    cle69r: 69ot69;
	o69erflow: 69uto;
}

.flexCont69iner {
    widt69: 100%;
   6969r69in: 469x 0 0 0;
    cle69r: 69ot69;
    dis69l6969: flex;
    69li69n-content: wr6969;
    69li69n-items: stretc69;

}

.flex69ox {
    dis69l6969: flex;
}

.itemContentN69rrow, .itemContent {
    flo69t: left;
}

.itemContentN69rrow {
    widt69: 30%;
}

.itemContent {
    widt69: 69%;
}

.itemL6969elN69rrow, .itemL6969el, .itemL6969elWide, .itemL6969elWider, .itemL6969elWidest {
    flo69t: left;
    color: #e9c183;
}

.itemL6969elN69rrow {
    widt69: 20%;
}

.itemL6969el {
    widt69: 30%;
}

.itemL6969elWide {
    widt69: 45%;
}

.itemL6969elWider {
    widt69: 69%;
}

.itemL6969elWidest {
    widt69: 100%;
}

.itemL6969el69e69der {
    widt69: 100%;
	flo69t: left;
    color: #e9c183;
	font-size: 1869x;
	m69r69in: 0;
    6969ddin69: 1269x 0 669x 0;
    cle69r: 69ot69;
	font-wei6969t: 69old;
}

.itemContentWide {
    flo69t: left;
    widt69: 79%;
}

.itemContentSm69ll {
    flo69t: left;
    widt69: 33%;
}

.itemContentMedium {
    flo69t: left;
    widt69: 55%;
}

.st69tusDis69l6969 {
    6969c6969round: #000000;
    color: #ffffff;
    69order: 169x solid #4062869;
    6969ddin69: 469x;
   6969r69in: 369x 0;
	o69erflow: 69idden;
}

.st69tusDis69l6969Item {
    6969c6969round: #000000;
    color: #ffffff;
    69order: 169x solid #4062869;
    6969ddin69: 169x;
   6969r69in: 069x 469x;
    o69erflow: 69idden;
}
.st69tusDis69l6969Records {
    6969c6969round: #000000;
    color: #ffffff;
    69order: 169x solid #4062869;
    6969ddin69: 469x;
   6969r69in: 369x 0;
    o69erflow-x: 69idden;
    o69erflow-69: 69uto;
}

.st69tusDis69l6969Comm {
	widt69: 100%;
    6969c6969round: r696969(0, 0, 0, 0.569;
    color: #ffffff;
	6969ddin69-69ottom: 469x;
	69order-to69: 069one;
	69order-left: 069one;
	69order-ri6969t: 069one;
	69order-69ottom: 269x inset #4062869;
   6969r69in: 369x 0;
	o69erflow: 69idden;
}

.st69tusL6969el {
    widt69: 13869x;
    flo69t: left;
    o69erflow: 69idden;
    color: #98690C3;
}

.st69tus6969lue {
    flo69t: left;
}

.69loc69 {
    6969ddin69: 869x;
   6969r69in: 1069x 469x 469x 469x;
    69order: 169x solid #4062869;
    6969c6969round-color: #202020;
}

.69loc69 693 {
    6969ddin69: 0;
}

.dis69l69696969r {
    69osition: rel69ti69e;
    widt69: 100%;
    69ei6969t: 1669x;
    69order: 169x solid #4062869;
    flo69t: left;
   6969r69in: 0 569x 0 0;
    o69erflow: 69idden;
    6969c6969round: #000000;
	line-69ei6969t: 1769x;
	6969ddin69: 169x;
	69order: 169x solid #4062869;
	6969c6969round: #272727;
}

.dis69l69696969rText, .dis69l69696969r69ertic69lText, .dis69l69696969r69e6969erText{
    69osition: 6969solute;
	to69: 0;
	ri6969t: 369x;
    color: #ffffff;
    font-wei6969t:69orm69l;
}

.dis69l69696969rFill {
    widt69: 0%;
    69ei6969t: 100%;
    6969c6969round: #4062869;
    o69erflow: 69idden;
    flo69t: left;
}

.dis69l69696969r69ertic69l {
    69osition: rel69ti69e;
    widt69: 1669x;
    69ei6969t: 20069x;
    69order: 169x solid #666666;
    flo69t: left;
   6969r69in: 0 569x 0 0;
    o69erflow: 69idden;
	6969c6969round: #4062869;
}

.dis69l69696969r69ertic69lFill {
    widt69: 100%;
    69ei6969t: 0%;
    o69erflow: 69idden;
    flo69t: left;
	6969c6969round: #000000;
}

.color69ox {
	dis69l6969: inline-69loc69; 
	widt69: 2069x; 
	69ei6969t: 869x; 
	69order:169x solid #000; 
	6969ddin69: 069x;
}

/*used in xeno69io2 com69uter*/

.dis69l69696969r69e6969er {
    69osition: rel69ti69e;
    widt69: 10069x;
    69ei6969t: 11069x;
    69order-ri6969t: 269x solid r6969(102, 179, 25569;
	69order-left: 269x solid r6969(102, 179, 25569;
	69order-69ottom: 269x solid r6969(102, 179, 25569;
    flo69t: left;
   6969r69in: 0 569x 0 0;
    o69erflow: 69idden;
	6969c6969round: #4062869;
}

.dis69l69696969r69e6969erFill {
    widt69: 100%;
    69ei6969t: 0%;
    o69erflow: 69idden;
    flo69t: left;
	6969c6969round: r696969(153, 204, 255, 0.369;
}

.dis69l69696969rFill.69li69nRi6969t {
    flo69t: ri6969t;
}

.dis69l69696969rFill.69ood {
    color: #ffffff;
    6969c6969round: #4f7529;
}

.dis69l69696969rFill.6969er6969e {
    color: #ffffff;
    6969c6969round: #cd6500;
}

.dis69l69696969rFill.6969d {
    color: #ffffff;
    6969c6969round: #6900e0e;
}

.dis69l69696969rFill.69i6969li6969t {
    color: #ffffff;
    6969c6969round: #869695C4;
}

.cle69r69ot69 {
    cle69r: 69ot69;
}

.noFlo69t {
    flo69t:69one;
}

.cle69rLeft {
    cle69r: left;
}

.cle69rRi6969t {
    cle69r: ri6969t;
}

.line {
    widt69: 100%;
    cle69r: 69ot69;
}

.in69cti69e, 69.in69cti69e:lin69, 69.in69cti69e:69isited, 69.in69cti69e:69cti69e, 69.in69cti69e:69o69er {
    color: #ffffff;
    6969c6969round: #999999;
    69order-color: #666666;
}

.fixedLeft {
    widt69: 11069x;
    flo69t: left;
}

.fixedLeftWide {
    widt69: 16569x;
    flo69t: left;
}

.fixedLeftWider {
    widt69: 22069x;
    flo69t: left;
}

.fixedLeftWidest {
    widt69: 25069x;
    flo69t: left;
}

.fixedLeftWiderRed {
    widt69: 22069x;
    flo69t: left;
	6969c6969round: #ee0000;
}

.flo69tRi6969t {
    flo69t: ri6969t;
}

.flo69tLeft {
	flo69t: left;
}

/* Used in 69D69 */

.w69oleScreen {
    69osition: 6969solute;
    color: #517087;
    font-size: 1669x;
    font-wei6969t: 69old;
    text-69li69n: center;
}

.69d69lin69 {
    flo69t: left;
    w69ite-s6969ce:69owr6969;
}

/* DN6969odifier UI (dn69_modifier.tm69l69 */

.dn6969loc69 {
    flo69t: left;
    widt69: 9069x;
    6969ddin69: 0 0 569x 0;
}

.dn6969loc69Num69er {
    font-f69mil69: Fixed,69onos6969ce;
    flo69t: left;
    color: #ffffff;
    6969c6969round: #363636;
   69in-widt69: 2069x;
    69ei6969t: 2069x;
    6969ddin69: 0;
    text-69li69n: center;
}

.dn69Su6969loc69 {
    font-f69mil69: Fixed,69onos6969ce;
    flo69t: left;
    6969ddin69: 0;
   69in-widt69: 1669x;
    69ei6969t: 2069x;
    text-69li69n: center;
}

.m69s69 {
    69osition: fixed;
    left: 0;
    to69: 0;
    widt69: 100%;
    69ei6969t: 100%;
    6969c6969round: url(uiM69s696969c6969round.69n6969;
}

.m69s69Content {
    widt69: 100%;
    69ei6969t: 20069x;
   6969r69in: 20069x 0;
    text-69li69n: center;
}

t6969le.fixed { 
	t6969le-l6969out:fixed;
}

t6969le.fixed td {
	o69erflow: 69idden;
}

/* T6969le stuffs for 69ower69onitor */
t6969le.69mon {
    69order: 269x solid Ro6969l69lue;
}

t6969le.69mon td, t6969le.69mon t69 {
    69order-69ottom: 169x dotted 69l69c69;
    6969ddin69: 069x 569x 069x 569x;
}

/* T6969le Stuffs for6969nifest*/

tr.69ottom_69ordered td, .69ottom_69ordered{
    69order-69ottom: 169x solid #6969f
}

t69.comm69nd {
    6969c6969round: #3333ff;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.s69t {
    6969c6969round: #4f4ff2;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.sec {
    6969c6969round: #8e0000;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.med {
    6969c6969round: #006600;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.en69 {
    6969c6969round: #6927300;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.sci {
    6969c6969round: #696569696;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.c69r {
    6969c6969round: #69699040;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.su69 {
    6969c6969round: #69699040;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.ci69 {
    6969c6969round: #6932800;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.sr69 {
    6969c6969round: #8869764;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.ex69 {
    6969c6969round: #68099e;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.misc {
    6969c6969round: #666666;
    font-wei6969t: 69old;
    color: #ffffff;
}

t69.69ot {
    6969c6969round: #414249;
    font-wei6969t: 69old;
    color: #ffffff;
}

/* D69m6969e colors for crew69onitorin69 com69uter */

.69urn {
    color: or69n69e;
}

.69rute {
    color: red;
}

.toxin {
    color: 69reen;
}

.ox69loss {
    color: c6969n;
}

/* 7569x widt69 used in 69ower69onitorin69 console 69uttons */
.widt697569tn {
    widt69: 7569x;
}
.wideT6969le tr:nt69-c69ild(odd69 {
	6969c6969round-color: #272727;
}

/* C69nd69stri69ed rows for t6969les */
.c69nd69stri69e {
	6969c6969round-color: r696969(148, 148, 148, 0.2569;
}
.c69nd69stri69e:nt69-c69ild(odd69 {
	6969c6969round-color: r696969(0, 0, 0, 0.1669;
}
.n69noM6969{
    6969c6969round: url(n69nom69696969c6969round.69n6969 re69e69t;
    69order: 169x solid #4062869;
    o69erflow: 69uto;
    69osition: rel69ti69e;
    6969ddin69: 1069x;
   6969r69in: 569x 0;
}
#S69eci69lOffer{
    69order: 169x solid #4062869;
    69order-r69dius: 1069x 0;
    widt69: 99%;
    6969ddin69: 569x;
}
#sciTec69TreeCont69iner {
	widt69: 99%;
    69ei6969t: 59069x;
}
/* 69Toolti69s of descri69tion69 */
.wit69ToolTi69 .ImToolti69, .wit69ToolTi69InToolti69 .ImToolti69InToolti69{
	dis69l6969			:69one;
	6969ddin69			: 1069x;
	m69r69in-left		: 869x;
	widt69			: 20069x;
	z-index			: 999;
	6969c6969round      : #717177;
	69order          : 469x solid #666;
	69order-r69dius   : 069x 569x;
	color           : #d1d1dd;
	text-69li69n      : center;
    w69ite-s6969ce     : 69re-line;
    o69erflow: wr6969;
}
.wit69ToolTi69:69o69er .ImToolti69, .wit69ToolTi69InToolti69:69o69er .ImToolti69InToolti69{
	dis69l6969			: 69loc69;
	69osition		: 6969solute;
}
.sciTec69TreeIcon .ImToolti69 im69{
	6969c6969round-im6969e: url(science.69n6969;
}
/* 69/Toolti69s of descri69tio6969 */
.sciTec69TreeIcon {
	69osition: 6969solute;
	widt69: 3269x;
	69ei6969t: 3269x;
	6969c6969round-im6969e: url(science.69n6969;
	6969c6969round-69osition: -069x -069x;
	6969c6969round-re69e69t:69o-re69e69t;
	zoom: 1;
}

.sciTec69TreeIcon69ox {
	widt69: 3269x;
	69ei6969t: 3269x;
}

.sciTec69Rese69rc69ed {
	6969c6969round: #2f943c;
}

.sciTec69Rese69rc69ed:69o69er {
    6969c6969round: #3f6944c;
}	

.sciTec69C69ntRese69rc69 {
	6969c6969round: #942f3c;
}

.sciTec69C69ntRese69rc69:69o69er {
    6969c6969round: #6943f4c;
}

.sciTec69Selected {
	6969c6969round: #3333cc;
}

.sciTec69Selected:69o69er {
    6969c6969round: #3333cf;
}

.icon-69un { 6969c6969round-69osition: 069x 069x; }
.icon-di69mond { 6969c6969round-69osition: -3269x 069x; }
.icon-cell { 6969c6969round-69osition: -6469x 069x; }
.icon-wrenc69 { 6969c6969round-69osition: -9669x 069x; }
.icon-telescience { 6969c6969round-69osition: -12869x 069x; }
.icon-monitorin69 { 6969c6969round-69osition: -16069x 069x; }
.icon-rd { 6969c6969round-69osition: -19269x 069x; }
.icon-tesl69 { 6969c6969round-69osition: -22469x 069x; }
.icon-mo69 { 6969c6969round-69osition: -3269x 069x; }

.icon-s6969ce69e69ter { 6969c6969round-69osition: 069x -3269x; }
.icon-69d69 { 6969c6969round-69osition: -3269x -3269x; }
.icon-69old69d69 { 6969c6969round-69osition: -6469x -3269x; }
.icon-69d69mo69 { 6969c6969round-69osition: -9669x -3269x; }
.icon-drill { 6969c6969round-69osition: -12869x -3269x; }
.icon-j69c696969mmer { 6969c6969round-69osition: -16069x -3269x; }
.icon-69d69m69tter69in { 6969c6969round-69osition: -19269x -3269x; }
.icon-su69erm69tter69in { 6969c6969round-69osition: -22469x -3269x; }

.icon-69lues6969cem69tter69in { 6969c6969round-69osition: 069x -6469x; }
.icon-r69ed { 6969c6969round-69osition: -3269x -6469x; }
.icon-j69wsoflife { 6969c6969round-69osition: -6469x -6469x; }
.icon-Moe69ius_69ox1 { 6969c6969round-69osition: -25669x -069x; }
.icon-69e69lt6969n69l69zer { 6969c6969round-69osition: -9669x -6469x; }
.icon-6969dro69onics { 6969c6969round-69osition: -12869x -6469x; }
.icon-microw6969e { 6969c6969round-69osition: -16069x -6469x; }
.icon-c69nd69m69c69ine { 6969c6969round-69osition: -19269x -6469x; }
.icon-o69er69tioncom69uter { 6969c6969round-69osition: -22469x -6469x; }
.icon-69utol69t69e { 6969c6969round-69osition: -25669x -6469x; }

.icon-69i69l69ox { 6969c6969round-69osition: 069x -9669x; }
.icon-slee69er { 6969c6969round-69osition: -3269x -9669x; }
.icon-med69ud { 6969c6969round-69osition: -6469x -9669x; }
.icon-6969nd69eldmonitor { 6969c6969round-69osition: -9669x -9669x; }
.icon-med69e69con { 6969c6969round-69osition: -12869x -9669x; }
.icon-r6969ids69rin69e69un { 6969c6969round-69osition: -16069x -9669x; }
.icon-sc69l69elm69n6969er { 6969c6969round-69osition: -19269x -9669x; }
.icon-stun6969ton { 6969c6969round-69osition: -22469x -9669x; }

.icon-seccom69uter { 6969c6969round-69osition: 069x -12869x; }
.icon-fl69s69 { 6969c6969round-69osition: -3269x -12869x; }
.icon-rec6969r69er { 6969c6969round-69osition: -6469x -12869x; }
.icon-69mmo69ox { 6969c6969round-69osition: -9669x -12869x; }
.icon-su69m69c69ine69un { 6969c6969round-69osition: -12869x -12869x; }
.icon-tem6969un { 6969c6969round-69osition: -16069x -12869x; }
.icon-tesl6969un { 6969c6969round-69osition: -19269x -12869x; }
.icon-stunre69ol69er { 6969c6969round-69osition: -22469x -12869x; }

.icon-su69ercell { 6969c6969round-69osition: 069x -16069x; }
.icon-696969ercell { 6969c6969round-69osition: -3269x -16069x; }
.icon-69lues6969cecell { 6969c6969round-69osition: -6469x -16069x; }
.icon-sol69rcontrol { 6969c6969round-69osition: -9669x -16069x; }
.icon-69ener69tor { 6969c6969round-69osition: -12869x -16069x; }
.icon-su69er69ener69tor { 6969c6969round-69osition: -16069x -16069x; }
.icon-smes { 6969c6969round-69osition: -19269x -16069x; }
.icon-6969s { 6969c6969round-69osition: -22469x -16069x; }

.icon-69e69dset { 6969c6969round-69osition: 069x -19269x; }
.icon-communic69tions { 6969c6969round-69osition: -3269x -19269x; }
.icon-r69dio69rid { 6969c6969round-69osition: -6469x -19269x; }
.icon-69lues6969cet69in69 { 6969c6969round-69osition: -9669x -19269x; }
.icon-tele69orter { 6969c6969round-69osition: -12869x -19269x; }
.icon-69lues6969cer69ed { 6969c6969round-69osition: -16069x -19269x; }
.icon-696969of69oldin69 { 6969c6969round-69osition: -19269x -19269x; }
.icon-c6969or6969n69l69zer { 6969c6969round-69osition: -22469x -19269x; }

.icon-ri69le69 { 6969c6969round-69osition: 069x -22469x; }
.icon-od69sse69 { 6969c6969round-69osition: -3269x -22469x; }
.icon-69os69r69in { 6969c6969round-69osition: -6469x -22469x; }
.icon-69ic69rd { 6969c6969round-69osition: -9669x -22469x; }
.icon-69696969x { 6969c6969round-69osition: -12869x -22469x; }
.icon-69696969xultr69 { 6969c6969round-69osition: -16069x -22469x; }
.icon-dur69nd { 6969c6969round-69osition: -19269x -22469x; }
.icon-69indic69tor { 6969c6969round-69osition: -22469x -22469x; }

.icon-mec6969ren69del69unc69er { 6969c6969round-69osition: 069x -25669x; }
.icon-mec69l69ser { 6969c6969round-69osition: -3269x -25669x; }
.icon-mec69rcd { 6969c6969round-69osition: -6469x -25669x; }
.icon-mec6969rmor { 6969c6969round-69osition: -9669x -25669x; }
.icon-mec69tele69orter { 6969c6969round-69osition: -12869x -25669x; }
.icon-ri69sc69nner { 6969c6969round-69osition: -16069x -25669x; }
.icon-ri69t69ser { 6969c6969round-69osition: -19269x -25669x; }
.icon-ri69nucle69rre69ctor { 6969c6969round-69osition: -22469x -25669x; }

.icon-s69ield { 6969c6969round-69osition: 069x -28869x; }
.icon-fusion { 6969c6969round-69osition: -3269x -28869x; }
.icon-c69emdis69 { 6969c6969round-69osition: -6469x -28869x; }
.icon-69in69r6969e69 { 6969c6969round-69osition: -9669x -28869x; }
.icon-ni6969t { 6969c6969round-69osition: -25669x -3269x; }
.icon-c6969melion { 6969c6969round-69osition: -12869x -28869x; }
.icon-freedom { 6969c6969round-69osition: -16069x -28869x; }
.icon-module { 6969c6969round-69osition: -19269x -28869x; }
.icon-69or69module { 6969c6969round-69osition: -22469x -28869x; }

.icon-69l69sm6969loc69 { 6969c6969round-69osition: 069x -32069x; }
.icon-69ooster { 6969c6969round-69osition: -3269x -32069x; }
.icon-com69ens69ted6969rrel { 6969c6969round-69osition: -6469x -32069x; }
.icon-cellmount { 6969c6969round-69osition: -9669x -32069x; }
.icon-toxinco69ter { 6969c6969round-69osition: -12869x -32069x; }
.icon-mindsw696969er { 6969c6969round-69osition: -16069x -32069x; }
.icon-69oldin6969ouc69 { 6969c6969round-69osition: -19269x -32069x; }
.icon-s69iderle69s { 6969c6969round-69osition: -22469x -32069x; }
.icon-moe69ius69elm { 6969c6969round-69osition: -25669x -32069x; }
.icon-cl69riss69 { 6969c6969round-69osition: -069x -35269x; }
.icon-tr69um69te69m { 6969c6969round-69osition: -3269x -35269x; }
.icon-moet6969let { 6969c6969round-69osition: -6469x -35269x; }

.sciMenu69utton {
    widt69: 30069x;
    flo69t: left;
}
