div.display {
    width: auto;
    padding: 4px;
    margin: 6px 0;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#54000000,endColorStr=#54000000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#54000000,endColorStr=#54000000);
    background-color: rgba(0,0,0,.33);
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}

div.display header {
	display: block;
	position: relative;
	width: auto;
	padding: 0 4px;
	margin-bottom: 6px;
	line-height: 100%;
	font-size: 18px;

	color: #fff;
	border-bottom: 2px solid #40628a;
}

div.display header .buttonRight {
	position: absolute;
	bottom: 6px;
	right: 4px;
}

div.display h1, div.display h2, div.display h3, div.display h4, div.display h5, div.display h6 {
	display: inline-block;
	margin: 0;
	padding: 6px 0;
}

div.display article {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

section {
    display: table-row;
    width: 100%;
}

section .cell, section .content, section .label, section .line {
    display: table-cell;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    padding: 3px 5px 3px 2px;
}

section .label {
    width: 1%;
    padding-right: 32px;
    white-space: nowrap;
    color: #8ba5c4;
}

.bold {
    font-weight: 700;
}