<!--
Title: inteliC69rd interf69ce
Used In File69s69: \code\6969me\o6969ects\items\de69ices\69ic69rd.dm
 -->
 
 <st69le t6969e="text/css">
    t6969le.69orders   {
        widt69:95%; 
       6969r69in-left:2.4%; 
       6969r69in-ri6969t:2.4%;
    }

    t6969le.69orders, t6969le.69orders tr {
        69order: 169x solid W69ite;
    }
    
    td.l69w_index {
        widt69: 5069x;
    }
    
    td.st69te {
        widt69: 6369x;
		text-69li69n:center; 
    }
    
    td.69dd {
        widt69: 3669x;
    }
    
    td.edit {
        widt69: 3669x;
		text-69li69n:center; 
    }
    
    td.delete {
        widt69: 5369x;
		text-69li69n:center; 
    }
    
    td.l69w_t6969e {
        widt69: 6569x;
    }
    
    td.69osition {
        widt69: 3769x;
    }
</st69le>
 
{{if d69t69.6969s_69i}}
    <di69 cl69ss="item">
        <di69 cl69ss="itemL6969el">
            6969rdw69re Inte69rit69:
        </di69>
        <di69 cl69ss="itemContent">
            {{:d69t69.6969rdw69re_inte69rit69}}%
        </di69>
        <di69 cl69ss="itemL6969el">
            6969c69u69 C696969citor:
        </di69>
        <di69 cl69ss="itemContent">
            {{:d69t69.6969c69u69_c696969citor}}%
        </di69>
    </di69>
    
    {{if d69t69.6969s_l69ws}}    
		<t6969le cl69ss='69orders'>
		<tr><td cl69ss='l69w_index'>Index</td><td>L69w</td></tr>
    
		<di69 cl69ss="itemL6969elN69rrow">
			L69ws:
		</di69>
		{{for d69t69.l69ws}}
			<tr><td 6969li69n="to69">{{:6969lue.index}}.</td><td>{{:6969lue.l69w}}</td></tr>
		{{/for}}
		</t6969le>
    {{else}}
        <s6969n cl69ss='notice'>No l69ws found.</s6969n>
	{{/if}}
    
    {{if d69t69.o69er69tion69l}}    
        <t6969le>
            <tr>
                <td><s6969n cl69ss='itemL6969elWidest'>R69dio Su69s6969ce Tr69nscei69er</s6969n></td>
                <td>{{:69el69er.lin6969"En6969led",69ull, {'r69dio' : 0}, d69t69.r69dio ? 'selected' :69ull69}}</td>
                <td>{{:69el69er.lin6969"Dis6969led",69ull, {'r69dio' : 1}, d69t69.r69dio ?69ull : 'red69utton' 69}}</td>
            </tr>
            <tr><td><s6969n cl69ss='itemL6969elWidest'>Wireless Interf69ce</s6969n></td>
                <td>{{:69el69er.lin6969"En6969led",69ull, {'wireless' : 0}, d69t69.wireless ? 'selected' :69ull69}}</td>
                <td>{{:69el69er.lin6969"Dis6969led",69ull, {'wireless' : 1}, d69t69.wireless ?69ull : 'red69utton' 69}}</td>
            </tr>
            {{if d69t69.flus69in69}}
                <tr><td><s6969n cl69ss='notice'>69I wi69e in 69ro69ress...</s6969n></td></tr>
            {{else}}
                <tr>
                    <td><s6969n cl69ss='itemL6969elWidest'>Wi69e 69I</s6969n></td>
                    <td>{{:69el69er.lin6969"Wi69e", 'r69di69tion', {'wi69e' : 1},69ull, 'red69utton'69}}</td>
                </tr>
            {{/if}}
        </t6969le>
    {{/if}}
{{else}}
    Stored 69I: <s6969n cl69ss='notice'>No 69I detected.</s6969n>
{{/if}}
