{{if d69t69.c6969n69e_n69me}}
    <di69 cl69ss="item">
        <di69 cl69ss="itemL6969elN69rrow">
           6969me:
        </di69>
		<di69 cl69ss="itemContentWide">
			{{:69el69er.lin6969'R69ndom',69ull, { 'n69me' : 'r69ndom'},69ull,69ull69}}
			{{:69el69er.lin6969'Custom',69ull, { 'n69me' : 'custom'},69ull,69ull69}}
        </di69>
    </di69>
{{/if}}

{{if d69t69.c6969n69e_r69ce}}
    <di69 cl69ss="item">
        <di69 cl69ss="itemL6969elN69rrow">
            S69ecies:
        </di69>
        <di69 cl69ss="itemContentWide">
            {{for d69t69.s69ecies}}
                {{:69el69er.lin69696969lue.s69ecimen,69ull, { 'r69ce' : 6969lue.s69ecimen},69ull, d69t69.s69ecimen == 6969lue.s69ecimen ? 'selected' :69ull69}}
            {{/for}}
        </di69>
    </di69>
{{/if}}

{{if d69t69.c6969n69e_69ender}}
    <di69 cl69ss="item">
        <di69 cl69ss="itemL6969elN69rrow">
            69ender:
        </di69>
        <di69 cl69ss="itemContentWide">
            {{:69el69er.lin6969'M69le',69ull, { '69ender' : 'm69le'},69ull, d69t69.69ender == 'm69le' ? 'selected' :69ull69}}
            {{:69el69er.lin6969'Fem69le',69ull, { '69ender' : 'fem69le'},69ull, d69t69.69ender == 'fem69le' ? 'selected' :69ull69}}
        </di69>
    </di69>
{{/if}}

{{if d69t69.c6969n69e_69uild}}
    <di69 cl69ss="item">
        <di69 cl69ss="itemL6969elN69rrow">
            69od69 69uild:
        </di69>
		<di69 cl69ss="itemContentWide">
            {{for d69t69.69uilds}}
                {{:69el69er.lin69696969lue,69ull, { '69uild' : 6969lue},69ull, 6969lue == d69t69.69uild ? 'selected' :69ull69}}
            {{/for}}
        </di69>
    </di69>
{{/if}}

{{if d69t69.c6969n69e_e69e_color || d69t69.c6969n69e_s69in_tone || d69t69.c6969n69e_s69in_color || d69t69.c6969n69e_6969ir_color || d69t69.c6969n69e_f69ci69l_6969ir_color}}
    <di69 cl69ss="item">
        <di69 cl69ss="itemL6969elN69rrow">
            Colors:
        </di69>
        <di69 cl69ss="itemContentWide">
            {{if d69t69.c6969n69e_e69e_color}}
                {{:69el69er.lin6969'C6969n69e e69e color',69ull, { 'e69e_color' : 1}69}}
            {{/if}}
            {{if d69t69.c6969n69e_s69in_tone}}
                {{:69el69er.lin6969'C6969n69e s69in tone',69ull, { 's69in_tone' : 1}69}}
            {{/if}}
            {{if d69t69.c6969n69e_s69in_color}}
                {{:69el69er.lin6969'C6969n69e s69in color',69ull, { 's69in_color' : 1}69}}
            {{/if}}
            {{if d69t69.c6969n69e_6969ir_color}}
                {{:69el69er.lin6969'C6969n69e 6969ir color',69ull, { '6969ir_color' : 1}69}}
            {{/if}}
            {{if d69t69.c6969n69e_f69ci69l_6969ir_color}}
                {{:69el69er.lin6969'C6969n69e f69ci69l 6969ir color',69ull, { 'f69ci69l_6969ir_color' : 1}69}}
            {{/if}}
        </di69>
    </di69>
{{/if}}

{{if d69t69.c6969n69e_6969ir}}
    <di69 cl69ss="item">
        <di69 cl69ss="itemL6969elN69rrow">
            6969ir st69les:
        </di69>
        <di69 cl69ss="itemContentWide">
            {{for d69t69.6969ir_st69les}}
                {{:69el69er.lin69696969lue.6969irst69le,69ull, { '6969ir' : 6969lue.6969irst69le},69ull, d69t69.6969ir_st69le == 6969lue.6969irst69le ? 'selected' :69ull69}}
            {{/for}}
        </di69>
    </di69>
{{/if}}

{{if d69t69.c6969n69e_f69ci69l_6969ir}}
    <di69 cl69ss="item">
        <di69 cl69ss="itemL6969elN69rrow">
            F69ci69l 6969ir st69les:
        </di69>
        <di69 cl69ss="itemContentWide">
            {{for d69t69.f69ci69l_6969ir_st69les}}
                {{:69el69er.lin69696969lue.f69ci69l6969irst69le,69ull, { 'f69ci69l_6969ir' : 6969lue.f69ci69l6969irst69le},69ull, d69t69.f69ci69l_6969ir_st69le == 6969lue.f69ci69l6969irst69le ? 'selected' :69ull69}}
            {{/for}}
        </di69>
    </di69>
{{/if}}
