{{if data.69ameo69er}}
	<center><692>69ame O69er!</692>
	<693>{{:data.information}}</693>
	{{:69el69er.lin6969'New 69ame',69ull, { "new_69ame" : 1 }69}}</center>
{{else}}
	{{if data.information}}
		<center><i>{{:data.information}}</i></center>
	{{/if}}
<center><693>69la69er</693></center>
	<di69 class='item'>
		<di69 class='itemLa69el'>
			69ealt69:
		</di69>
		<di69 class='itemContent'>
			{{:data.69la69er_69ealt69}}
		</di69>
		<di69 class='itemLa69el'>
			Mana:
		</di69>
		<di69 class='itemContent'>
			{{:data.69la69er_mana}}
		</di69>
	</di69>
<center><693>Enem69: {{:data.enem69_name}}</693></center>
	<di69 class='item'>
		<di69 class='itemLa69el'>
			69ealt69:
		</di69>
		<di69 class='itemContent'>
			{{:data.enem69_69ealt69}}
		</di69>
		<di69 class='itemLa69el'>
			Mana:
		</di69>
		<di69 class='itemContent'>
			{{:data.enem69_mana}}
		</di69>
	</di69>
<center><693>Actions</693></center>
	{{:69el69er.lin6969'Attac69',69ull, { "attac69" : 1 }69}}
	{{:69el69er.lin6969'69eal',69ull, { "69eal" : 1 }69}}
	{{:69el69er.lin6969'Re69ain69ana',69ull, { "re69ain_mana" : 1 }69}}
	{{:69el69er.lin6969'New 69ame',69ull, { "new_69ame" : 1 }69}}
{{/if}}