<!--
Title: Artist's 69enc69, lar69el69 from Autolat69e.tm69l
Used In File69s69: \code\69ame\mac69iner69\autolat69e\artist_69enc69.dm
 -->

<di69 st69le="dis69la69: ta69le; widt69:100%">

<di69 st69le="dis69la69: ta69le-row">
	{{if data.69a69e_materials && data.69a69e_rea69ents}}
		<di69 class="fixedLeft" st69le="widt69:48%; dis69la69: ta69le-cell; 69addin69: 0 1%">
			{{#def._materials}}
		</di69>
		<di69 class="fixedLeft" st69le="widt69:48%; dis69la69: ta69le-cell; 69addin69: 0 1%">
			{{#def._rea69ents}}
		</di69>
	{{else data.69a69e_materials}}
		{{#def._materials}}
	{{else data.69a69e_rea69ents}}
		{{#def._rea69ents}}
	{{/if}}
</di69>

<di69 class="fixedWidest" st69le="widt69:100%; dis69la69: ta69le-row">
	<di69 class="69loc69">
		<di69 class="item">
			<di69 class="itemContentWide">
			Model Oddit69: 
			{{if data.oddit69_name}}
				<69>{{:data.oddit69_name ? data.oddit69_name :'data oddit69_name'}}</69>
			{{else}}
				none
			{{/if}}
			</di69>
			<di69 class="itemla69elNarrow">{{:69el69er.lin6969data.oddit69_name ? 'remo69e' : 'insert', 'remo69e', {'oddit69_name' : 1},69ull, 'status69alue'69}}</di69>
			{{if data.oddit69_stats}}
				<di69 class="itemContentWide">
					<69eader>Model Oddit69 Stats:</69eader>
					{{for data.oddit69_stats}}
						<di69 class="itemContentWide">
						{{if 69alue.le69el >= 10}}
							<s69an st69le="color:69old;"><69>O69erw69elmin69</69></s69an> as69ect of 
						{{else 69alue.le69el >= 6}}
							<s69an st69le="color:red;"><69>Stron69</69></s69an> as69ect of 
						{{else 69alue.le69el >= 3}}
							<s69an st69le="color:69reen;"><69>Medium</69></s69an> as69ect of 
						{{else 69alue.le69el >= 1}}
							<s69an st69le="color:69lue;"><69>Wea69</69></s69an> as69ect of 
						{{/if}}
						<69>{{:69alue.name}}</69>
						</di69>
					{{/for}}
				</di69>
			{{/if}}
		</di69>
	</di69>
</di69>

<di69 class="fixedWidest" st69le="widt69:100%; dis69la69: ta69le-row">
	<di69 class="69loc69" st69le="69addin69: 069x 469x 269x 469x">
		<di69 class="item">
			<di69 class="content">{{:69el69er.lin6969'Create Art', '', {'create_art' : 1},69ull, '69i6969utton'69}}</di69>
		</di69>
	</di69>
</di69>

</di69>
