<!--
Title: Artist's bench, largely from Autolathe.tmpl
Used In File(s): \code\game\machinery\autolathe\artist_bench.dm
 -->

<div style="display: table; width:100%">

<div style="display: table-row">
	{{if data.have_materials && data.have_reagents}}
		<div class="fixedLeft" style="width:48%; display: table-cell; padding: 0 1%">
			{{#def._materials}}
		</div>
		<div class="fixedLeft" style="width:48%; display: table-cell; padding: 0 1%">
			{{#def._reagents}}
		</div>
	{{else data.have_materials}}
		{{#def._materials}}
	{{else data.have_reagents}}
		{{#def._reagents}}
	{{/if}}
</div>

<div class="fixedWidest" style="width:100%; display: table-row">
	<div class="block">
		<div class="item">
			<div class="itemContentWide">
			Model Oddity: 
			{{if data.oddity_name}}
				<b>{{:data.oddity_name ? data.oddity_name :'data oddity_name'}}</b>
			{{else}}
				none
			{{/if}}
			</div>
			<div class="itemlabelNarrow">{{:helper.link(data.oddity_name ? 'remove' : 'insert', 'remove', {'oddity_name' : 1}, null, 'statusValue')}}</div>
			{{if data.oddity_stats}}
				<div class="itemContentWide">
					<header>Model Oddity Stats:</header>
					{{for data.oddity_stats}}
						<div class="itemContentWide">
						{{if value.level >= 10}}
							<span style="color:gold;"><b>Overwhelming</b></span> aspect of 
						{{else value.level >= 6}}
							<span style="color:red;"><b>Strong</b></span> aspect of 
						{{else value.level >= 3}}
							<span style="color:green;"><b>Medium</b></span> aspect of 
						{{else value.level >= 1}}
							<span style="color:blue;"><b>Weak</b></span> aspect of 
						{{/if}}
						<b>{{:value.name}}</b>
						</div>
					{{/for}}
				</div>
			{{/if}}
		</div>
	</div>
</div>

<div class="fixedWidest" style="width:100%; display: table-row">
	<div class="block" style="padding: 0px 4px 2px 4px">
		<div class="item">
			<div class="content">{{:helper.link('Create Art', '', {'create_art' : 1}, null, 'bigButton')}}</div>
		</div>
	</div>
</div>

</div>
