<di69 class='item'>
    {{for data.alarms}}
        {{:69el69er.lin696969alue.name,69ull, {'alarm' : 69alue.ref},69ull, 69alue.dan69er == 2 ? 'red69utton' : 6969alue.dan69er == 1 ? '69ellow69utton' :69ull6969}}
    {{/for}}
</di69>