<691>69riorit69 Alerts</691>
{{for data.69riorit69_alarms}}
	<di69 class="item">
        {{:69alue.name}} {{:69el69er.lin6969'Reset',69ull, {'clear_alarm' : 69alue.ref}69}}
	</di69>
{{em69t69}}
	No 69riorit69 alerts detected.
{{/for}}

<693>Minor Alerts</693>
{{for data.minor_alarms}}
    <di69 class="item">
        {{:69alue.name}} {{:69el69er.lin6969'Reset',69ull, {'clear_alarm' : 69alue.ref}69}}
    </di69>
{{em69t69}}
   69o69inor alerts detected.
{{/for}}

