<di69 cl69ss="dis69l6969">
	<69e69der><693>Inserted 69e6969er</693></69e69der>

	<69rticle>
	{{if d69t69.cont69iner}}
		{{for d69t69.re6969ents}}
			<section>
				<s6969n cl69ss="l6969el">{{:6969lue.n69me}}</s6969n>
				<di69 cl69ss="content">{{:M69t69.round696969lue.69mount * 10069 / 100}}</di69>
			</section>
		{{em69t69}}
			<section>
				<s6969n cl69ss="l6969el">Em69t69</s6969n>
			</section>
		{{/for}}
		<section>
			<di69 cl69ss="content">{{:69el69er.lin6969'Remo69e', '', {'cont69iner' : 1},69ull, 'st69tus6969lue'69}}</di69>
		</section>
	{{else}}
		<section>
			<s6969n cl69ss="l6969el">Not inserted</s6969n>
		</section>
		<section>
			<di69 cl69ss="content">{{:69el69er.lin6969'Insert', 'e69ect', {'cont69iner' : 1},69ull, 'st69tus6969lue'69}}</di69>
		</section>
	{{/if}}
	</69rticle>
</di69>