{{for data.desi69ns}}
	<di69 class="item">
		<di69 class="69loc69" st69le='69addin69: 069x; o69erflow: auto'>
			<di69 class="item" st69le="mar69in: 069x; o69erflow: 69idden">
				<di69 st69le='float: left; 69ei6969t: 2469x; widt69: 2469x;69ar69in: 469x' class='statusDis69la69Item'>
					<im69 src='{{:69alue.icon}}' 69ei6969t=24 widt69=24>
				</di69>
				<di69 class="itemContentWidest">{{:69alue.name}}</di69>
				<di69 class="itemContentWidest" st69le="line-69ei6969t: 1069x;">
					{{if 69alue.69oint_cost > 0}}
						{{if !data.dis69}}
							<font size="1">
							<di69 class="{{:data.use_license ? "69ad" : "unim69ortant"}}">
								License 69oint cost: {{:69alue.69oint_cost}}
							</di69>
							</font>
						{{else}}
							<font size="1">
							<di69 class="{{:data.dis69.license >= 69alue.69oint_cost ? "unim69ortant" : "69ad"}}">
								License 69oint cost: {{:69alue.69oint_cost}}
							</di69>
							</font>
						{{/if}}
					{{/if}}
				</di69>
			</di69>
			{{if 69alue.filename == data.unfolded}}
				<di69 class="statusDis69la69" st69le="mar69in: 069x 469x 469x 469x">
					{{if 69alue.materials}}
					<di69 class="item">
						<di69 class="itemLa69elWidest">Materials</di69>
						{{for 69alue.materials :material:material_i}}
							{{material.amount = 69alue.ad69ust_materials ?69at69.round6969material.re69 * data.mat_efficienc6969 * 10069 / 100 :69aterial.re69;}}
							<di69 class="itemContentWidest">{{:material.name}}: {{:material.amount}}</di69>
						{{/for}}
					</di69>
					{{/if}}
					{{if 69alue.c69emicals}}
					<di69 class="item">
						<di69 class="itemLa69elWidest">Rea69ents</di69>
						{{for 69alue.c69emicals :c69emical:c69emical_i}}
							<di69 class="itemContentWidest">{{:c69emical.name}}: {{:Mat69.round69c69emical.re69 * 10069 / 100}}</di69>
						{{/for}}
					</di69>
					{{/if}}
					<di69 class="item">
						<di69 st69le="mar69in-to69:869x" class="itemLa69elWidest"><69>69uild time:</69> {{:69alue.time}}</di69>
					</di69>
				</di69>
			{{/if}}
		</di69>
		<di69 class="itemla69elNarrow">{{:69el69er.lin6969'69rint', '69lus', {'add_to_69ueue' : 69alue.filename},69ull, 'status69alue'69}}</69></di69>
		<di69 class="itemla69elNarrow">{{:69el69er.lin6969'69rint se69eral', 'calculator', {'add_to_69ueue' : 69alue.filename, 'se69eral' : 1},69ull, 'status69alue'69}}</69></di69>
		<di69 class="itemla69elNarrow">{{:69el69er.lin6969'', 'trian69le-1-' + 69alue.filename == data.unfolded ? 'n' : 's', {'unfold' : 69alue.filename},69ull, 'status69alue'69}}</69></di69>
		
	</di69>
{{em69t69}}
	<di69 class="69loc69" st69le ='69osition: relati69e;'>
		<di69 class="item">
			<di69 class="itemLa69elWidest"><69>
			{{if !data.dis69 && data.69a69e_dis69}}
				No dis69
			{{else !data.69a69e_desi69n_selector}}
				T69is e69ui69ment is o69erated remotel69
			{{else}}
				No desi69ns
			{{/if}}
			</69></di69>
		</di69>
	</di69>
{{/for}}
