<!-- 
Title: Autolathe disk cloner
Used In File(s): \code\game\machinery\autolathe_disk_cloner.dm
 -->
<div style="width:100%">
	<div class="block">
		<div class="item">
			<div class="itemLabelWidest">
				{{if data.copying}}
					{{:helper.link('STOP', '', {'start' : 1})}} 
				{{else}}
					{{:helper.link('START', '', {'start' : 1})}} 
				{{/if}}
			</div>
			<div class="itemContentWidest">
				{{if data.copying}}
					Copying {{:data.copyingnow}}/{{:data.copyingtotal}}
				{{else}}
					IDLE
				{{/if}}
			</div>
		</div>
	</div>
</div>

<div style="display:inline-block">
	<div style="float:left; width:49%">
		<div class="block">
			<div class="item">
				{{if data.disk1}}
					<div class="itemLabelWidest">Source: <b>{{:data.disk1}}</b></div>
					<div class="itemContent">
						{{if data.disk1license >= 0}}
							{{if !data.hacked}}
								<font color="#FF0000">ENCRYPTED ({{:data.disk1license}} uses)</font>
							{{else}}
								ENCRYPTED ({{:data.disk1license}} uses)
							{{/if}}
							
						{{else}}
							OK
						{{/if}}
					</div>
					<div class="itemLabelWidest">{{:helper.link('', 'eject', {'eject' : 'f'}, null, 'statusValue')}}</div>
				{{else}}
					<div class="itemLabelWidest">Source: <b>No disk</b></div>
					<div class="itemContent"></div>
					<div class="itemLabelWidest"></div>
				{{/if}}
			</div>
			<div class="block">
				{{for data.disk1recipes}}
					<div class="item">
						{{if value == 'ERROR'}}
							<div class="itemLabelWidest" style="background-color: #ff0000;">{{:value}}</div>
						{{else}}
							<div class="itemLabelWidest">{{:value}}</div>
						{{/if}}
					</div>
				{{empty}}
					<div class="item">
						<div class="itemLabelWide">Empty.</div>
					</div>
				{{/for}}
			</div>
		</div>
	</div>
	<div style="float:left; width:49%">
		<div class="block">
			<div class="item">
				{{if data.disk2}}
					<div class="itemLabelWidest">Target: <b>{{:data.disk2}}</b></div>
					<div class="itemContent">
						{{if data.copyingnow && !data.copying}}
							<font color="#FF0000">NOT EMPTY</font>
						{{else}}
							OK
						{{/if}}
					</div>
					<div class="itemLabelWidest">{{:helper.link('', 'eject', {'eject' : 's'}, null, 'statusValue')}}</div>
				{{else}}
					<div class="itemLabelWidest">Target: <b>No disk</b></div>
					<div class="itemContent"></div>
					<div class="itemLabelWidest"></div>
				{{/if}}
			</div>
			<div class="block">
				{{for data.disk2recipes}}
					<div class="item">
						{{if value == 'ERROR'}}
							<div class="itemLabelWidest" style="background-color: #ff0000;">{{:value}}</div>
						{{else}}
							<div class="itemLabelWidest">{{:value}}</div>
						{{/if}}
					</div>
				{{empty}}
					<div class="item">
						<div class="itemLabelWide">Empty.</div>
					</div>
				{{/for}}
			</div>
		</div>
	</div>
</div>