<!-- 
Title: Autolathe disk cloner
Used In File(s): \code\game\machinery\autolathe_disk_cloner.dm
 -->
<div class="fixedWidest" style="width:100%;">
	<div class="block">
		<div class="item">
			<div class="itemContentWidest">
				{{if data.copying}}
					{{:helper.link('STOP', '', {'start' : 1}, null, 'bigRedButton')}} 
				{{else}}
					{{:helper.link('START', '', {'start' : 1}, null, 'bigButton')}} 
				{{/if}}
			</div>
			<div class="itemContentWidest">
				{{if data.copying}}
					Copying {{:data.copyingnow}}/{{:data.copyingtotal}}
				{{else}}
					IDLE
				{{/if}}
			</div>
		</div>
	</div>
</div>

<div class="fixedLeftWider" style="width:50%;">
	<div class="block">
		<div class="item">
			{{if data.disk1}}
				<div class="itemLabelWidest">Source disk</div>
				<div class="itemContentWidest">{{:data.disk1.disk_name ? data.disk1.disk_name : 'data disk'}}</div>
				<div class="itemContent">
					{{if data.disk1.license >= 0}}
						<span class="good">Licenses: {{:data.disk1.license}}</span>
					{{/if}}
				</div>
				<div class="itemLabelWidest">{{:helper.link('eject', 'eject', {'eject' : 'f'}, null, 'statusValue')}}</div>
			{{else}}
				<div class="itemLabelWidest">Source disk</div>
				<div class="itemContentWidest"><span class="bad">no disk</span></div>
				<div class="itemLabelWidest">{{:helper.link('insert', 'eject', {'eject' : 'f'}, null, 'statusValue')}}</div>
			{{/if}}
		</div>
		<div class="block">
			{{if data.disk1}}
			<div class="item">
			{{for data.disk1.files}}
				<div class="itemContent">
					{{if value.filetype == 'CCD'}}
					<div class="itemLabelWidest" style="background-color: #ee0000;">
					{{else value.filetype == 'SCD'}}
					<div class="itemLabelWidest" style="color: #ee0000;">
					{{else}}
					<div class="itemLabelWidest">
					{{/if}}
						{{:value.filename}}.{{:value.filetype}}
					</div>
				</div>
			{{empty}}
				<div class="itemLabelWide">Empty.</div>
			{{/for}}
			</div>
			{{/if}}
		</div>
	</div>
</div>
<div class="fixedLeftWider" style="width:50%;">
	<div class="block">
		<div class="item">
			{{if data.disk2}}
				<div class="itemLabelWidest">Target disk</div>
				<div class="itemContentWidest">{{:data.disk2.disk_name ? data.disk2.disk_name : 'data disk'}}</div>
				<div class="itemContent">
					{{if (data.copyingnow && !data.copying) || data.disk2.used_capacity}}
						<span class="bad">NOT EMPTY</span>
					{{else}}
						<span class="good">OK</span>
					{{/if}}
				</div>
				<div class="itemLabelWidest">{{:helper.link('eject', 'eject', {'eject' : 's'}, null, 'statusValue')}}</div>
			{{else}}
				<div class="itemLabelWidest">Target disk</div>
				<div class="itemContentWidest"><span class="bad">no disk</span></div>
				<div class="itemLabelWidest">{{:helper.link('insert', 'eject', {'eject' : 's'}, null, 'statusValue')}}</div>
			{{/if}}
		</div>
		<div class="block">
			{{if data.disk2}}
			<div class="item">
			{{for data.disk2.files}}
				<div class="itemContent">
					{{if value.filetype == 'CCD'}}
					<div class="itemLabelWidest" style="background-color: #ee0000;">
					{{else value.filetype == 'SCD'}}
					<div class="itemLabelWidest" style="color: #ee0000;">
					{{else}}
					<div class="itemLabelWidest">
					{{/if}}
						{{:value.filename}}.{{:value.filetype}}
					</div>
				</div>
			{{empty}}
				<div class="itemLabelWide">Empty.</div>
			{{/for}}
			</div>
			{{/if}}
		</div>
	</div>
</div>
