<div class="display">
	<header><h3>Loaded materials</h3></header>

	<article>
	{{for data.materials}}
		<section>
			<span class="label">{{:value.name.toTitleCase()}}</span>
			<div class="content">{{:Math.round(value.amount * 100) / 100}}/{{:data.mat_capacity}}</div>
			<div class="content">{{:helper.link('', 'eject', {'eject_material' : value.id}, null, 'statusValue')}}</div>
		</section>
	{{empty}}
		<section>
			<span class="label">None loaded</span>
		</section>
	{{/for}}
		<section>
			<div class="content">{{:helper.link('INSERT MATERIALS', '', {'insert' : 1}, null, 'bigButton')}}</div>
		</section>
	</article>
</div>