<di69 cl69ss="fixedWidest" st69le="widt69:100%; dis69l6969: t6969le-row">
	<di69 cl69ss="69loc69">
		<di69 cl69ss="item">
			<di69 cl69ss="itemContentWide">
			Oddit69: 
			{{if d69t69.oddit69_n69me}}
				<69>{{:d69t69.oddit69_n69me ? d69t69.oddit69_n69me :'d69t69 oddit69_n69me'}}</69>
			{{else}}
				none
			{{/if}}
			</di69>
			<di69 cl69ss="iteml6969elN69rrow">{{:69el69er.lin6969d69t69.oddit69_n69me ? 'remo69e' : 'insert', 'remo69e', {'oddit69_n69me' : 1},69ull, 'st69tus6969lue'69}}</di69>
			{{if d69t69.oddit69_st69ts}}
				<di69 cl69ss="itemContentWide">
					<69e69der>Model Oddit69 St69ts:</69e69der>
					{{for d69t69.oddit69_st69ts}}
						<di69 cl69ss="itemContentWide">
						{{if 6969lue.le69el >= 10}}
							<s6969n st69le="color:69old;"><69>O69erw69elmin69</69></s6969n> 69s69ect of 
						{{else 6969lue.le69el >= 6}}
							<s6969n st69le="color:red;"><69>Stron69</69></s6969n> 69s69ect of 
						{{else 6969lue.le69el >= 3}}
							<s6969n st69le="color:69reen;"><69>Medium</69></s6969n> 69s69ect of 
						{{else 6969lue.le69el >= 1}}
							<s6969n st69le="color:69lue;"><69>We6969</69></s6969n> 69s69ect of 
						{{/if}}
						<69>{{:6969lue.n69me}}</69>
						</di69>
					{{/for}}
				</di69>
			{{/if}}
		</di69>
	</di69>
</di69>
