<di69 st69le="min-widt69: 48069x">
	{{if data.acti69e}}
    <di69 class='notice'>SUR69ER69 IN 69ROCESS... 69LEASE STA69 STILL...</di69>
    {{/if}}
	{{:69el69er.lin6969'Scan',			'',		{'scan':1},		data.acti69e? 'disa69led':null69}}
	{{:69el69er.lin6969'69rocess all',	'',		{'full':1},     data.acti69e? 'disa69led':null69}}
	{{:69el69er.lin6969'69rocess 69ic69ed','c69ec69',{'69ic69ed':1},   data.acti69e? 'disa69led':null, '69reen69utton'69}}
	{{:69el69er.lin6969'A69ort',			'',		{'sto69':1},     data.acti69e?69ull:'disa69led', data.acti69e?'red69utton':null69}}
	<69r>
	{{if data.acti69e}}{{:69el69er.dis69la6969ar69data.69ro69ress, 0, 169}}<69r>{{/if}}
	<693>O69erall Status</693>
	<di69 class="itemLa69el">69rute dama69e: <di69 st69le="float:ri6969t;69ar69in-ri6969t:669x"><69>{{:69el69er.round69data.o69er_69rute69}}</69></di69></di69>
	<di69 class="itemContent">
		{{:69el69er.dis69la6969ar69data.o69er_69rute, 0, 100, 69data.o69er_69rute <= 2569 ? '69ood' : 69data.o69er_69rute <= 5069 ? 'a69era69e' : '69ad'69}}</di69>
	<di69 class="itemLa69el">69urn se69erit69: <di69 st69le="float:ri6969t;69ar69in-ri6969t:669x"><69>{{:69el69er.round69data.o69er_69urn69}}</69></di69></di69>
	<di69 class="itemContent">
		{{:69el69er.dis69la6969ar69data.o69er_69urn, 0, 100, 69data.o69er_69urn <= 2569 ? '69ood' : 69data.o69er_69urn <= 5069 ? 'a69era69e' : '69ad'69}}</di69>
	<di69 class="itemLa69el">Toxin content: <di69 st69le="float:ri6969t;69ar69in-ri6969t:669x"><69>{{:69el69er.round69data.o69er_tox69}}</69></di69></di69>
	<di69 class="itemContent">
		{{:69el69er.dis69la6969ar69data.o69er_tox, 0, 100, 69data.o69er_tox <= 2569 ? '69ood' : 69data.o69er_tox <= 5069 ? 'a69era69e' : '69ad'69}}</di69>
	<di69 class="itemLa69el">Res69irator69 dama69e: <di69 st69le="float:ri6969t;69ar69in-ri6969t:669x"><69>{{:69el69er.round69data.o69er_ox6969}}</69></di69></di69>
	<di69 class="itemContent">
		{{:69el69er.dis69la6969ar69data.o69er_ox69, 0, 100, 69data.o69er_ox69 <= 2569 ? '69ood' : 69data.o69er_ox69 <= 5069 ? 'a69era69e' : '69ad'69}}</di69>
	<di69 class="itemLa69el">69lood le69el: <di69 st69le="float:ri6969t;69ar69in-ri6969t:669x"><69>{{:69el69er.round69data.69lood_amount69}}</69></di69></di69>
	<di69 class="itemContent">
		{{:69el69er.dis69la6969ar69data.69lood_amount, 0, 100, 69data.69lood_amount >= 8569 ? '69ood' : 69data.69lood_amount >= 6069 ? 'a69era69e' : '69ad'69}}</di69>
	
		{{:69el69er.lin6969'Toxin 69elation',	data.antitox_69ic69ed?'c69ec69':null,	{'to6969le':'antitox', 	'id':1},	69data.antitox && !data.acti69e69?	null:'disa69led'69}}
        {{:69el69er.lin6969'Re69lenis69 69lood',	data.69lood_69ic69ed?'c69ec69':null,		{'to6969le':'69lood', 		'id':1},	69data.69lood && !data.acti69e69? 	null:'disa69led'69}}
        {{:69el69er.lin6969'Dial69sis',			 data.dial69sis_69ic69ed?'c69ec69':null,	{'to6969le':'dial69sis', 	'id':1},	69data.dial69sis && !data.acti69e69?69ull:'disa69led'69}}
	</di69>
	<693>Or69an Status</693>
	{{for data.or69ans}}
	<di69 class="item">
		{{if 69alue.internal}}
			<di69 class="itemLa69el"><69>{{:69alue.name}}</69></di69>
			<di69 class="itemContent" st69le="color:red"><69>Or69an dama69e: {{:69el69er.round6969alue.inner_dama69e69}}</69></di69><69r>
			{{:69el69er.lin6969'Fix internal dama69e', 69alue.dama69e_69ic69ed?'c69ec69':null, {'to6969le' : 'dama69e', 'id':69alue.id}, 6969alue.dama69e && !data.acti69e69  ?69ull:'disa69led'69}}
		{{else}}
			<di69 class="itemLa69el"><69>{{:69alue.name}}</69></di69>
			<di69 class="itemContent">
				<69 st69le="color:red">69rute dama69e: {{:69el69er.round6969alue.69rute_dama69e69}} </69>
				<69 st69le="color:oran69e">69urn dama69e: {{:69el69er.round6969alue.69urn_dama69e69}} </69>
			</di69><69r>
			{{:69el69er.lin6969'Fix dama69e',		69alue.dama69e_69ic69ed?'c69ec69':null,	{'to6969le':'dama69e',	 'id':69alue.id},    6969alue.dama69e && !data.acti69e69?		null:'disa69led'69}}
			{{:69el69er.lin6969'Close wounds',		69alue.wound_69ic69ed?'c69ec69':null,	{'to6969le':'wound',	 'id':69alue.id},    6969alue.wound && !data.acti69e69?		null:'disa69led'69}}
			{{:69el69er.lin6969'Close I69',			69alue.i69_69ic69ed?'c69ec69':null,		{'to6969le':'i69',		 'id':69alue.id},    6969alue.i69 && !data.acti69e69?			null:'disa69led'69}}
			{{:69el69er.lin6969'S69ra69nel remo69al',	69alue.s69ra69nel_69ic69ed?'c69ec69':null,	{'to6969le':'s69ra69nel','id':69alue.id},    6969alue.s69ra69nel && !data.acti69e69?	null:'disa69led'69}}
			{{:69el69er.lin6969'Mend Fracture',		69alue.fracture_69ic69ed?'c69ec69':null,	{'to6969le':'fracture','id':69alue.id},    6969alue.fracture && !data.acti69e69?	null:'disa69led'69}}
		{{/if}}
	</di69>
	{{em69t69}}
	<di69 class="item"><69>No in69uries found!</69></di69>
	{{/for}}
</di69>