{{if data.locked}}
<div class='notice'>
	<b><h3>SURGERY IN PROCESS</h3></b>
	<i>Wait until all operations done</i><br>
</div>
{{/if}}
<div style="min-width: 480px">
	<h3>Overall Status</h3>
	<table>
		<tr><td colspan=2>
			<div class="statusValue">
				Brute damage: {{:data.over_brute}}
			</div>
			<div class="statusValue">
				Brute damage: {{:data.over_burn}}
			</div>
			<div class="statusValue">
				Toxin contents: {{:data.over_tox}}
			</div>
			<div class="statusValue">
				Respiratory damage: {{:data.over_oxy}}
			</div>
	</table>
	{{:helper.link('Toxin Kelation', 'biohazard', {'toggle' : 'surgery_antitox'}, data.surgery_antitox ? null:'disabled')}}
	{{:helper.link('Dialysis', 'flask', {'toggle' : 'surgery_dialysis'}, data.surgery_dialysis ? null:'disabled')}}

	{{for data.organs}}
		<div class = "item">
			<div class="itemLabel">
				{{:value.name}}
			</div>
			<div class="itemContent">
				{{if value.internal}}
					<div class="statusValue">
						Internal damage: {{:value.inner_damage}}
					</div>
					{{:helper.link('Fix internal damage', 'first-aid', {'toggle' : 'surgery_damage', 'id':value.id}, data.surgery_damage ? null:'disabled')}}
				{{else}}
					<table>
						<tr><td colspan=2>
						<div class="statusValue">
								Brute damage: {{:value.brute_damage}}
						</div>
						<div class="statusValue">
								Burn damage: {{:value.burn_damage}}
						</div>
					</table>
					{{:helper.link('Fix damage', 'first-aid', {'toggle' : 'surgery_damage', 'id' : value.id}, data.surgery_damage ? null:'disabled')}}
					{{:helper.link('Mend Fracture', 'bone', {'toggle' : 'surgery_fracture', 'id' : value.id}, data.surgery_fracture ? null:'disabled')}}
					{{:helper.link('Remove Shrapnel', 'star-of-life', {'toggle' : 'surgery_shrapnel', 'id' : value.id}, data.surgery_shrapnel ? null:'disabled')}}
					{{:helper.link('Close wounds', 'band-aid', {'toggle' : 'surgery_wound', 'id' : value.id}, data.surgery_wound ? null:'disabled')}}
				{{/if}}
			</div>
		</div>
	{{empty}}
		No injuries found!<br>
	{{/for}}
</div>