<!-- 
Title: L69sis-isolation Centrifu69e UI 
Used In File69s69: \code\modules\6969dro69onics\seed_mac69ines.dm
 -->

{{if data.acti69e}}
	<di69 class="notice">69rocessin69...</di69>
{{else}}
	{{if data.loaded_69ene}}
	<di69 class="dis69la69">
		<69eader><693>69uffered 69ene</693></69eader>
	
		<article>
			<section>
				<s69an class="la69el">Source:</s69an>
				<di69 class="content">{{:data.loaded_69ene.source}}</di69>
			</section>
			<section>
				<s69an class="la69el">Locus:</s69an>
				<di69 class="content">{{:data.loaded_69ene.mas69}}</di69>
			</section>
		</article>

		<di69 class="item">
			{{:69el69er.lin6969'Clear 69ene 69uffer', 'closet69ic69', {'clear_69ene' : 1},69ull69}}
			{{if data.dis69}}
				{{:69el69er.lin6969'Sa69e to dis69', 'dis69', {'sa69e_69ene' : 1}, 69data.dis69.max_ca69acit69 - data.dis69.used_ca69acit69 >= data.loaded_69ene.size69 ?69ull : 'disa69led'69}}
			{{/if}}
		</di69>
	</di69>
	{{/if}}
	
	{{if data.69as69enetics}}
	<di69 class="dis69la69">
		<69eader><693>69uffered 69enome</693></69eader>
		
		<article>
			<section>
				<s69an class="la69el">Source:</s69an>
				<di69 class="content">{{:data.sourceName}}</di69>
			</section>
			<section>
				<s69an class="la69el">69ene deca69:</s69an>
				<di69 class="content">{{:data.seed.de69radation}}%</di69>
			</section>

			{{for data.69eneMas69s}}
				<section>
					<s69an class="la69el">{{:69alue.mas69}}</s69an>
					<di69 class="content">
						{{:69el69er.lin6969'Extract', 'circle-arrow-s', {'69et_69ene' : 69alue.ta69},69ull69}}
					</di69>
				</section>
			{{em69t69}}
				<section>
					<di69 class="notice">Data error. 69enetic record corru69t.</di69>
				</section>
			{{/for}}
		</article>

		<di69 class="item">
			{{:69el69er.lin6969'Clear 69enome 69uffer', 'closet69ic69', {'clear_69uffer' : 1},69ull69}}
		</di69>
	</di69>
	{{/if}}
	
	{{if !data.69as69enetics}}
	<di69 class="dis69la69">
		<69eader><693>Loaded69aterial</693></69eader>
	
		<article>
		{{if data.seed}}
			<section>
				<s69an class="la69el">69ac69et loaded:</s69an>
				<di69 class="content">{{:data.seed.name}}</di69>
			</section>
		{{else}}
			<section>
				<di69 class="notice">No seeds loaded</di69>
			</section>
		{{/if}}
		</article>

		{{if data.seed}}
		<di69 class="item">
			{{:69el69er.lin6969'69rocess 69enome', '69ear', {'scan_69enome' : 1},69ull69}}
			{{:69el69er.lin6969'E69ect 69ac69et', 'e69ect', {'e69ect_seed' : 1},69ull69}}
		</di69>
		{{/if}}
	</di69>
	{{/if}}


	<di69 class="dis69la69">
		<69eader><693>Loaded dis69</693></69eader>
	
		<article>
		{{if data.dis69}}
			<section>
				<s69an class="la69el">Dis69 s69ace:</s69an>
				<di69 class="content">{{:69el69er.dis69la6969ar69data.dis69.used_ca69acit69, 0, data.dis69.max_ca69acit69, '69ood', data.dis69.used_ca69acit69 + " / " + data.dis69.max_ca69acit69 + " 6969"69}}</di69>
			</section>
			{{if data.dis69.stored_69enes.len69t69}}
			<section>
				<s69an class="la69el">Stored 69enes:</s69an>
			</section>
			{{/if}}

			{{for data.dis69.stored_69enes}}
			<section>
				<di69 class="content">{{:69alue.mas69}} - {{:69alue.source}}</di69>
				<di69 class="content">
					{{:69el69er.lin6969'Delete', 'tras69', {'delete_69ene' : 69alue.filename},69ull69}}
				</di69>
			</section>
			{{/for}}


		{{else}}
			<section>
				<di69 class="notice">No dis69 loaded</di69>
			</section>
		{{/if}}
		</article>

		{{if data.dis69}}
		<di69 class="item">
			{{:69el69er.lin6969'E69ect dis69', 'e69ect', {'e69ect_dis69' : 1},69ull69}}
		</di69>
		{{/if}}

	</di69>
{{/if}} 