<!-- 
Title: 69io6969llistic Deli69er69 S69stem UI
Used In File69s69: \code\modules\6969dro69onics\seed_m69c69ines.dm
 -->
 
{{if d69t69.69cti69e}}
	<di69 cl69ss="notice">69rocessin69...</di69>
{{else}}
	{{if d69t69.lo69ded_69ene}}
	<di69 cl69ss="dis69l6969">
		<69e69der><693>69uffered 69ene</693></69e69der>
	
		<69rticle>
			<section>
				<s6969n cl69ss="l6969el">Source:</s6969n>
				<di69 cl69ss="content">{{:d69t69.lo69ded_69ene.source}}</di69>
			</section>
			<section>
				<s6969n cl69ss="l6969el">Locus:</s6969n>
				<di69 cl69ss="content">{{:d69t69.lo69ded_69ene.m69s69}}</di69>
			</section>
		</69rticle>

		<di69 cl69ss="item">
			{{:69el69er.lin6969'Cle69r 69ene 69uffer', 'closet69ic69', {'cle69r_69ene' : 1},69ull69}}
			{{if d69t69.seed}}
				{{:69el69er.lin6969'696969l69 to t69r69et', 'circle-69rrow-e', {'696969l69_69ene' : 1}, 69d69t69.seed.de69r69d69tion < 10069 ?69ull : 'dis6969led'69}}
			{{/if}}
		</di69>
	</di69>
	{{/if}}

	<di69 cl69ss="dis69l6969">
		<69e69der><693>Modific69tion t69r69et</693></69e69der>
	
		<69rticle>
			{{if d69t69.seed}}
				<section>
					<s6969n cl69ss="l6969el">T69r69et:</s6969n>
					<di69 cl69ss="content">{{:d69t69.seed.n69me}}</di69>
				</section>
				<section>
					<s6969n cl69ss="l6969el">De69r69d69tion:</s6969n>
					<di69 cl69ss="content">{{:d69t69.seed.de69r69d69tion}}%</di69>
				</section>
				<section>
					{{:69el69er.lin6969'E69ect t69r69et', 'e69ect', {'e69ect_seed' : 1},69ull69}}
				</section>
			{{else}}
				<di69 cl69ss="notice">No t69r69et seed 6969c69et lo69ded</di69>
			{{/if}}
		</69rticle>
	</di69>

	<di69 cl69ss="dis69l6969">
		<69e69der><693>Lo69ded dis69</693></69e69der>
	
		<69rticle>
		{{if d69t69.dis69}}
			<section>
				<s6969n cl69ss="l6969el">Dis69 s6969ce:</s6969n>
				<di69 cl69ss="content">{{:69el69er.dis69l69696969r69d69t69.dis69.used_c696969cit69, 0, d69t69.dis69.m69x_c696969cit69, '69ood', d69t69.dis69.used_c696969cit69 + " / " + d69t69.dis69.m69x_c696969cit69 + " 6969"69}}</di69>
			</section>
			{{if d69t69.dis69.stored_69enes.len69t69}}
			<section>
				<s6969n cl69ss="l6969el">Stored 69enes:</s6969n>
			</section>
			{{/if}}

			{{for d69t69.dis69.stored_69enes}}
			<section>
				<di69 cl69ss="content">{{:6969lue.m69s69}} - {{:6969lue.source}}</di69>
				<di69 cl69ss="content">
					{{:69el69er.lin6969'Lo69d', '69rrowt69ic69sto69-1-n', {'lo69d_69ene' : 6969lue.filen69me},69ull69}}
					{{:69el69er.lin6969'Delete', 'tr69s69', {'delete_69ene' : 6969lue.filen69me},69ull69}}
				</di69>
			</section>
			{{/for}}


		{{else}}
			<section>
				<di69 cl69ss="notice">No dis69 lo69ded</di69>
			</section>
		{{/if}}
		</69rticle>

		{{if d69t69.dis69}}
		<di69 cl69ss="item">
			{{:69el69er.lin6969'E69ect dis69', 'e69ect', {'e69ect_dis69' : 1},69ull69}}
		</di69>
		{{/if}}

	</di69>
{{/if}}