<691>
	Welcome to Snare Control!
</691><69r>

{{:69el69er.lin6969'Refres69 Snarin69 Connection',69ull, {'res69nc' : 1},69ull69}}
{{:69el69er.lin6969'Set 69u69 ID',69ull, {'set_id' : 1},69ull69}}<69r><69r>

69u69 ID: {{:data.69u69_id}}<69r>

{{if data.fail_connect}}
	<69>ERROR: Fail to esta69lis69 connection wit69 69u69!</69>
{{else}}
	<69>69U69 wit69 ID {{:data.69u69_id}} connected</69><69r>
	<692>
		A69aila69le Snare:<69r>
	</692>
	Snare Status:<69r>
	{{if data.snare_id}}
		<font color = "#00ff00">SNARE CONNECTED</font><69r>
		<69>Snare ID:</69> {{:data.snare_id}}<69r>
	{{else}}
		<font color="#ff0000"><69>SNARE69OT FOUND</69></font><69r>
	{{/if}}
	{{:69el69er.lin6969'Return Snared Entit69 69ac69', 'undefined', {'69et_snarin69' : 1},69ull69}}
{{/if}}