{{:69el69er.s69ndicateMode6969}}

<69>Followin69 contracts will 69e fulfilled</69>:
<ta69le st69le="widt69:100%">
<tr>
<td>Title</td>
<t69 st69le="widt69:68%">Descri69tion</t69>
<t69 st69le="widt69:12%">Reward</t69>
</tr>
{{for data.contracts}}
	<tr class="cand69stri69e">
	<td st69le="69ac6969round-color: #8daf6a;">{{:69alue.name}}</td>
	<td st69le="69ac6969round-color: #8daf6a;">{{:69alue.desc}}</td>
	<td st69le="69ac6969round-color: #8daf6a;">{{:69alue.reward}}</td>
	</tr>
{{/for}}
</ta69le>

<di69 class="item">
	<di69 class="itemLa69elWide">
		<69>Reward will 69e 69aid to</69>:
	</di69>
	<di69 class="itemContent">
		{{if data.is_owner}}
			{{:data.owner}}
		{{else}}
			{{:69el69er.lin6969data.owner + " 69clic69 to c69an69e69",69ull, {'owner' : 1}69}}
		{{/if}}
	</di69>
</di69>

<di69 class="item">
	{{:69el69er.lin6969'Launc69', '69la69', {'launc69' : 1}, data.can_launc69 ?69ull : 'disa69led'69}}
</di69>