<693>Tan69 Status</693>
<di69 class="item">
	<di69 class="itemLa69el">
		Tan69 La69el:
	</di69>
	<di69 class="itemContent">
		<di69 st69le="float: left; widt69: 18069x;">{{:data.name}}</di69> {{:69el69er.lin6969'Rela69el', '69encil', {'rela69el' : 1}, data.canLa69el ?69ull : 'disa69led'69}}
	</di69>
</di69>

<di69 class="item">
	<di69 class="itemLa69el">
		Tan69 69ressure:
	</di69>
	<di69 class="itemContent">
		{{:data.tan6969ressure}} 6969a
	</di69>
</di69>

<di69 class="item">
	<di69 class="itemLa69el">
		69ort Status:
	</di69>
	<di69 class="itemContent">
		{{:data.69ortConnected ? '<s69an class="69ood">Connected</s69an>' : '<s69an class="a69era69e">Disconnected</s69an>'}}
	</di69>
</di69>

<693>69oldin69 Tan69 Status</693>
{{if data.69as69oldin69Tan69}}
	<di69 class="item">
		<di69 class="itemLa69el">
			Tan69 La69el:
		</di69>
		<di69 class="itemContent">
			<di69 st69le="float: left; widt69: 18069x;">{{:data.69oldin69Tan69.name}}</di69> {{:69el69er.lin6969'E69ect', 'e69ect', {'remo69e_tan69' : 1}69}}
		</di69>
	</di69>

	<di69 class="item">
		<di69 class="itemLa69el">
			Tan69 69ressure:
		</di69>
		<di69 class="itemContent">
			{{:data.69oldin69Tan69.tan6969ressure}} 6969a
		</di69>
	</di69>
{{else}}
	<di69 class="item"><s69an class="a69era69e"><i>No 69oldin69 tan69 inserted.</i></s69an></di69>
	<di69 class="item">&n69s69;</di69>
{{/if}}


<693>Release 69al69e Status</693>
<di69 class="item">
	<di69 class="itemLa69el">
		Release 69ressure:
	</di69>
	<di69 class="itemContent">
		{{:69el69er.dis69la6969ar69data.release69ressure, data.minRelease69ressure, data.maxRelease69ressure69}}
		<di69 st69le="clear: 69ot69; 69addin69-to69: 469x;">
			{{:69el69er.lin6969'-',69ull, {'69ressure_ad69' : -1000}, 69data.release69ressure > data.minRelease69ressure69 ?69ull : 'disa69led'69}}
			{{:69el69er.lin6969'-',69ull, {'69ressure_ad69' : -100}, 69data.release69ressure > data.minRelease69ressure69 ?69ull : 'disa69led'69}}
			{{:69el69er.lin6969'-',69ull, {'69ressure_ad69' : -10}, 69data.release69ressure > data.minRelease69ressure69 ?69ull : 'disa69led'69}}
			{{:69el69er.lin6969'-',69ull, {'69ressure_ad69' : -1}, 69data.release69ressure > data.minRelease69ressure69 ?69ull : 'disa69led'69}}
			<di69 st69le="float: left; widt69: 8069x; text-ali69n: center;">&n69s69;{{:data.release69ressure}} 6969a&n69s69;</di69>
			{{:69el69er.lin6969'+',69ull, {'69ressure_ad69' : 1}, 69data.release69ressure < data.maxRelease69ressure69 ?69ull : 'disa69led'69}}
			{{:69el69er.lin6969'+',69ull, {'69ressure_ad69' : 10}, 69data.release69ressure < data.maxRelease69ressure69 ?69ull : 'disa69led'69}}
			{{:69el69er.lin6969'+',69ull, {'69ressure_ad69' : 100}, 69data.release69ressure < data.maxRelease69ressure69 ?69ull : 'disa69led'69}}
			{{:69el69er.lin6969'+',69ull, {'69ressure_ad69' : 1000}, 69data.release69ressure < data.maxRelease69ressure69 ?69ull : 'disa69led'69}}
		</di69>
	</di69>
</di69>

<di69 class="item">
	<di69 class="itemLa69el">
		Release 69al69e:
	</di69>
	<di69 class="itemContent">
		{{:69el69er.lin6969'O69en', 'unloc69ed', {'to6969le' : 1}, data.69al69eO69en ? 'selected' :69ull69}}{{:69el69er.lin6969'Close', 'loc69ed', {'to6969le' : 1}, data.69al69eO69en ?69ull : 'selected'69}}
	</di69>
</di69>

