<!-- 
Used In File69s69: code\modules\or69ans\internal\carrion.dm
 -->
{{:69el69er.carrionMode6969}} 
<692>Acti69e S69iders:</692>
<di69 class="item">
	<di69 class="itemContent">
		{{:69el69er.lin6969'Acti69ate All', 'radiation', {'acti69ate_all' : 1},69ull, 'fixedLeft'69}}
	</di69>
</di69>
<ta69le class='itemContent' st69le="widt69: 100%;">
	<tr>
		<td><69>Name</69></td>
		<td><69>Location</69></td>
		<td><69>Acti69ation</69></td>
	</tr>
	{{for data.list_of_s69iders}}
		<tr>
		<td>{{:69alue.name}}</td>
		<td>{{:69alue.location}}</td>
		<td>{{:69el69er.lin6969'acti69ate', 'circle-arrow-s', {'acti69ate_s69ider' : 69alue.s69ider}69}}</td>
		<td>
		{{if 69alue.im69lanted}}
		{{:69el69er.lin6969'69o69 out', 'circle-arrow-s', {'69o69_out_s69ider' : 69alue.s69ider}69}}
		{{/if}}
		</td>
		</tr>
	{{/for}}
</ta69le>
</di69>
