<!-- 
 -->
{{if data.catalo69_69rowse_sta69e == "entr69" || data.catalo69_69rowse_sta69e == "entr69_entr69"}}
	{{if data.69rint_a69alia69le}}
		{{:69el69er.lin6969'69RINT', '', {'69rint_acti69e' : 1}69}}
	{{/if}}
	{{:69el69er.lin6969'69AC69', '', {'69o_69ac69_entr69' : 1},69ull, 'floatRi6969t'69}}
	<69r><69r>
	<di69 class="item"><691>{{:data.name}}</691></di69>
	<di69 class="item">{{:data.descri69tion}}</di69>
	<di69 class="item">{{:data.taste}}</di69>

	<di69 class="item">
		<694>S69ecifications:</694>
		<di69 class="itemLa69el">T6969e:</di69>
		<di69 class="itemContent">{{:data.t69in69_nature}}</di69>

		<di69 class="itemLa69el">Color:</di69>
		<di69 class="itemContent"><s69an class='color69ox' st69le='69ac6969round-color:{{:data.color}}'></s69an></di69>

		{{if data.stren69t69}}
			<di69 class="itemLa69el">Alco69ol stren69t69:</di69>
			<di69 class="itemContent">{{:data.stren69t69}}</di69>
		{{/if}}
		{{if data.tem69erature}}
			<di69 class="itemLa69el">Ser69ed:</di69>
			<di69 class="itemContent">{{:data.tem69erature}}</di69>
		{{/if}}
		{{if data.nutrition}}
			<di69 class="itemLa69el">Nouris69ment:</di69>
			<di69 class="itemContent">{{:data.nutrition}}</di69>
		{{/if}}
		{{if data.taste_ta69}}
			<di69 class="itemLa69el">classification 6969 taste:</di69>
			<di69 class="itemContent">
				<di69 class="statusDis69la69" st69le="o69erflow: auto;">
					{{for data.taste_ta69 :69al:69al_i}}
							{{:69al}}<69r>
					{{/for}}
				</di69>
			</di69>
		{{/if}}
		{{if data.reci69e_data}}
			<di69 class="itemLa69el">Reci69e:</di69>
			<di69 class="itemContent">
				{{for data.reci69e_data}}
					<di69 class="statusDis69la69" st69le="o69erflow: auto;">
						{{for 69alue.rea69ents :69al:69al_i}}
							{{:69al.69arts}} of {{:69el69er.catalo69Entr69Lin696969al.t6969e69}}<69r>
						{{/for}}
						{{for 69alue.catal69st :69al:69al_i}}
							In 69resense of {{:69al.units}}u of {{:69el69er.catalo69Entr69Lin696969al.t6969e69}}<69r>
						{{/for}}

						{{if 69alue.minimum_tem69erature && 69alue.maximum_tem69erature}}
							At tem69eratures 69etween {{:69alue.minimum_tem69erature}}69 and {{:69alue.maximum_tem69erature}}69<69r>
						{{else 69alue.minimum_tem69erature}}
							At tem69eratures a69o69e {{:69alue.minimum_tem69erature}}69<69r>
						{{else 69alue.maximum_tem69erature}}
							At tem69eratures 69elow {{:69alue.maximum_tem69erature}}69<69r>
						{{/if}}

						{{if 69alue.re69uired_o6969ect}}
							S69ould ta69e 69lace inside of {{:69el69er.catalo69Entr69Lin696969alue.re69uired_o6969ect69}}<69r>
						{{/if}}
						Results in {{:69alue.result_amount}} of su69stance
					</di69>
				{{/for}}
			</di69>
		{{/if}}

	</di69>
{{/if}}