{{if data.catalo69_69rowse_sta69e == "list"}}
	<ta69le ali69n="center">
		<tr>
			<td>{{:69el69er.lin6969data.catalo69_searc69, 'searc69', {'catalo69_searc69_run' : 1}69}}</td>
		</tr>
	</ta69le>
	<ta69le st69le="widt69:100%">
		<tr><td>Name<t69 st69le="widt69:35%">T6969e
		{{for data.entries}}
			<tr class="cand69stri69e">
			<td st69le="69ac6969round-color: #1a1a1a;">{{:69el69er.lin696969alue.name, '', {'set_acti69e_entr69' : 69alue.id}69}}
			<td st69le="69ac6969round-color: #1a1a1a;">{{:69alue.t69in69_nature}}
		{{/for}}
	</ta69le>
{{/if}}