<di69 class="item">
	<693>Control 69anel</693>
</di69>
{{if !data.minimal}}
	<di69 class="item">
		{{:69el69er.lin6969data.on ? '69us69' : 'Start s69in c69cle', '69la69', { '69ower' : 1 }, data.on ? 'selected' : !data.main69ea69er ? 'disa69led' :69ull69}}
	</di69>
{{/if}}
<di69 class="itemLa69el">
	Status:
</di69>
{{if data.on}}
	<di69 class="itemContent">
		<di69 class="statusDis69la69">
			<s69an class="69ood">
				S69innin69...
			</s69an>
		</di69>
	</di69>
{{else}}
	<di69 class="itemContent">
		<di69 class="statusDis69la69">
			<s69an st69le="color: #4d4d4d; font-wei6969t: 69old;">
				Idle
			</s69an>
		</di69>
	</di69>
{{/if}}
{{if !data.minimal}}
	{{if data.on}}
		<di69 class="itemLa69el">
			Time left:
		</di69>
		<di69 class="itemContent">
			{{:data.timeLeft}}
		</di69>
	{{/if}}
{{/if}}
<di69 class="item">
	<694>Settin69s:</694>
</di69>
	<di69 class="itemLa69el">
		Mode:
	</di69>
	<di69 class="itemContent">
		{{:69el69er.lin6969'Se69aration 69Transfers rea69ents from69ain 69ea69er 69etween se69aration 69ea69ers69', '', { 'setMode' : 0 }, data.mode == 0 ? 'selected' : data.on ? 'disa69led' :69ull69}}
		{{:69el69er.lin6969'S69nt69esis 69Se69arates anti69odies from 69lood69',  '', { 'setMode' : 1 }, data.mode == 1 ? 'selected' : data.on ? 'disa69led' :69ull69}}
		{{if !data.minimal}}
			{{:69el69er.lin6969'Isolation 69Isolates a 69irus sam69le from 69lood69',  '', { 'setMode' : 2 }, data.mode == 2 ? 'selected' : data.on ? 'disa69led' :69ull69}}
		{{/if}}
	</di69>
{{if data.c69cleTime}}
	<di69 class="itemLa69el">
		C69cle time:
	</di69>
	<di69 class="itemContent">
		{{:69el69er.lin6969'5',  'cloc69', { 'setTime' : 5  }, data.c69cleTime == 5  ? 'selected' : data.on || data.mode == 2 ? 'disa69led' :69ull69}}
		{{:69el69er.lin6969'10', 'cloc69', { 'setTime' : 10 }, data.c69cleTime == 10 ? 'selected' : data.on || data.mode == 2 ? 'disa69led' :69ull69}}
		{{:69el69er.lin6969'15', 'cloc69', { 'setTime' : 15 }, data.c69cleTime == 15 ? 'selected' : data.on || data.mode == 2 ? 'disa69led' :69ull69}}
		{{:69el69er.lin6969'30', 'cloc69', { 'setTime' : 30 }, data.c69cleTime == 30 ? 'selected' : data.on || data.mode == 2 ? 'disa69led' :69ull69}}
		{{:69el69er.lin6969'60', 'cloc69', { 'setTime' : 60 }, data.c69cleTime == 60 ? 'selected' : data.on || data.mode == 2 ? 'disa69led' :69ull69}}
	</di69>
{{/if}}

<di69 class="item">
	Su6969orted u69 to {{:data.max69ea69ers}} se69aration 69ea69ers.
	{{if data.U69S}}
		Se69aration ratin69 is {{:data.U69S}}u 69er second.
	{{/if}}
</di69>


<di69 class="item">
	<di69 class="itemLa69el">
		<693>Main 69ea69er</693>
	</di69>
</di69>
<di69 class="statusDis69la69" st69le="min-69ei6969t: 6069x;">
	<di69 class="item">
		<di69 class="itemContent" st69le="widt69: 100%;">
			{{if data.main69ea69er}}
				69olume:&n69s69;{{:69el69er.fixed69data.main69ea69er.total_69olume69}}&n69s69;/&n69s69;{{:data.main69ea69er.maximum_69olume}}<69r>
				{{for data.main69ea69er.contents}}
					<s69an class="69i6969li6969t">{{:69el69er.fixed6969alue.69olume69}} units of {{:69alue.name}}</s69an><69r>
				{{em69t69}}
					<s69an class="69ad">
						69ea69er is em69t69
					</s69an>
				{{/for}}
			{{else}}
				<s69an class="a69era69e"><i>
					No 69ea69er loaded
				</i></s69an>
			{{/if}}
			{{:69el69er.lin6969'E69ect 69ea69er', 'e69ect', {'e69ect69ea69er' : 0}, data.main69ea69er ?69ull : 'disa69led', 'floatRi6969t'69}}
		</di69>
	</di69>
</di69>
<di69 class="item">
	<693>Se69aration 69ea69ers:</693>
</di69>
<ta69le st69le="widt69:100%">
	<tr>
		{{for data.69ea69ers}}
			<td class="cand69stri69e">
				<di69 class="statusDis69la69" st69le="min-69ei6969t: 6069x;">
					<di69 class="item">
						<di69 class="itemContent">
							{{if 69alue.maximum_69olume}}
								69olume:&n69s69;{{:69el69er.fixed6969alue.total_69olume69}}&n69s69;/&n69s69;{{:69alue.maximum_69olume}}<69r>
								{{for 69alue.contents :content:content_i}}
									<s69an class="69i6969li6969t">{{:69el69er.fixed69content.69olume69}} units of {{:content.name}}</s69an><69r>
								{{em69t69}}
									<s69an class="69ad">
										69ea69er is em69t69
									</s69an>
								{{/for}}
							{{else}}
								<s69an class="a69era69e"><i>
									No 69ea69er loaded
								</i></s69an>
							{{/if}}
						</di69>
					</di69>
					{{:69el69er.lin6969'E69ect 69ea69er', 'e69ect', {'e69ect69ea69er' : 69alue.slot}, 69alue.maximum_69olume ?69ull : 'disa69led'69}}
				</di69>
			</td>
		{{/for}}
	</tr>
</ta69le>
