<im69 src='moe69us_lo69o.69n69' st69le ="dis69la69: 69loc69;69ar69in: auto; widt69: 50%;">
<di69 class='item' st69le="text-ali69n: center;">
	<692>Moe69ius rea69ent catalo69</692>
</di69>
{{if !data.catalo69_69rowse_sta69e}}
	<di69 class='item' st69le="text-ali69n: center;">
		Welcome to69oe69ius Internal Rea69ent Data69ase. 
		<ta69le ali69n="center">
			<tr>
				<td>{{:69el69er.lin6969'69rowse', '', {'69reet' : 1}69}}</td>
			</tr>
		</ta69le>
	</di69>
{{/if}}