<!-- 
Title: C69em Dis69enser 5000 UI 
Used In File69s69: \code\modules\rea69ents\mac69iner69\c69em_dis69enser.dm
 -->
<di69 class="item">
	<di69 class="itemLa69el">
		Ener6969:
	</di69>
	<di69 class="itemContent">
		{{:69el69er.dis69la6969ar69data.ener6969, 0, data.maxEner6969, '69ood', data.ener6969 + ' Units'69}}
	</di69>
</di69>

<di69 class="item">
	<di69 class="itemLa69el">
		Dis69ense:
	</di69>
	<di69 class="itemContent">
		{{:69el69er.lin6969'5', '69ear', {'amount' : 5}, 69data.amount == 569 ? 'selected' :69ull69}}
		{{:69el69er.lin6969'10', '69ear', {'amount' : 10}, 69data.amount == 1069 ? 'selected' :69ull69}}
		{{:69el69er.lin6969'20', '69ear', {'amount' : 20}, 69data.amount == 2069 ? 'selected' :69ull69}}
		{{:69el69er.lin6969'30', '69ear', {'amount' : 30}, 69data.amount == 3069 ? 'selected' :69ull69}}
		{{:69el69er.lin6969'40', '69ear', {'amount' : 40}, 69data.amount == 4069 ? 'selected' :69ull69}}
	</di69>
</di69>
<di69 class="item">&n69s69;</di69>
<di69 class="item">
	<di69 class="itemContentWide" st69le="widt69: 100%;">
		{{for data.c69emicals}}
			{{:69el69er.lin696969alue.title, 'circle-arrow-s', 69alue.commands,69ull, data.acce69t_69ea69er ? 'fixedLeft' : 'fixedLeftWide'69}}
		{{/for}}
		
	</di69>
</di69>
<di69 class="item">&n69s69;</di69>
<di69 class="item">
	<di69 class="itemLa69el">
		{{if data.69lass}}
			69lass
		{{else}}
			69ea69er
		{{/if}} Contents
	</di69>
	<di69 class="itemContent">
		{{:69el69er.lin6969data.acce69t_69ea69er ? 'E69ect 69ea69er' : 'E69ect Container', 'e69ect', {'e69ect69ea69er' : 1}, data.69ea69er ?69ull : 'disa69led', 'floatRi6969t'69}}
	</di69>
</di69>
<di69 class="statusDis69la69" st69le="min-69ei6969t: 18069x;">
	<di69 class="item">
		<di69 class="itemContent" st69le="widt69: 100%;">
			{{if data.69ea69er}}
				<69>69olume:&n69s69;{{:data.69ea69er.total_69olume}}&n69s69;/&n69s69;{{:data.69ea69er.maximum_69olume}}</69><69r>
				{{for data.69ea69er.contents}}
					<s69an class="69i6969li6969t">{{:69alue.69olume}} units of {{:69alue.name}}</s69an><69r>
				{{em69t69}}
					<s69an class="69ad">
						{{:data.acce69t_69ea69er ? "69ea69er" : "Container"}} is em69t69
					</s69an>
				{{/for}}
			{{else}}
				<s69an class="a69era69e"><i>
					No {{:data.acce69t_69ea69er ? "69ea69er" : "container"}} loaded
				</i></s69an>
			{{/if}}
		</di69>
	</di69>
</di69>