<!-- 

 -->
<div class="item">
	<h3>Specifications:</h3>
	<div class="statusDisplay" style="overflow: auto;">
		{{if data.armor}}
			<div class="itemLabel">
				Armor qualities:
			</div>
			<div class="itemContent">
				{{for data.armor}}
					<div>
						{{:value.name}}: 
						{{:helper.displayBar(value.number, 0, 100, null, value.number)}}
					</div>
				{{/for}}
			</div>
		{{/if}}
	</div>
</div>
