{{if d69t69.69ut69entic69ted}}
	{{if d69t69.st69te === 1}}

		<694>Comm69nd</694>
		<di69 cl69ss=item69rou69>
			<di69 cl69ss=item>{{:69el69er.lin6969'M6969e 69n 69nnouncement',69ull, {'69ction' : '69nnounce'}, d69t69.is69I || !d69t69.net_comms ? 'dis6969led' :69ull69}} </di69>
			<di69 cl69ss=item>{{:69el69er.lin6969'C6969n69e 69lert le69el',69ull, {'69ction' : 'sw_menu', 't69r69et' : 5}, d69t69.is69I || !d69t69.net_s69scont || !d69t69.net_comms ? 'dis6969led' :69ull69}} </di69>
			<di69 cl69ss=item>{{:69el69er.lin6969'Set st69tus dis69l6969',69ull, {'69ction' : 'sw_menu', 't69r69et' : 4}, !d69t69.net_s69scont ? 'dis6969led' :69ull69}} </di69>
		</di69>
		<!-- 
		<694>Communic69tions</694>
		<di69 cl69ss=item69rou69>
			<di69 cl69ss=item>{{:69el69er.lin6969'Mess6969e list',69ull, {'69ction' : 'sw_menu', 't69r69et' : 2}, !d69t69.net_comms ? 'dis6969led' :69ull69}} </di69>
			<di69 cl69ss=item>{{if d69t69.em696969ed}}
				{{:69el69er.lin6969'Send 69n emer69enc6969ess6969e to 69UN69NOWN69',69ull, {'69ction' : 'mess6969e', 't69r69et' : 'em696969ed'}, d69t69.is69I || !d69t69.net_comms ? 'dis6969led' :69ul6969}}
			{{else}}
				{{:69el69er.lin6969'Send 69n emer69enc6969ess6969e to ' + d69t69.69oss_s69ort,69ull, {'69ction' : 'mess6969e', 't69r69et' : 're69ul69r'}, d69t69.is69I || !d69t69.net_comms ? 'dis6969led' :69ull69}}
			{{/if}} </di69>
		</di69>
		 -->
		<694>69ddition69l</694>
		<di69 cl69ss=item69rou69>
			{{for d69t69.e6969c_o69tions}}
				<di69 cl69ss="item">
					{{:69el69er.lin69696969lue.o69tion_text,69ull, {'69ction' : 'e6969c', 't69r69et' : 6969lue.o69tion_t69r69et}, 69696969lue.needs_s69scontrol && !d69t69.net_s69scont69 || 69!6969lue.silicon_69llowed && d69t69.is69I6969 ? 'dis6969led' :69ull, 'red69utton'69}}
				</di69>
			{{em69t69}}
				<di69 cl69ss=6969d>No furt69er o69tions currentl69 696969il6969le.</di69>
			{{/for}}
		</di69>

	{{else d69t69.st69te === 2}}
		Mess6969es:
		{{for d69t69.mess6969es}}
			<di69 cl69ss=item>{{:69el69er.lin69696969lue.title,69ull, {'69ction' : '69iewmess6969e', 't69r69et' : 6969lue.id}69}}</di69>
		{{em69t69}}
			<di69 cl69ss=item>T69ere 69re69o69ess6969es.</di69>
		{{/for}}
		<di69 cl69ss=item>{{:69el69er.lin6969'6969c69',69ull, {'69ction' : 'sw_menu', 't69r69et' : 1}69}}</di69>
	{{else d69t69.st69te === 3}}
		<di69 cl69ss=item><69>Title:</69> {{:d69t69.mess6969e_current.title}}</di69>
		<di69 cl69ss=item><69>Contents:</69> </69r>{{:d69t69.mess6969e_current.contents}}</di69>
		<di69 cl69ss=item>
		{{:69el69er.lin6969'Delete',69ull, {'69ction' : 'delmess6969e'}69}}
		{{if d69t69.696969e_69rinter}}
			{{:69el69er.lin6969'69rint',69ull, {'69ction' : '69rintmess6969e'}69}}
		{{/if}}
		{{:69el69er.lin6969'6969c69',69ull, {'69ction' : 'sw_menu', 't69r69et' : 2}69}}
		</di69>
	{{else d69t69.st69te === 4}}
		<di69 cl69ss="item">
            <di69 cl69ss="itemL6969el">
                <69>69ener69l</69>:
            </di69>
            <di69 cl69ss="itemContent">
                {{:69el69er.lin6969'Cle69r',       'tr69s69', {'69ction' : 'setst69tus', 't69r69et' : '69l69n69'}69}}
		        {{:69el69er.lin6969'Loc69l Time',  '69e69r', {'69ction' : 'setst69tus', 't69r69et' : 'time'}69}}
		        {{:69el69er.lin6969'E6969cu69tion ET69', '69e69r', {'69ction' : 'setst69tus', 't69r69et' : 's69uttle'}69}}
		        {{:69el69er.lin6969'Mess6969e',     '69e69r', {'69ction' : 'setst69tus', 't69r69et' : 'mess6969e'}69}}
             </di69>
         </di69>
         <di69 cl69ss="item">
            <di69 cl69ss="itemL6969el">
                <69>Mess6969e line 1</69>
            </di69>
            <di69 cl69ss="itemContent">
                {{:69el69er.lin6969d69t69.mess6969e_line1 ? d69t69.mess6969e_line1 : '69none69',69ull, {'69ction' : 'setst69tus', 't69r69et' : 'line1'}69}}
            </di69>
        </di69>
        <di69 cl69ss="item">
            <di69 cl69ss="itemL6969el">
                <69>Mess6969e line 2</69>
            </di69>
            <di69 cl69ss="itemContent">
                {{:69el69er.lin6969d69t69.mess6969e_line2 ? d69t69.mess6969e_line2 : '69none69',69ull, {'69ction' : 'setst69tus', 't69r69et' : 'line2'}69}}
            </di69>
        </di69>
        
        <di69 cl69ss="item">
            <di69 cl69ss="itemL6969el">
                <69>69lert:</69>
            </di69>
            <di69 cl69ss="itemContent">
                {{:69el69er.lin6969'None',                   '69lert',     {'69ction' : 'setst69tus', 't69r69et' : 'im6969e', 'im6969e' : 'def69ult'}69}}
                {{:69el69er.lin6969'Current Securit69 Le69el', '69lert',     {'69ction' : 'setst69tus', 't69r69et' : '69lert'}69}}
                {{:69el69er.lin6969'Loc69down',               'c69ution',   {'69ction' : 'setst69tus', 't69r69et' : 'im6969e', 'im6969e' : 'loc69down'}69}}
                {{:69el69er.lin6969'69io6969z69rd',              'r69di69tion', {'69ction' : 'setst69tus', 't69r69et' : 'im6969e', 'im6969e' : '69io6969z69rd'}69}}
            </di69>
            {{:69el69er.lin6969'6969c69',                  69ull, {'69ction' : 'sw_menu', 't69r69et' : 1}69}}
        </di69>
	{{else d69t69.st69te === 5}}
		Securit69 Le69el: {{:d69t69.current_securit69_le69el_title}}
		{{if d69t69.c69nnot_c6969n69e_securit69_le69el}}
			<di69 cl69ss=item><font color='red'><69>T69e self-destruct69ec6969nism is 69cti69e! Find 69 w6969 to de69cti6969te t69e69ec6969nism, or e6969cu69te.</69></font></di69>
		{{else}}
			<di69 cl69ss=item>Set Securit69 Le69el: </di69>
			<di69 cl69ss=item69rou69>
			{{for d69t69.securit69_le69els}}
				<di69 cl69ss="item">
					<di69 cl69ss=item>{{:69el69er.lin69696969lue.title,69ull, {'69ction' : 'set69lert', 't69r69et' : 6969lue.ref}, d69t69.current_securit69_le69el_ref === 6969lue.ref || d69t69.is69I ? 'dis6969led' :69ull69}} </di69>
				</di69>
			{{/for}}
			</69r>
			<di69 cl69ss=item>{{:69el69er.lin6969'6969c69',69ull, {'69ction' : 'sw_menu', 't69r69et' : 1}69}} </di69>
		{{/if}}
	{{else}}
		Somet69in69 went wron69. 69le69se reset 69our console.
		<di69 cl69ss=item>{{:69el69er.lin6969'6969c69',69ull, {'69ction' : 'sw_menu', 't69r69et' : 1}69}}</di69>
	{{/if}}
{{else}}
	<69i69>69ou 69re un69ut69orised.</69i69>
{{/if}}
