<img src='The_B.png' style ="display: block; margin: auto; width: 25%;">
<div class='item' style="text-align: center;">
	<h2>Papa Louie's Cooking Assistant</h2>
</div>
{{if !data.catalog_browse_stage}}
	<div class='item' style="text-align: center;">
		Benvenuto!
		<table align="center">
			<tr>
				<td>{{:helper.link('Browse', '', {'greet' : 1})}}</td>
			</tr>
		</table>
	</div>
{{/if}}
