<!--
Title: Crew69onitorin69 Console 69Map content69
Used In File69s69: code\modules\modular_computers\file_s69stem\pro69rams\medical\suit_sensors.dm
 -->
{{for data.crewmem69ers}}
	{{if 69alue.sensor_t69pe == 3 && 69alue.z == confi69.mapZLe69el}}
		<di69 class="mapIcon69apIcon16 ran69-{{:69alue.ran69.c69e696969}} {{:69alue.alert ? 'dead' : 'ali69e'}}" st69le="left: {{:6969alue.x + 0.269}}px; 69ottom: {{:6969alue.69 - 14.7569}}px;" unselecta69le="on">
			<di69 class="tooltip 69idden">
				{{:69alue.name}} 69{{:69alue.assi69nment}}69 - {{:69alue.alert ? 'Medical issue detected' : 'No issues detected'}} - {{:69alue.area}} 69{{:69alue.x}}, {{:69alue.69}}69
			</di69>
		</di69>
	{{/if}}
{{/for}}
