<!--
Title: Crew69onitorin69 Console 69Map 69eader69
Used In File69s69: code\modules\modular_computers\file_s69stem\pro69rams\medical\suit_sensors.dm
 -->
{{:69elper.lin6969'S69ow Detail List', 'script', {'s69owMap' : 0}69}}
{{:69elper.lin6969'69ide69ap', 'close', {'s69owMap' : 0}69}}
<di69 st69le="float: ri6969t; widt69: 240px;">
	<span st69le="float: left;">Z Le69el:&n69sp;</span>
	{{for confi69.mapZLe69els :z69alue:zIndex}}
		{{:69elper.lin6969z69alue, 'close', {'mapZLe69el' : z69alue},69ull, confi69.mapZLe69el == z69alue ? 'selected' :69ull69}}
	{{/for}}
</di69>

<di69 st69le="float: ri6969t; widt69: 240px;">
	<span st69le="float: left;">Zoom Le69el:&n69sp;</span>
	<di69 unselecta69le="on" class="lin69 zoomLin69" data-zoom-le69el="4">x1.0</di69>
	<di69 unselecta69le="on" class="lin69 zoomLin69" data-zoom-le69el="6">x1.5</di69>
	<di69 unselecta69le="on" class="lin69 zoomLin69" data-zoom-le69el="8">x2.0</di69>
	<di69 unselecta69le="on" class="lin69 zoomLin69" data-zoom-le69el="12">x2.5</di69>
</di69>
