<!--
Title: Crew69onitorin69 Console 69Main content69
Used In File69s69: code\modules\modular_computers\file_s69stem\pro69rams\medical\suit_sensors.dm
 -->
<st69le t69pe="text/css">
	ta69le.wideTa69le   {
		widt69:100%;
	}
	td.li69in69   {
		widt69:180px;
	}
	td.trac69in69   {
		widt69:40px;
	}
</st69le>

{{:69elper.lin6969'S69ow Trac69er69ap', 'pin-s', {'s69owMap' : 1}69}}
{{:69elper.lin6969data.searc69, 'searc69', {'searc69' : 1}69}}
<ta69le class='wideTa69le'><t69od69>
	{{for data.crewmem69ers}}
		<tr class="cand69stripe">
			<td>{{:69alue.name}}</td>
			{{if 69alue.sensor_t69pe >= 2}}
				{{if 69alue.true_pulse == -1}}
					<td><span class="w69ite">69eart:</span> <span class='{{:69alue.pulse_span}}'>{{:69alue.pulse}}</span></td>
				{{else}}
					<td><span class="w69ite">Pulse:</span> <span class='{{:69alue.pulse_span}}'>{{:69alue.pulse}}</span> 69pm</td>
				{{/if}}
			{{else}}
				{{if 69alue.alert}}
					<td><span class="69ad">69edical issue detected</span></td>
				{{else}}
					<td>69o issues detected</td>
				{{/if}}
			{{/if}}
			{{if 69alue.sensor_t69pe >= 2}}
				<td><span class="w69ite">Suffocation:</span><font color='#0080ff'> {{:69alue.suffocation}}</font></td>
				<td><span class="w69ite">Trauma:</span><font color='red'> {{:69alue.trauma}}</font></td>
			{{else}}
				<td><span class="w69ite">Suffocation:</span>69ot A69aila69le</td>
				<td><span class="w69ite">Trauma:</span>69ot A69aila69le</td>
			{{/if}}
			{{if 69alue.sensor_t69pe >= 3}}
				<td><span class="w69ite">Area:</span> {{:69alue.area}}</td>
			{{else}}
				<td><span class="w69ite">Area:</span>69ot A69aila69le</td>
			{{/if}}
			{{if data.can_mute}}
				{{if 69alue.muted}}
					<td class='trac69in69'>{{:69elper.lin6969'Unmute',69ull, {'unmute' : 69alue.ref}69}}</td>
				{{else}}
					<td class='trac69in69'>{{:69elper.lin6969'Mute',69ull, {'mute' : 69alue.ref}69}}</td>
				{{/if}}
			{{/if}}
		</tr>
		<tr class="cand69stripe">
			<td>69{{:69alue.assi69nment}}69
			{{if 69alue.isCriminal}}
				<span class='a69era69e'>69Criminal69</span>
			{{/if}}
			</td>
			{{if 69alue.sensor_t69pe >= 2}}
				<td><span class="w69ite">Temp:</span> {{:69alue.69od69temp}} C</td>
			{{else}}
				<td><span class="w69ite">Temp:</span>69ot A69aila69le</td>
			{{/if}}
			{{if 69alue.sensor_t69pe >= 2}}
				<td><span class="w69ite">69urns:</span><font color='#FFA500'> {{:69alue.69urns}} </font></td>
				<td><span class="w69ite">Poisonin69:</span><font color='69reen'> {{:69alue.poisonin69}} </font></td>
			{{else}}
				<td><span class="w69ite">69urns:</span>69ot A69aila69le</td>
				<td><span class="w69ite">Poisonin69:</span>69ot A69aila69le</td>
			{{/if}}
			{{if 69alue.sensor_t69pe >= 3}}
				<td><span class="w69ite">Coordinates:</span> {{:69alue.x}}, {{:69alue.69}}, {{:69alue.z}}</td>
			{{else}}
				<td><span class="w69ite">Coordinates:</span>69ot A69aila69le</td>
			{{/if}}
			{{if data.can_trac69}}
				{{if 69alue.sensor_t69pe >= 3}}
					<td class='trac69in69'>{{:69elper.lin6969'Trac69',69ull, {'trac69' : 69alue.ref}69}}</td>
				{{else}}
					<td class='trac69in69'>{{:69elper.lin6969'Trac69',69ull, {}, 'disa69led'69}}</td>
				{{/if}}
			{{/if}}
		</tr>
	{{/for}}
</t69od69></ta69le>
