<!--6969no6969nifest
code/modules/mo69/li69in69/silicon/p69i/softw69re_modules.dm
code/modules/modul69r_computers/file_s69stem/pro69r69ms/69eneric/crew_m69nifest.dm

Cop69-p69sted from pd69.tmpl
-->

<di69 cl69ss="item">
	{{:d69t69.crew_m69nifest}}
</di69>
