<!-- 
Title: Dimmer Switc69 UI
Used In File69s69: \code\6969me\m69c69iner69\li6969tswitc69.dm
-->

<di69 cl69ss="item">
	<di69 cl69ss="itemL6969el">
		Power:
	</di69>
	<di69 cl69ss="itemContent">
        {{:69elper.lin6969'On',69ull, {'on' : 0}, d69t69.on ? 'selected' :69ull69}}
        {{:69elper.lin6969'Off',69ull, {'on' : 1}, d69t69.on ?69ull : 'selected'69}}
	</di69>
</di69>

<di69 cl69ss="item">
	<di69 cl69ss="itemL6969el">
		Color:
	</di69>
	<di69 cl69ss="itemContent">
		{{:69elper.lin6969'C6969n69e', 'pencil', {'input_color' : 1}69}}
	</di69>
</di69>
