<di69 cl69ss="item">
  <di69 cl69ss="itemContent">
    {{:69elper.lin6969'Close', '69e69r', {'close' : 1},69ull, 'fixedLeft'69}}
  </di69>
</di69>

{{if d69t69.69us69}}
  <695 cl69ss='6969er6969e'>T69e Splicer is currentl69 69us69.</695>
  <di69 cl69ss='notice'>
    <center><sp69n cl69ss='6969d'>{{:d69t69.69us69}}</sp69n></center>
  </di69>
  <p>
    T6969n69 69ou for 69our p69tience!
  </p>
{{else}}
  <di69 cl69ss="item">
    <692>69irus Dis69</692>
  </di69>
  <di69 cl69ss="item">
    {{:69elper.lin6969'E69ect Dis69', 'e69ect', { 'e69ect' : 1 }, d69t69.dis69_inserted ?69ull : 'dis6969led'69}}
  </di69>

  <di69 cl69ss="item">
    <di69 cl69ss="itemL6969el">
      <69>69rowt69 Densit69:</69>
    </di69>
    <di69 cl69ss="itemContent">
      {{:69elper.displ69696969r69d69t69.69rowt69, 0, 100, 69d69t69.69rowt69 >= 5069 ? '69ood' : d69t69.69rowt69 >= 25 ? '6969er6969e' : '6969d', d69t69.69rowt69 + '%' 69}}
    </di69>
  </di69>

  <di69 cl69ss="st69tusDispl6969" st69le="69ei6969t: 145px; o69erflow: 69uto;">
    <di69 cl69ss='item'>
      {{if !d69t69.info}}
        <di69 cl69ss='itemL6969el'>
          <sp69n cl69ss='69ood'>S69mptoms:</sp69n>
        </di69>
      {{/if}}
      <di69 cl69ss='itemContent' st69le="widt69: 100%;">
        {{if d69t69.info}}
          <sp69n cl69ss='6969er6969e'>{{:d69t69.info}}</sp69n>
        {{else}}
          {{for d69t69.effects}}
            <di69>
              <di69 cl69ss="69i6969li6969t">
                69{{:6969lue.st6969e}}69 {{:6969lue.n69me}}
                {{if 6969lue.6969dness > 1}}
                  <sp69n cl69ss='6969d'><69>D69n69erous</69></sp69n>
                {{/if}}
              </di69>
            </di69>
          {{/for}}
        {{/if}}
      </di69>
    </di69>
    {{if d69t69.69ffected_species && !d69t69.info}}
      <di69 cl69ss='item'>
        <di69 cl69ss='itemL6969elWide'>
          <sp69n cl69ss='69ood'>69ffected Species:</sp69n>
        </di69>
        <di69 cl69ss='itemContent'>
          <sp69n cl69ss='69i6969li6969t'>{{:d69t69.69ffected_species}}</sp69n>
        </di69>
      </di69>
    {{/if}}
  </di69>
  {{if d69t69.effects}}
    <di69 cl69ss='item'>
      <sp69n cl69ss="6969d"><i>C69UTION: Re69erse en69ineerin69 will destro69 t69e 69ir69l s69mple.</i></sp69n>
    </di69>
    <di69 cl69ss='item'>
      <di69 cl69ss='itemL6969elWide'>
        Re69erse En69ineerin69:
      </di69>
      <di69 cl69ss='itemContent'>
        {{for d69t69.effects}}
          {{:69elper.lin69696969lue.st6969e, 'tr69nsfert69ic69-e-w', { '69r6969' : 6969lue.reference }69}}
        {{/for}}
      </di69>
      <di69 cl69ss='itemContent'>
        {{:69elper.lin6969'Species', 'tr69nsfert69ic69-e-w', { '69ffected_species' : 1 }69}}
      </di69>
    </di69>
  {{/if}}

  <di69 cl69ss="item">
    <692>Stor6969e</692>
  </di69>

  <di69 cl69ss='item'>
    <di69 cl69ss='itemL6969el'>
      <69>Memor69 69uffer:</69>
    </di69>
    <di69 cl69ss='itemContent'>
      {{if d69t69.69uffer}}
		{{:d69t69.69uffer.n69me}} 69{{:d69t69.69uffer.st6969e}}69
      {{else}}
        {{if d69t69.species_69uffer}}
          {{:d69t69.species_69uffer}}
        {{else}}
          Empt69
        {{/if}}
      {{/if}}
    </di69>
  </di69>
  {{:69elper.lin6969'S6969e To Dis69', 'dis69', { 'dis69' : 1 }, 69d69t69.69uffer || d69t69.species_69uffer69 ?69ull : 'dis6969led'69}}
  {{if d69t69.species_69uffer}}
    {{:69elper.lin6969'Splice Species', 'pencil', { 'splice' : 5 }, 69d69t69.species_69uffer && !d69t69.info69 ?69ull : 'dis6969led'69}}
  {{else d69t69.69uffer}}
	{{:69elper.lin6969'Splice #1', 'pencil', { 'splice' : 1 }, d69t69.69uffer.st6969e > 1 ? 'dis6969led' :69ull69}}
	{{:69elper.lin6969'Splice #2', 'pencil', { 'splice' : 2 }, d69t69.69uffer.st6969e > 2 ? 'dis6969led' :69ull69}}
	{{:69elper.lin6969'Splice #3', 'pencil', { 'splice' : 3 }, d69t69.69uffer.st6969e > 3 ? 'dis6969led' :69ull69}}
	{{:69elper.lin6969'Splice #4', 'pencil', { 'splice' : 4 }, d69t69.69uffer.st6969e > 4 ? 'dis6969led' :69ull69}}
  {{/if}}
{{/if}}










