{{if !data.linked}}
	<tbody>
		<td><span class="white">Connection failed.</span></td>
	</tbody>
{{else !data.occupied}}
	<tbody>
		<td><span class="white">Test subject is missing.</span></td>
	</tbody>
{{else}}
	<tbody>
		<div align="center">
		<tr><td><span class="white">Test subject\'s biometric data:</span></td></tr>
		</div>
		<div align="left">
		<tr><td><span class="white">Species:  </span> {{:data.species}}</td></tr>
		<tr><td><span class="white">Blood type:  </span> {{:data.b_type}}</td></tr>
		<tr><td><span class="white">Biological age:  </span> {{:data.age}}</td></tr>
		<tr><td><span class="white">DNA signature:  </span> {{:data.dna_trace}}</td></tr>
		<tr><td><span class="white">Fingerprint pattern:  </span> {{:data.fingers_trace}}</td></tr>
		<tr><td><span class="white">Active mutations:  </span> {{:data.active_mutations}}</td></tr>
		<tr><td><span class="white">Dormant mutations:  </span> {{:data.dormant_mutations}}</td></tr>
		</div>
		<br>
		<hr>
		<tr><td>{{:helper.link('Save all data', null, {'save_all' : 1})}}</td></tr>
		<tr><td>{{:helper.link('Save personal enzymes', null, {'save_pe' : 1})}}</td></tr>
		<tr><td>{{:helper.link('Save mutations', null, {'save_ue' : 1})}}</td></tr>
	</tbody>
{{/if}}
