{{if !data.linked}}
	<tbody>
		<td><span class="white">Connection failed.</span></td>
	</tbody>
{{else !data.occupied}}
	<tbody>
		<td><span class="white">Test subject is missing.</span></td>
	</tbody>
{{else}}
	<tbody>
		<div align="center">
		<tr><td><span class="white">Test subject's biometric data:</span></td></tr>
		</div>
		<div align="left">
		<tr><td>Species:   {{:data.species}}</td></tr>
		<tr><td>Blood type:   {{:data.b_type}}</td></tr>
		<tr><td>Biological age:   {{:data.age}}</td></tr>
		<tr><td>DNA signature:   {{:data.dna_trace}}</td></tr>
		<tr><td>Fingerprint pattern:   {{:data.fingers_trace}}</td></tr>
		<tr><td>Active mutations:   {{:data.active_mutations}}</td></tr>
		<tr><td>Dormant mutations:   {{:data.dormant_mutations}}</td></tr>
		</div>
		<br>
		<hr>
		<tr><td>{{:helper.link('Save all data', null, {'save_all' : 1})}}</td></tr>
		<tr><td>{{:helper.link('Save personal enzymes', null, {'save_pe' : 1})}}</td></tr>
		<tr><td>{{:helper.link('Save mutations', null, {'save_ue' : 1})}}</td></tr>
	</tbody>
{{/if}}
