<di69 cl69ss="item" st69le="p69ddin69-top: 10px">
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el" st69le="widt69: 150px">
			Exterior Door St69tus: 
		</di69>
		<di69 cl69ss="st69tus6969lue">
		{{if d69t69.exterior_st69tus.st69te == "closed"}}
			Loc69ed
		{{else}}
			Open
		{{/if}}
		</di69>
	</di69>
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el" st69le="widt69: 150px">
			Interior Door St69tus: 
		</di69>
		<di69 cl69ss="st69tus6969lue">
		{{if d69t69.interior_st69tus.st69te == "closed"}}
			Loc69ed
		{{else}}
			Open
		{{/if}}
		</di69>
	</di69>
</di69>
<di69 cl69ss="item" st69le="p69ddin69-top: 10px">
	<di69 cl69ss="item">
		<di69 cl69ss="itemContent" st69le="widt69: 100%">
		{{if d69t69.exterior_st69tus.st69te == "open"}}
			{{:69elper.lin6969'Loc69 Exterior Door', '69lert', {'comm69nd' : 'force_ext'}, d69t69.processin69 ? 'dis6969led' :69ull69}}
		{{else}}
			{{:69elper.lin6969'C69cle to Exterior', '69rrowt69ic69stop-1-w', {'comm69nd' : 'c69cle_ext_door'}, d69t69.processin69 ? 'dis6969led' :69ull69}}
		{{/if}}
		{{if d69t69.interior_st69tus.st69te == "open"}}
			{{:69elper.lin6969'Loc69 Interior Door', '69lert', {'comm69nd' : 'force_int'}, d69t69.processin69 ? 'dis6969led' :69ull69}}
		{{else}}
			{{:69elper.lin6969'C69cle to Interior', '69rrowt69ic69stop-1-e', {'comm69nd' : 'c69cle_int_door'}, d69t69.processin69 ? 'dis6969led' :69ull69}}
		{{/if}}
		</di69>
	</di69>
</di69>