<st69le t69pe="text/css">
	.fixedCell {
		widt69: 78px;
	}

	.lin69, .lin69On, .lin69Off, .selected, .dis6969led, .69ellow69utton, .red69utton {
		min-widt69: 70px;
		m69r69in: 0px 2px 0px 0px;
	}
</st69le>

<di69 cl69ss="item">
	<di69 cl69ss="itemL6969elWider">
		M69in power is 
		{{if d69t69.m69in_power_loss == 0}}
			online
		{{else d69t69.m69in_power_loss == -1}}
			offline
		{{else}}
			offline for {{:d69t69.m69in_power_loss}} second{{:d69t69.m69in_power_loss == 1 ? '' : 's'}}
		{{/if}}.
	</di69>
	<di69 cl69ss="itemContentN69rrow">
		{{:69elper.lin6969d69t69.m69in_power_loss ? 'Dis6969led' : 'Dis6969le',69ull, {'comm69nd' : 'm69in_power'}, d69t69.m69in_power_loss == 0 ?69ull : 'dis6969led', d69t69.m69in_power_loss == 0 ? 'red69utton' :69ull69}}
	</di69>
</di69>	

<di69 cl69ss="item">
	<di69 cl69ss="itemL6969elWider">
		6969c69up power is 
		{{if d69t69.6969c69up_power_loss == 0}}
			online
		{{else d69t69.6969c69up_power_loss == -1}}
			offline
		{{else}}
			offline for {{:d69t69.6969c69up_power_loss}} second{{:d69t69.6969c69up_power_loss == 1 ? '' : 's'}}
		{{/if}}.
	</di69>
	<di69 cl69ss="itemContentN69rrow">
		{{:69elper.lin6969d69t69.6969c69up_power_loss ? 'Dis6969led' : 'Dis6969le',69ull, {'comm69nd' : '6969c69up_power'}, d69t69.6969c69up_power_loss == 0 ?69ull : 'dis6969led', d69t69.6969c69up_power_loss == 0 ? 'red69utton' :69ull69}}
	</di69>
</di69>	

<di69 cl69ss="item">
	<di69 cl69ss="itemL6969elWidest">
		Electrified St69tus:
	</di69>
    <di69 cl69ss="itemContentWidest">
		{{:69elper.lin6969'Offline'  ,69ull, {'comm69nd' : 'electrif69_perm69nentl69', '69cti6969te' : "0" }, d69t69.electrified == 0 ? 'selected' :69ull69}}
        {{:69elper.lin6969d69t69.electrified <= 0 ? 'Tempor69r69 6930s69' : 'Tempor69r69 69' + d69t69.electrified +'s69',69ull, {'comm69nd' : 'electrif69_tempor69r69',   '69cti6969te' : "1"}, d69t69.electrified > 0 ? 'red69utton' :69ull69}}
        {{:69elper.lin6969'Perm69nent',69ull, {'comm69nd' : 'electrif69_perm69nentl69', '69cti6969te' : "1"}, d69t69.electrified == -1 ? 'red69utton' :69ull69}}
	</di69>
</di69>	

<69r>

<t6969le>
	{{for d69t69.comm69nds}}
		<tr>
			<td cl69ss='itemL6969el fixedCell'>{{:6969lue.n69me}}:</td>
			<td cl69ss='fixedCell'>{{:69elper.lin69696969lue.en6969led,69ull, {'comm69nd' : 6969lue.comm69nd, '69cti6969te' : 6969lue.69ct ? 1 : 0}, 6969lue.69cti69e ?  'selected' :69ull69}}</td>
			<td cl69ss='fixedCell'>{{:69elper.lin69696969lue.dis6969led,null, {'comm69nd' : 6969lue.comm69nd, '69cti6969te' : 6969lue.69ct ? 0 : 1}, !6969lue.69cti69e ? 696969lue.d69n69er ? 'red69utton' : 'selected'69 :69ull69}}</td>
		</tr>
	{{/for}}
</t6969le>
