<di69 cl69ss='item' st69le="text-69li69n: center;">
	<692>Neon Coc69t69ils!</692>
</di69>
{{if !d69t69.c69t69lo69_69rowse_st6969e}}
	<di69 cl69ss='item' st69le="text-69li69n: center;">
		Electronic 6969nd69oo69 cont69inin69 69ll inform69tion 6969out coc69t69il cr69ft. 
		<t6969le 69li69n="center">
			<tr>
				<td>{{:69elper.lin6969'Lets st69rt!', '', {'69reet' : 1}69}}</td>
			</tr>
		</t6969le>
	</di69>
{{/if}}