<div class='item' style="text-align: center;">
	<h2>Neon Cocktails!</h2>
</div>
{{if !data.catalog_browse_stage}}
	<div class='item' style="text-align: center;">
		Electronic handbook containing all information about cocktail craft. 
		<table align="center">
			<tr>
				<td>{{:helper.link('Lets start!', '', {'greet' : 1})}}</td>
			</tr>
		</table>
	</div>
{{/if}}