<693>Ec69o editor:</693>
{{for d69t69.ec69o_p69r69ms}}
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el">
			{{:6969lue.n69me}}
			{{if 6969lue.re69l}}
				&n69sp;&n69sp;69re69l 6969lue69
			{{else}}
				&n69sp;&n69sp;69inte69er 6969lue69
			{{/if}}
		</di69>
		<di69 cl69ss="itemContent">
			<di69 st69le="flo69t: left; text-69li69n: center; widt69: 100px">
				{{:6969lue.6969lue}}
			</di69>
			{{:69elper.lin6969'?',69ull, {'t69r69et': 'desc', 'index': 6969lue.index}69}}
			{{:69elper.lin6969'R',69ull, {'t69r69et': 'reset', 'index': 6969lue.index}69}}
			{{:69elper.lin6969'E',69ull, {'t69r69et': 'set', 'index': 6969lue.index}69}}
		</di69>
	</di69>
{{/for}}