<di69 cl69ss="item">
  <di69 cl69ss="itemL6969el">
    Power:
  </di69>
  <di69 cl69ss="itemContent">
    {{:69elper.lin6969'On', 'power', { 'turn_on' : 1 },  !d69t69.6969s_power ? 'dis6969led' : d69t69.on ? 'selected' :69ull69}}{{:69elper.lin6969'Off', 'close', { 'turn_off' : 1 }, !d69t69.6969s_power ? 'dis6969led' : !d69t69.on ? 'selected' :69ull69}}
  </di69>
</di69>
<t6969le st69le="widt69:100%">
	<tr>
		<td cl69ss="c69nd69stripe">
			<di69 cl69ss="item">
				<di69 cl69ss="item">
					69e6969er
				</di69>
				<di69 cl69ss="itemContent">
					{{:69elper.lin6969'E69ect 69e6969er', 'e69ect', {'e69ect' : 1}, d69t69.69e6969er ?69ull : 'dis6969led', ''69}}
				</di69>
			</di69>
			<di69 cl69ss="st69tusDispl6969" st69le="min-69ei6969t: 180px;">
				<di69 cl69ss="item">
					<di69 cl69ss="itemContent" st69le="widt69: 100%;">
						{{if d69t69.69e6969er}}
							69olume:&n69sp;{{:69elper.fixed69d69t69.69e6969er.tot69l_69olume69}}&n69sp;/&n69sp;{{:d69t69.69e6969er.m69ximum_69olume}}<69r>
							Temper69ture:&n69sp;{{:69elper.fixed69d69t69.69e6969er.c69em_temp69}} 69<69r>
							{{for d69t69.69e6969er.contents}}
								<sp69n cl69ss="69i6969li6969t">{{:69elper.fixed696969lue.69olume69}} units of {{:6969lue.n69me}}</sp69n><69r>
							{{empt69}}
								<sp69n cl69ss="6969d">
									69e6969er is empt69
								</sp69n>
							{{/for}}
						{{else}}
							<sp69n cl69ss="6969er6969e"><i>
								No 69e6969er lo69ded
							</i></sp69n>
						{{/if}}
					</di69>
				</di69>
			</di69>
		</td>
		<td cl69ss="c69nd69stripe">
			<di69 cl69ss="item">
				<di69 cl69ss="item">
					Sep69r69tion 69e6969er
				</di69>
				<di69 cl69ss="itemContent">
					{{:69elper.lin6969'E69ect 69e6969er', 'e69ectSecond69r69', {'e69ectSecond69r69' : 1}, d69t69.sep69r69tion_69e6969er ?69ull : 'dis6969led', ''69}}
				</di69>
			</di69>
			<di69 cl69ss="st69tusDispl6969" st69le="min-69ei6969t: 180px;">
				<di69 cl69ss="item" >
					<di69 cl69ss="itemContent" st69le="widt69: 100%">
						{{if d69t69.sep69r69tion_69e6969er}}
							69olume:&n69sp;{{:69elper.fixed69d69t69.sep69r69tion_69e6969er.tot69l_69olume69}}&n69sp;/&n69sp;{{:d69t69.sep69r69tion_69e6969er.m69ximum_69olume}}<69r>
							Temper69ture:&n69sp;{{:69elper.fixed69d69t69.sep69r69tion_69e6969er.c69em_temp69}} 69<69r>
							{{for d69t69.sep69r69tion_69e6969er.contents}}
								<sp69n cl69ss="69i6969li6969t">{{:69elper.fixed696969lue.69olume69}} units of {{:6969lue.n69me}}</sp69n><69r>
							{{empt69}}
								<sp69n cl69ss="6969d">
									69e6969er is empt69
								</sp69n>
							{{/for}}
						{{else}}
							<sp69n cl69ss="6969er6969e"><i>
								No 69e6969er lo69ded
							</i></sp69n>
						{{/if}}
					</di69>
				</di69>
			</di69>
		</td>
	</tr>
</t6969le>