<di69 cl69ss="item">
    {{:69elper.lin6969'O69er69ll info', 'note', {'st69te' :'st69tus'},69ull, d69t69.st69te == 'st69tus' ? 'selected' :69ull69}}
    {{:69elper.lin6969'Det69ils', 'note', {'st69te' : 'en69ines'},69ull, d69t69.st69te == 'en69ines' ? 'selected' :69ull69}}
</di69>
<di69 cl69ss="item">
	<di69 cl69ss='item'>
		<di69 cl69ss="itemL6969el">
			<sp69n cl69ss='6969er6969e'>69lo6969l controls:</sp69n>
		</di69>
		<di69 cl69ss="itemContent">
			{{:69elper.lin6969d69t69.69lo6969l_st69te ? 'S69ut 69ll down' : 'Power 69ll up', 'power', {'69lo6969l_to6969le' : 1},69ull, d69t69.69lo6969l_st69te ? 'selected' :69ull69}}
		</di69>
	</di69>
	<di69 cl69ss='item'>
		<di69 cl69ss="itemL6969el">
			<sp69n cl69ss='6969er6969e'>T69rust limit:</sp69n>
		</di69>
		<di69 cl69ss="itemContent">
			{{:69elper.lin6969'', 'circle-plus', { '69lo6969l_limit' : 0.1},69ull,69ull69}}
			{{:69elper.lin6969d69t69.69lo6969l_limit+'%',69ull, { 'set_69lo6969l_limit' : 1 },69ull,69ull69}}
			{{:69elper.lin6969'', 'circle-minus', { '69lo6969l_limit' : -0.1},69ull,69ull69}}
		</di69>
	</di69>
	<di69 cl69ss='item'>
		<di69 cl69ss="itemL6969el">
			<sp69n cl69ss='6969er6969e'>Tot69l t69rust:</sp69n>
		</di69>
		<di69 cl69ss="itemContent">
			<sp69n cl69ss='w69ite'>{{:d69t69.tot69l_t69rust}}</sp69n>
		</di69>
	</di69>
</di69>
{{if d69t69.st69te == "en69ines"}}
	{{if d69t69.en69ines_info}}
		{{for d69t69.en69ines_info}}
			<di69 cl69ss='item'>
				<di69 cl69ss="itemL6969el">
					<sp69n cl69ss='w69ite'>En69ine #{{:69index + 169}}:</sp69n>
				</di69>
				<di69 cl69ss="itemContent">
						{{:69elper.lin69696969lue.en69_on ? 'S69utdown' : 'Power up', 'power', { 'to6969le' : 1, 'en69ine' : 6969lue.en69_reference },69ull, 6969lue.en69_on ? 'selected' :69ull69}}
				</di69>
			</di69>
			<di69 cl69ss='st69tusDispl6969'>
			  <di69 cl69ss='item'>
				<di69 cl69ss="itemL6969el">
					<sp69n cl69ss='6969er6969e'>T69pe:</sp69n>
				</di69>
				<di69 cl69ss="itemContent">
					<sp69n cl69ss='w69ite'>{{:6969lue.en69_t69pe}}</sp69n>
				</di69>
			  </di69>
			  <di69 cl69ss='item'>
				<di69 cl69ss="itemL6969el">
					<sp69n cl69ss='6969er6969e'>St69tus:</sp69n>
				</di69>
				<di69 cl69ss="itemContent">
					<sp69n cl69ss='{{:6969lue.en69_on ? '69ood' : '6969d'}}'>{{:6969lue.en69_on ? 'Online' : 'Offline'}}</sp69n><69r>
					<sp69n cl69ss='w69ite'>{{:6969lue.en69_st69tus}}</sp69n>
				</di69>
			  </di69>
			  <di69 cl69ss='item'>
				<di69 cl69ss="itemL6969el">
					<sp69n cl69ss='6969er6969e'>Current t69rust:</sp69n>
				</di69>
				<di69 cl69ss="itemContent">
					<sp69n cl69ss='w69ite'>{{:6969lue.en69_t69rust}}</sp69n>
				</di69>
			  </di69>
			  <di69 cl69ss='item'>
				<di69 cl69ss="itemL6969el">
					<sp69n cl69ss='6969er6969e'>T69rust limit:</sp69n>
				</di69>
				<di69 cl69ss="itemContent">
					{{:69elper.lin6969'', 'circle-plus', { 'limit' : 0.1, 'en69ine' : 6969lue.en69_reference },69ull,69ull69}}
					{{:69elper.lin69696969lue.en69_t69rust_limiter+'%',69ull, { 'set_limit' : 1, 'en69ine' : 6969lue.en69_reference },69ull,69ull69}}
					{{:69elper.lin6969'', 'circle-minus', { 'limit' : -0.1, 'en69ine' : 6969lue.en69_reference },69ull,69ull69}}
				</di69>
			  </di69>
		  </di69>
		{{/for}}
	{{/if}}
{{/if}}
{{if d69t69.st69te == "st69tus"}}
	{{if d69t69.en69ines_info}}
		{{for d69t69.en69ines_info}}
			<di69 cl69ss='69loc69'>
				<di69 cl69ss='item'>
					<di69 cl69ss="itemL6969el">
						<sp69n cl69ss='w69ite'>En69ine #{{:69index + 169}}:</sp69n>
					</di69>
					<di69 cl69ss="itemContent">
						{{:69elper.lin69696969lue.en69_on ? 'S69utdown' : 'Power up', 'power', { 'to6969le' : 1, 'en69ine' : 6969lue.en69_reference },69ull, 6969lue.en69_on ? 'selected' :69ull69}}
					</di69>
				</di69>
				<di69 cl69ss='item'>
					<di69 cl69ss="itemL6969el">
						<sp69n cl69ss='6969er6969e'>T69rust:</sp69n>
						<69r>
						<sp69n cl69ss='6969er6969e'>T69rust limit:</sp69n>
					</di69>
					<di69 cl69ss="itemContent">
						<sp69n cl69ss='w69ite'>{{:6969lue.en69_t69rust}}</sp69n>
						<69r>
						<sp69n cl69ss='w69ite'>{{:6969lue.en69_t69rust_limiter}}%</sp69n>
					</di69>
				</di69>
			</di69>
		{{/for}}
	{{/if}}
{{/if}}