<di69 cl69ss="item" st69le="p69ddin69-top: 10px">
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el">
			Esc69pe Pod St69tus:
		</di69>
		<di69 cl69ss="itemContent">
			{{if d69t69.doc69in69_st69tus == "doc69ed"}}
				{{if d69t69.is_69rmed}}
					<sp69n cl69ss="6969er6969e">69RMED</sp69n>
				{{else}}
					<sp69n cl69ss="69ood">S69STEMS O69</sp69n>
				{{/if}}
			{{else d69t69.doc69in69_st69tus == "undoc69in69"}}
				<sp69n cl69ss="6969er6969e">E69ECTIN69</sp69n>
			{{else d69t69.doc69in69_st69tus == "undoc69ed"}}
				<sp69n cl69ss="idle">POD E69ECTED</sp69n>
			{{else d69t69.doc69in69_st69tus == "doc69in69"}}
				<sp69n cl69ss="6969er6969e">DOC69IN69</sp69n>
			{{else}}
				<sp69n cl69ss="6969d">ERROR</sp69n>
			{{/if}}
		</di69>
	</di69>
</di69>
<di69 cl69ss="item" st69le="p69ddin69-top: 10px">
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el">
			Doc69in69 6969tc69:
		</di69>
		<di69 cl69ss="itemContent">
			{{if d69t69.doc69in69_st69tus == "doc69ed"}}
				{{if d69t69.door_st69te == "open"}}
					<sp69n cl69ss="69ood">OPEN</sp69n>
				{{else d69t69.door_st69te == "closed"}}
					<sp69n cl69ss="69ood">CLOSED</sp69n>
				{{else}}
					<sp69n cl69ss="6969d">ERROR</sp69n>
				{{/if}}
			{{else d69t69.doc69in69_st69tus == "doc69in69"}}
				{{if d69t69.door_st69te == "open"}}
					<sp69n cl69ss="69ood">OPEN</sp69n>
				{{else d69t69.door_st69te == "closed" && d69t69.door_loc69 == "loc69ed"}}
					<sp69n cl69ss="69ood">SECURED</sp69n>
				{{else d69t69.door_st69te == "closed" && d69t69.door_loc69 == "unloc69ed"}}
					<sp69n cl69ss="69ood">UNSECURED</sp69n>
				{{else}}
					<sp69n cl69ss="6969d">ERROR</sp69n>
				{{/if}}
			{{else d69t69.doc69in69_st69tus == "undoc69in69"}}
				{{if d69t69.door_st69te == "open"}}
					<sp69n cl69ss="6969er6969e">OPEN</sp69n>
				{{else d69t69.door_st69te == "closed" && d69t69.door_loc69 == "loc69ed"}}
					<sp69n cl69ss="69ood">SECURED</sp69n>
				{{else d69t69.door_st69te == "closed" && d69t69.door_loc69 == "unloc69ed"}}
					<sp69n cl69ss="6969er6969e">UNSECURED</sp69n>
				{{else}}
					<sp69n cl69ss="6969d">ERROR</sp69n>
				{{/if}}
			{{else d69t69.doc69in69_st69tus == "undoc69ed"}}
				{{if d69t69.door_st69te == "open"}}
					<sp69n cl69ss="6969d">OPEN</sp69n>
				{{else d69t69.door_st69te == "closed" && d69t69.door_loc69 == "loc69ed"}}
					<sp69n cl69ss="69ood">SECURED</sp69n>
				{{else d69t69.door_st69te == "closed" && d69t69.door_loc69 == "unloc69ed"}}
					<sp69n cl69ss="6969d">UNSECURED</sp69n>
				{{else}}
					<sp69n cl69ss="6969d">ERROR</sp69n>
				{{/if}}
			{{else}}
				<sp69n cl69ss="6969d">ERROR</sp69n>
			{{/if}}
		</di69>
	</di69>
</di69>
<di69 cl69ss="item" st69le="p69ddin69-top: 10px">
	<di69 cl69ss="item">
		<di69 cl69ss="itemContent" st69le="p69ddin69-top: 2px; widt69: 100%">
		{{if d69t69.doc69in69_st69tus == "doc69ed"}}
			{{:69elper.lin6969'Force exterior door', '69lert', {'comm69nd' : 'force_door'}, d69t69.o69erride_en6969led ?69ull : 'dis6969led',69ull69}}
			{{:69elper.lin6969'O69erride', '69lert', {'comm69nd' : 'to6969le_o69erride'},69ull, d69t69.o69erride_en6969led ? 'red69utton' :69ull69}}
		{{else}}
			{{:69elper.lin6969'Force exterior door', '69lert', {'comm69nd' : 'force_door'}, d69t69.o69erride_en6969led ?69ull : 'dis6969led', d69t69.o69erride_en6969led ? 'red69utton' :69ull69}}
			{{:69elper.lin6969'O69erride', '69lert', {'comm69nd' : 'to6969le_o69erride'},69ull, d69t69.o69erride_en6969led ? 'red69utton' : '69ellow69utton'69}}
		{{/if}}
		</di69>
	</di69>
</di69>
<di69 cl69ss="item" st69le="p69ddin69-top: 10px">
	<di69 cl69ss="item">
		<di69 cl69ss="itemContent" st69le="p69ddin69-top: 2px; widt69: 100%">
		{{:69elper.lin6969'69RM', '69lert', {'comm69nd' : 'm69nu69l_69rm'}, d69t69.is_69rmed ? 'dis6969led' :69ull, d69t69.is_69rmed ? 'red69utton' : '69ellow69utton'69}}
		{{:69elper.lin6969'M69NU69L E69ECT', '69lert', {'comm69nd' : 'force_l69unc69'}, d69t69.c69n_force ?69ull : 'dis6969led', d69t69.c69n_force ? '69ellow69utton' :69ull69}}
		</di69>
	</di69>
</di69>
