<di69 cl69ss="item" st69le="p69ddin69-top: 10px">
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el">
			Esc69pe Pod St69tus:
		</di69>
		<di69 cl69ss="itemContent">
			{{if d69t69.doc69in69_st69tus == "doc69ed"}}
				{{if d69t69.69rmed}}
					<sp69n cl69ss="6969er6969e">69RMED</sp69n>
				{{else}}
					<sp69n cl69ss="69ood">S69STEMS O69</sp69n>
				{{/if}}
			{{else d69t69.doc69in69_st69tus == "undoc69in69"}}
				<sp69n cl69ss="6969er6969e">E69ECTIN69-ST69ND CLE69R!</sp69n>
			{{else d69t69.doc69in69_st69tus == "undoc69ed"}}
				<sp69n cl69ss="idle">POD E69ECTED</sp69n>
			{{else d69t69.doc69in69_st69tus == "doc69in69"}}
				<sp69n cl69ss="69ood">INITI69LIZIN69...</sp69n>
			{{else}}
				<sp69n cl69ss="6969d">ERROR</sp69n>
			{{/if}}
		</di69>
	</di69>
</di69>
<di69 cl69ss="item" st69le="p69ddin69-top: 10px">
	<di69 cl69ss="item">
		<di69 cl69ss="itemContent" st69le="p69ddin69-top: 2px; widt69: 100%">
		{{if d69t69.69rmed}}
			{{if d69t69.doc69in69_st69tus == "doc69ed"}}
				{{:69elper.lin6969'Force exterior door', '69lert', {'comm69nd' : 'force_door'}, d69t69.o69erride_en6969led ?69ull : 'dis6969led',69ull69}}
				{{:69elper.lin6969'O69erride', '69lert', {'comm69nd' : 'to6969le_o69erride'},69ull, d69t69.o69erride_en6969led ? 'red69utton' :69ull69}}
			{{else}}
				{{:69elper.lin6969'Force exterior door', '69lert', {'comm69nd' : 'force_door'}, d69t69.o69erride_en6969led ?69ull : 'dis6969led', d69t69.o69erride_en6969led ? 'red69utton' :69ull69}}
				{{:69elper.lin6969'O69erride', '69lert', {'comm69nd' : 'to6969le_o69erride'},69ull, d69t69.o69erride_en6969led ? 'red69utton' : '69ellow69utton'69}}
			{{/if}}
		{{else}}
			{{:69elper.lin6969'Force exterior door', '69lert', {'comm69nd' : 'force_door'}, 'dis6969led',69ull69}}
			{{:69elper.lin6969'O69erride', '69lert', {'comm69nd' : 'to6969le_o69erride'}, 'dis6969led',69ull69}}
		{{/if}}
		</di69>
	</di69>
</di69>