<h2>Welcome Comrade</h2>
<table class='itemContent' style="width: 100%">
	{{for data.node_list}}
		<tr>
			<td>{{:value.name}}</td>
			<td>{{:value.x}}</td>
			<td>{{:value.y}}</td>
			<td>{{:value.z}}</td>
		</tr>
	{{/for}}
</table>

