<!--
Used In File(s): code\game\machinery\excelsior\excelsior_items\KPK.dm
 -->
<div class="foreground scanlines biosfont">
<div class="ex-border">
	<div class="ex-title">
	Welcome, Infiltrator
	<hr class="ex-line">
	<hr class="ex-underline">
	</div>

	<div class="ex-content file-tree">
	ROOT
	<ul>
		<li>PROGRAMS:
			<ul>
				<li>{{:helper.komulink('Pathfinder', null, {'open_path_dio' : 1}, null)}}
					{{if data.path_diologe}}
					<ul>
						<li>Start mapping a new path?</li>
						<li>{{:helper.komulink('Yes', null, {'start_pathfind' : 1}, null)}}</li>
						<li>{{:helper.komulink('No', null, {'close_path_dio' : 1}, null)}}</li>
					</ul>
					{{/if}}
					{{if data.current_path}}
					<ul>
						<li>PATH RECORDING IN PROGRESS</li>
						<li>Current node: {{data.current_node}}</li>
						<li>{{:helper.komulink('Finish path', null, {'end_pathfind' : 1}, null)}}</li>
						<li>{{:helper.komulink('Cancel', null, {'cancel_pathfind' : 1}, null)}}</li>
					</ul>
					{{/if}}
				</li>
			</ul>
		</li>
	</ul>
	</div>

	<div class="ex-bottom-text">
	<h1 class="ex-logo">EXCEL MOMENT LLC</h1><br>
	approved by the thchnical quality assurance
	</div>
</div>
</div>
