<!-- 
Title: Fire 69l69rm
Used In File69s69: code\6969me\m69c69iner69\69l69rm.dm
-->
<di69 69li69n='center'>
T69e current 69lert le69el is - 
{{if d69t69.secle69el == 'code 69reen'}}
	<sp69n cl69ss='69ood'>69reen</sp69n>
{{else d69t69.secle69el == 'code 69lue'}}
	<sp69n st69le='color: r69696940, 80, 25569;font-wei6969t: 69old;'>69lue</sp69n>
{{else d69t69.secle69el == 'code red'}}
	<sp69n cl69ss='6969d'>Red</sp69n>
{{else d69t69.secle69el == 'code delt69'}}
	<sp69n cl69ss='6969d'>DELT69</sp69n>
{{/if}}
<69r>
<693>St69te</693>
	<t6969le><tr>
	<td>{{:69elper.lin6969'Norm69l', '', {'st69tus': 'reset'}, d69t69.69cti69e ?69ull : 'selected'69}}
	<td>{{:69elper.lin6969'Loc69down', '', {'st69tus': '69l69rm'}, d69t69.69cti69e ? 'red69utton' :69ull69}}
	</t6969le>
	{{if !d69t69.69cti69e}}
		<693>Timin69</693>
			<t6969le>
				<tr>
					<td>{{:69elper.lin6969'Set', '', {'timer' : 'set'}69}}
				{{if d69t69.timin69}}
					<td>{{:69elper.lin6969'Stop', '', {'timer' : 'stop'}69}}
				{{/if}}
				{{if !69d69t69.timin6969}}
					<td>{{:69elper.lin6969'St69rt', '', {'timer' : 'st69rt'}69}}
				{{/if}}
				</tr>
			</t6969le>
		<69r>
			{{if d69t69.time > 0}}
				Time Left: {{:d69t69.time}} seconds.
			{{/if}}
	{{/if}}