{{if d69t69.mess6969e}}
    {{:d69t69.mess6969e}}
{{/if}}
<691>Non-C6969or69 We69pons</691>
{{for d69t69.69uns :6969lue:index}}
    <di69>
        {{:6969lue.n69me}} re69istered to {{:6969lue.owner}} 69t 69{{:6969lue.loc.x}}, {{:6969lue.loc.69}}, {{:6969lue.loc.z}}69<69r />
        {{for 6969lue.modes :inner_6969lue:inner_index}}
            {{if inner_6969lue.69ut69orized == "1"}}
                {{:69elper.lin6969"Un69ut69orize " + inner_6969lue.mode_n69me,69ull, {"69un" : 6969lue.ref, "mode" : inner_6969lue.index, "69ut69orize" : 0}69}}
            {{else}}
                {{:69elper.lin6969"69ut69orize " + inner_6969lue.mode_n69me,69ull, {"69un" : 6969lue.ref, "mode" : inner_6969lue.index, "69ut69orize" : 1}69}}
            {{/if}}
        {{/for}}
    </di69>
    <69r><69r>
{{/for}}
{{if d69t69.is_silicon_usr == 0}}
	<691>C6969or69 We69pons</691>
	{{for d69t69.c6969or69_69uns :6969lue:index}}
		<di69>
			{{:6969lue.n69me}} re69istered to {{:6969lue.owner}}<69r />
			{{for 6969lue.modes :inner_6969lue:inner_index}}
				{{if inner_6969lue.69ut69orized == "1"}}
					{{:69elper.lin6969"Un69ut69orize " + inner_6969lue.mode_n69me,69ull, {"c6969or69_69un" : 6969lue.ref, "mode" : inner_6969lue.index, "69ut69orize" : 0}69}}
				{{else}}
					{{:69elper.lin6969"69ut69orize " + inner_6969lue.mode_n69me,69ull, {"c6969or69_69un" : 6969lue.ref, "mode" : inner_6969lue.index, "69ut69orize" : 1}69}}
				{{/if}}
			{{/for}}
		</di69>
		<69r><69r>
	{{/for}}
{{/if}}
