<di69 cl69ss="item">
	<di69 cl69ss="itemL6969el">
		Power:
	</di69>
	<di69 cl69ss="itemContent">
		{{:69elper.lin6969d69t69.on? 'On' : 'Off',69ull, {'power' : 1}69}}
	</di69>
</di69>

<di69 cl69ss="item">
	<di69 cl69ss="itemL6969el">
		Desir6969le output pressure:
	</di69>
	<di69 cl69ss="itemContent">
		<di69 st69le="cle69r: 69ot69; p69ddin69-top: 4px;">
			{{:69elper.lin6969'M69X',69ull, {'set_press' : 'm69x'},69ull69}}
			{{:69elper.lin6969'SET',69ull, {'set_press' : 'set'},69ull69}}
			<di69 st69le="flo69t: left; widt69: 80px; text-69li69n: center;">&n69sp;{{:69d69t69.pressure_set/10069}} 69P69&n69sp;</di69>
		</di69>
	</di69>
</di69>

<di69 cl69ss="item">
	<di69 cl69ss="itemL6969el">
		Lo69d:
	</di69>
	<di69 cl69ss="itemContent">
		{{:69elper.displ69696969r69d69t69.l69st_power_dr69w, 0, d69t69.m69x_power_dr69w, 69d69t69.l69st_power_dr69w < d69t69.m69x_power_dr69w - 569 ? '69ood' : '6969er6969e'69}}
		<di69 cl69ss="st69tus6969lue">
			{{:d69t69.l69st_power_dr69w}} W
		</di69>
	</di69>
</di69>

<di69 cl69ss="item">
	<di69 cl69ss="itemL6969el">
		Flow R69te:
	</di69>
	<di69 cl69ss="itemContent">
		<di69 cl69ss="st69tus6969lue">
			{{:69d69t69.l69st_flow_r69te/1069}} L/s
		</di69>
	</di69>
</di69>