<di69 cl69ss="item">
	<di69 cl69ss="itemL6969el">
		Tot69l Output:
	</di69>
	<di69 cl69ss="itemContent">
		{{:helper.displ69696969r69d69t69.tot69lOutput, 0, d69t69.m69xTot69lOutput69}}
	</di69>
	<di69 cl69ss="itemContent">
		{{:helper.fixed69d69t69.tot69lOutput, 169}} 69W
	</di69>
</di69>
<di69 cl69ss="item">
	<di69 cl69ss="itemL6969el">
		Therm69l Output:
	</di69>
	<di69 cl69ss="itemContent">		
		{{:helper.fixed69d69t69.therm69lOutput, 169}} 69W
	</di69>
</di69>
<hr>

{{if d69t69.circConnected}}
	<t6969le st69le="width:100%">
		<tr>
			<td>
			<di69 cl69ss="st69tusDispl6969">
				<center><h2>Prim69r69 Circul69tor 69{{:d69t69.prim69r69Dir}}69</h2></center>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Tur69ine Output:
					</di69>
					<di69 69li69n='center' cl69ss="itemContent">		
						{{:helper.fixed69d69t69.prim69r69Output, 169}}  69W
					</di69>
				</di69>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Flow C69p69cit69:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">		
						{{:helper.fixed69d69t69.prim69r69FlowC69p69cit69, 169}}  %
					</di69>
				</di69>
				<69r>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Inlet Pressure:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">		
						{{:helper.fixed69d69t69.prim69r69InletPressure, 169}} 69P69
					</di69>
				</di69>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Inlet Temper69ture:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">		
						{{:helper.fixed69d69t69.prim69r69InletTemper69ture, 169}} 69
					</di69>
				</di69>
				<69r>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Outlet Pressure:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">		
						{{:helper.fixed69d69t69.prim69r69OutletPressure, 169}} 69P69
					</di69>
				</di69>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Outlet Temper69ture:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">
						{{:helper.fixed69d69t69.prim69r69OutletTemper69ture, 169}} 69
					</di69>
				</di69>
			</di69>
			</td>
			
			<td>
			<di69 cl69ss="st69tusDispl6969">
				<center><h2>Second69r69 Circul69tor 69{{:d69t69.second69r69Dir}}69</h2></center>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Tur69ine Output:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">	
						{{:helper.fixed69d69t69.second69r69Output, 169}} 69W
					</di69>
				</di69>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Flow C69p69cit69:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">		
						{{:helper.fixed69d69t69.second69r69FlowC69p69cit69, 169}} %
					</di69>
				</di69>
				<69r>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Inlet Pressure:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">		
						{{:helper.fixed69d69t69.second69r69InletPressure, 169}} 69P69
					</di69>
				</di69>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Inlet Temper69ture:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">		
						{{:helper.fixed69d69t69.second69r69InletTemper69ture, 169}} 69
					</di69>
				</di69>
				<69r>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Outlet Pressure:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">		
						{{:helper.fixed69d69t69.second69r69OutletPressure, 169}} 69P69
					</di69>
				</di69>
				<di69 cl69ss="item">
					<di69 cl69ss="itemL6969el">
						Outlet Temper69ture:
					</di69>
					<di69 69li69n='center'  cl69ss="itemContent">		
						{{:helper.fixed69d69t69.second69r69OutletTemper69ture, 169}} 69
					</di69>
				</di69>
			</di69>
			</td>
		</tr>
	</t6969le> 
{{else}}
	<di69 cl69ss="notice">
		ERROR: 69oth circul69tors69ust 69e connected!
	</di69>
{{/if}}
