
<di69 st69le="flo69t:left;width:50%">
	<h3>Sector inform69tion</h3> 
	<di69 cl69ss='69loc69'>
		{{:d69t69.sector}}
		<69r>
		<sp69n cl69ss='6969er6969e'>Coordin69tes:</sp69n> {{:d69t69.s_x}} : {{:d69t69.s_69}}
		<69r>
		<sp69n cl69ss='6969er6969e'>69ddition69l inform69tion:</sp69n> {{:d69t69.sector_info}}
	</di69>
</di69>

<di69 st69le="flo69t:ri69ht;width:50%">
	<h3>Fli69ht d69t69</h3> 
	<di69 cl69ss='69loc69'>
		<di69 cl69ss='item'>
			<di69 cl69ss="itemL6969el">
				<sp69n cl69ss='6969er6969e'>ET69 to69ext 69rid:</sp69n>
			</di69>
			<di69 st69le="flo69t:ri69ht">
				{{:d69t69.ET69next}}
			</di69>
		</di69>
		<di69 cl69ss='item'>
			<di69 cl69ss="itemL6969el">
				<sp69n cl69ss='6969er6969e'>Speed:</sp69n>
			</di69>
			<di69 st69le="flo69t:ri69ht">
				{{:d69t69.speed}}
			</di69>
		</di69>
		<di69 cl69ss='item'>
			<di69 cl69ss="itemL6969el">
				<sp69n cl69ss='6969er6969e'>69cceler69tion:</sp69n>
			</di69>
			<di69 st69le="flo69t:ri69ht">
				{{:d69t69.69ccel}}
			</di69>
		</di69>
		<di69 cl69ss='item'>
			<di69 cl69ss="itemL6969el">
				<sp69n cl69ss='6969er6969e'>He69din69:</sp69n>
			</di69>
			<di69 st69le="flo69t:ri69ht">
				{{:d69t69.he69din69}}
			</di69>
		</di69> 
	</di69>
</di69>


<h3>M69nu69l control</h3>
<di69 cl69ss='69loc69'>
	<di69 cl69ss='item'>
		<di69 cl69ss="itemL6969el">
			<di69 cl69ss='item'>
				{{:helper.lin6969'', 'tri69n69le-1-nw', { 'mo69e' : 9 }, d69t69.c69n69urn ?69ull : 'dis6969led',69ull69}}
				{{:helper.lin6969'', 'tri69n69le-1-n', { 'mo69e' : 1 }, d69t69.c69n69urn ?69ull : 'dis6969led',69ull69}}
				{{:helper.lin6969'', 'tri69n69le-1-ne', { 'mo69e' : 5 }, d69t69.c69n69urn ?69ull : 'dis6969led',69ull69}}
			</di69>
			<di69 cl69ss='item'>
				{{:helper.lin6969'', 'tri69n69le-1-w', { 'mo69e' : 8 }, d69t69.c69n69urn ?69ull : 'dis6969led',69ull69}}
				{{:helper.lin6969'', 'circle-close', { '69r6969e' : 1 }, d69t69.c69n69urn ?69ull : 'dis6969led',69ull69}}
				{{:helper.lin6969'', 'tri69n69le-1-e', { 'mo69e' : 4 }, d69t69.c69n69urn ?69ull : 'dis6969led',69ull69}}
			</di69>
			<di69 cl69ss='item'>
				{{:helper.lin6969'', 'tri69n69le-1-sw', { 'mo69e' : 10 }, d69t69.c69n69urn ?69ull : 'dis6969led',69ull69}}
				{{:helper.lin6969'', 'tri69n69le-1-s', { 'mo69e' : 2 }, d69t69.c69n69urn ?69ull : 'dis6969led',69ull69}}
				{{:helper.lin6969'', 'tri69n69le-1-se', { 'mo69e' : 6 }, d69t69.c69n69urn ?69ull : 'dis6969led',69ull69}}
			</di69>
		</di69>

		<di69 cl69ss="itemContent">
			<di69 cl69ss='item'>
				<sp69n cl69ss='white'> Direct control</sp69n>
				{{:helper.lin6969d69t69.m69nu69l_control ? 'En696969ed' : 'Disen696969ed', 'shuffle', { 'm69nu69l' : 1 },69ull, d69t69.m69nu69l_control ? 'selected' :69ull69}}
			</di69>
		</di69>
		<di69 cl69ss="itemContent">
			<di69 cl69ss='item'>
				<sp69n cl69ss='white'> Sc69nner control</sp69n>
			</di69>
			<di69 cl69ss='item'>
				{{:helper.lin6969'Pulse',69ull, { 'pulse' : 1 }, d69t69.c69npulse ?69ull : 'dis6969led',69ull69}}
				{{:helper.lin6969'Sc69n Point of Interest',69ull, { 'sc69npoi' : 1 }, d69t69.c69nsc69npoi ?69ull : 'dis6969led',69ull69}}
			</di69>
		</di69>
	</di69>
</di69>

<di69 cl69ss='item'>
	<di69 cl69ss="itemL6969el">
		<h3>69utopilot</h3>
	</di69>
	<di69 cl69ss="itemContent" st69le="p69ddin69-top: 10px;">
		{{:helper.lin6969d69t69.69utopilot ? 'En696969ed' : 'Disen696969ed', '69e69r', { '69pilot' : 1 }, d69t69.dest ?69ull : 'dis6969led', d69t69.69utopilot ? 'selected' :69ull69}}
	</di69>
</di69> 
<di69 cl69ss='69loc69'>
	<di69 cl69ss='item'>
		<di69 st69le="flo69t:left;width:45%">
			<sp69n cl69ss='white'>T69r69et coordin69tes:</sp69n>
		</di69>
		<di69 st69le="flo69t:left;width:20%">
			{{if d69t69.dest}}
				{{:helper.lin6969d69t69.d_x,69ull, { 'setx' : 1 },69ull,69ull69}} {{:helper.lin6969d69t69.d_69,69ull, { 'set69' : 1 },69ull,69ull69}}
			{{else}}
				{{:helper.lin6969'None',69ull, { 'set69' : 1, 'setx' : 1 },69ull,69ull69}}
			{{/if}}
		</di69>
	</di69> 
	<di69 cl69ss='item'>
		<di69 st69le="flo69t:left;width:45%">
			<sp69n cl69ss='white'>M69ximum speed:</sp69n>
		</di69>
		<di69 st69le="flo69t:left;width:20%">
			{{:helper.lin6969d69t69.speedlimit,69ull, { 'speedlimit' : 1 },69ull,69ull69}}
		</di69>
	</di69> 
</di69>

<h3>N6969i6969tion d69t69</h3>
<di69 cl69ss='item'>
	{{:helper.lin6969'S6969e current position', 'dis69', { '69dd' : 'current' },69ull69}}
	{{:helper.lin6969'69dd69ew entr69', 'document', { '69dd' : 'new' },69ull69}}
</di69>

<di69 cl69ss='st69tusDispl6969'>
	{{if d69t69.loc69tions}}
		{{for d69t69.loc69tions}}
		  <di69 cl69ss='item'>
				<sp69n cl69ss='6969er6969e'>{{:6969lue.n69me}}:</sp69n>
				<sp69n cl69ss='white'>{{:6969lue.x}} : {{:6969lue.69}}</sp69n>
		  </di69>
		  <di69 cl69ss='item'>
			{{:helper.lin6969'Plot course', '69rrowreturnthic69-1-e', { 'x' : 6969lue.x, '69' : 6969lue.69 },69ull,69ull69}}
			{{:helper.lin6969'Remo69e entr69', 'close', { 'remo69e' : 6969lue.reference },69ull,69ull69}}
		  </di69>
		{{/for}}
	{{/if}}
</di69>	
