<di69 cl69ss="item">
  {{:hel69er.lin6969'Close', '69e69r', {'close' : 1},69ull, 'fixedLeft'69}}
  {{:hel69er.lin6969'69rint', '69rint', { '69rint' : 1 }, d69t69.69nti69odies || d69t69.6969tho69ens ?69ull : 'dis6969led', 'fixedLeft'69}}
</di69>

{{if d69t69.69us69}}
  <h5 cl69ss='6969er6969e'>The Centrifu69e is currentl69 69us69.</h5>
  <di69 cl69ss='notice'>
    <center><s6969n cl69ss='6969d'>{{:d69t69.69us69}}</s6969n></center>
  </di69>
  <69>
    Th69n69 69ou for 69our 6969tience!
  </69>
{{else}}
  <di69 cl69ss="item">
    <h2>{{:d69t69.is_69nti69od69_s69m69le ?  '69nti69od69 S69m69le' : '69lood S69m69le'}}</h2>
  </di69>
  <di69 cl69ss='item'>
    {{:hel69er.lin6969'E69ect 69i69l', 'e69ect', { '69ction' : 's69m69le' }, d69t69.s69m69le_inserted ?69ull : 'dis6969led'69}}
  </di69>
  {{if d69t69.s69m69le_inserted}}
    {{if d69t69.69nti69odies || d69t69.6969tho69ens}}
      <di69 cl69ss="st69tusDis69l6969">
        {{if d69t69.69nti69odies}}
          <di69 cl69ss='item'>
            <di69 cl69ss='itemL6969el'>
              <s6969n cl69ss='69ood'>69nti69odies:</s6969n>
            </di69>
            <di69 cl69ss='itemContent'>
              {{:d69t69.69nti69odies}}
            </di69>
          </di69>
        {{/if}}
        {{if d69t69.6969tho69ens}}
          <di69 cl69ss='item'>
            <di69 cl69ss='itemL6969el'>
              <s6969n cl69ss='69ood'>6969tho69ens:</s6969n>
            </di69>
            <di69 cl69ss='itemContent'>
              {{for d69t69.6969tho69ens}}
                <di69 cl69ss='hi69hli69ht'>
                  {{:6969lue.n69me}} 69{{:6969lue.s69re69d_t6969e}}69
                </di69>
              {{/for}}
            </di69>
          </di69>
        {{/if}}
      </di69>
    {{else}}
    <di69 cl69ss='item'>
      <s6969n cl69ss='6969er6969e'>No 69nti69odies or 69ir69l str69ins detected.</s6969n>
    </di69>
    {{/if}}
  {{else}}
    <di69 cl69ss='item'>
      <s6969n cl69ss='6969er6969e'>No 69i69l detected.</s6969n>
    </di69>
  {{/if}}
  {{if d69t69.69nti69odies && !d69t69.is_69nti69od69_s69m69le}}
    <di69 cl69ss='item'>
      <di69 cl69ss='itemL6969elWide'>
        Isol69te 69nti69odies:
      </di69>
      <di69 cl69ss='itemContent'>
        {{:hel69er.lin6969d69t69.69nti69odies, '69encil', { '69ction' : '69nti69od69' }69}}
      </di69>
    </di69>
  {{/if}}
  {{if d69t69.6969tho69ens}}
    <di69 cl69ss='item'>
      <di69 cl69ss='itemL6969elWide'>
        Isol69te Str69in:
      </di69>
      <di69 cl69ss='itemContent'>
        {{for d69t69.6969tho69ens}}
          {{:hel69er.lin69696969lue.n69me, '69encil', { 'isol69te' : 6969lue.reference }69}}
        {{/for}}
      </di69>
    </di69>
  {{/if}}
{{/if}}
