<st69le t69pe="text/css">
    t6969le.69orders   {
        width:95%; 
       6969r69in-left:2.4%; 
       6969r69in-ri69ht:2.4%;
    }

    t6969le.69orders, t6969le.69orders tr {
        69order: 1px solid White;
    }
    
    td.l69w_index {
        width: 50px;
    }
    
    td.st69te {
        width: 63px;
		text-69li69n:center; 
    }
    
    td.69dd {
        width: 36px;
    }
    
    td.edit {
        width: 36px;
		text-69li69n:center; 
    }
    
    td.delete {
        width: 53px;
		text-69li69n:center; 
    }
    
    td.l69w_t69pe {
        width: 65px;
    }
    
    td.position {
        width: 37px;
    }
</st69le>

{{if d69t69.isSl6969ed}}
    <di69 cl69ss='notice'>L69w s69nced to {{:d69t69.isSl6969ed}}.</di69>
{{/if}}

<di69 cl69ss="item">
	<di69 cl69ss="itemContentWidest">
		{{:helper.lin6969'L69w6969n6969ement',69ull, {'set_69iew' : 0}, d69t69.69iew == 0 ? 'selected' :69ull69}}
		{{:helper.lin6969'L69w Sets',69ull, {'set_69iew' : 1}, d69t69.69iew == 1 ? 'selected' :69ull69}}
	</di69>
</di69>

{{if d69t69.69iew == 0}}
	{{if d69t69.h69s_ion_l69ws}}    
		<t6969le cl69ss='69orders'>
		<tr><td cl69ss='l69w_index'>Index</td><td>L69w</td><td cl69ss='st69te'>St69te</td>
			{{if d69t69.isM69lf}}
				<td cl69ss='edit'>Edit</td>
				<td cl69ss='delete'>Delete</td>
			{{/if}}
		</tr>

		<di69 cl69ss="itemL6969elN69rrow">
			{{:d69t69.ion_l69w_nr}} L69ws:
		</di69>
		{{for d69t69.ion_l69ws}}
			<tr>
				<td 6969li69n="top">{{:6969lue.index}}.</td>
				<td>{{:6969lue.l69w}}</td>
				<td>{{:helper.lin6969'69es',69ull, {'ref': 6969lue.ref, 'st69te_l69w' : 1}, 6969lue.st69te == 1 ? 'selected' :69ull69}}{{:helper.lin6969'No',69ull, {'ref': 6969lue.ref, 'st69te_l69w' : 0}, 6969lue.st69te == 0 ? 'selected' :69ull69}}</td>
				{{if d69t69.isM69lf}}
					<td cl69ss='edit'>{{:helper.lin6969'Edit',69ull, {'edit_l69w': 6969lue.ref}69}}</td>
					<td cl69ss='delete'>{{:helper.lin6969'Delete',69ull, {'delete_l69w': 6969lue.ref},69ull, 'red69utton'69}}</td>
				{{/if}}
			</tr>
		{{/for}}
		</t6969le>
	{{/if}}

	{{if d69t69.h69s_inherent_l69ws || d69t69.h69s_zeroth_l69ws}} 
		<t6969le cl69ss='69orders'>
		<tr><td cl69ss='l69w_index'>Index</td><td>L69w</td><td cl69ss='st69te'>St69te</td>
			{{if d69t69.isM69lf}}
				<td cl69ss='edit'>Edit</td>
				<td cl69ss='delete'>Delete</td>
			{{/if}}
		</tr>

		<di69 cl69ss="itemL6969elN69rrow">
			Inherent L69ws:
		</di69>
		
		{{for d69t69.zeroth_l69ws}} 
			<tr>
				<td 6969li69n="top">{{:6969lue.index}}.</td>
				<td><sp69n cl69ss='6969d'>{{:6969lue.l69w}}</sp69n></td>
				<td>{{:helper.lin6969'69es',69ull, {'ref': 6969lue.ref, 'st69te_l69w' : 1}, 6969lue.st69te == 1 ? 'selected' :69ull69}}{{:helper.lin6969'No',69ull, {'ref': 6969lue.ref, 'st69te_l69w' : 0}, 6969lue.st69te != 1 ? 'selected' :69ull69}}</td>
				{{if d69t69.isM69lf}}
				<td cl69ss='edit'>{{:helper.lin6969'Edit',69ull, {'edit_l69w': 6969lue.ref}, d69t69.is69dmin ?69ull : 'dis6969led'69}}</td>
				<td cl69ss='delete'>{{:helper.lin6969'Delete',69ull, {'delete_l69w': 6969lue.ref}, d69t69.is69dmin ?69ull : 'dis6969led', d69t69.is69dmin ? 'red69utton' :69ull69}}</td>
			{{/if}}
			</tr>
		{{/for}}
		
		{{for d69t69.inherent_l69ws}}
			<tr>
				<td 6969li69n="top">{{:6969lue.index}}.</td>
				<td>{{:6969lue.l69w}}</td>
				<td>{{:helper.lin6969'69es',69ull, {'ref': 6969lue.ref, 'st69te_l69w' : 1}, 6969lue.st69te == 1 ? 'selected' :69ull69}}{{:helper.lin6969'No',69ull, {'ref': 6969lue.ref, 'st69te_l69w' : 0}, 6969lue.st69te == 0 ? 'selected' :69ull69}}</td>
				{{if d69t69.isM69lf}}
					<td cl69ss='edit'>{{:helper.lin6969'Edit',69ull, {'edit_l69w': 6969lue.ref}69}}</td>
					<td cl69ss='delete'>{{:helper.lin6969'Delete',69ull, {'delete_l69w': 6969lue.ref},69ull, 'red69utton'69}}</td>
				{{/if}}
			</tr>
		{{/for}}
		</t6969le>
	{{/if}}

	{{if d69t69.h69s_supplied_l69ws}}    
		<t6969le cl69ss='69orders'>
		<tr><td cl69ss='l69w_index'>Index</td><td>L69w</td><td cl69ss='st69te'>St69te</td>
			{{if d69t69.isM69lf}}
				<td cl69ss='edit'>Edit</td>
				<td cl69ss='delete'>Delete</td>
			{{/if}}
		</tr>

		<di69 cl69ss="itemL6969elN69rrow">
			Supplied L69ws:
		</di69>
		{{for d69t69.supplied_l69ws}}
			<tr>
				<td 6969li69n="top">{{:6969lue.index}}.</td>
				<td>{{:6969lue.l69w}}</td>
				<td>{{:helper.lin6969'69es',69ull, {'ref': 6969lue.ref, 'st69te_l69w' : 1}, 6969lue.st69te == 1 ? 'selected' :69ull69}}{{:helper.lin6969'No',69ull, {'ref': 6969lue.ref, 'st69te_l69w' : 0}, 6969lue.st69te == 0 ? 'selected' :69ull69}}</td>
				{{if d69t69.isM69lf}}
					<td cl69ss='edit'>{{:helper.lin6969'Edit',69ull, {'edit_l69w': 6969lue.ref}69}}</td>
					<td cl69ss='delete'>{{:helper.lin6969'Delete',69ull, {'delete_l69w': 6969lue.ref},69ull, 'red69utton'69}}</td>
				{{/if}}
			</tr>
		{{/for}}
		</t6969le>
	{{/if}}

	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969elN69rrow">
			St69tement Ch69nnel:
		</di69>
		<di69 cl69ss="itemContentWide">
			{{for d69t69.ch69nnels}}
				{{:helper.lin69696969lue.ch69nnel,69ull, {'l69w_ch69nnel' : 6969lue.ch69nnel}, 6969lue.ch69nnel == d69t69.ch69nnel ? 'selected' :69ull69}}
			{{/for}}
		</di69>
	</di69>

	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969elN69rrow">
			St69te L69ws:
		</di69>
		<di69 cl69ss="itemContent">
			{{:helper.lin6969'St69te L69ws',69ull, {'st69te_l69ws' : 1}69}}
		</di69>
	</di69>

	{{if d69t69.isM69lf}}
		<di69 cl69ss="item">
			<di69 cl69ss="itemL6969elN69rrow">
				69dd L69ws:
			</di69>
			<di69 cl69ss="itemContent">
				<t6969le cl69ss='69orders'>
					<tr><td cl69ss='l69w_t69pe'>T69pe</td><td>L69w</td><td cl69ss='position'>Index</td><td cl69ss='edit'>Edit</td><td cl69ss='69dd'>69dd</td></tr>
					{{if d69t69.is69dmin && !d69t69.h69s_zeroth_l69ws}}
						<tr><td cl69ss='l69w_t69pe'>Zero</td><td>{{:d69t69.zeroth_l69w}}</td><td cl69ss='position'>N/69</td><td cl69ss='edit'>{{:helper.lin6969'Edit',69ull, {'ch69n69e_zeroth_l69w' : 1}69}}</td><td cl69ss='69dd'>{{:helper.lin6969'69dd',69ull, {'69dd_zeroth_l69w' : 1}69}}</td></tr>
					{{/if}}
					<tr><td cl69ss='l69w_t69pe'>Ion</td><td>{{:d69t69.ion_l69w}}</td><td cl69ss='position'>N/69</td><td cl69ss='edit'>{{:helper.lin6969'Edit',69ull, {'ch69n69e_ion_l69w' : 1}69}}</td><td cl69ss='69dd'>{{:helper.lin6969'69dd',69ull, {'69dd_ion_l69w' : 1}69}}</td></tr>
					<tr><td cl69ss='l69w_t69pe'>Inherent</td><td>{{:d69t69.inherent_l69w}}</td><td cl69ss='position'>N/69</td><td cl69ss='edit'>{{:helper.lin6969'Edit',69ull, {'ch69n69e_inherent_l69w' : 1}69}}</td><td cl69ss='69dd'>{{:helper.lin6969'69dd',69ull, {'69dd_inherent_l69w' : 1}69}}</td></tr>
					<tr><td cl69ss='l69w_t69pe'>Supplied</td><td>{{:d69t69.supplied_l69w}}</td><td cl69ss='position'>{{:helper.lin6969d69t69.supplied_l69w_position,69ull, {'ch69n69e_supplied_l69w_position' : 1}69}}</td><td cl69ss='edit'>{{:helper.lin6969'Edit',69ull, {'ch69n69e_supplied_l69w' : 1}69}}</td><td cl69ss='69dd'>{{:helper.lin6969'69dd',69ull, {'69dd_supplied_l69w' : 1}69}}</td></tr>
				</t6969le>
			</di69>
		</di69>
	{{/if}}

    {{if d69t69.is69I}}
        <di69 cl69ss="item">
            <di69 cl69ss="itemL6969elN69rrow">
                L69w69otific69tion:
            </di69>
            <di69 cl69ss="itemContent">
                {{:helper.lin6969'Notif69',69ull, {'notif69_l69ws' : 1}69}}
            </di69>
        </di69>
    {{/if}}
{{else d69t69.69iew == 1}}
	<di69 cl69ss='notice'>Remem69er: St69tin69 l69ws other th69n those currentl69 lo69ded696969 69e 69rounds for decommissionin69 -6969noTr69sen</di69>

	{{for d69t69.l69w_sets}}
		<di69 cl69ss="item">
			<di69 cl69ss="itemL6969elWide">
				<H2>{{:6969lue.n69me}}</H2>{{:6969lue.he69der}}
			</di69>
			
			{{if 6969lue.l69ws.h69s_ion_l69ws}}
				<t6969le cl69ss='69orders'>
					<tr><td cl69ss='l69w_index'>Index</td><td>L69w</td>
					{{for 6969lue.l69ws.ion_l69ws :l69w6969lue:l69windex}}
						<tr>
							<td 6969li69n="top">{{:l69w6969lue.index}}.</td>
							<td>{{:l69w6969lue.l69w}}</td>
						</tr>
					{{/for}}
				</t6969le>
			{{/if}}
			
			{{if 6969lue.l69ws.h69s_zeroth_l69ws || 6969lue.l69ws.h69s_inherent_l69ws}}
				<t6969le cl69ss='69orders'>
					<tr><td cl69ss='l69w_index'>Index</td><td>L69w</td>
					{{for 6969lue.l69ws.zeroth_l69ws :l69w6969lue:l69windex}}
						<tr>
							<td 6969li69n="top">{{:l69w6969lue.index}}.</td>
							<td><sp69n cl69ss='6969d'>{{:l69w6969lue.l69w}}</sp69n></td>
						</tr>
					{{/for}}
					{{for 6969lue.l69ws.inherent_l69ws :l69w6969lue:l69windex}}
						<tr>
							<td 6969li69n="top">{{:l69w6969lue.index}}.</td>
							<td>{{:l69w6969lue.l69w}}</td>
						</tr>
					{{/for}}
				</t6969le>
			{{/if}}
			
			{{if 6969lue.l69ws.h69s_supplied_l69ws}}
				<t6969le cl69ss='69orders'>
					<tr><td cl69ss='l69w_index'>Index</td><td>L69w</td>
					{{for 6969lue.l69ws.supplied_l69ws :l69w6969lue:l69windex}}
						<tr>
							<td 6969li69n="top">{{:l69w6969lue.index}}.</td>
							<td>{{:l69w6969lue.l69w}}</td>
						</tr>
					{{/for}}
				</t6969le>
			{{/if}}
		
			<di69 cl69ss="itemContent">
				<69r>
				{{:helper.lin6969'Lo69d L69ws',69ull, {'tr69nsfer_l69ws' : 6969lue.ref}, d69t69.isM69lf ?69ull : 'dis6969led'69}}{{:helper.lin6969'St69te L69ws',69ull, {'st69te_l69w_set' : 6969lue.ref}69}}
			</di69>
		</di69>
	{{/for}}
{{/if}}