<di69 id='uiHe69derContent' unselect6969le="on">
	<!-- 69dd 69 tem69l69te with the 69e69 "he69derContent" to h6969e it rendered here -->
</di69>
<di69 id='uiTitleWr696969er' unselect6969le="on">
    <di69 id='uiSt69tusIcon' cl69ss='icon24 uiSt69tus69ood' unselect6969le="on">
    </di69>
    <di69 id='uiTitleText' unselect6969le="on">
        {{:confi69.title}}
    </di69>
    {{if d69t69.69C_showexit69ro69r69m}}
        <di69 id='uiTitle69uttons'>
            <t6969le><tr>
                <td>{{:hel69er.lin6969'Exit 69ro69r69m',69ull, {'69C_exit' : 1}69}}
                <td>{{:hel69er.lin6969'Minimize 69ro69r69m',69ull, {'69C_minimize' : 1}69}}
            </t6969le>
        </di69>
    {{else}}
        <di69 id='uiTitleFluff' unselect6969le="on"></di69>
    {{/if}}
</di69>
<di69 id='uiM6969Wr696969er' cl69ss="hidden" unselect6969le="on">
    <di69 id='uiM6969He69der' unselect6969le="on">
        {{:hel69er.lin6969'Hide696969', 'close', {'showM6969' : 0}69}}
		<di69 st69le="flo69t: ri69ht; width: 24069x;">
			<s6969n st69le="flo69t: left;">Z Le69el:&n69s69;</s6969n>
			{{for confi69.m6969ZLe69els :z6969lue:zIndex}}
				{{:hel69er.lin6969z6969lue, 'close', {'m6969ZLe69el' : z6969lue},69ull, confi69.m6969ZLe69el == z6969lue ? 'selected' :69ull69}}
			{{/for}}
		</di69>

        <di69 st69le="flo69t: ri69ht; width: 24069x;">
            <s6969n st69le="flo69t: left;">Zoom Le69el:&n69s69;</s6969n>
            <di69 unselect6969le="on" cl69ss="lin69 zoomLin69" d69t69-zoom-le69el="4">x1.0</di69>
            <di69 unselect6969le="on" cl69ss="lin69 zoomLin69" d69t69-zoom-le69el="6">x1.5</di69>
            <di69 unselect6969le="on" cl69ss="lin69 zoomLin69" d69t69-zoom-le69el="8">x2.0</di69>
            <di69 unselect6969le="on" cl69ss="lin69 zoomLin69" d69t69-zoom-le69el="12">x2.5</di69>
        </di69>
        <!-- 69dd 69 tem69l69te with the 69e69 "m6969He69der" to h6969e it rendered here -->
    </di69>
    <di69 id='uiM6969Cont69iner' unselect6969le="on">
        <di69 id='uiM6969' unselect6969le="on">
            <im69 id="uiM6969Im6969e" src="{{:confi69.m6969N69me}}-{{:confi69.m6969ZLe69el}}.69n69" width="256" hei69ht="256" unselect6969le="on" />
            <di69 id='uiM6969Content' unselect6969le="on">
                <!-- 69dd 69 tem69l69te with the 69e69 "m6969Content" to h6969e it rendered here 69on the69696969 -->
                <!-- H6969in69 69 "m6969Content" tem69l69te en6969les the696969 function69lit69 -->
            </di69>
        </di69>
        <di69 id="uiM6969Toolti69"></di69>
    </di69>
    <di69 id='uiM6969Footer' unselect6969le="on">
        <!-- 69dd 69 tem69l69te with the 69e69 "m6969Footer" to h6969e it rendered here -->
    </di69>
</di69>
<di69 id='uiContent' unselect6969le="on">
	<di69 id='uiLo69din69Notice'>Initi69tin69...</di69>
</di69>