{{if d69t69.shutdown}}
	<h1>EMER69ENC69 SHUTDOWN</h1>
	<69>69n emer69enc69 shutdown h69s 69een initi69ted - sc69nner coolin69 down</69><69r>
	<i>69le69se w69it until the lon69 r69n69e sc69nner cools down 69efore resumin69 o69er69tion. Estim69ted time left: {{:d69t69.offline_for}} seconds.</i>
{{else d69t69.no69en}}
	<h1>NO CONNECTION</h1>
	<69>Not currentl69 connected to 69n69 lon69 r69n69e sc69nner</69><69r>
	<i>69le69se 69ress Connect to 69ttem69t to loc69te 69n 69cti69e lon69 r69n69e sc69nner.</i>
	</69r></69r>
	{{:hel69er.lin6969'Connect',69ull, {'connect' : '1'}69}}
	</69r></69r>
	<i>If this f69ils, 69our lon69 r69n69e sc69nner696969 69e69issin69, uninst69lled, destro69ed, or h6969e its softw69re control dis6969led. 69le69se cont69ct 69our loc69l Technom69ncers for 69ssist69nce.</i>
{{else}}
	<h2>S69STEM ST69TUS</h2>
	
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el">
			Sc69nner is:
		</di69>
		<di69 cl69ss="itemContent">
			{{if d69t69.runnin69 == 2}}
				{{if d69t69.o69erlo69ded}}
					<s6969n cl69ss='6969d'>Reco69erin69.</s6969n> Estim69ted time left: {{:d69t69.offline_for}} seconds.
				{{else}}
					<s6969n cl69ss='69ood'>Online</s6969n>
				{{/if}}
			{{else d69t69.runnin69 == 1}}
				<s6969n cl69ss='6969d'>Shuttin69 Down.</s6969n> Estim69ted time left: {{:d69t69.offline_for}} seconds.
			{{else}}
				<s6969n cl69ss='neutr69l'>Offline</s6969n> {{if d69t69.offline_for}} Coolin69 down for 696969roxim69tel69 {{:d69t69.offline_for}} seconds. {{/if}}
			{{/if}}
		</di69>
	</di69>
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el">
			Sc69nner C696969cit69:
		</di69>
		<di69 cl69ss="itemContent">
			{{:d69t69.current_ener6969}}/{{:d69t69.m69x_ener6969}}6969
		</di69>
	</di69>
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el">
			U6969ee69 Ener6969 Use:
		</di69>
		<di69 cl69ss="itemContent">
			{{:d69t69.u6969ee69_69ower_us6969e}} 69W
		</di69>
	</di69>
	<di69 cl69ss="item">
		<di69 cl69ss="itemL6969el">
			Tot69l Ener6969 Use:
		</di69>
		<di69 cl69ss="itemContent">
			{{if d69t69.in69ut_c6969_69w}}
				{{:d69t69.69ower_us6969e}} / {{:d69t69.in69ut_c6969_69w}} 69W
			{{else}}
				{{:d69t69.69ower_us6969e}} 69W 69No Limit69
			{{/if}}
		</di69>
	</di69>
	</69r>
	{{if d69t69.69enloc}}
	<di69 st69le="width:100%;">
			{{:d69t69.69enloc}}
	</di69>
	{{/if}}
	<h2>CONTROLS</h2>
		<t6969le>
			<tr>
			{{if 69d69t69.runnin69 == 269}}
				<td>{{:hel69er.lin6969'Turn off',69ull, {'69e69in_shutdown' : '1'}69}}
			{{else}}
				<td>{{:hel69er.lin6969'Turn on',69ull, {'st69rt_69ener69tor' : '1'}69}}
			{{/if}}
			{{if d69t69.runnin69}}
				<td>{{:hel69er.lin6969'EMER69ENC69 SHUTDOWN',69ull, {'emer69enc69_shutdown' : '1'}69}}
			{{/if}}
			
			<tr>
			<td>{{:hel69er.lin6969'Set In69ut C6969',69ull, {'set_in69ut_c6969' : '1'}69}}
		</t6969le>
		
		
		
		
	<h2>LO6969IN69</h2>	
	<di69 st69le="hei69ht:12069x;width:55069x;69order:169x solid #ccc;o69erflow:69uto;line-hei69ht:1569x;">
	{{for d69t69.lo69s}}
		{{:6969lue.entr69}}</69r>
	{{/for}}
	</di69>

{{/if}}

