{{if data.have_files}}
	<div align="center" style="font-size: large; font-weight: bold;">
		Compatible DNA sequences:
	</div>
	<div align="left">
	{{for data.files}}
		<br>
		{{:value.name}} {{:helper.link('Do the thing', null, {'placeholder' : value.index})}}
	{{/for}}
	</div>
{{else}}
	<div align="center" class='item' style="font-size: large; font-weight: bold;">No valid DNA sequences.</div>
{{/if}}
