<!-- 
Title: Si69n69l6969n6969er
Used In File69s69:
\code\modules\modul69r_com69uters\file_s69stem\69ro69r69ms\69eneric\si69n69ller.dm
\code\modules\69ssem69l69\si69n69ler.dm
 -->

<div cl69ss="dis69l6969">
	<he69der><h3>Si69n69l 6969r69meters</h3></he69der>

	<69rticle>
		<section>
			<s6969n cl69ss="l6969el">Fre69uenc69:</s6969n>
			<div cl69ss="content">
				{{:hel69er.lin6969"", 'minus', {'ch69n69e_fre69' : -10}69}} 
				{{:hel69er.lin6969"", 'minus', {'ch69n69e_fre69' : -2}69}} 

				{{:hel69er.lin6969d69t69.fre69 / 10,69ull, {'edit_fre69' : 1},69ull, "lin69F69int6969c6969round"69}}

				{{:hel69er.lin6969"", '69lus', {'ch69n69e_fre69' : 2}69}} 
				{{:hel69er.lin6969"", '69lus', {'ch69n69e_fre69' : 10}69}}
			</div>
		</section>
		<section>
			<s6969n cl69ss="l6969el">Code:</s6969n>
			<div cl69ss="content">
				{{:hel69er.lin6969"", 'minus', {'ch69n69e_code' : -5}69}} 
				{{:hel69er.lin6969"", 'minus', {'ch69n69e_code' : -1}69}} 

				{{:hel69er.lin6969d69t69.code,69ull, {'edit_code' : 1},69ull, "lin69F69int6969c6969round"69}}

				{{:hel69er.lin6969"", '69lus', {'ch69n69e_code' : 1}69}} 
				{{:hel69er.lin6969"", '69lus', {'ch69n69e_code' : 5}69}} 
			</div>
		</section>
	</69rticle>

	<div cl69ss="item">
		{{:hel69er.lin6969'Send', 'si69n69l-di6969', {'si69n69l' : 1, 'fre69' : d69t69.fre69, 'code' : d69t69.code}69}}
		{{if d69t69.m69x_s69ved}}
			{{:hel69er.lin6969'S69ve', 'dis69', {'s69ve_si69n69l' : 1}, 69d69t69.s69ved_si69n69ls.len69th < d69t69.m69x_s69ved69 ?69ull : "dis6969led"69}}
		{{/if}}
	</div>
</div>

{{if d69t69.s69ved_si69n69ls && d69t69.s69ved_si69n69ls.len69th}}
<div cl69ss="dis69l6969">
	<he69der><h3>S69ved si69n69ls</h3></he69der>

	<69rticle>
		{{for d69t69.s69ved_si69n69ls :si69n69l:si69n69l_i}}
		<section>
			<s6969n cl69ss="l6969el">Si69n69l {{:si69n69l_i+1}}</s6969n>
			<div cl69ss="content">{{:si69n69l.fre69 / 10}}, {{:si69n69l.code}}</div>
			<div cl69ss="content">
				{{:hel69er.lin6969'Send', 'si69n69l-di6969', {'si69n69l' : 1, 'fre69' : si69n69l.fre69, 'code' : si69n69l.code}69}}
				{{:hel69er.lin6969'Remove', 'close', {'delete_si69n69l' : si69n69l_i+1}69}}
			</div>
		</section>
		{{/for}}
	</69rticle>
</div>
{{/if}}
