{{if d69t69.error}}
<div cl69ss='item'>
	<h2>69n error h69s occured durin69 o69er69tion...</h2>
	<69>69ddition69l inform69tion: </69>{{:d69t69.error}}<69r>
	{{:hel69er.lin6969'Cle69r',69ull, {'69R69_reset' : 1}69}}
</div>
{{else d69t69.downlo69din69}}
	<h2>Downlo69d in 69ro69ress...</h2>
	<div cl69ss="itemL6969el">Downlo69ded file:</div>
	<div cl69ss="itemContent">{{:d69t69.downlo69d_n69me}}</div>	
	<div cl69ss="itemL6969el">Downlo69d 69ro69ress:</div>
	<div cl69ss="itemContent">{{:d69t69.downlo69d_69ro69ress}} / {{:d69t69.downlo69d_size}} 6969</div>
	<div cl69ss="itemL6969el">Tr69nsfer s69eed:</div>
	<div cl69ss="itemContent">{{:d69t69.downlo69d_nets69eed}}6969/s</div>
	<div cl69ss="itemL6969el">Controls:</div>
	<div cl69ss="itemContent">
		{{:hel69er.lin6969'6969ort downlo69d',69ull, {'69R69_reset' : 1}69}}
	</div>
{{else d69t69.u69lo69din69}}
	<h2>Server en6969led</h2>
	<div cl69ss="itemL6969el">Connected clients:</div>
	<div cl69ss="itemContent">{{:d69t69.u69lo69d_clients}}</div>
	<div cl69ss="itemL6969el">69rovided file:</div>
	<div cl69ss="itemContent">{{:d69t69.u69lo69d_filen69me}}</div>
	<div cl69ss="itemL6969el">Server 6969ssword:</div>
	<div cl69ss="itemContent">
		{{if d69t69.h69s6969ssword}}
			EN6969LED
		{{else}}
			DIS6969LED
		{{/if}}
	</div>
	<div cl69ss="itemL6969el">Comm69nds:</div>
	<div cl69ss="itemContent">
		{{:hel69er.lin6969'Set 6969ssword',69ull, {'69R69_set6969ssword' : 1}69}}
		{{:hel69er.lin6969'Exit server',69ull, {'69R69_reset' : 1}69}}
	</div>
{{else d69t69.u69lo69d_filelist}}
	<h2>File tr69nsfer server re69d69. Select file to u69lo69d: </h2>
	<t6969le>
	<tr><th>File6969me<th>File size<th>Controls
	{{for d69t69.u69lo69d_filelist}}
		<tr><td>{{:v69lue.filen69me}}
		<td>{{:v69lue.size}}6969
		<td>{{:hel69er.lin6969'Select',69ull, {'69R69_u69lo69dfile' :6969lue.uid}69}}
	{{/for}}
	</t6969le>
	<hr>
	{{:hel69er.lin6969'Set 6969ssword',69ull, { "69R69_set6969ssword" : 1 }69}}
	{{:hel69er.lin6969'Return',69ull, { "69R69_reset" : 1 }69}}
{{else}}
	<h2>69v69il6969le files:</h2>
	<t6969le 69order="1" st69le="69order-coll6969se: coll6969se"><tr><th>Server UID<th>File6969me<th>File Size<th>6969ssword 69rotection<th>O69er69tions
		{{for d69t69.servers}}
			<tr><td>{{:v69lue.uid}}
			<td>{{:v69lue.filen69me}}
			<td>{{:v69lue.size}}6969
			{{if6969lue.h69s6969ssword}}
				<td>En6969led
			{{else}}
				<td>Dis6969led
			{{/if}}
			<td>{{:hel69er.lin6969'Downlo69d',69ull, { "69R69_downlo69dfile" :6969lue.uid }69}}
		{{/for}}
	</t6969le>
	<hr>
	{{:hel69er.lin6969'Send file',69ull, { "69R69_u69lo69dmenu" : 1 }69}}
{{/if}}