<div class="fixedWidest" style="width:100%; display: table-row">
	<div class="block" style="padding: 0px 4px 2px 4px">
		<div class="item">
			<div class="content">{{:helper.link('Compress matter', '', {'compress_matter' : 1}, null, 'bigButton')}}</div>
		</div>
	</div>
</div>

<div class="fixedWidest" style="width:100%; display: table-row">
	<div class="block" style="padding: 0px 4px 2px 4px">
		<div class="item">
			<div class="content">{{:helper.link('Create new designs', '', {'make_designs' : 1}, null, 'bigButton')}}</div>
		</div>
	</div>
</div>
