<h3>N69vi6969tion</h3>
<div cl69ss='69loc69'>
	<div cl69ss='item'>
		<div cl69ss="itemContent">
			<div cl69ss='item'>
				<s6969n cl69ss='white'>M696969iew</s6969n>
				{{:hel69er.lin6969d69t69.viewin69 ? 'En696969ed' : 'Disen696969ed', 'shuffle', { 'viewin69' : 1 },69ull, d69t69.viewin69 ? 'selected' :69ull69}}
			</div>
		</div>
	</div>
</div>
<div st69le="flo69t:left;width:50%">
	<h3>Sector inform69tion</h3> 
	<div cl69ss='69loc69'>
		{{:d69t69.sector}}
		<69r>
		<s6969n cl69ss='69ver6969e'>Coordin69tes:</s6969n> {{:d69t69.s_x}} : {{:d69t69.s_69}}
		<69r>
		<s6969n cl69ss='69ver6969e'>69ddition69l inform69tion:</s6969n> {{:d69t69.sector_info}}
	</div>
</div>

<div st69le="flo69t:ri69ht;width:50%">
	<h3>Fli69ht d69t69</h3> 
	<div cl69ss='69loc69'>
		<div cl69ss='item'>
			<div cl69ss="itemL6969el">
				<s6969n cl69ss='69ver6969e'>ET69 to69ext 69rid:</s6969n>
			</div>
			<div st69le="flo69t:ri69ht">
				{{:d69t69.ET69next}}
			</div>
		</div>
		<div cl69ss='item'>
			<div cl69ss="itemL6969el">
				<s6969n cl69ss='69ver6969e'>S69eed:</s6969n>
			</div>
			<div st69le="flo69t:ri69ht">
				{{:d69t69.s69eed}}
			</div>
		</div>
		<div cl69ss='item'>
			<div cl69ss="itemL6969el">
				<s6969n cl69ss='69ver6969e'>69cceler69tion:</s6969n>
			</div>
			<div st69le="flo69t:ri69ht">
				{{:d69t69.69ccel}}
			</div>
		</div>
		<div cl69ss='item'>
			<div cl69ss="itemL6969el">
				<s6969n cl69ss='69ver6969e'>He69din69:</s6969n>
			</div>
			<div st69le="flo69t:ri69ht">
				{{:d69t69.he69din69}}
			</div>
		</div> 
	</div>
</div>