
{{if data.operational}}
	<div class="itemLabel"> Status:  </div>
	<div class="itemContent">
		OPERATIONAL
	</div>

	<div class="itemLabel"> Power output:  </div>
	<div class="itemContent">
		{{:data.output_power}}
	</div>

	<div class="itemLabel"> O2 input:  </div>
	<div class="itemContent">
		{{if data.O2_input}}
			OK
		{{else}}
			NONE
		{{/if}}
	</div>
	
	<div class="itemLabel"> CO2 output:  </div>
	<div class="itemContent">
		{{if data.CO2_output}}
			OK
		{{else}}
			NONE
		{{/if}}
	</div>

	<div class="itemLabel"> Tank:  </div>
	<div class="itemContent">
		{{if data.tank}}
			Connected ({{:data.tank_bio_amount}} of biomatter left)
		{{else}}
			NONE
		{{/if}}
	</div>

	<div class="itemLabel"> Pipes condition:  </div>
	<div class="itemContent">
		{{if data.pipes_condition < 2 && data.pipes_condition}}
			SLIGHTLY DIRTY
		{{else data.pipes_condition < 4}}
			DIRTY
		{{else data.pipes_condition == 5}}
			BLOCKAGE
		{{else}}
			CLEAN
		{{/if}}
	</div>
	
	{{if data.coil}}
		<div class="itemLabel"> Coil efficiency: </div>
		<div class="itemContent"> {{:data.coil_condition}} % </div>
		<hr></hr>
		<div class="itemLabel"> Coil temperature: </div>
		<div class="itemContent"> {{:data.coil_temperature}} </div>
	{{else}}
		Coil not inserted
	{{/if}}
	
	
	{{if data.wires}}
		<div class="itemLabel"> Coil efficiency: </div>
		<div class="itemContent"> {{:data.coil_condition}} % </div>
	{{else}}
		Air chamber is lack of wires!
	{{/if}}

	
{{else}}
	<div class="itemLabel"> Status:  </div>
	<div class="itemContent">
		NOT OPERATIONAL
	</div>
{{/if}}