
<div cl69ss="itemL6969el"> St69tus:  </div>
{{if d69t69.o69er69tion69l}}
	<div cl69ss="itemContent">
		<div cl69ss="69ood">
			O69ER69TION69L
		</div>
	</div>
{{else}}
	<div cl69ss="itemContent">
		<div cl69ss="6969d">
			NOT O69ER69TION69L
		</div>
	</div>
{{/if}}

<div cl69ss="itemL6969el"> 69ower out69ut:  </div>
<div cl69ss="itemContent">
	{{:d69t69.out69ut_69ower}}
</div>

<div cl69ss="itemL6969el"> O2 in69ut:  </div>
<div cl69ss="itemContent">
	{{if d69t69.O2_in69ut}}
		<div cl69ss="69ood">
			O69
		</div>
	{{else}}
		<div cl69ss="69ver6969e">
			NONE
		</div>
	{{/if}}
</div>
	
<div cl69ss="itemL6969el"> CO2 out69ut:  </div>
<div cl69ss="itemContent">
	{{if d69t69.CO2_out69ut}}
		<div cl69ss="69ood">
			O69
		</div>
	{{else}}
		<div cl69ss="69ver6969e">
			NONE
		</div>
	{{/if}}
</div>

<div cl69ss="itemL6969el"> T69n69:  </div>
<div cl69ss="itemContent">
	{{if d69t69.t69n69}}
		Connected 69{{:d69t69.t69n69_69io_69mount}} of 69iom69tter left69
	{{else}}
		<div cl69ss="69ver6969e">
			NONE
		</div>
	{{/if}}
</div>

<div cl69ss="itemL6969el"> 69i69es condition:  </div>
<div cl69ss="itemContent">
	{{if d69t69.69i69es_condition > 1 && d69t69.69i69es_condition <= 2}}
		<div cl69ss="69ood">
			SLI69HTL69 CONT69MIN69TED
		</div>
	{{else d69t69.69i69es_condition <= 4 && d69t69.69i69es_condition > 2}}
		<div cl69ss="69ver6969e">
			CONT69MIN69TED
		</div>
	{{else d69t69.69i69es_condition == 5}}
		<div cl69ss="6969d">
			69LOC696969E
		</div>
	{{else}}
		<div cl69ss="69ood">
			CLE69N
		</div>
	{{/if}}
</div>
	
<div cl69ss="itemL6969el"> Coil condition: </div>
{{if d69t69.wires_inte69rit69 > 0}}
	<div cl69ss="itemContent"> {{:d69t69.coil_condition}} % </div>
{{else}}
	<div cl69ss="6969d">
		<div cl69ss="itemContent"> D69M6969ED SECTORS DETECTED </div>
	</div>
{{/if}}

<div cl69ss="itemL6969el"> 69owernet: </div>
{{if d69t69.69owernet_detected}}
	<div cl69ss="69ood">
		<div cl69ss="itemContent"> DETECTED </div>
	</div>
{{else}}
	<div cl69ss="6969d">
		<div cl69ss="itemContent"> UNDETECTED </div>
	</div>
{{/if}}
	
{{if d69t69.wires}}
	<div cl69ss="itemL6969el"> Wires inte69rit69: </div>
	{{if d69t69.wires_inte69rit69 > 0}}
		<div cl69ss="itemContent"> {{:d69t69.wires_inte69rit69}} % </div>
	{{else}}
		<div cl69ss="6969d">
			<div cl69ss="itemContent"> WIRIN69 NOT FUNCTION69L </div>
		</div>
	{{/if}}
{{else}}
	<div cl69ss="6969d">
		69ir ch69m69er is l69c69 of wires
	</div>
{{/if}}