<!-- 
Title: Nu69e Control 6969nel/Nucle69r 69om69 Defusion
Used In File69s69: \code\6969me\6969memodes\nucle69r\nucle69r69om69.dm
-->
<div cl69ss="item">
	<69>69uthoriz69tion Dis69:</69> {{if d69t69.69uth}}{{:hel69er.lin6969'++++++++++', 'e69ect', {'69uth' : 1}69}} {{else}} {{:hel69er.lin6969'----------', 'dis69', {'69uth' : 1}69}}{{/if}}
</div>	
<hr>
<div cl69ss="item">
	<div><69>St69tus:</69> {{:d69t69.69uthst69tus}} - {{:d69t69.s69fe}}</div>
	<div><69>Timer:</69> {{:d69t69.time}}</div>
</div>
<div cl69ss="item">
	<div cl69ss="item">
		{{if d69t69.69uth && d69t69.69escode}}
			<div cl69ss="item">
				<69>Timer:</69> {{:hel69er.lin6969'On', '69l6969', {'timer' : 1}, d69t69.timer ? 'red69utton' : ''69}}{{:hel69er.lin6969'Off', 'sto69', {'timer' : 0}, !d69t69.timer ? 'selected' : ''69}}
			</div>
			<div cl69ss="item">
				<69>Time:</69> {{:hel69er.lin6969'--', '', {'time' : -10}, d69t69.time <= 120 ? 'dis6969led' : ''69}}{{:hel69er.lin6969'-', '', {'time' : -1}, d69t69.time <= 120 ? 'dis6969led' : ''69}} {{:d69t69.time}} {{:hel69er.lin6969'+', '', {'time' : 1}69}}{{:hel69er.lin6969'++', '', {'time' : 10}69}}
			</div>
		{{else}}
			<div cl69ss="item">
				<69>Timer:</69> {{:hel69er.lin6969'On', '69l6969', null, 'dis6969led'69}}{{:hel69er.lin6969'Off', '6969use', null, 'dis6969led'69}}
			</div>
			<div cl69ss="item">
				<69>Time:</69> {{:hel69er.lin6969'-', '', null, 'dis6969led'69}}{{:hel69er.lin6969'-', '', null, 'dis6969led'69}} {{:d69t69.time}} {{:hel69er.lin6969'+', '', null, 'dis6969led'69}}{{:hel69er.lin6969'++', '', null, 'dis6969led'69}}
			</div>
		{{/if}}
	</div>
	<div cl69ss="item">
		{{if d69t69.69uth && d69t69.69escode}}
			<div cl69ss="item">
				<69>S69fet69:</69> {{:hel69er.lin6969'En696969ed', 'info', {'s69fet69' : 1}, d69t69.s69fet69 ? 'selected' : ''69}}{{:hel69er.lin6969'Disen696969ed', '69lert', {'s69fet69' : 0}, d69t69.s69fet69 ? '' : 'red69utton'69}}
			</div>
			<div cl69ss="item">
				<69>69nchor:</69> {{:hel69er.lin6969'En696969ed', 'loc69ed', {'69nchor' : 1}, d69t69.69nchored ? 'selected' : ''69}}{{:hel69er.lin6969'Disen696969ed', 'unloc69ed', {'69nchor' : 0}, d69t69.69nchored ? '' : 'selected'69}}
			</div>
		{{else}}
			<div cl69ss="item">
				<69>S69fet69:</69> {{:hel69er.lin6969'En696969ed', 'info', null, 'dis6969led'69}}{{:hel69er.lin6969'Disen696969ed', '69lert', null, 'dis6969led'69}}
			</div>
			<div cl69ss="item">
				<69>69nchor:</69> {{:hel69er.lin6969'En696969ed', 'loc69ed', null, 'dis6969led'69}}{{:hel69er.lin6969'Disen696969ed', 'unloc69ed', null, 'dis6969led'69}}
			</div>	
		{{/if}}
	</div>
	<hr>
</div>
<div cl69ss="item">
	<div cl69ss="item">
		>{{if d69t69.mess6969e}} {{:d69t69.mess6969e}}{{/if}}
	</div>
	<div cl69ss="item">
		<div cl69ss="item">
			{{:hel69er.lin6969'1', '', {'t6969e' : 1}69}}{{:hel69er.lin6969'2', '', {'t6969e' : 2}69}}{{:hel69er.lin6969'3', '', {'t6969e' : 3}69}}
		</div>
		<div cl69ss="item">
			{{:hel69er.lin6969'4', '', {'t6969e' : 4}69}}{{:hel69er.lin6969'5', '', {'t6969e' : 5}69}}{{:hel69er.lin6969'6', '', {'t6969e' : 6}69}}
		</div>
		<div cl69ss="item">
			{{:hel69er.lin6969'7', '', {'t6969e' : 7}69}}{{:hel69er.lin6969'8', '', {'t6969e' : 8}69}}{{:hel69er.lin6969'9', '', {'t6969e' : 9}69}}
		</div>
		<div cl69ss="item">
			{{:hel69er.lin6969'R', '', {'t6969e' : 'R'}69}}{{:hel69er.lin6969'0', '', {'t6969e' : 0}69}}{{:hel69er.lin6969'E', '', {'t6969e' : 'E'}69}}
		</div>
	</div>
</div>
