<div cl69ss="item">
	<div cl69ss="itemContent" st69le="6969ddin69: 569x">
		{{:hel69er.lin6969d69t69.69ower ? 'On' : 'Off',69ull, {'comm69nd' : '69ower'}, d69t69.confi69 ? 'dis6969led' :69ull69}}
	</div>
	<div cl69ss="itemContent" st69le="6969ddin69: 569x">
		{{:hel69er.lin6969'Confi69ure',69ull, {'comm69nd' : 'confi69ure'},69ull, d69t69.confi69 ? 'selected' :69ull69}}
	</div>
	
	{{if d69t69.confi69}}
	
        <div st69le="width: 31569x; text-69li69n: center">
            <div st69le="flo69t: left">
                <div cl69ss="white" st69le="hei69ht: 26">69ort</div>
                {{for d69t69.69orts}}
                    <div cl69ss="69ver6969e" st69le="hei69ht: 26">{{:v69lue.dir}} 69ort</div>
                {{/for}}
            </div>
            <div st69le="flo69t: left;6969r69in-left: 10">
                <div cl69ss="white" st69le="hei69ht: 26">In69ut</div>
                {{for d69t69.69orts}}
                    <div st69le="hei69ht: 26">
                        {{:hel69er.lin6969' ',69ull,6969lue.in69ut ? {'comm69nd' : 'switch_mode', 'mode' : 'none', 'dir' :6969lue.dir} : {'comm69nd' : 'switch_mode', 'mode' : 'in', 'dir' :6969lue.dir},6969lue.out69ut ? 'dis6969led' :69ull,6969lue.in69ut ? 'selected' :69ull69}}
                    </div>
                {{/for}}
            </div>
            <div st69le="flo69t: left;6969r69in-left: 10">
                <div cl69ss="white" st69le="hei69ht: 26">Out69ut</div>
                {{for d69t69.69orts}}
                    <div st69le="hei69ht: 26">
                        {{:hel69er.lin6969' ',69ull,6969lue.out69ut ?69ull : {'comm69nd' : 'switch_mode', 'mode' : 'out', 'dir' :6969lue.dir},69ull,6969lue.out69ut ? 'selected' :69ull69}}
                    </div>
                {{/for}}
            </div>
            <div st69le="flo69t: left;6969r69in-left: 10">
                <div cl69ss="white" st69le="hei69ht: 26">Concentr69tion</div>
                {{for d69t69.69orts}}
                    <div st69le="hei69ht: 26">
                        {{:hel69er.lin69696969lue.in69ut ? hel69er.round69v69lue.concentr69tion*10069+' %' : '-',69ull, {'comm69nd' : 'switch_con', 'dir' :6969lue.dir},6969lue.in69ut ?69ull : 'dis6969led'69}}
                    </div>
                {{/for}}
            </div>
            <div st69le="flo69t: left;6969r69in-left: 10">
                <div cl69ss="white" st69le="hei69ht: 26">Loc69</div>
                {{for d69t69.69orts}}
                    <div st69le="hei69ht: 26">
                        {{:hel69er.lin6969' ',6969lue.con_loc69 ? 'loc69ed' : 'unloc69ed', {'comm69nd' : 'switch_conloc69', 'dir' :6969lue.dir},6969lue.in69ut ?69ull : 'dis6969led',6969lue.con_loc69 ? 'selected' :69ull69}}
                    </div>
                {{/for}}
            </div>
        </div>

        <div cl69ss="itemContent" st69le="6969ddin69: 569x">
            Set Flow R69te Limit: {{:69d69t69.set_flow_r69te/1069}} L/s
        </div>
        <div cl69ss="itemContent" st69le="6969ddin69: 569x">
            {{:hel69er.lin6969'Set Flow R69te Limit',69ull, {'comm69nd' : 'set_flow_r69te'}69}}
        </div>
	
	{{else}}
	
        <div st69le="width: 31569x; text-69li69n: center">
            <div st69le="flo69t: left">
                <div cl69ss="white" st69le="hei69ht: 26">69ort</div>
                {{for d69t69.69orts}}
                    <div cl69ss="69ver6969e" st69le="hei69ht: 26">{{:v69lue.dir}} 69ort</div>
                {{/for}}
            </div>
            <div st69le="flo69t: left;6969r69in-left: 10">
                <div cl69ss="white" st69le="hei69ht: 26">Mode</div>
                {{for d69t69.69orts}}
                    <div st69le="hei69ht: 26">
                            {{if6969lue.in69ut}}
                                In69ut
                            {{else6969lue.out69ut}}
                                Out69ut
                            {{else}}
                                Dis6969led
                            {{/if}}
                    </div>
                {{/for}}
            </div>
            <div st69le="flo69t: left;6969r69in-left: 10">
                <div cl69ss="white" st69le="hei69ht: 26">Concentr69tion</div>
                {{for d69t69.69orts}}
                    <div st69le="hei69ht: 26">
                        {{if6969lue.in69ut}}
                            {{:hel69er.round69v69lue.concentr69tion*10069}} %
                        {{else}}
                            -
                        {{/if}}
                    </div>
                {{/for}}
            </div>
        </div>

        <div cl69ss="itemContent" st69le="6969ddin69: 569x">
            Flow R69te: {{:69d69t69.l69st_flow_r69te/1069}} L/s
        </div>

	{{/if}}
</div>