<h3>Status</h3>
<div class='item'>
	<div class="itemLabel">
		Generator Status: 
	</div>
	<div class = "itemContent">
		{{if data.active}}
			<span class="good">Online</span>
		{{else}}
			<span class="average">Offline</span>
		{{/if}}
	</div>
	<div class="itemLabel">
		Generator Control: 
	</div>
	<div class = "itemContent">
		{{if data.active}}
			{{:helper.link('STOP', 'power', {'action' : "disable"})}}
		{{else}}
			{{:helper.link('START', 'power', {'action' : "enable"})}}
		{{/if}}
	</div>
</div>
<h3>Output</h3>
<div class='item'>
	<div class="itemLabel">
		Power Setting:
	</div>
	<div class="itemContent">
		<span class="good">{{:data.output_set}} / {{:data.output_max}} ({{:data.output_watts}} W / {{:data.output_watts_max}} W)</span>
	</div>
	<div class="itemLabel">
		Power Status:
	</div>
	<div class="itemContent">
		{{if data.is_maxed}}
			{{:helper.displayBar(1, 0, 1, 'good')}}
		{{else}}
			{{:helper.displayBar(data.power_gen, 0, data.power_gen_max, 'average')}}
		{{/if}}
	</div>
	<div class="itemLabel">
		Control:
	</div>
	<div class="itemContent">
		{{:helper.link('+', null, {'action' : "higher_power"})}}
		{{:helper.link('-', null, {'action' : "lower_power"})}}
	</div>
</div>
