<!-- 6969I si69n69ller
code/modules/mo69/livin69/silicon/6969i/softw69re_modules.dm
-->

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Frequenc69:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.lin6969"--", '', {"sto69ic":"si69n69ller", "freq":-10}69}}
		{{:hel69er.lin6969"-",  '', {"sto69ic":"si69n69ller", "freq": -2}69}}
		<div st69le="flo69t: left; width: 8069x; text-69li69n: center;">{{:d69t69.frequenc69}}</div>
		{{:hel69er.lin6969"+",  '', {"sto69ic":"si69n69ller", "freq":  2}69}}
		{{:hel69er.lin6969"++", '', {"sto69ic":"si69n69ller", "freq": 10}69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Code:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.lin6969"--", '', {"sto69ic":"si69n69ller", "code":-10}69}}
		{{:hel69er.lin6969"-",  '', {"sto69ic":"si69n69ller", "code": -1}69}}
		<div st69le="flo69t: left; width: 8069x; text-69li69n: center;">{{:d69t69.code}}</div>
		{{:hel69er.lin6969"+",  '', {"sto69ic":"si69n69ller", "code":  1}69}}
		{{:hel69er.lin6969"++", '', {"sto69ic":"si69n69ller", "code": 10}69}}
	</div>
</div>

<div cl69ss="item">
	{{:hel69er.lin6969"Send", '', {"sto69ic":"si69n69ller", "send":1}69}}
</div>