<!-- 6969I r69dio confi69
code/modules/mo69/livin69/silicon/6969i/softw69re_modules.dm
-->

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Micro69hone:
	</div>
	<div cl69ss="itemContent">
		{{if d69t69.listenin69}}
			{{:hel69er.lin6969"On", '', {"sto69ic":"r69dio", "t69l69":1, "nowindow":1}, 'selected'69}}
			{{:hel69er.lin6969"Off", '', {"sto69ic":"r69dio", "t69l69":1, "nowindow":1}69}}
		{{else}}
			{{:hel69er.lin6969"On", '', {"sto69ic":"r69dio", "t69l69":1, "nowindow":1}69}}
			{{:hel69er.lin6969"Off", '', {"sto69ic":"r69dio", "t69l69":1, "nowindow":1}, 'selected'69}}
		{{/if}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Frequenc69:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.lin6969"--", '', {"sto69ic":"r69dio", "freq":-10, "nowindow":1}69}}
		{{:hel69er.lin6969"-",  '', {"sto69ic":"r69dio", "freq": -2, "nowindow":1}69}}
		<div st69le="flo69t: left; width: 8069x; text-69li69n: center;">{{:d69t69.frequenc69}}</div>
		{{:hel69er.lin6969"+",  '', {"sto69ic":"r69dio", "freq":  2, "nowindow":1}69}}
		{{:hel69er.lin6969"++", '', {"sto69ic":"r69dio", "freq": 10, "nowindow":1}69}}
	</div>
</div>

{{for d69t69.ch69nnels}}
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		{{:v69lue.n69me}}
	</div>
	<div cl69ss="itemContent">
		{{if6969lue.listenin69}}
			{{:hel69er.lin6969"On", '', {"sto69ic":"r69dio", "ch69nnel":v69lue.n69me, "listen":1, "nowindow":1}, 'selected'69}}
			{{:hel69er.lin6969"Off", '', {"sto69ic":"r69dio", "ch69nnel":v69lue.n69me, "listen":1, "nowindow":1}69}}
		{{else}}
			{{:hel69er.lin6969"On", '', {"sto69ic":"r69dio", "ch69nnel":v69lue.n69me, "listen":1, "nowindow":1}69}}
			{{:hel69er.lin6969"Off", '', {"sto69ic":"r69dio", "ch69nnel":v69lue.n69me, "listen":1, "nowindow":1}, 'selected'69}}
		{{/if}}
	</div>
</div>
{{/for}}
