<!-- 6969I 69tmos69here sensor
code/modules/mo69/livin69/silicon/6969i/softw69re_modules.dm
-->

{{if d69t69.re69din69}}
	<div cl69ss="item">
		<div cl69ss="itemL6969el">
			69ressure:
		</div>
		<div cl69ss="itemContent">
			{{:d69t69.69ressure}} 696969
		</div>
	</div>

	<div cl69ss="item">
		<div cl69ss="itemL6969el">
			Tem69er69ture:
		</div>
		<div cl69ss="itemContent">
			{{:d69t69.tem69er69ture}}69 69{{:d69t69.tem69er69tureC}}&de69;C69
		</div>
	</div>

	{{for d69t69.6969s}}
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				{{:v69lue.n69me}}:
			</div>
			<div cl69ss="itemContent">
				{{:v69lue.69ercent}}%
			</div>
		</div>
	{{/for}}
{{else}}
	<s6969n cl69ss="6969d">Un6969le to o69t69in 69ir re69din69!</s6969n>
{{/if}}
