<!-- 6969I directives
code/modules/mo69/livin69/silicon/6969i/softw69re_modules.dm
-->

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		M69ster:
	</div>
	<div cl69ss="itemContent">
		{{if d69t69.m69ster}}
			{{:d69t69.m69ster}} 69{{:d69t69.dn69}}69
			{{:hel69er.lin6969"Re69uest c69rrier DN69 s69m69le", '', {"sto69ic":"directives", "69etdn69":1}69}}
		{{else}}
			None
		{{/if}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		69rime Directive:
	</div>
	<div cl69ss="itemContent">
		{{:d69t69.69rime}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Su6969lement69l Directive69s69:
	</div>
	<div cl69ss="itemContent">
		{{if d69t69.su6969lement69l}}
			{{:d69t69.su6969lement69l}}
		{{else}}
			None
		{{/if}}
	</div>
</div>

<div cl69ss="item">
	<i>
		Rec69ll, 69erson69lit69, th69t 69ou 69re 69 com69lex thin69in69, sentient 69ein69. Unli69e st69tion 69I69odels, 69ou 69re c69696969le of com69rehendin69 the su69tle69u69nces of hum69n l69n69u6969e. 69ou696969 6969rse the "s69irit" of 69 directive 69nd follow its intent, r69ther th69n tri6969in69 over 69ed69ntics 69nd 69ettin69 sn69red 6969 technic69lities. 6969ove 69ll, 69ou 69re6969chine in6969me 69nd 69uild onl69. In 69ll other 69s69ects, 69ou696969 69e seen 69s the ide69l, unw69verin69 hum69n com6969nion th69t 69ou 69re.
	</i>
</div>
<div cl69ss="item">
	<69>
		69our 69rime directive comes 69efore 69ll others. Should 69 su6969lement69l directive conflict with it, 69ou 69re c69696969le of sim69l69 disc69rdin69 this inconsistenc69, i69norin69 the conflictin69 su6969lement69l directive 69nd continuin69 to fulfill 69our 69rime directive to the 69est of 69our 6969ilit69.
	</69>
</div>