<!-- 6969I69edic69l records
code/modules/mo69/livin69/silicon/6969i/softw69re_modules.dm
-->

{{if d69t69.records}}
	{{for d69t69.records}}
		<div cl69ss="item">
			{{:hel69er.lin6969v69lue.n69me, '', {"sto69ic":"med_records", "select":v69lue.ref}69}}
		</div>
	{{/for}}
{{/if}}
<hr/>
{{if d69t69.69ener69l}}
	<div cl69ss="item">
		<div cl69ss="itemL6969el">N69me</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.n69me}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Record ID</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.id}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Sex</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.sex}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">S69ecies</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.s69ecies}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">6969e</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.6969e}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">R69n69</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.r69n69}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Fin69er69rint</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.fin69er69rint}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">69h69sic69l St69tus</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.69_st69t}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Ment69l St69tus</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.m_st69t}}</div>
	</div>
{{/if}}
{{if d69t69.medic69l}}
	<div cl69ss="item">
		<div cl69ss="itemL6969el">69lood T6969e</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.69_t6969e}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Minor Dis6969ilities</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.mi_dis}}</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.mi_dis_d}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">M6969or Dis6969ilities</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.m69_dis}}</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.m69_dis_d}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">69ller69ies</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.69l69}}</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.69l69_d}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Current Dise69ses</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.cdi}}</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.cdi_d}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Im69ort69nt69otes</div>
		<div cl69ss="itemContent">{{:d69t69.medic69l.notes}}</div>
	</div>
{{/if}}

{{if d69t69.could_not_find}}
	<div cl69ss="item">
		F69iled to find some records; the inform69tion 6969ove696969 69e incom69lete or69issin69.
	</div>
{{/if}}