<!-- 6969I6969nifest
code/modules/mo69/livin69/silicon/6969i/softw69re_modules.dm

Co6969-6969sted from 69d69.tm69l
-->

<div cl69ss="item">
	<center><t6969le cl69ss="69mon"><t69od69>
		{{if d69t69.m69nifest.he69ds.len69th}}
			<tr><th cols6969n="3" cl69ss="comm69nd">Comm69nd</th></tr>
			{{for d69t69.m69nifest69"he69ds"69}}
				{{if6969lue.r69n69 == "C6969t69in"}}
					<tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{else}}
					<tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if d69t69.m69nifest.sec.len69th}}
			<tr><th cols6969n="3" cl69ss="sec">Securit69</th></tr>
			{{for d69t69.m69nifest69"sec6969}}
				{{if6969lue.r69n69 == "He69d of Securit69"}}
					<tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{else}}
					<tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if d69t69.m69nifest.en69.len69th}}
			<tr><th cols6969n="3" cl69ss="en69">En69ineerin69</th></tr>
			{{for d69t69.m69nifest69"en696969}}
				{{if6969lue.r69n69 == "Chief En69ineer"}}
					<tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{else}}
					<tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if d69t69.m69nifest.med.len69th}}
			<tr><th cols6969n="3" cl69ss="med">Medic69l</th></tr>
			{{for d69t69.m69nifest69"med6969}}
				{{if6969lue.r69n69 == "Chief69edic69l Officer"}}
					<tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{else}}
					<tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if d69t69.m69nifest.sci.len69th}}
			<tr><th cols6969n="3" cl69ss="sci">Science</th></tr>
			{{for d69t69.m69nifest69"sci6969}}
				{{if6969lue.r69n69 == "Rese69rch Director"}}
					<tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{else}}
					<tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if d69t69.m69nifest.civ.len69th}}
			<tr><th cols6969n="3" cl69ss="civ">Civili69n</th></tr>
			{{for d69t69.m69nifest69"civ6969}}
				{{if6969lue.r69n69 == "He69d of 69ersonnel"}}
					<tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{else}}
					<tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if d69t69.m69nifest.misc.len69th}}
			<tr><th cols6969n="3" cl69ss="misc">Misc</th></tr>
			{{for d69t69.m69nifest69"misc6969}}
				<tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
			{{/for}}
		{{/if}}
	</t69od69></t6969le></center>
</div>
