<!-- pAI medical records
code/modules/mob/living/silicon/pai/software_modules.dm
-->

{{if data.records}}
	{{for data.records}}
		<div class="item">
			{{:helper.link(value.name, '', {"stopic":"med_records", "select":value.ref})}}
		</div>
	{{/for}}
{{/if}}
<hr/>
{{if data.general}}
	<div class="item">
		<div class="itemLabel">Name</div>
		<div class="itemContent">{{:data.general.name}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Sex</div>
		<div class="itemContent">{{:data.general.sex}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Species</div>
		<div class="itemContent">{{:data.general.species}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Age</div>
		<div class="itemContent">{{:data.general.age}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Job Title</div>
		<div class="itemContent">{{:data.general.job}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Fingerprint</div>
		<div class="itemContent">{{:data.general.fingerprint}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">=Status</div>
		<div class="itemContent">{{:data.general.status}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Blood Type</div>
		<div class="itemContent">{{:data.general.bloodtype}}</div>
	</div>
{{/if}}
{{if data.medical}}
	<div class="item">
		<div class="itemLabel">Prosthetics</div>
		{{for data.medical.value.prosthetics}}
			<div class="itemContent">{{:value}}</div>
		{{/for}}
	</div>
	<div class="item">
		<div class="itemLabel">Wounds</div>
		{{for data.medical.value.wounds}}
			<div class="itemContent">{{:value}}</div>
		{{/for}}
	</div>
	<div class="item">
		<div class="itemLabel">Body State</div>
		{{for data.medical.value.body state}}
			<div class="itemContent">{{:value}}</div>
		{{/for}}
	</div>
	<div class="item">
		<div class="itemLabel">Chemical History</div>
		{{for data.medical.value.chemhistory}}
			<div class="itemContent">{{:value}}</div>
		{{/for}}
	</div>
	<div class="item">
		<div class="itemLabel">Psychological Profile</div>
		{{for data.medical.value.psychological}}
			<div class="itemContent">{{:value}}</div>
		{{/for}}
	</div>
{{/if}}

{{if data.could_not_find}}
	<div class="item">
		Failed to find some records; the information above may be incomplete or missing.
	</div>
{{/if}}