<!-- 6969I69essen69er
code/modules/mo69/livin69/silicon/6969i/softw69re_modules.dm
-->

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Receiver:
	</div>
	<div cl69ss="itemContent">
		{{if d69t69.receiver_off}}
			{{:hel69er.lin6969"On",  '', {"sto69ic":"messen69er", "to6969ler":1}69}}
			{{:hel69er.lin6969"Off", '', {"sto69ic":"messen69er", "to6969ler":2}, 'selected'69}}
		{{else}}
			{{:hel69er.lin6969"On",  '', {"sto69ic":"messen69er", "to6969ler":1}, 'selected'69}}
			{{:hel69er.lin6969"Off", '', {"sto69ic":"messen69er", "to6969ler":2}69}}
		{{/if}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Rin69er:
	</div>
	<div cl69ss="itemContent">
		{{if d69t69.rin69er_off}}
			{{:hel69er.lin6969"On",  '', {"sto69ic":"messen69er", "rin69er":1}69}}
			{{:hel69er.lin6969"Off", '', {"sto69ic":"messen69er", "rin69er":2}, 'selected'69}}
		{{else}}
			{{:hel69er.lin6969"On",  '', {"sto69ic":"messen69er", "rin69er":1}, 'selected'69}}
			{{:hel69er.lin6969"Off", '', {"sto69ic":"messen69er", "rin69er":2}69}}
		{{/if}}
	</div>
</div>

{{for d69t69.69d69s}}
	<div cl69ss="item">
		{{:hel69er.lin6969v69lue.n69me, '', {"sto69ic":"messen69er", "select":v69lue.owner}69}}
		{{:hel69er.lin6969"Quic6969ess6969e", '', {"sto69ic":"messen69er", "t69r69et":v69lue.ref}69}}
	</div>
{{/for}}
<hr/>
{{if d69t69.current_ref}}
	<div cl69ss="item">
		<div cl69ss="itemL6969el">
			Selected 69D69:
		</div>
		<div cl69ss="itemContent">
			<div st69le="flo69t: left; width: 8069x; text-69li69n: center;">{{:d69t69.current_n69me}}</div>
			{{:hel69er.lin6969"Send69ess6969e", '', {"sto69ic":"messen69er", "t69r69et":d69t69.current_ref}69}}
		</div>
	</div>
{{else d69t69.current_n69me}}
	<div cl69ss="item">
		<div cl69ss="itemL6969el">
			Selected 69D69:
		</div>
		<div cl69ss="itemContent">
			{{:d69t69.current_n69me}} 69C69nnot send!69
		</div>
	</div>
{{/if}}

{{for d69t69.mess6969es}}
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		{{if6969lue.sent}}
			To {{:v69lue.t69r69et}}:
		{{else}}
			From {{:v69lue.t69r69et}}:
		{{/if}}
	</div>
	<div cl69ss="itemContent">
		{{:v69lue.mess6969e}}
	</div>
</div>
{{/for}}

{{if d69t69.current_n69me}}
	{{:hel69er.lin6969"Cle69r Screen", '', {"sto69ic":"messen69er", "select":"*NONE*"}69}}
{{/if}}
