<!-- pAI security records
code/modules/mob/living/silicon/pai/software_modules.dm
-->

{{if data.records}}
	{{for data.records}}
		<div class="item">
			{{:helper.link(value.name, '', {"stopic":"sec_records", "select":value.ref})}}
		</div>
	{{/for}}
{{/if}}
<hr/>
{{if data.general}}
	<div class="item">
		<div class="itemLabel">Name</div>
		<div class="itemContent">{{:data.general.name}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Sex</div>
		<div class="itemContent">{{:data.general.sex}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Species</div>
		<div class="itemContent">{{:data.general.species}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Age</div>
		<div class="itemContent">{{:data.general.age}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Job Title</div>
		<div class="itemContent">{{:data.general.job}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Fingerprint</div>
		<div class="itemContent">{{:data.general.fingerprint}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Status</div>
		<div class="itemContent">{{:data.general.status}}</div>
	</div>
	<div class="item">
		<div class="itemLabel">Criminal Status</div>
		<div class="itemContent">{{:data.general.criminalStatus }}</div>
	</div>	
	<div class="item">
		<div class="itemLabel">Important Notes</div>
		<div class="itemContent">{{:data.general.secNotes}}</div>
	</div>
{{/if}}

{{if data.could_not_find}}
	<div class="item">
		Failed to find some records; the information above may be incomplete or missing.
	</div>
{{/if}}