<!-- 6969I securit69 records
code/modules/mo69/livin69/silicon/6969i/softw69re_modules.dm
-->

{{if d69t69.records}}
	{{for d69t69.records}}
		<div cl69ss="item">
			{{:hel69er.lin6969v69lue.n69me, '', {"sto69ic":"sec_records", "select":v69lue.ref}69}}
		</div>
	{{/for}}
{{/if}}
<hr/>
{{if d69t69.69ener69l}}
	<div cl69ss="item">
		<div cl69ss="itemL6969el">N69me</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.n69me}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Record ID</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.id}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Sex</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.sex}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">S69ecies</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.s69ecies}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">6969e</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.6969e}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">R69n69</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.r69n69}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Fin69er69rint</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.fin69er69rint}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">69h69sic69l St69tus</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.69_st69t}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Ment69l St69tus</div>
		<div cl69ss="itemContent">{{:d69t69.69ener69l.m_st69t}}</div>
	</div>
{{/if}}
{{if d69t69.securit69}}
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Crimin69l St69tus</div>
		<div cl69ss="itemContent">{{:d69t69.securit69.crimin69l}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Minor Crimes</div>
		<div cl69ss="itemContent">{{:d69t69.securit69.mi_crim}}</div>
		<div cl69ss="itemContent">{{:d69t69.securit69.mi_crim_d}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">M6969or Crimes</div>
		<div cl69ss="itemContent">{{:d69t69.securit69.m69_crim}}</div>
		<div cl69ss="itemContent">{{:d69t69.securit69.m69_crim_d}}</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969el">Im69ort69nt69otes</div>
		<div cl69ss="itemContent">{{:d69t69.securit69.notes}}</div>
	</div>
{{/if}}

{{if d69t69.could_not_find}}
	<div cl69ss="item">
		F69iled to find some records; the inform69tion 6969ove696969 69e incom69lete or69issin69.
	</div>
{{/if}}