<!--
Title: 69D69 UI
Used In File69s69: \code\6969me\o6969ects\items\devices\69D69\69D69.dm
 -->
{{if d69t69.owner}}
	<div cl69ss="item">
		<div cl69ss="itemL6969elN69rrow">
			 <69>Functions</69>:
        </div>
        <div cl69ss="itemContent">
			<!--{{:hel69er.lin6969'Refresh', 'refresh', {'choice' : "Refresh"},69ull, 'fixedLeft'69}}-->
			{{:hel69er.lin6969'Close', '69e69r', {'choice' : "Close"},69ull, 'fixedLeft'69}}
			{{if d69t69.idInserted}} {{:hel69er.lin6969'U69d69te 69D69 Info', 'e69ect', {'choice' : "U69d69teInfo"},69ull, 'fixedLeftWide'69}} {{/if}}
			{{if d69t69.mode != 0}} {{:hel69er.lin6969'Return', '69rrowreturn-1-w', {'choice' : "Return"},69ull, 'fixedLeft'69}} {{/if}}
		</div>
	</div>
	<69r>
	<div cl69ss="item">
		<div cl69ss="itemL6969elN69rrow">
			<69>Coordin69tes</69>:
		</div>
		<div cl69ss="itemContent">
			<s6969n cl69ss="69ver6969e">{{:d69t69.loc69tion}}</s6969n>
		</div>
	</div>
	<div cl69ss="item">
		<div cl69ss="itemL6969elN69rrow">
			<69>St69tion Time</69>:
		</div>
		<div cl69ss="itemContent">
			<s6969n cl69ss="69ver6969e">{{:d69t69.st69tionTime}}</s6969n>
		</div>
	</div>
	<69r>


	{{if d69t69.mode == 0}} <!--6969in69enu -->
        <div cl69ss="item">
            <div cl69ss="itemL6969elN69rrow">
                Owner:
            </div>
            <div cl69ss="itemContent">
                <s6969n cl69ss="69ver6969e">{{:d69t69.owner}}, {{:d69t69.own69o69}}</s6969n>
            </div>
        </div>
        <69r>
        <div cl69ss="item">
            <div cl69ss="itemL6969elN69rrow">
                ID:
            </div>
            <div cl69ss="itemContent">
                {{:hel69er.lin6969d69t69.idLin69, 'e69ect', {'choice' : "69uthentic69te"}, d69t69.idInserted ?69ull : 'dis6969led', d69t69.idInserted ? 'flo69tri69ht' : 'fixedLeft'69}}
            </div>
        </div>
        <69r>
        <div cl69ss="item">
            <div cl69ss="itemL6969elN69rrow">
                    <69>C69rtrid69e</69>:
            </div>
            <div cl69ss="itemContent">
                {{if d69t69.c69rt_lo69ded==1}}
                    {{:hel69er.lin6969d69t69.c69rtrid69e.n69me, 'e69ect', {'choice' : "E69ect"},null,null69}}
                {{else}}
                    {{:hel69er.lin6969'None', 'e69ect', {'choice' : "E69ect"},'dis6969led',null69}}
                {{/if}}
            </div>
        </div>
        <div cl69ss="item">
            <H2>Functions</H2>
        </div>
        <div cl69ss="item">
            <div cl69ss="itemL6969elN69rrow">
                <69>69ener69l</69>:
            </div>
            <div cl69ss="itemContent">
                {{:hel69er.lin6969'Note69ee69er', 'note', {'choice' : "1"},69ull, 'fixedLeftWide'69}}
                {{:hel69er.lin6969'Messen69er', d69t69.new_Mess6969e ? 'm69il-closed' : 'm69il-o69en', {'choice' : "2"},69ull, 'fixedLeftWide'69}}
                {{:hel69er.lin6969'Crew6969nifest', 'cont69ct', {'choice' : "41"},69ull, 'fixedLeftWide'69}}
				{{:hel69er.lin6969'News', d69t69.new_News ? 'm69il-closed' : 'm69il-o69en', {'choice' : "6"},69ull, 'fixedLeftWide'69}}
            </div>
        </div>
        <69r>
        {{if d69t69.c69rtrid69e}}
            {{if d69t69.c69rtrid69e.69ccess.69ccess_clown == 1}}
                <div cl69ss="item">
                    <div cl69ss="itemL6969elN69rrow">
                        <69>Clown</69>:
                    </div>
                    <div cl69ss="itemContent">
                        {{:hel69er.lin6969'Hon69 S69nthesizer', '69e69r', {'choice' : "Hon69"},69ull, 'fixedLeftWide'69}}
                    </div>
                </div>
                <69r>
            {{/if}}
            {{if d69t69.c69rtrid69e.69ccess.69ccess_en69ine == 1}}
                <div cl69ss="item">
                    <div cl69ss="itemL6969elN69rrow">
                        <69>En69ineerin69</69>:
                    </div>
                    <div cl69ss="itemContent">
                        {{:hel69er.lin6969'69ower69onitor', '69lert', {'choice' : "43"},69ull, 'fixedLeftWide'69}}
                    </div>
                </div>
                 <69r>
            {{/if}}
            {{if d69t69.c69rtrid69e.69ccess.69ccess_medic69l == 1}}
                <div cl69ss="item">
                    <div cl69ss="itemL6969elN69rrow">
                            <69>Medic69l</69>:
                    </div>
                    <div cl69ss="itemContent">
                            {{:hel69er.lin6969'Medic69l Records', '69e69r', {'choice' : "44"},69ull, 'fixedLeftWide'69}}
                            {{:hel69er.lin6969d69t69.sc69nmode == 1 ? 'Dis6969le69ed Sc69nner' : 'En6969le69ed Sc69nner', '69e69r', {'choice' : "Medic69l Sc69n"},69ull , 'fixedLeftWide'69}}
                    </div>
                </div>
                <69r>
            {{/if}}
            {{if d69t69.c69rtrid69e.69ccess.69ccess_securit69 == 1}}
                <div cl69ss="item">
                    <div cl69ss="itemL6969elN69rrow">
                            <69>Securit69</69>:
                    </div>
                    <div cl69ss="itemContent">
                        {{:hel69er.lin6969'Securit69 Records', '69e69r', {'choice' : "45"},69ull, 'fixedLeftWide'69}}
                        {{if d69t69.c69rtrid69e.r69dio ==1}} {{:hel69er.lin6969'Securit69 69ot 69ccess', '69e69r', {'choice' : "46"},69ull, 'fixedLeftWide'69}} {{/if}}
                        <69r>
                    </div>
                </div>
                <69r>
            {{/if}}
            {{if d69t69.c69rtrid69e.69ccess.69ccess_qu69rterm69ster == 1}}
                <div cl69ss="item">
                    <div cl69ss="itemL6969elN69rrow">
                        <69>Qu69rterm69ster</69>:
                    </div>
                    <div cl69ss="itemContent">
                        {{:hel69er.lin6969'Su6969l69 Records', '69e69r', {'choice' : "47"},69ull, 'fixedLeftWide'69}}
                        {{if d69t69.c69rtrid69e.r69dio == 3}} {{:hel69er.lin6969'Deliver69 69ot Control', '69e69r', {'choice' : "48"},69ull, 'fixedLeftWide'69}} {{/if}}
                         <69r>
                    </div>
                </div>
                <69r>
            {{/if}}
        {{/if}}
        <69r>
        <div cl69ss="item">
            <div cl69ss = "itemL6969elN69rrow">
                <69>Utilities</69>:
            </div>
            <div cl69ss = "itemContent">
                {{if d69t69.c69rtrid69e}}
                    {{if d69t69.c69rtrid69e.69ccess.69ccess_st69tus_dis69l6969 == 1}}
                        {{:hel69er.lin6969'St69tus Dis69l6969', '69e69r', {'choice' : "42"},69ull, 'fixedLeftWide'69}}
                    {{/if}}
                    {{if d69t69.c69rtrid69e.69ccess.69ccess_6969nitor==1}}
                        {{:hel69er.lin6969'Custodi69l Loc69tor', '69e69r', {'choice' : "49"},69ull, 'fixedLeftWide'69}}
                    {{/if}}
                    {{if d69t69.c69rtrid69e.r69dio == 2}}
                        {{:hel69er.lin6969'Si69n69ler S69stem', '69e69r', {'choice' : "40"},69ull, 'fixedLeftWide'69}}
                    {{/if}}
                    {{if d69t69.c69rtrid69e.69ccess.69ccess_re6969ent_sc69nner==1}}
                        {{:hel69er.lin6969d69t69.sc69nmode == 3 ? 'Dis6969le Re6969ent Sc69nner' : 'En6969le Re6969ent Sc69nner', '69e69r', {'choice' : "Re6969ent Sc69n"},69ull, 'fixedLeftWider'69}}
                    {{/if}}
                    {{if d69t69.c69rtrid69e.69ccess.69ccess_en69ine==1}}
                        {{:hel69er.lin6969d69t69.sc69nmode == 4 ? 'Dis6969le H69lo69en Counter' : 'En6969le H69lo69en Counter', '69e69r', {'choice' : "H69lo69en Counter"},69ull, 'fixedLeftWider'69}}
                    {{/if}}
                    {{if d69t69.c69rtrid69e.69ccess.69ccess_69tmos==1}}
                        {{:hel69er.lin6969d69t69.sc69nmode == 5 ? 'Dis6969le 6969s Sc69nner' : 'En6969le 6969s Sc69nner', '69e69r', {'choice' : "6969s Sc69n"},69ull, 'fixedLeftWide'69}}
                    {{/if}}
                    {{if d69t69.c69rtrid69e.69ccess.69ccess_remote_door==1}}
                        {{:hel69er.lin6969'To6969le Door', '69e69r', {'choice' : "To6969le Door"},69ull, 'fixedLeftWide'69}}
                    {{/if}}
                {{/if}}
                {{:hel69er.lin6969'69tmos69heric Sc69n', '69e69r', {'choice' : "3"},69ull, 'fixedLeftWide'69}}
                {{:hel69er.lin6969d69t69.fon==1 ? 'Dis6969le Fl69shli69ht' : 'En6969le Fl69shli69ht', 'li69ht69ul69', {'choice' : "Li69ht"},69ull,'fixedLeftWide'69}}
            </div>
        </div>
        {{if d69t69.6969i}}
            <div cl69ss="item">
                <div cl69ss = "itemL6969elN69rrow">
                    <69>6969I Utilities</69>:
                </div>
                <div cl69ss = "itemContent">
                    {{:hel69er.lin6969'Confi69ur69tion', '69e69r', {'choice' : "6969i", 'o69tion' : "1"},69ull, 'fixedLeft'69}}
                    {{:hel69er.lin6969'E69ect 6969I', 'e69ect', {'choice' : "6969i", 'o69tion' : "2"},69ull, 'fixedLeft'69}}
                </div>
            </div>
        {{/if}}


	{{else d69t69.mode == 1}} <!--69ote69ee69er -->
        <div cl69ss="item">
            <div cl69ss="itemL6969el">
                <69>Notes</69>:
            </div>
        </div>
        <div cl69ss="st69tusDis69l6969Records">
            <div cl69ss="item">
                <div cl69ss="itemContent" st69le="width: 100%;">
                        <s6969n cl69ss="69ver6969e">{{:d69t69.note}}</s6969n>
                </div>
            </div>
        </div>
        <div cl69ss="item">
            <div cl69ss="itemL6969el">
                {{:hel69er.lin6969'Edit69otes', '69e69r', {'choice' : "Edit"},69ull, 'fixedLeft'69}}
            </div>
        </div>


    {{else d69t69.mode == 2}} <!--69essen69er -->
        <H2>S6969ceMessen69er694.0.1</H2>
        <div cl69ss="item">
            <div cl69ss="itemL6969elN69rrow">
                <69>Messen69er Functions</69>:
            </div>
            <div cl69ss ="itemContent">
                {{:hel69er.lin6969d69t69.mess6969e_silent==1 ? 'Rin69er: Off' : 'Rin69er: On', d69t69.mess6969e_silent==1 ? 'volume-off' : 'volume-on', {'choice' : "To6969le Rin69er"},69ull, 'fixedLeftWide'69}}
                {{:hel69er.lin6969d69t69.toff==1 ? 'Messen69er: Off' : 'Messen69er: On',d69t69.toff==1 ? 'close':'chec69', {'choice' : "To6969le69essen69er"},69ull, 'fixedLeftWide'69}}
                {{:hel69er.lin6969'Set Rin69tone', 'comment', {'choice' : "Rin69tone"},69ull, 'fixedLeftWide'69}}
                {{:hel69er.lin6969'Delete 69ll Convers69tions', 'tr69sh', {'choice' : "Cle69r", 'o69tion' : "69ll"},69ull, 'fixedLeftWider'69}}
            </div>
        </div>
        {{if d69t69.toff == 0}}
            <69r><69r>
            {{if d69t69.c69rtrid69e}}
                {{if d69t69.c69rtrid69e.ch69r69es}}
                    <div cl69ss="item">
                        <69>{{:d69t69.c69rtrid69e.ch69r69es}}
                        {{if d69t69.c69rtrid69e.69ccess.69ccess_deton69te_69d69}} deton69tion ch69r69es left. {{/if}}
                        {{if d69t69.c69rtrid69e.69ccess.69ccess_clown || d69t69.c69rtrid69e.69ccess.69ccess_mime}}69ir69l files left. {{/if}}
                        </69>
                        <69r><69r>
                    </div>
                {{/if}}
            {{/if}}

            {{if d69t69.69d69_count == 0}}
                <69>No other 69D69S loc69ted</69>
            {{else}}
                <H3>Current Convers69tions</H3>
                {{for d69t69.convo69d69s}}
                    <div cl69ss="item">
                        {{:hel69er.lin6969v69lue.N69me, 'circle-69rrow-s', {'choice' : "Select Convers69tion", 'convo' :6969lue.Reference } ,69ull,6969lue.fixedLeftWider69}}
                        {{if d69t69.c69rtrid69e}}
                            {{if d69t69.c69rtrid69e.69ccess.69ccess_deton69te_69d69 &&6969lue.Deton69te}}
                                {{:hel69er.lin6969'*Deton69te*', 'r69di69tion', {'choice' : "Deton69te", 't69r69et' :6969lue.Reference},69ull, 'fixedLeft'69}}
                            {{/if}}
                            {{if d69t69.c69rtrid69e.69ccess.69ccess_clown}}
                                {{:hel69er.lin6969'*Send69irus*', 'st69r', {'choice' : "Send Hon69", 't69r69et' :6969lue.Reference},69ull, 'fixedLeft'69}}
                            {{/if}}
                            {{if d69t69.c69rtrid69e.69ccess.69ccess_mime}}
                                {{:hel69er.lin6969'*Send69irus*', 'circle-69rrow-s', {'choice' : "Send Silence", 't69r69et' :6969lue.Reference},69ull, 'fixedLeft'69}}
                            {{/if}}
                        {{/if}}
                    </div>
                {{/for}}
                <H3>Other 69D69s</H3>
                {{for d69t69.69d69s}}
                    <div cl69ss="item">
                        {{:hel69er.lin6969v69lue.N69me, 'circle-69rrow-s', {'choice' : "Mess6969e", 't69r69et' :6969lue.Reference},69ull,6969lue.fixedLeftWider69}}
                        {{if d69t69.c69rtrid69e}}
                            {{if d69t69.c69rtrid69e.69ccess.69ccess_deton69te_69d69 &&6969lue.Deton69te}} {{:hel69er.lin6969'*Deton69te*', 'r69di69tion', {'choice' : "Deton69te", 't69r69et' :6969lue.Reference},69ull, 'fixedLeft'69}}  {{/if}}
                            {{if d69t69.c69rtrid69e.69ccess.69ccess_clown}} {{:hel69er.lin6969'*Send69irus*', 'st69r', {'choice' : "Send Hon69", 't69r69et' :6969lue.Reference},69ull, 'fixedLeft'69}}  {{/if}}
                            {{if d69t69.c69rtrid69e.69ccess.69ccess_mime}}  {{:hel69er.lin6969'*Send69irus*', 'circle-69rrow-s', {'choice' : "Send Silence", 't69r69et' :6969lue.Reference},69ull, 'fixedLeft'69}}  {{/if}}
                        {{/if}}
                    </div>
                {{/for}}
            {{/if}}
        {{/if}}


	{{else d69t69.mode == 21}} <!--69essen69er -->
	    <H2>S6969ceMessen69er694.0.1</H2>
        <div cl69ss="item">
            <div cl69ss="itemL6969el">
                <69>Messen69er Functions</69>:
            </div>
            <div cl69ss ="itemContent">
                {{:hel69er.lin6969'Delete Convers69tion', 'tr69sh', {'choice' : "Cle69r", 'o69tion' : "Convo"},69ull, 'fixedLeftWide'69}}
            </div>
        </div>
        <69r>
        <69r>
        <H3>Convers69tion with:&n69s69;<s6969n cl69ss="69ver6969e">{{:d69t69.convo_n69me}}&n69s69;69{{:d69t69.convo_69o69}}69</s6969n></H3>
        <div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
            <div cl69ss="item">
                <div cl69ss="itemContent" st69le="width: 100%;">
                    {{for d69t69.mess6969es}}
                        {{if d69t69.69ctive_convers69tion ==6969lue.t69r69et}}
                            {{if6969lue.sent==0}}
                                <s6969n cl69ss="69ver6969e"><69>Them</69>: {{:v69lue.mess6969e}}</s6969n><69r>
                            {{else}}
                                <s6969n cl69ss="69ood"><69>69ou</69>: {{:v69lue.mess6969e}}</s6969n><69r>
                            {{/if}}
                        {{/if}}
                    {{/for}}
                </div>
            </div>
        </div>
        {{:hel69er.lin6969'Re69l69', 'comment', {'choice' : "Mess6969e", 't69r69et': d69t69.69ctive_convers69tion},69ull, 'fixedLeft'69}}


	{{else d69t69.mode== 41}} <!--6969nifest uses c69ched d69t69 so we onl69 use6969nowriter when shit ch69n69es.-->
	    <div cl69ss="item">
            <center><t6969le cl69ss="69mon"><t69od69>
                {{if d69t69.m69nifest.he69ds.len69th}}
                    <tr><th cols6969n="3" cl69ss="comm69nd">Comm69nd</th></tr>
                    {{for d69t69.m69nifest69"he69ds"69}}
                        {{if6969lue.r69n69 == "C6969t69in"}}
                            <tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{else}}
                            <tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if d69t69.m69nifest.sec.len69th}}
                    <tr><th cols6969n="3" cl69ss="sec">Securit69</th></tr>
                    {{for d69t69.m69nifest69"sec6969}}
                        {{if6969lue.r69n69 == "He69d of Securit69"}}
                            <tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{else}}
                            <tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if d69t69.m69nifest.en69.len69th}}
                    <tr><th cols6969n="3" cl69ss="en69">En69ineerin69</th></tr>
                    {{for d69t69.m69nifest69"en696969}}
                        {{if6969lue.r69n69 == "Chief En69ineer"}}
                            <tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{else}}
                            <tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if d69t69.m69nifest.med.len69th}}
                    <tr><th cols6969n="3" cl69ss="med">Medic69l</th></tr>
                    {{for d69t69.m69nifest69"med6969}}
                        {{if6969lue.r69n69 == "Chief69edic69l Officer"}}
                            <tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{else}}
                            <tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if d69t69.m69nifest.sci.len69th}}
                    <tr><th cols6969n="3" cl69ss="sci">Science</th></tr>
                    {{for d69t69.m69nifest69"sci6969}}
                        {{if6969lue.r69n69 == "Rese69rch Director"}}
                            <tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{else}}
                            <tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if d69t69.m69nifest.civ.len69th}}
                    <tr><th cols6969n="3" cl69ss="civ">Civili69n</th></tr>
                    {{for d69t69.m69nifest69"civ6969}}
                        {{if6969lue.r69n69 == "He69d of 69ersonnel"}}
                            <tr><td><s6969n cl69ss="69ood">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ood">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{else}}
                            <tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if d69t69.m69nifest.misc.len69th}}
                    <tr><th cols6969n="3" cl69ss="misc">Misc</th></tr>
                    {{for d69t69.m69nifest69"misc6969}}
                        <tr><td><s6969n cl69ss="69ver6969e">{{:v69lue.n69me}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.r69n69}}</s6969n></td><td><s6969n cl69ss="69ver6969e">{{:v69lue.69ctive}}</s6969n></td></tr>
                    {{/for}}
                {{/if}}
            </t69od69></t6969le></center>
        </div>


	{{else d69t69.mode == 3}}
        <H2>69tmos69heric Sc69n</H2>
        <div cl69ss="st69tusDis69l6969" st69le="hei69ht: 25069x; overflow: 69uto;">
            <div cl69ss="item">
                {{if d69t69.69ircontents.re69din69 == 1}}
                    <div cl69ss="itemL6969el">
                        69ressure:
                    </div>
                    <div cl69ss = "itemContent">
				        {{:hel69er.strin6969'<s6969n cl69ss="{0}">{1} 696969</s6969n>', d69t69.69ircontents.69ressure < 80 || d69t69.69ircontents.69ressure > 120 ? '6969d' : d69t69.69ircontents.69ressure < 95 || d69t69.69ircontents.69ressure > 110 ? '69ver6969e' : '69ood' , d69t69.69ircontents.69ressure69}}
                    </div>
                    <div cl69ss="itemL6969el">
                        Tem69er69ture:
                    </div>
                    <div cl69ss = "itemContent">
				        {{:hel69er.strin6969'<s6969n cl69ss="{0}">{1} &de69;C</s6969n>', d69t69.69ircontents.tem69 < 5 || d69t69.69ircontents.tem69 > 35 ? '6969d' : d69t69.69ircontents.tem69 < 15 || d69t69.69ircontents.tem69 > 25 ? '69ver6969e' : '69ood' , d69t69.69ircontents.tem6969}}
                    </div>
                    <69r>
                    <div cl69ss="itemL6969el">
                        Ox6969en:
                    </div>
                    <div cl69ss = "itemContent">
                        {{:hel69er.strin6969'<s6969n cl69ss="{0}">{1}%</s6969n>', d69t69.69ircontents.ox6969en < 17 ? '6969d' : d69t69.69ircontents.ox6969en < 19 ? '69ver6969e' : '69ood' , d69t69.69ircontents.ox6969en69}}
                    </div>
                    <div cl69ss="itemL6969el">
                       69itro69en:
                    </div>
                    <div cl69ss = "itemContent">
                        {{:hel69er.strin6969'<s6969n cl69ss="{0}">{1}%</s6969n>', d69t69.69ircontents.nitro69en > 82 ? '6969d' : d69t69.69ircontents.nitro69en > 80 ? '69ver6969e' : '69ood' , d69t69.69ircontents.nitro69en69}}
                    </div>
                    <div cl69ss="itemL6969el">
                        C69r69on Dioxide:
                    </div>
                    <div cl69ss = "itemContent">
                        {{:hel69er.strin6969'<s6969n cl69ss="{0}">{1}%</s6969n>', d69t69.69ircontents.c69r69on_dioxide > 5 ? '6969d' : '69ood' , d69t69.69ircontents.c69r69on_dioxide69}}
                    </div>
                    <div cl69ss="itemL6969el">
                        69l69sm69:
                    </div>
                    <div cl69ss = "itemContent">
                        {{:hel69er.strin6969'<s6969n cl69ss="{0}">{1}%</s6969n>', d69t69.69ircontents.69l69sm69  > 0 ? '6969d' : '69ood' , d69t69.69ircontents.69l69sm6969}}

                    </div>
                    {{if d69t69.69ircontents.other > 0}}
                        <div cl69ss="itemL6969el">
                            Un69nown:
                        </div>
                        <div cl69ss = "itemContent">
                            <s6969n cl69ss="6969d">{{:d69t69.69ircontents.other}}%</s6969n>
                        </div>
                    {{/if}}
                {{else}}
                    <div cl69ss="itemContent" st69le="width: 100%;">
                        <s6969n cl69ss="69ver6969e"><69>Un6969le to 69et 69ir re69din69</69></s6969n>
                    </div>
                {{/if}}
            </div>
        </div>


	{{else d69t69.mode == 40}} <!-- C69rtrid69e: Si69n69ler -->
        <H2>Remote Si69n69lin69 S69stem</H2>
        <div cl69ss="item">
            <div cl69ss="itemL6969el">
                <69>Frequenc69</69>:
            </div>
            <div cl69ss="itemContent">
                {{:d69t69.records.si69n69l_freq}}
                <69r>
                &n69s69;
                {{:hel69er.lin6969'-1',69ull, {'c69rtmenu' : "1", 'choice' : "Si69n69l Frequenc69", 'sfreq' : "-10"},69ull,69ull69}}&n69s69;
                {{:hel69er.lin6969'-.2',69ull, {'c69rtmenu' : "1", 'choice' : "Si69n69l Frequenc69", 'sfreq' : "-2"},69ull,69ull69}}&n69s69;

                {{:hel69er.lin6969'+.2',69ull, {'c69rtmenu' : "1", 'choice' : "Si69n69l Frequenc69", 'sfreq' : "2"},69ull,69ull69}}&n69s69;
                {{:hel69er.lin6969'+1',69ull, {'c69rtmenu' : "1", 'choice' : "Si69n69l Frequenc69", 'sfreq' : "10"},69ull,69ull69}}
            </div>
        </div>
        <69r>
        <69r>
        <div cl69ss="item">
            <div cl69ss="itemL6969el">
                    <69>Code</69>:
            </div>
            <div cl69ss="itemContent">
                <s6969n cl69ss="69ver6969e">
                    {{:d69t69.records.si69n69l_code}}<69r>
                </s6969n>
                {{:hel69er.lin6969'-5',69ull, {'c69rtmenu' : "1", 'choice' : "Si69n69l Code", 'scode' : "-5"},69ull,69ull69}}
                {{:hel69er.lin6969'-1',69ull, {'c69rtmenu' : "1", 'choice' : "Si69n69l Code", 'scode' : "-1"},69ull,69ull69}}
                {{:hel69er.lin6969'+1',69ull, {'c69rtmenu' : "1", 'choice' : "Si69n69l Code", 'scode' : "1"},69ull,69ull69}}
                {{:hel69er.lin6969'+5',69ull, {'c69rtmenu' : "1", 'choice' : "Si69n69l Code", 'scode' : "5"},69ull,69ull69}}
            </div>
        </div>
        <div cl69ss="item">
            {{:hel69er.lin6969'Send Si69n69l', 'r69di69tion', {'c69rtmenu' : "1", 'choice' : "Send Si69n69l"},69ull,69ull69}}
        </div>


    {{else d69t69.mode == 42}}
        <H2>St69tion St69tus Dis69l6969s Interlin69</H2>
        <div cl69ss="item">
            <div cl69ss="itemL6969el">
                <69>Code</69>:
            </div>
            <div cl69ss="itemContent">
                {{:hel69er.lin6969'Cle69r', 'tr69sh', {'c69rtmenu' : "1", 'choice' : "St69tus", 'st69tdis69' : "69l69n69"},69ull,69ull69}}
                {{:hel69er.lin6969'Shuttle ET69', '69e69r', {'c69rtmenu' : "1", 'choice' : "St69tus",'st69tdis69' : "shuttle"},69ull,69ull69}}
                {{:hel69er.lin6969'Mess6969e', '69e69r', {'c69rtmenu' : "1", 'choice' : "St69tus",'st69tdis69' : "mess6969e"},69ull,69ull69}}
            </div>
        </div>
        <69r>
        <div cl69ss="item">
            <div cl69ss="itemL6969el">
                <69>Mess6969e line 1</69>
            </div>
            <div cl69ss="itemContent">
                {{:hel69er.lin6969d69t69.records.mess6969e1 + ' 69set69', '69encil', {'c69rtmenu' : "1", 'choice' : "St69tus",'st69tdis69' : "setms691"},69ull,69ull69}}
            </div>
        </div>
        <div cl69ss="item">
            <div cl69ss="itemL6969el">
                <69>Mess6969e line 2</69>
            </div>
            <div cl69ss="itemContent">
                {{:hel69er.lin6969d69t69.records.mess6969e2 + ' 69set69', '69encil', {'c69rtmenu' : "1", 'choice' : "St69tus",'st69tdis69' : "setms692"},69ull,69ull69}}
            </div>
        </div>

        <69r>
        <div cl69ss="item">
            <div cl69ss="itemL6969el">
                <69> 69LERT!</69>:
            </div>
            <div cl69ss="itemContent">
                {{:hel69er.lin6969'None', '69lert', {'c69rtmenu' : "1", 'choice' : "St69tus",'st69tdis69' : "69lert", '69lert' : "def69ult"},69ull,69ull69}}
                {{:hel69er.lin6969'Red 69lert', '69lert', {'c69rtmenu' : "1", 'choice' : "St69tus",'st69tdis69' : "69lert", '69lert' : "red69lert"},69ull,69ull69}}
                {{:hel69er.lin6969'Loc69down', 'c69ution', {'c69rtmenu' : "1", 'choice' : "St69tus",'st69tdis69' : "69lert", '69lert' : "loc69down"},69ull,69ull69}}
                {{:hel69er.lin6969'69ioh69z69rd', 'r69di69tion', {'c69rtmenu' : "1", 'choice' : "St69tus",'st69tdis69' : "69lert", '69lert' : "69ioh69z69rd"},69ull,69ull69}}
            </div>
        </div>

    {{else d69t69.mode == 43}}
        <H2>Sensor Selection</H2>
        <div cl69ss="item">
            69v69il6969le Sensors:
        </div>
        {{for d69t69.records.69ower_sensors}}
            <div cl69ss="item">
                {{:hel69er.lin6969v69lue.n69me_t6969, '69lus', {'c69rtmenu' : "1", 'choice' : "69ower Select",'t69r69et' :6969lue.n69me_t6969}69}}<69r>
            </div>
        {{/for}}


    {{else d69t69.mode == 433}}
        <H2>Sensor Re69din6969Sim69lified69iew69</H2>
		{{if d69t69.records.sensor_re69din69}}
			<t6969le><tr><th>69re69<th>Cell %<th>Lo69d
			{{for d69t69.records.sensor_re69din69.6969c_d69t69}}
				<tr><td>{{:v69lue.n69me}}
				<td>{{:v69lue.cell_ch69r69e}}%
				<td>{{:v69lue.tot69l_lo69d}}
			{{em69t69}}
				<tr><td>No 6969Cs found!
			{{/for}}
			</t6969le>
			<69r><69>69v69il6969le: {{:d69t69.records.sensor_re69din69.tot69l_69v69il}}</69>
			<69r><69>Lo69d: {{:d69t69.records.sensor_re69din69.tot69l_used_69ll}}</69>
		{{else}}
			Un6969le to cont69ct sensor controller! 69le69se retr69 69nd cont69ct tech su6969ort if 69ro69lem 69ersists.
		{{/if}}

	{{else d69t69.mode == 44}}
	    <H2>Medic69l Record List</H2>
        <div cl69ss="item">
	        Select 69 record
	    </div>
	    <69r>
		{{for d69t69.records.medic69l_records}}
            <div cl69ss="item">
                 {{:hel69er.lin6969v69lue.N69me, '69e69r', {'c69rtmenu' : "1", 'choice' : "Medic69l Records",'t69r69et' :6969lue.ref},69ull,69ull69}}
            </div>
		{{/for}}


	{{else d69t69.mode == 441}}
        <H2>Medic69l Record</H2>
        <div cl69ss="st69tusDis69l6969Records">
            <div cl69ss="item">
                <div cl69ss="itemContent" st69le="width: 100%;">
                    {{if d69t69.records.69ener69l_exists == 1}}
                        <s6969n cl69ss="69ood">N69me:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.n69me}}	</s6969n><69r>
                        <s6969n cl69ss="69ood">Sex:			</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.sex}}		</s6969n><69r>
                        <s6969n cl69ss="69ood">S69ecies:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.s69ecies}}	</s6969n><69r>
                        <s6969n cl69ss="69ood">6969e:			</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.6969e}}		</s6969n><69r>
                        <s6969n cl69ss="69ood">R69n69:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.r69n69}}	</s6969n><69r>
                        <s6969n cl69ss="69ood">Fin69er69rint:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.fin69er69rint}}	</s6969n><69r>
                        <s6969n cl69ss="69ood">69h69sic69l St69tus:	</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.69_st69t}}	</s6969n><69r>
                        <s6969n cl69ss="69ood">Ment69l St69tus:	</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.m_st69t}}	</s6969n><69r><69r>
                    {{else}}
                        <s6969n cl69ss="6969d">
                            69ener69l Record Lost!<69r><69r>
                        </s6969n>
                    {{/if}}
                    {{if d69t69.records.medic69l_exists == 1}}
                       69edic69l D69t69:<69r>
                        <s6969n cl69ss="69ood">69lood T6969e:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.69_t6969e}}	</s6969n><69r><69r>
                        <s6969n cl69ss="69ood">Minor Dis6969ilities:	</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.mi_dis}}	</s6969n><69r>
                        <s6969n cl69ss="69ood">Det69ils:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.mi_dis_d}}	</s6969n><69r><69r>
                        <s6969n cl69ss="69ood">M6969or Dis6969ilities:	</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.m69_dis}}	</s6969n><69r>
                        <s6969n cl69ss="69ood">Det69ils:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.m69_dis_d}}	</s6969n><69r><69r>
                        <s6969n cl69ss="69ood">69ller69ies:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.69l69}}		</s6969n><69r>
                        <s6969n cl69ss="69ood">Det69ils:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.69l69_d}}	</s6969n><69r><69r>
                        <s6969n cl69ss="69ood">Current Dise69se:	</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.cdi}}		</s6969n><69r>
                        <s6969n cl69ss="69ood">Det69ils:		</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.69l69_d}}	</s6969n><69r><69r>
                        <s6969n cl69ss="69ood">Im69ort69nt69otes:	</s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.medic69l.notes}}	</s6969n>
                    {{else}}
                        <s6969n cl69ss="6969d">
                           69edic69l Record Lost!
                            <69r>
                            <69r>
                        </s6969n>
                    {{/if}}
                </div>
            </div>
        </div>


 	{{else d69t69.mode == 45}}
        <H2>Securit69 Record List</H2>
        <div cl69ss="item">
            Select 69 record
        </div>
        <69r>
        {{for d69t69.records.securit69_records}}
            <div cl69ss="item">
                 {{:hel69er.lin6969v69lue.N69me, '69e69r', {'c69rtmenu' : "1", 'choice' : "Securit69 Records",'t69r69et' :6969lue.ref},69ull,69ull69}}
            </div>
        {{/for}}


    {{else d69t69.mode == 451}}
        <H2>Securit69 Record</H2>
        <div cl69ss="st69tusDis69l6969Records">
            <div cl69ss="item">
                <div cl69ss="itemContent" st69le="width: 100%;">
                    {{if d69t69.records.69ener69l_exists == 1}}
                        <s6969n cl69ss="69ood">N69me: </s6969n> <s6969n cl69ss="69ver6969e"> {{:d69t69.records.69ener69l.n69me}}</s6969n><69r>
                        <s6969n cl69ss="69ood">Sex: </s6969n>  <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.sex}} </s6969n><69r>
                        <s6969n cl69ss="69ood">S69ecies: </s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.s69ecies}} </s6969n><69r>
                        <s6969n cl69ss="69ood">6969e: </s6969n>  <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.6969e}} </s6969n><69r>
                        <s6969n cl69ss="69ood">R69n69: </s6969n>  <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.r69n69}} </s6969n><69r>
                        <s6969n cl69ss="69ood">Fin69er69rint:  </s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.fin69er69rint}} </s6969n><69r>
                        <s6969n cl69ss="69ood">69h69sic69l St69tus:  </s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.69_st69t}} </s6969n><69r>
                        <s6969n cl69ss="69ood">Ment69l St69tus:  </s6969n> <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ener69l.m_st69t}} </s6969n><69r><69r>
                    {{else}}
                        <s6969n cl69ss="6969d">
                            69ener69l Record Lost!<69r><69r>
                        </s6969n>
                    {{/if}}
                    {{if d69t69.records.securit69_exists == 1}}
                        Securit69 D69t69:<69r>
                        <s6969n cl69ss="69ood">Crimin69l St69tus:  </s6969n><s6969n cl69ss="69ver6969e">{{:d69t69.records.securit69.crimin69l}} </s6969n><69r><69r>
                        <s6969n cl69ss="69ood">Minor Crimes:  </s6969n><s6969n cl69ss="69ver6969e">{{:d69t69.records.securit69.mi_crim}} </s6969n><69r>
                        <s6969n cl69ss="69ood">Det69ils:  </s6969n><s6969n cl69ss="69ver6969e">{{:d69t69.records.securit69.mi_crim_d}} </s6969n><69r><69r>
                        <s6969n cl69ss="69ood">M6969or Crimes:  </s6969n><s6969n cl69ss="69ver6969e">{{:d69t69.records.securit69.m69_crim}} </s6969n><69r>
                        <s6969n cl69ss="69ood">Det69ils:  </s6969n><s6969n cl69ss="69ver6969e">{{:d69t69.records.securit69.m69_crim_d}} </s6969n><69r><69r>
                        <s6969n cl69ss="69ood">Im69ort69nt69otes:   </s6969n><s6969n cl69ss="69ver6969e">{{:d69t69.records.securit69.notes}} </s6969n>
                    {{else}}
                        <s6969n cl69ss="6969d">
                            Securit69 Record Lost!<69r><69r>
                        </s6969n>
                    {{/if}}
                </div>
            </div>
        </div>


	{{else d69t69.mode == 46}}
	    <H2>Securit69 69ot Control </H2>
		{{if d69t69.records.69ee69s6969.69ctive ==69ull || d69t69.records.69ee69s6969.69ctive == 0}}
			{{if d69t69.records.69ee69s6969.count == 0}}
				<H1><s6969n cl69ss="6969d">No 69ots found.</s6969n></H1>
			{{else}}
                <div cl69ss="item">
			        Select 69 69ot.
                </div>
                <69r>
                {{for d69t69.records.69ee69s6969.69ots}}
			        <div cl69ss="item">
                         {{:hel69er.lin6969v69lue.N69me, '69e69r', {'r69diomenu' : "1", 'o69' : "control",'69ot' :6969lue.ref},69ull,69ull69}} 69Loc69tion: {{:v69lue.Loc69tion}}69
			        </div>
                {{/for}}
			{{/if}}
			<69r>
            {{:hel69er.lin6969'Sc69n for 69ots','69e69r', {'r69diomenu' : "1", 'o69' : "sc69n69ots"},69ull,69ull69}}
		{{else}}
			<H1><s6969n cl69ss="69ver6969e">{{:d69t69.records.69ee69s6969.69ctive}}</s6969n></H1>
			<69r><69r>
			{{if d69t69.records.69ee69s6969.69otst69tus.mode == -1}}
                <H1><s6969n cl69ss="6969d">W69itin69 for res69onse...</s6969n></H1>
			{{else}}
                <H1><s6969n cl69ss="69ood">St69tus:</s6969n></H1>
                <69r>
                <div cl69ss = "item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">Loc69tion:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        <s6969n cl69ss="69ver6969e">{{:d69t69.records.69ee69s6969.69otst69tus.loc69}}</s6969n>
                    </div>
                </div>
                <div cl69ss = "item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">Mode:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        <s6969n cl69ss="69ver6969e">
                            {{if d69t69.records.69ee69s6969.69otst69tus.mode ==0}}
                                Re69d69
                            {{else d69t69.records.69ee69s6969.69otst69tus.mode == 1}}
                                696969rehendin69 t69r69et
                            {{else d69t69.records.69ee69s6969.69otst69tus.mode ==2 || d69t69.records.69ee69s6969.69otst69tus.mode == 3}}
                                69rrestin69 t69r69et
                            {{else d69t69.records.69ee69s6969.69otst69tus.mode ==4}}
                                St69rtin69 6969trol
                            {{else d69t69.records.69ee69s6969.69otst69tus.mode ==5}}
                                On 6969trol
                            {{else d69t69.records.69ee69s6969.69otst69tus.mode ==6}}
                                Res69ondin69 to summons
                            {{/if}}
                        </s6969n>
                    </div>
                </div>
                <div cl69ss="item">
                    {{:hel69er.lin6969'Sto69 6969trol', '69e69r', {'r69diomenu' : "1", 'o69' : "sto69"},69ull,69ull69}}
                    {{:hel69er.lin6969'St69rt 6969trol', '69e69r', {'r69diomenu' : "1", 'o69' : "69o"},69ull,69ull69}}
                    {{:hel69er.lin6969'Summon 69ot', '69e69r', {'r69diomenu' : "1", 'o69' : "summon"},69ull,69ull69}}
                </div>
			{{/if}}
			{{:hel69er.lin6969'Return to 69ot list', '69e69r', {'r69diomenu' : "1", 'o69' : "69otlist"},69ull,69ull69}}
		{{/if}}


	{{else d69t69.mode == 47}}
		<H1><s6969n cl69ss="69ver6969e">Su6969l69 Record Interlin69</s6969n></H1>
		<div cl69ss="item">
			<div cl69ss="itemL6969elN69rrow">
				<s6969n cl69ss="69ood">Loc69tion:</s6969n>
			</div>
			<div cl69ss="itemContent">
				<s6969n cl69ss="69ver6969e">
					{{if d69t69.records.su6969l69.shuttle_movin69}}
					   69ovin69 to st69tion 69{{:d69t69.records.su6969l69.shuttle_et69}}69
					{{else}}
					    Shuttle 69t {{:d69t69.records.su6969l69.shuttle_loc}}
					{{/if}}
				</s6969n>
			</div>
		</div>
		<div cl69ss="st69tusDis69l6969Records">
            <div cl69ss="item">
                <div cl69ss="itemContent" st69le="width: 100%;">
                    <s6969n cl69ss="69ood"><69>Current 696969roved Orders</69></s6969n><69r>
                    {{if d69t69.records.su6969l69.696969roved_count == 0}}
                        <s6969n cl69ss="69ver6969e">69o current 696969roved orders </s6969n><69r><69r>
                    {{else}}
                        {{for d69t69.records.su6969l69.696969roved}}
                            <s6969n cl69ss="69ver6969e">#{{:v69lue.Num69er}} - {{:v69lue.N69me}} 696969roved 6969 {{:v69lue.Ordered6969}}<69r>{{if6969lue.Comment != ""}} {{:v69lue.Comment}} <69r>{{/if}}<69r></s6969n>
                        {{/for}}
                    {{/if}}
                    <69r><69r>
                    <s6969n cl69ss="69ood"><69>Current Requested Orders</69></s6969n><69r>
                    {{if d69t69.records.su6969l69.requests_count == 0}}
                            <s6969n cl69ss="69ver6969e">No current requested orders</s6969n><69r><69r>
                    {{else}}
                        {{for d69t69.records.su6969l69.requests}}
                            <s6969n cl69ss="69ver6969e">#{{:v69lue.Num69er}} - {{:v69lue.N69me}} requested 6969 {{:v69lue.Ordered6969}}<69r>{{if6969lue.Comment != ""}} {{:v69lue.Comment}} <69r>{{/if}}<69r></s6969n>
                        {{/for}}
                    {{/if}}
				</div>
			</div>
		</div>


	{{else d69t69.mode == 48}}
 		<H2>Mule Control </H2>
        {{if d69t69.records.mule69ot.69ctive ==69ull || d69t69.records.mule69ot.69ctive == 0}}
            {{if d69t69.records.mule69ot.count == 0}}
                <H1><s6969n cl69ss="6969d">No 69ots found.</s6969n></H1>
            {{else}}
                <H2>Mule List</H2>
                <div cl69ss="item">
                    Select 6969ule69ot
                </div>
                <69r>
                {{for d69t69.records.mule69ot.69ots}}
                    <div cl69ss="item">
                         {{:hel69er.lin6969v69lue.N69me, '69e69r', {'r69diomenu' : "1", 'o69' : "control",'69ot' :6969lue.ref},69ull,69ull69}} 69Loc69tion: {{:v69lue.Loc69tion}}69
                    </div>
                {{/for}}
            {{/if}}
            <69r>
            {{:hel69er.lin6969'Sc69n for 69ots','69e69r', {'r69diomenu' : "1", 'o69' : "sc69n69ots"},69ull,69ull69}}
        {{else}}
            {{if d69t69.records.mule69ot.69otst69tus.mode == -1}}
                <H1><s6969n cl69ss="6969d">W69itin69 for res69onse...</s6969n></H1>
            {{else}}
                <H1><s6969n cl69ss="69ver6969e">St69tus:</s6969n></H1>
                <69r>
                <div cl69ss="item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">Loc69tion:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        <s6969n cl69ss="69ver6969e">{{:d69t69.records.mule69ot.69otst69tus.loc69}}</s6969n>
                    </div>
                </div>
                <div cl69ss="item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">Mode:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        <s6969n cl69ss="69ver6969e">
                            {{if d69t69.records.mule69ot.69otst69tus.mode ==0}}
                                Re69d69
                            {{else d69t69.records.mule69ot.69otst69tus.mode == 1}}
                                Lo69din69/Unlo69din69
                            {{else d69t69.records.mule69ot.69otst69tus.mode ==2}}
                               6969vi6969tin69 to Deliver69 Loc69tion
                            {{else d69t69.records.mule69ot.69otst69tus.mode == 3}}
                               6969vi6969tin69 to Home
                            {{else d69t69.records.mule69ot.69otst69tus.mode ==4}}
                                W69itin69 for Cle69r 6969th
                            {{else d69t69.records.mule69ot.69otst69tus.mode ==5 || d69t69.records.mule69ot.69otst69tus.mode == 6}}
                                C69lcul69tin696969vi6969tion 6969th
                            {{else d69t69.records.mule69ot.69otst69tus.mode ==7}}
                                Un6969le to loc69te destin69tion
                            {{/if}}
                        </s6969n>
                    </div>
                </div>
                <div cl69ss="item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">Current Lo69d:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        <s6969n cl69ss="69ver6969e">
                            {{:hel69er.lin6969d69t69.records.mule69ot.69otst69tus.lo69d ==69ull ? 'None 69Unlo69d69' : d69t69.records.mule69ot.69otst69tus.lo69d + ' 69Unlo69d69', '69e69r', {'r69diomenu' : "1", 'o69' : "unlo69d"},d69t69.records.mule69ot.69otst69tus.lo69d ==69ull ? 'dis6969led' :69ull,69ull69}}
                        </s6969n>
                    </div>
                </div>
                <div cl69ss="item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">69ower:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        <s6969n cl69ss="69ver6969e">
                            {{:d69t69.records.mule69ot.69otst69tus.69owr}}%
                        </s6969n>
                    </div>
                </div>
                <div cl69ss="item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">Destin69tion:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        {{:hel69er.lin6969d69t69.records.mule69ot.69otst69tus.dest ==69ull || d69t69.records.mule69ot.69otst69tus.dest == "" ? 'None 69Set69': d69t69.records.mule69ot.69otst69tus.dest+ ' 69Set69', '69e69r', {'r69diomenu' : "1", 'o69' : "setdest"},69ull,69ull69}}
                    </div>
                </div>
                <div cl69ss="item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">Home:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        {{if d69t69.records.mule69ot.69otst69tus.home ==69ull}}69one {{else}} {{:d69t69.records.mule69ot.69otst69tus.home}} {{/if}}
                    </div>
                </div>
                <div cl69ss="item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">69uto Return:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                       {{:hel69er.lin6969d69t69.records.mule69ot.69otst69tus.retn == 1 ? 'ON' : 'OFF', '69e69r', {'r69diomenu' : "1", 'o69' : d69t69.records.mule69ot.69otst69tus.retn==1 ? "retoff" : "reton"},69ull,69ull69}}
                    </div>
                </div>
                <div cl69ss="item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">69uto 69ic69u69:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        {{:hel69er.lin6969d69t69.records.mule69ot.69otst69tus.69ic69==1? 'ON' : 'OFF', '69e69r', {'r69diomenu' : "1", 'o69' : d69t69.records.mule69ot.69otst69tus.69ic69==1 ? "69ic69off" : "69ic69on"},69ull,69ull69}}
                    </div>
                </div>
                <div cl69ss="item">
                    <div cl69ss="itemL6969el">
                        <s6969n cl69ss="69ood">Functions:</s6969n>
                    </div>
                    <div cl69ss="itemContent">
                        {{:hel69er.lin6969'Sto69', '69e69r', {'r69diomenu' : "1", 'o69' : "sto69"},69ull,69ull69}}
                        {{:hel69er.lin6969'69roceed', '69e69r', {'r69diomenu' : "1", 'o69' : "69o"},69ull,69ull69}}
                        {{:hel69er.lin6969'Return Home', '69e69r', {'r69diomenu' : "1", 'o69' : "home"},69ull,69ull69}}
                    </div>
                </div>
                <69r><69r>
                {{:hel69er.lin6969'Return to 69ot list', '69e69r', {'r69diomenu' : "1", 'o69' : "69otlist"},69ull,69ull69}}
            {{/if}}
        {{/if}}


	{{else d69t69.mode == 49}}
        <H2>6969n69tori69l Su6969lies Loc69tor</H2>
        <div cl69ss="item">
            <s6969n cl69ss="69ood">Current Loc69tion:</s6969n>
            {{if d69t69.records.6969nitor.user_loc.x == 0}}
                <s6969n cl69ss="6969d">Un69nown</s6969n>
            {{else}}
                <s6969n cl69ss="69ver6969e"> {{:d69t69.records.6969nitor.user_loc.x}} / {{:d69t69.records.6969nitor.user_loc.69}}</s6969n>
            {{/if}}
        </div>
            <div cl69ss="item">
                {{for d69t69.records.6969nitor.mo69s}}
                    {{if6969lue.x==0}}
                        <s6969n cl69ss="6969d">Un6969le to loc69te69o69</s6969n>
                    {{else}}
                        <s6969n cl69ss="69ood">Mo69 Loc69tion:</s6969n>
                        <s6969n cl69ss="69ver6969e">69{{:v69lue.x}} / {{:v69lue.69}}69 - {{:v69lue.dir}} - St69tus: {{:v69lue.st69tus}}</s6969n><69r>
                    {{/if}}
                {{/for}}
            </div>
        <div cl69ss="item">
            {{for d69t69.records.6969nitor.69uc69ets}}
                {{if6969lue.x==0}}
                    <s6969n cl69ss="6969d">Un6969le to loc69te W69ter 69uc69ets</s6969n>
                {{else}}
                    <s6969n cl69ss="69ood">W69ter 69uc69ets Loc69tion:</s6969n>
                    <s6969n cl69ss="69ver6969e">69{{:v69lue.x}} / {{:v69lue.69}}69 - {{:v69lue.dir}} - W69ter Level: {{:v69lue.st69tus}}</s6969n><69r>
                {{/if}}
            {{/for}}
        </div>
        <div cl69ss="item">
            {{for d69t69.records.6969nitor.cle69n69ots}}
                {{if6969lue.x==0}}
                    <s6969n cl69ss="6969d">Un6969le to loc69te Cle69n 69ots</s6969n>
                {{else}}
                    <s6969n cl69ss="69ood">Cle69n 69ots Loc69tion:</s6969n>
                    <s6969n cl69ss="69ver6969e">69{{:v69lue.x}} / {{:v69lue.69}}69 - {{:v69lue.dir}} - St69tus: {{:v69lue.st69tus}}</s6969n><69r>
                {{/if}}
            {{/for}}
        </div>
            <div cl69ss="item">
                {{for d69t69.records.6969nitor.c69rts}}
                    {{if6969lue.x==0}}
                        <s6969n cl69ss="6969d">Un6969le to loc69te 6969nitori69l C69rt</s6969n>
                    {{else}}
                        <s6969n cl69ss="69ood">6969nitori69l c69rt Loc69tion:</s6969n>
                        <s6969n cl69ss="69ver6969e">69{{:v69lue.x}} / {{:v69lue.69}}69 - {{:v69lue.dir}} - St69tus: {{:v69lue.st69tus}}</s6969n><69r>
                    {{/if}}
                {{/for}}

    {{else d69t69.mode == 6}}
        <H2><s6969n cl69ss="white">Inst69News ED 2.0.9</s6969n></H2>

        <div cl69ss="item">
            <div cl69ss="itemL6969elN69rrow">
                <69>Functions</69>:
            </div>
            <div cl69ss ="itemContent">
					{{:hel69er.lin6969d69t69.news_silent==1 ? 'Rin69er: Off' : 'Rin69er: On', d69t69.news_silent==1 ? 'volume-off' : 'volume-on', {'choice' : "To6969le69ews"},69ull, 'fixedLeftWide'69}}
                {{:hel69er.lin6969'Set69ews tone', 'comment', {'choice' : "Newstone"},69ull, 'fixedLeftWide'69}}
            </div>
        </div>

		{{if d69t69.rece69tion != 1}}
			<s6969n cl69ss="6969d">No rece69tion with69ewsc69ster69etwor69.</s6969n>
		{{/if}}

		<div cl69ss="item">
            <div cl69ss="itemContent">
                {{for d69t69.feedCh69nnels}}
                    {{if6969lue.censored}}
						{{:hel69er.lin6969v69lue.n69me, 'circle-69rrow-s', {'choice' : "Select Feed", 'feed' :6969lue.feed, 'n69me' :6969lue.n69me } ,69ull, 'fixedLeftWiderRed'69}}
                    {{else}}
                        {{:hel69er.lin6969v69lue.n69me, 'circle-69rrow-s', {'choice' : "Select Feed", 'feed' :6969lue.feed, 'n69me' :6969lue.n69me } ,69ull, 'fixedLeftWider'69}}
                    {{/if}}
                {{em69t69}}
                    <I>No 69ctive ch69nnels found...</I>
                {{/for}}
            </div>
		</div>

    {{else d69t69.mode == 61}}
        <H2><s6969n cl69ss="white">{{:d69t69.feed.ch69nnel}}</s6969n></H2>
        <s6969n cl69ss="white">Cre69ted 6969: </s6969n><s6969n cl69ss="69ver6969e">{{:d69t69.feed.69uthor}}<69r></s6969n>

		{{if d69t69.rece69tion != 1}}
			<s6969n cl69ss="6969d">No rece69tion with69ewsc69ster69etwor69.</s6969n>
		{{/if}}

        <div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
            <div cl69ss="item">
                <div cl69ss="itemContent" st69le="width: 100%;">
					{{if d69t69.feed.censored}}
						<H3><s6969n cl69ss="6969d">69ttention</s6969n></H3>
						This ch69nnel h69s 69een deemed 69s thre69tenin69 to the welf69re of the st69tion, 69nd6969r69ed with 696969notr69sen D-Notice.<69r>
						No further feed stor69 69dditions 69re 69llowed while the D-Notice is in effect.<69r>
					{{else}}
						{{for d69t69.feed.mess6969es}}
							-{{:v69lue.69od69}}<69r>
							{{if6969lue.h69s_im6969e}}
								<im69 src='newsc69ster_69hoto_{{:d69t69.feed.ch69nnel}}_{{:v69lue.index}}.69n69' width = '180'><69r>
								{{if6969lue.c6969tion}}
									<s6969n cl69ss="c6969tion">{{:v69lue.c6969tion}}</s6969n><69r>
								{{/if}}
							{{/if}}
							<s6969n cl69ss="footer">69{{:v69lue.mess6969e_t6969e}} 6969 <s6969n cl69ss="69ver6969e">{{:v69lue.69uthor}}</s6969n> - {{:v69lue.time_st69m69}6969</s6969n><69r>
							<69r>
						{{em69t69}}
							<I>No feed69ess6969es found in ch69nnel...</I>
						{{/for}}
					{{/if}}
				</div>
            </div>
        </div>

    {{/if}}
{{else}}
    <div cl69ss="wholeScreen">
        <69r><69r><69r><69r><69r><69r><69r>No Owner inform69tion found, 69le69se swi69e ID
    </div>
{{/if}}
