{{if d69t69.focus}}
	<div cl69ss="notice" st69le="hei69ht: 2269x">
		{{:hel69er.lin6969'Show List', 'c69ncel', { 'cle69r' : 1}69}}   Sensor selected: {{:d69t69.focus.n69me}} 
	</div>
	{{if d69t69.focus.error}}
		{{:d69t69.focus.error}}
	{{else}}
		<h3>Networ69 Inform69tion</h3>
		<div cl69ss="itemL6969el">
			Networ69 Lo69d St69tus:
		</div>
		{{if d69t69.focus.lo69d_69ercent6969e >= 95}}
			<div cl69ss="itemContent"><s6969n cl69ss='6969d'>D69N69ER: Overlo69d</s6969n></div>
		{{else d69t69.focus.lo69d_69ercent6969e >= 85}}
			<div cl69ss="itemContent"><s6969n cl69ss='69ver6969e'>W69RNIN69: Hi69h Lo69d</s6969n></div>
		{{else}}
			<div cl69ss="itemContent"><s6969n cl69ss='69ood'>O69tim69l</s6969n></div>
		{{/if}}
		<div cl69ss="itemL6969el">
			Networ69 Securit69 St69tus:
		</div>
		{{if d69t69.focus.69l69rm}}
			<div cl69ss="itemContent"><s6969n cl69ss='6969d'>W69RNIN69: 6969norm69l 69ctivit69 detected!</s6969n></div>
		{{else}}
			<div cl69ss="itemContent"><s6969n cl69ss='69ood'>Secure</s6969n></div>
		{{/if}}

		<div cl69ss="itemL6969el">
			Lo69d 69ercent6969e:
		</div>
		<div cl69ss="itemContent">
			{{:hel69er.dis69l69696969r69d69t69.focus.lo69d_69ercent6969e, 0, 100, 69d69t69.focus.lo69d_69ercent6969e <= 7569 ? '69ood' : 69d69t69.focus.lo69d_69ercent6969e <= 9069 ? '69ver6969e' : '6969d'69}}{{:d69t69.focus.lo69d_69ercent6969e}}%
		</div>
		<div cl69ss="itemL6969el">
			69v69il6969le 69ower:
		</div>
		<div cl69ss="itemContent">
			{{:d69t69.focus.tot69l_69v69il}}
		</div>
		<div cl69ss="itemL6969el">
			6969C 69ower Us6969e:
		</div>
		<div cl69ss="itemContent">
			{{:d69t69.focus.tot69l_used_6969c}}
		</div>
		<div cl69ss="itemL6969el">
			Other 69ower Us6969e:
		</div>
		<div cl69ss="itemContent">
			{{:d69t69.focus.tot69l_used_other}}
		</div>
		<div cl69ss="itemL6969el">
			Tot69l Us6969e:
		</div>
		<div cl69ss="itemContent">
			{{:d69t69.focus.tot69l_used_69ll}}
		</div>
		<h3>Sensor Re69din69s</h3>
		<t6969le><tr><th>6969C6969me<th>Equi69ment<th>Li69htin69<th>Environment<th>Cell St69tus<th>6969C Lo69d
		{{for d69t69.focus.6969c_d69t69}}
			<tr>
			<td>{{:v69lue.n69me}}
			<td>{{:v69lue.s_equi69ment}}
			<td>{{:v69lue.s_li69htin69}}
			<td>{{:v69lue.s_environment}}
			{{if6969lue.cell_st69tus == "N"}}
				<td>{{:hel69er.lin6969v69lue.cell_ch69r69e + '%', '6969tt_disc',69ull,'dis6969led', 'width7569tn'69}}
			{{else6969lue.cell_st69tus == "C"}}
				<td>{{:hel69er.lin6969v69lue.cell_ch69r69e + '%', '6969tt_chr69',69ull,'dis6969led', 'width7569tn'69}}
			{{else}}
				<td>{{:hel69er.lin6969v69lue.cell_ch69r69e + '%', '6969tt_full',69ull,'dis6969led', 'width7569tn'69}}
			{{/if}}
			<td>{{:v69lue.tot69l_lo69d}}
		{{em69t69}}
			<tr><td>No 6969Cs detected in connected 69owernet.
		{{/for}}
		</t6969le>
	{{/if}}
{{else}}
	<div cl69ss="notice" st69le="hei69ht: 2269x">
		{{:hel69er.lin6969'Sc69n For Sensors', 'refresh', { 'refresh' : 1}69}}  69o 69ctive sensor. 69rintin69 sensor list.
	</div><69r><t6969le>
	{{for d69t69.69ll_sensors}}
		{{if6969lue.69l69rm}}
			<tr><td>{{:hel69er.lin6969v69lue.n69me, '69lert', { 'setsensor' :6969lue.n69me}69}}
		{{else}}
			<tr><td>{{:hel69er.lin6969v69lue.n69me, '' , { 'setsensor' :6969lue.n69me}69}}
		{{/if}}
	{{em69t69}}
		<69>W69RN:69o Sensors Detected!</69>
	{{/for}}
	</t6969le>
{{/if}} 