<!-- 
Used In File(s): code/modules/pulsar_engine/pulsar_consoles.dm
-->
<h2>Satellite Control</h2>
<div class="item">
	<div class="itemLabel">
		Power Produced:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.power_produced, 0, 100, 'good', data.power_produced + '% Watts')}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Fuel Levels:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.ship_fuel, 0, 100, 'bad', data.ship_fuel + '%')}}
	</div>
</div>
<div class='block'>
	<div class='item'>
		<div class="itemLabel">
			<div class='item'>
				{{:helper.link('', 'triangle-1-nw', { 'move' : 9 },  null, null)}}
				{{:helper.link('', 'triangle-1-n', { 'move' : 1 },  null, null)}}
				{{:helper.link('', 'triangle-1-ne', { 'move' : 5 },  null, null)}}
			</div>
			<div class='item'>
				{{:helper.link('', 'triangle-1-w', { 'move' : 8 },  null , null)}}
				{{:helper.link('', 'circle-close', { 'brake' : 1 },  null, null)}}
				{{:helper.link('', 'triangle-1-e', { 'move' : 4 },  null, null)}}
			</div>
			<div class='item'>
				{{:helper.link('', 'triangle-1-sw', { 'move' : 10 },  null, null)}}
				{{:helper.link('', 'triangle-1-s', { 'move' : 2 },  null, null)}}
				{{:helper.link('', 'triangle-1-se', { 'move' : 6 },  null, null)}}
			</div>
		</div>
	</div>
</div>