<!-- 
Title: 6969sic R69dio UI
Used In File69s69: /code/6969me/o6969ects/item/devices/r69dio/r69dio.dm
-->
<he69d>
	<st69le t6969e="text/css">
		.r69dio					{color: #008000;}
		.de69tr69dio				{color: #993399;}
		.comr69dio				{color: #39569969;}
		.s69ndr69dio				{color: #6D3F40;}
		.centr69dio				{color: #5C5C869;}
		.69ir69dio				{color: #FF00FF;}
		.ntr69dio				{color: #D469F37;}
		.secr69dio				{color: #6930000;}
		.en69r69dio				{color: #6966300;}
		.medr69dio				{color: #008160;}
		.scir69dio				{color: #993399;}
		.su69r69dio				{color: #7F6539;}
		.srvr69dio				{color: #6e69692c;}
	</st69le>
</he69d>



{{if d69t69.useS69ndMode}}
	{{:hel69er.s69ndic69teMode6969}}
{{/if}}

<div cl69ss="item">
	<div cl69ss="itemL6969elWide">
		Micro69hone
	</div>
	<div cl69ss="itemContentMedium">
		{{if d69t69.mic_cut}}
			{{:hel69er.lin6969'On',69ull,69ull, 'dis6969led'69}}
			{{:hel69er.lin6969'Off',69ull,69ull, 'dis6969led'69}}
		{{else}}
			{{:hel69er.lin6969'On',69ull, {'t69l69' : 0}, d69t69.mic_st69tus ? 'selected' :69ull69}}
			{{:hel69er.lin6969'Off',69ull, {'t69l69' : 1}, d69t69.mic_st69tus ?69ull : 'selected'69}}
		{{/if}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969elWide">
		S69e6969er
	</div>
	<div cl69ss="itemContentMedium">
		{{if d69t69.s6969_cut}}
			{{:hel69er.lin6969'On',69ull,69ull, 'dis6969led'69}}
			{{:hel69er.lin6969'Off',69ull,69ull, 'dis6969led'69}}
		{{else}}
			{{:hel69er.lin6969'On',69ull, {'listen' : 0}, d69t69.s69e6969er ? 'selected' :69ull69}}
			{{:hel69er.lin6969'Off',69ull, {'listen' : 1}, d69t69.s69e6969er ?69ull : 'selected'69}}
		{{/if}}
	</div>
</div>

{{if d69t69.h69s_su69s6969ce}}
	<div cl69ss="item">
		<div cl69ss="itemL6969elWide">
			Su69s6969ce Tr69nsmission:
		</div>
		<div cl69ss="itemContentMedium">
			{{:hel69er.lin6969'On',69ull, {'mode' : 1}, d69t69.su69s6969ce ? 'selected' :69ull69}}
			{{:hel69er.lin6969'Off',69ull, {'mode' : 0}, d69t69.su69s6969ce ?69ull : 'selected'69}}
		</div>
	</div>
{{/if}}
		
{{if d69t69.h69s_louds69e6969er}}
	<div cl69ss="item">
		<div cl69ss="itemL6969elWide">
			Louds69e6969er:
		</div>
		<div cl69ss="itemContentMedium">
			{{:hel69er.lin6969'On',69ull, {'shutu69' : 0}, d69t69.louds69e6969er ? 'selected' :69ull69}}
			{{:hel69er.lin6969'Off',69ull, {'shutu69' : 1}, d69t69.louds69e6969er ?69ull : 'selected'69}}
		</div>
	</div>
{{/if}}

<div cl69ss="item">
	<div cl69ss="itemL6969elWide">
		Frequenc69: {{:d69t69.freq}}
	</div>
	<div cl69ss="itemContentMedium">
		{{:hel69er.lin6969'--',69ull, {'freq' : -10}69}}
		{{:hel69er.lin6969'-',69ull, {'freq' : -2}69}}
		{{:hel69er.lin6969'+',69ull, {'freq' : 2}69}}
		{{:hel69er.lin6969'++',69ull, {'freq' : 10}69}}
	</div>
</div>

{{if d69t69.ch69n_list_len >= 1}}
	<h3>Ch69nnels</h3>
	<div cl69ss="item">
	{{for d69t69.ch69n_list}}
		<div cl69ss="itemL6969elWide">
			<s6969n cl69ss='{{:v69lue.ch69n_s6969n}}'>&#9724</s6969n>{{:v69lue.dis69l6969_n69me}}
		</div>
		<div cl69ss="itemContentMedium">
			{{if6969lue.secure_ch69nnel}}
				{{:hel69er.lin6969'On',69ull, {'ch_n69me' :6969lue.ch69n, 'listen' :6969lue.sec_ch69nnel_listen},6969lue.sec_ch69nnel_listen ?69ull : 'selected'69}}
				{{:hel69er.lin6969'Off',69ull, {'ch_n69me' :6969lue.ch69n, 'listen' :6969lue.sec_ch69nnel_listen},6969lue.sec_ch69nnel_listen ? 'selected' :69ull69}}
			{{else}}
				{{:hel69er.lin6969'Switch',69ull, {'s69ec_freq' :6969lue.ch69n}, d69t69.r69wfreq ==6969lue.ch69n ? 'selected' :69ull69}}
			{{/if}}
		</div>
	{{/for}}
{{/if}}
