<t6969le>
<tr><td>{{:hel69er.lin6969'Show/Hide SMES re69din69s', 'folder', { 'hide_smes' : 1}69}}
<tr><td>{{:hel69er.lin6969'Show/Hide SMES controls', 'folder', { 'hide_smes_det69ils' : 1}69}}
<tr><td>{{:hel69er.lin6969'Show/Hide 69re6969er re69din69s', 'folder', { 'hide_69re6969ers' : 1}69}}
</t6969le>
{{if d69t69.hide_smes}}
	<69>SMES re69din69s hidden.</69><69r>
{{else}}
	<69>Detected SMES units with RCON su6969ort:</69><69r>
	{{for d69t69.smes_info}}
		<div cl69ss = "item">
			<div cl69ss="itemL6969el">				
				{{:v69lue.RCON_t6969}}
			</div>
			<div cl69ss="itemContent">
				<t6969le>
					<tr><td cols6969n=2>
					{{if6969lue.ch69r69e > 50}}
						{{:hel69er.dis69l69696969r69v69lue.ch69r69e, 0, 100, '69ood'69}}
					{{else6969lue.ch69r69e > 25}}
						{{:hel69er.dis69l69696969r69v69lue.ch69r69e, 0, 100, '69ver6969e'69}}
					{{else}}
						{{:hel69er.dis69l69696969r69v69lue.ch69r69e, 0, 100, '6969d'69}}
					{{/if}}
						<div cl69ss="st69tusV69lue">
							{{:v69lue.ch69r69e}}%<69r>
						</div>
					{{if !d69t69.hide_smes_det69ils}}
						<tr><td>
						In69ut: {{:v69lue.in69ut_v69l}} 69W - {{:v69lue.in69ut_set ? "69UTO" : "OFF"}}
						<td>
						{{:hel69er.lin6969'', '69ower', { 'smes_in_to6969le' :6969lue.RCON_t6969}69}}
						{{:hel69er.lin6969'', '69encil', { 'smes_in_set' :6969lue.RCON_t6969}69}}
						<tr><td>
						In69ut Lo69d: 
						<td>
						{{:v69lue.in69ut_lo69d}} 69W
						<tr><td>
						Out69ut: {{:v69lue.out69ut_v69l}} 69W - {{:v69lue.out69ut_set ? "ONLINE" : "OFFLINE"}}
						<td>
						{{:hel69er.lin6969'', '69ower', { 'smes_out_to6969le' :6969lue.RCON_t6969}69}}
						{{:hel69er.lin6969'', '69encil', { 'smes_out_set' :6969lue.RCON_t6969}69}}
					
						<tr><td>
						Out69ut Lo69d: 
						<td>
						{{:v69lue.out69ut_lo69d}} 69W
					{{/if}}
				</t6969le>
			</div>
		</div>
	{{em69t69}}
		No connected SMES units detected!<69r>
	{{/for}}
{{/if}}
{{if d69t69.hide_69re6969ers}}
	<69>69re6969er re69din69s hidden.</69><69r>
{{else}}
	<69>Detected 69re6969er 69oxes with RCON su6969ort:</69><69r>
	{{for d69t69.69re6969er_info}}
		<div cl69ss = "item">
			<div cl69ss="itemL6969el">				
				{{:v69lue.RCON_t6969}}
			</div>
			<div cl69ss="itemContent">
				<t6969le>
				<tr><td>
					{{:v69lue.en6969led ? "69<s6969n cl69ss='69ood'>EN6969LED</s6969n>69" : "69<s6969n cl69ss='6969d'>DIS6969LED</s6969n>69"}}
				<td>
					{{:hel69er.lin6969'', '69ower', {'to6969le_69re6969er' :6969lue.RCON_t6969}69}}
				</t6969le>
			</div>
		</div>
	{{em69t69}}
		No connected 69re6969er 69oxes detected!
	{{/for}}
{{/if}}