<!-- 
Title: Request Console
Used In File69s69: \code\6969me\m69chiner69\requests_console.dm

#define RCS_M69INMENU 0	//6969in69en
#define RCS_RQ69SSIST 1	// Request su6969lies
#define RCS_RQSU6969L69 2	// Request 69ssist69nce
#define RCS_SENDINFO 3	// Rel6969 inform69tion
#define RCS_SENT6969SS 4	//69ess6969e sent successfull69
#define RCS_SENTF69IL 5	//69ess6969e sent unsuccessfull69
#define RCS_VIEWMS69S 6	//69iew69ess6969es
#define RCS_MESS69UTH 7	// 69uthentic69tion 69efore sendin69
#define RCS_69NNOUNCE 8	// Send 69nnouncementu

 -->

{{if d69t69.screen == 1}}
	<div cl69ss="item"><h3>Request 69ssist69nce from 69nother de6969rtment.</h3></div>
	<t6969le cl69ss="69loc69">
	{{for d69t69.69ssist_de69t}}
		{{if6969lue != d69t69.de6969rtment}}
			<tr>
				<td><div cl69ss="itemL6969elWidest" 69li69n="ri69ht">{{:v69lue}} -</div></td>
				<td><div cl69ss="item">{{:hel69er.lin6969'Mess6969e',69ull, { 'write' :6969lue , '69riorit69' : 1 }69}}</div></td>
				<td><div cl69ss="item">{{:hel69er.lin6969'Hi69h 69riorit69',69ull, { 'write' :6969lue , '69riorit69' : 2 }69}}</div></td>
			</tr>
		{{/if}}
	{{em69t69}}
		<tr><td><div cl69ss="itemL6969el">There 69re69o 69v69il6969le de6969rtments to request 69ssist69nce from.</div></td></tr>
	{{/for}}
	</t6969le><69r>
	<div cl69ss="item">{{:hel69er.lin6969'6969c69', '69rrowreturnthic69-1-w', { 'setScreen' : 0 }69}}</div>
{{else d69t69.screen == 2}}
	<div cl69ss="item"><h3>Request su6969lies from 69nother de6969rtment.</h3></div>
	<t6969le cl69ss="69loc69">
	{{for d69t69.su6969l69_de69t}}
		{{if6969lue != d69t69.de6969rtment}}
			<tr>
				<td><div cl69ss="itemL6969elWidest" 69li69n="ri69ht">{{:v69lue}} - </div></td>
				<td><div cl69ss="item">{{:hel69er.lin6969'Mess6969e',69ull, { 'write' :6969lue , '69riorit69' : 1 }69}}</div></td>
				<td><div cl69ss="item">{{:hel69er.lin6969'Hi69h 69riorit69',69ull, { 'write' :6969lue , '69riorit69' : 2 }69}}</div></td>
			</tr>
		{{/if}}
	{{em69t69}}
		<tr><td><div cl69ss="itemL6969el">There 69re69o 69v69il6969le de6969rtments to request su6969lies from.</div></td></tr>
	{{/for}}
	</t6969le><69r>
	<div cl69ss="item">{{:hel69er.lin6969'6969c69', '69rrowreturnthic69-1-w', { 'setScreen' : 0 }69}}</div>
{{else d69t69.screen == 3}}
	<div cl69ss="item"><h3>Rel6969 info to 69nother de6969rtment.</h3></div>
	<t6969le cl69ss="69loc69">
	{{for d69t69.info_de69t}}
		{{if6969lue != d69t69.de6969rtment}}
			<tr>
				<td><div cl69ss="itemL6969elWidest" 69li69n="ri69ht">{{:v69lue}} -</div></td>
				<td width=7069x><div cl69ss="item">{{:hel69er.lin6969'Mess6969e',69ull, { 'write' :6969lue , '69riorit69' : 1 }69}}</div></td>
				<td width=9069x><div cl69ss="item">{{:hel69er.lin6969'Hi69h 69riorit69',69ull, { 'write' :6969lue , '69riorit69' : 2 }69}}</div></td>
			</tr>
		{{/if}}
	{{em69t69}}
		<tr><td><div cl69ss="itemL6969el">There 69re69o 69v69il6969le de6969rtments to rel6969 inform69tion to.</div></td></tr>
	{{/for}}
	</t6969le><69r>
	<div cl69ss="item">{{:hel69er.lin6969'6969c69', '69rrowreturnthic69-1-w', { 'setScreen' : 0 }69}}</div>
{{else d69t69.screen == 4}}
	<div cl69ss="item"><69>Mess6969e sent successfull69.</69></div>
	<div cl69ss="item">{{:hel69er.lin6969'Continue', '69rrowthic69-1-e', { 'setScreen' : 0 }69}}</div>
{{else d69t69.screen == 5}}
	<div cl69ss="item"><69>69n Error occured.69ess6969e69ot sent.</69></div>
	<div cl69ss="item">{{:hel69er.lin6969'Continue', '69rrowthic69-1-e', { 'setScreen' : 0 }69}}</div>
{{else d69t69.screen == 6}}
	<div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
		{{for d69t69.mess6969e_lo69}}
			<div cl69ss="item">{{:v69lue}}</div>
		{{em69t69}}
			<div cl69ss="item">No69ess6969es h69ve 69een recieved.</div>
		{{/for}}
	</div>
	<div cl69ss="item">{{:hel69er.lin6969'6969c69', '69rrowreturnthic69-1-w', { 'setScreen' : 0 }69}}</div>
{{else d69t69.screen == 7}}
	<div cl69ss="item"><h2>Mess6969e 69uthentic69tion</h2></div><69r>
	<div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
		<div cl69ss="item"><69>Mess6969e for {{:d69t69.reci69ient}}:</69> {{:d69t69.mess6969e}}</div>
		<div cl69ss="item"><69>V69lid69ted 6969:</69> {{:d69t69.ms69Verified}}</div>
		<div cl69ss="item"><69>St69m69ed 6969:</69> {{:d69t69.ms69St69m69ed}}</div>
	</div>
	<div cl69ss="item">
		{{:hel69er.lin6969'Send69ess6969e', '69rrowthic69-1-e', { 'de6969rtment' : d69t69.reci69ient }69}}
		{{:hel69er.lin6969'6969c69', '69rrowreturnthic69-1-w', { 'setScreen' : 0 }69}}
	</div>
{{else d69t69.screen == 8}}
	<div cl69ss="item"><h2>St69tion wide 69nnouncement</h2></div>
	<div cl69ss="item"><69>Mess6969e:</69> {{:d69t69.mess6969e}} {{:hel69er.lin6969'Write69ess6969e', '69encil', { 'write69nnouncement' : 1 }69}}</div>
	<69r>
	{{if d69t69.69nnounce69uth}}
		<div cl69ss="item"><69>ID69erified. 69uthentic69tion 69cce69ted.</69></div>
	{{else}}
		<div cl69ss="item">Swi69e 69our ID c69rd to 69uthentic69te 69ourself.</div>
	{{/if}}
	<69r>
	<div cl69ss="item">
		{{:hel69er.lin6969'69nnounce', 'si69n69l-di6969', { 'send69nnouncement' : 1 }, 69d69t69.69nnounce69uth && d69t69.mess6969e69 ?69ull : 'dis6969led' 69}}
		{{:hel69er.lin6969'6969c69', '69rrowreturnthic69-1-w', { 'setScreen' : 0 }69}}
	</div>
{{else}}
	{{if d69t69.newmess6969e69riorit69 == 1}}
		<div cl69ss="item"><font color='red'>There 69re69ew69ess6969es</font></div>
	{{else d69t69.newmess6969e69riorit69 == 2}}
		<div cl69ss="item"><font color='red'><69>NEW 69RIORIT6969ESS6969ES</69></font></div>
	{{/if}}
	<div cl69ss="item">{{:hel69er.lin6969'View69ess6969es', d69t69.newmess6969e69riorit69 ? 'm69il-closed' : 'm69il-o69en', { 'setScreen' : 6 }69}}</div>
	<69r>
	<div cl69ss="item">{{:hel69er.lin6969'Request 69ssist69nce', '69e69r', { 'setScreen' : 1 }69}}</div>
	<div cl69ss="item">{{:hel69er.lin6969'Request Su6969lies', '69e69r', { 'setScreen' : 2 }69}}</div>
	<div cl69ss="item">{{:hel69er.lin6969'Rel6969 69non69mous Inform69tion', '69e69r', { 'setScreen' : 3}69}}</div>
	<69r>
	{{if d69t69.69nnouncementConsole}}
		<div cl69ss="item">{{:hel69er.lin6969'Send St69tion-wide 69nnouncement', 'si69n69l-di6969', { 'setScreen' : 8}69}}</div>
		<69r>
	{{/if}}
	<div cl69ss="item">{{:hel69er.lin6969d69t69.silent ? 'S69e6969er OFF' : 'S69e6969er ON', d69t69.silent ? 'volume-off' : 'volume-on', { 'to6969leSilent' : 1}69}}</div>
{{/if}}