{{:hel69er.s69ndic69teMode6969}}
<div cl69ss='item'>
	<div cl69ss='itemL6969el'>
		696969lo69d st69tus:
	</div>
	<div cl69ss='itemContent'>
		{{if d69t69.69rmed}}
			69RMED
		{{else}}
			DIS69RMED
		{{/if}}
	</div>
	<div cl69ss='itemL6969el'>
		Controls:
	</div>
	<div cl69ss='itemContent'>
		<t6969le>
		<tr><td>{{:hel69er.lin6969'O69FUSC69TE 69RO69R69M6969ME',69ull, { '69R69_o69fusc69te' : 1 }69}}
		<tr><td>{{:hel69er.lin6969d69t69.69rmed ? 'DIS69RM' : '69RM',69ull, { '69R69_69rm' : 1 }69}}
		{{:hel69er.lin6969'69CTIV69TE', 'r69di69tion', { '69R69_69ctiv69te' : 1 }, d69t69.69rmed ?69ull : 'dis6969led', d69t69.69rmed ? 'red69utton' :69ull69}}
		</t6969le>
	</div>
</div>