<div class="item">
	<div class="statusDisplay">
		<div class="itemLabel" style="padding-right: 4px;">
			<div style="padding: 1px; overflow:auto;text-align:center;">
				<h3>
					<img src='sanity.png' style ="float: left; width: 41%;padding-right: 1px;">
					<br>
					Sanity:
				</h3>
			</div>
		</div>
		<div class="itemContent">
			<div>
				Sanity is gained or lost depending on your environment. For example 
				being around oddities increases your sanity slightly, as well as 
				taking drugs or smoking. Seeing people die, being around blood and grime 
				and being hurt yourself lowers your sanity.
			</div>
			<div style="padding: 1px; overflow:auto;">
					<h3> Sanity level:</h3>
			</div>
			{{:helper.displayBar(data.sanity, 0, data.sanity_max_level, data.sanity < 33 ? 'bad' : data.sanity > 66 ? 'good': 'average', data.sanity ? data.sanity : "0")}}
		</div>
	</div>
</div>
<br>
<div class="item">
	<div class="statusDisplay">
		<div class="itemLabel" style="padding-right: 4px;">
			<div style="padding: 1px; overflow:auto;text-align:center;">
				<h3>
					<img src='insight.png' style ="margin: auto; float: left; width: 41%; padding-right: 1px;">
					<br>
					Insight:
				</h3>
			</div>
		</div>
		<div class="itemContent">
			<div>
				Insight is gained by activies such as smoking, taking drugs, 
				hurting people or seeing them get hurt, seeing blood and grime and 
				exploring maintenance.
			</div>
			<div style="padding: 1px; overflow:auto;">
					<h3>Insight progress:</h3>
			</div>
			{{:helper.displayBar(data.insight, 0, 100, data.insight < 33 ? 'bad' : data.insight > 66 ? 'good': 'average', data.insight ? data.insight : "0")}}
		</div>
	</div>
</div>
<br>
<div class="item">
	<div class="statusDisplay">
		<div class="itemLabel" style="padding-right: 4px;">
			<div style="padding: 1px; overflow:auto;text-align:center;">
				<h3>
					<img src='gangnam_style.png' style ="float: left; width: 41%; padding-right: 1px;margin: auto;">
					<br>
					Style:
				</h3>
			</div>
		</div>
		<div class="itemContent">
			<div>
				Style can be gained by wearing fashionable and clean attire. Being 
				dirty with blood or grime will decrease your style value.
			</div>
			<div style="padding: 1px; overflow:auto;">
				<h3>Current style:</h3>
			</div>
			{{:helper.displayBar(data.style, 0, data.max_style, data.style < 4 ? 'bad' : data.style > 9 ? 'good': 'average', data.style ? data.style : "0")}}
		</div>
	</div>
</div>
<br>
<div class="item">
	<div class="statusDisplay">
		<div class="itemLabel" style="padding-right:4px;">
			<div style="padding: 1px; overflow:auto;text-align:center;">
				<h3>
					<img src='desire.png' style ="float: left; width: 41%;margin: auto;padding-right: 1px; ">
					<br>
					Desires:
				</h3>
			</div>
		</div>
		<div class="itemContent">
			<div>
				Once you have gained enough insight, you 
				should rest. While you rest you will 
				have certain wishes to fulfill.
			</div>
			<h3>Current desires: </h3>
			{{if data.rest}}
				{{for data.desires :val:val_i}}
					| &nbsp &nbsp {{:val}} &nbsp &nbsp
				{{/for}}
				|
				<div style="padding: 1px; overflow:auto;">
					<h3>Rest progress:</h3>
				</div>
				{{:helper.displayBar(data.insight_rest, 0, 100, data.insight_rest < 33 ? 'bad' : data.insight_rest > 66 ? 'good': 'average', data.insight_rest ? data.insight_rest : "0")}}
				<br>
			{{else}}
				Currently you don't have desires
			{{/if}}
		</div>
	</div>
</div>

{{if data.cruciform}}
<br>
<div class="item">
	<div class="statusDisplay">
		<div class="itemLabel" style="padding-right:4px;">
			<div style="padding: 1px; overflow:auto;text-align:center;">
				<h3><!-- kneeling.png was taken from: https://game-icons.net/-->
					<img src='kneeling.png' style ="float: left; width: 41%;margin: auto;padding-right: 1px; ">
					<br>
					Righteous life:
				</h3>
			</div>
		</div>
		<div class="itemContent">
			<div>
				Living righteously and actively participating 
				in group rituals increases the amount of energy 
				regeneration of your cruciform.
			</div>
			<div style="padding: 1px; overflow:auto;">
				<h3>Holiness:</h3>
			</div>
			{{:helper.displayBar(data.righteous_life, 0, 100, data.righteous_life < 33 ? 'bad' : data.righteous_life > 66 ? 'good': 'average', data.righteous_life ? data.righteous_life : "0")}}
			<br>
		</div>
	</div>
</div>
{{/if}}
