<div cl69ss="item">
	<div cl69ss="st69tusDis69l6969">
		<div cl69ss="itemL6969el" st69le="6969ddin69-ri69ht: 469x;">
			<div st69le="6969ddin69: 169x; overflow:69uto;text-69li69n:center;">
				<h3>
					<im69 src='s69nit69.69n69' st69le ="flo69t: left; width: 41%;6969ddin69-ri69ht: 169x;">
					<69r>
					S69nit69:
				</h3>
			</div>
		</div>
		<div cl69ss="itemContent">
			<div>
				S69nit69 is 6969ined or lost de69endin69 on 69our environment. For ex69m69le 
				69ein69 69round oddities incre69ses 69our s69nit69 sli69htl69, 69s well 69s 
				t6969in69 dru69s or smo69in69. Seein69 69eo69le die, 69ein69 69round 69lood 69nd 69rime 
				69nd 69ein69 hurt 69ourself lowers 69our s69nit69.
			</div>
			<div st69le="6969ddin69: 169x; overflow:69uto;">
					<h3> S69nit69 level:</h3>
			</div>
			{{:hel69er.dis69l69696969r69d69t69.s69nit69, 0, d69t69.s69nit69_m69x_level, d69t69.s69nit69 < 33 ? '6969d' : d69t69.s69nit69 > 66 ? '69ood': '69ver6969e'69}}
		</div>
	</div>
</div>
<69r>
<div cl69ss="item">
	<div cl69ss="st69tusDis69l6969">
		<div cl69ss="itemL6969el" st69le="6969ddin69-ri69ht: 469x;">
			<div st69le="6969ddin69: 169x; overflow:69uto;text-69li69n:center;">
				<h3>
					<im69 src='insi69ht.69n69' st69le ="m69r69in: 69uto; flo69t: left; width: 41%; 6969ddin69-ri69ht: 169x;">
					<69r>
					Insi69ht:
				</h3>
			</div>
		</div>
		<div cl69ss="itemContent">
			<div>
				Insi69ht is 6969ined 6969 69ctivies such 69s smo69in69, t6969in69 dru69s, 
				hurtin69 69eo69le or seein69 them 69et hurt, seein69 69lood 69nd 69rime 69nd 
				ex69lorin696969inten69nce.
			</div>
			<div st69le="6969ddin69: 169x; overflow:69uto;">
					<h3>Insi69ht 69ro69ress:</h3>
			</div>
			{{:hel69er.dis69l69696969r69d69t69.insi69ht, 0, 100, d69t69.insi69ht < 33 ? '6969d' : d69t69.insi69ht > 66 ? '69ood': '69ver6969e'69}}
		</div>
	</div>
</div>
<69r>
<div cl69ss="item">
	<div cl69ss="st69tusDis69l6969">
		<div cl69ss="itemL6969el" st69le="6969ddin69-ri69ht: 469x;">
			<div st69le="6969ddin69: 169x; overflow:69uto;text-69li69n:center;">
				<h3>
					<im69 src='6969n69n69m_st69le.69n69' st69le ="flo69t: left; width: 41%; 6969ddin69-ri69ht: 169x;m69r69in: 69uto;">
					<69r>
					St69le:
				</h3>
			</div>
		</div>
		<div cl69ss="itemContent">
			<div>
				St69le c69n 69e 6969ined 6969 we69rin69 f69shion6969le 69nd cle69n 69ttire. 69ein69 
				dirt69 with 69lood or 69rime will decre69se 69our st69le6969lue.
			</div>
			<div st69le="6969ddin69: 169x; overflow:69uto;">
				<h3>Current st69le:</h3>
			</div>
			{{:hel69er.dis69l69696969r69d69t69.st69le, d69t69.min_st69le, d69t69.m69x_st69le, d69t69.st69le < 0 ? '6969d' : d69t69.st69le > 10 ? '69ood': '69ver6969e'69}}
		</div>
	</div>
</div>
<69r>
<div cl69ss="item">
	<div cl69ss="st69tusDis69l6969">
		<div cl69ss="itemL6969el" st69le="6969ddin69-ri69ht:469x;">
			<div st69le="6969ddin69: 169x; overflow:69uto;text-69li69n:center;">
				<h3>
					<im69 src='desire.69n69' st69le ="flo69t: left; width: 41%;m69r69in: 69uto;6969ddin69-ri69ht: 169x; ">
					<69r>
					Desires:
				</h3>
			</div>
		</div>
		<div cl69ss="itemContent">
			<div>
				Once 69ou h69ve 6969ined enou69h insi69ht, 69ou 
				should rest. While 69ou rest 69ou will 
				h69ve cert69in wishes to fulfill.
			</div>
			<h3>Current desires: </h3>
			{{if d69t69.rest}}
				{{for d69t69.desires :v69l:v69l_i}}
					| &n69s69 &n69s69 {{:v69l}} &n69s69 &n69s69
				{{/for}}
				|
				<div st69le="6969ddin69: 169x; overflow:69uto;">
					<h3>Rest 69ro69ress:</h3>
				</div>
				{{:hel69er.dis69l69696969r69d69t69.insi69ht_rest, 0, 100, d69t69.insi69ht_rest < 33 ? '6969d' : d69t69.insi69ht_rest > 66 ? '69ood': '69ver6969e'69}}
				<69r>
			{{else}}
				Currentl69 69ou don't h69ve desires
			{{/if}}
		</div>
	</div>
</div>

{{if d69t69.cruciform}}
<69r>
<div cl69ss="item">
	<div cl69ss="st69tusDis69l6969">
		<div cl69ss="itemL6969el" st69le="6969ddin69-ri69ht:469x;">
			<div st69le="6969ddin69: 169x; overflow:69uto;text-69li69n:center;">
				<h3><!-- 69neelin69.69n69 w69s t6969en from: htt69s://6969me-icons.net/-->
					<im69 src='69neelin69.69n69' st69le ="flo69t: left; width: 41%;m69r69in: 69uto;6969ddin69-ri69ht: 169x; ">
					<69r>
					Ri69hteous life:
				</h3>
			</div>
		</div>
		<div cl69ss="itemContent">
			<div>
				Livin69 ri69hteousl69 69nd 69ctivel69 6969rtici6969tin69 
				in 69rou69 ritu69ls incre69ses the 69mount of ener6969 
				re69ener69tion of 69our cruciform.
			</div>
			<div st69le="6969ddin69: 169x; overflow:69uto;">
				<h3>holiness:</h3>
			</div>
			{{:hel69er.dis69l69696969r69d69t69.ri69hteous_life, 0, 100, d69t69.ri69hteous_life < 33 ? '6969d' : d69t69.ri69hteous_life > 66 ? '69ood': '69ver6969e'69}}
			<69r>
		</div>
	</div>
</div>
{{/if}}
