</div class="item" style="padding: 2px;">
	<div class="statusDisplay" style="overflow:auto;">
		<div class="item">
			<div class="statusDisplay" style="background-color:DarkBlue;">
				<div class="itemLabel" style="background-color:none; padding-right: 4px; color:white;">
					<div style="padding: 1px; overflow:auto;text-align:center;">
						<h3>
							<img src='ironhammer.png' style ="float: left; width: 40%;padding-right: 1px;">
							<br>
							Sanity:
						</h3>
					</div>
					<div>
						Sanity is gained or lost<br>
						depending on your environment.<br>
						For example being around<br>
						oddities increases your sanity<br>
						slightly, as well as<br>
						taking drugs or smoking.<br>
						Seeing people die, being<br>
						around blood and grime<br>
						and being hurt yourself<br>
						lowers your sanity.
					</div>
				</div>
				<div class="itemContent" style="background-color:none; color:white;">
					<br><br><br><br><br><br>
						<div style="padding: 1px; overflow:auto;">
							<h3> Sanity level:</h3>
						</div>
					{{:helper.displayBar(data.sanity, 0, 100, data.sanity < 33 ? 'bad' : data.sanity > 66 ? 'good': 'average', data.sanity)}}
				</div>
			</div>
		</div>
		<br>
		<div class="item">
			<div class="statusDisplay" style="background-color:Cyan;">
				<div class="itemLabel" style="background-color:none; padding-right: 4px; color:black;">
					<div style="padding: 1px; overflow:auto;text-align:center;">
						<h3 style="color:black;">
							<img src='ironhammer.png' style ="margin: auto; float: left; width: 40%; padding-right: 1px;">
							<br>
							Insight:
						</h3>
					</div>
					<div>
						Insight is gained by<br>
						activies such as smoking,<br>
						taking drugs, hurting people<br>
						or seeing them get hurt,<br>
						seeing blood and grime<br>
						and exploring maintenance.
					</div>
				</div>
				<div class="itemContent"  style="background-color:none; color:black;">
					<br><br><br><br>
						<div style="padding: 1px; overflow:auto;">
							<h3 style="color:black;">Insight progress:</h3>
						</div>
					{{:helper.displayBar(data.insight, 0, 100, data.insight < 33 ? 'bad' : data.insight > 66 ? 'good': 'average', data.insight)}}
				</div>
			</div>
		</div>
		<br>
		<div class="item">
			<div class="statusDisplay"  style="background-color:DarkOliveGreen;">
				<div class="itemLabel" style="background-color:none; padding-right: 4px; color:white;">
					<div style="padding: 1px; overflow:auto;text-align:center;">
						<h3>
							<img src='ironhammer.png' style ="float: left; width: 40%; padding-right: 1px;margin: auto;">
							<br>
							Style:
						</h3>
					</div>
					<div>
						Style can be gained<br>
						by wearing fashionable and<br>
						clean attire. Being dirty<br>
						with blood or grime<br>
						will decrease your style value.
					</div>
				</div>
				<div class="itemContent" style="background-color:none; color:white;">
					<br><br><br><br>
						<div style="padding: 1px; overflow:auto;">
							<h3>Current style:</h3>
						</div>
					{{:helper.displayBar(data.style, data.min_style, data.max_style, data.style < 0 ? 'bad' : data.style > 10 ? 'good': 'average', data.style)}}
				</div>
			</div>
		</div>
		<br>
		<div class="item">
			<div class="statusDisplay" style="background-color:red;padding: 1px; overflow:auto;">
				<div class="itemLabel" style="background-color:none; padding-right:3px; color:white;">
					<div style="padding: 1px; overflow:auto;text-align:center;">
						<h3>
							<img src='ironhammer.png' style ="float: left; width: 40%;margin: auto;padding-right: 1px; ">
							<br>
							Desires:
						</h3>
					</div>
					<div>
						Once you have gained enough<br>
						insight, you should rest.<br>
						While you rest you will<br>
						have certain wishes<br>
						to fulfill.
					</div>
				</div>
				<div class="itemContent" style="background-color:none; color:white;">
					<br><br><br>
					<h3>List of current desires:</h3>
					<div>
						{{if data.rest}}
							{{for data.desires :val:val_i}}
								| &nbsp &nbsp {{:val}} &nbsp &nbsp
							{{/for}}
							|
						{{else}}
							actualy you no have desires
						{{/if}}
					</div>
				</div>
				{{if data.rest}}
					<div class="itemLabel" style="background-color:none; padding-right: 3px; color:black;">
						<div style="padding: 1px; overflow:auto;">
							<h3>Rest progress:</h3>
						</div>
					</div>
					<div class="itemContent" style="background-color:none; color:black;"><br>
						{{:helper.displayBar(data.insight_rest, 0, 100, data.insight_rest < 33 ? 'bad' : data.style > 66 ? 'good': 'average', data.insight_rest)}}
						<br><br>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>
