<!--
Title: Security Camera Console (Map content)
Used In File(s): \code\game\machinery\computer\camera.dm
 -->
{{for data.cameras}}
	{{if value.z == config.mapZLevel}}
		<div class="mapIcon mapIcon16" style="left: {{:(value.x * data.map_scalar - 0.6)}}px; bottom: {{:(value.y * data.map_scalar - 14.40)}}px;">
			{{if data.current && value.name == data.current.name}}
				{{:helper.link("#", '', {'switch_camera' : value.camera}, 'selected')}}
			{{else value.deact}}
				{{:helper.link('#', '', {}, 'inactive')}}
			{{else}}
				{{:helper.link("#", '', {'switch_camera' : value.camera})}}
			{{/if}}
			<div class="tooltip hidden">
				{{:value.name}}
			</div>
		</div>
	{{/if}}
{{/for}}
