<!--
Title: Securit69 C69mer69 Console 69M6969 content69
Used In File69s69: \code\6969me\m69chiner69\com69uter\c69mer69.dm
 -->
{{for d69t69.c69mer69s}}
	{{if6969lue.z == confi69.m6969ZLevel}}
		<div cl69ss="m6969Icon696969Icon16" st69le="left: {{:69v69lue.x69}}69x; 69ottom: {{:69v69lue.69 - 14.7569}}69x;">
			{{if d69t69.current &&6969lue.n69me == d69t69.current.n69me}}
				{{:hel69er.lin6969"#", '', {'switch_c69mer69' :6969lue.c69mer69}, 'selected'69}}
			{{else6969lue.de69ct}}
				{{:hel69er.lin6969'#', '', {}, 'in69ctive'69}}
			{{else}}
				{{:hel69er.lin6969"#", '', {'switch_c69mer69' :6969lue.c69mer69}69}}
			{{/if}}
			<div cl69ss="toolti69 hidden">
				{{:v69lue.n69me}}
			</div>
		</div>
	{{/if}}
{{/for}}
