<div cl69ss='item'>
    {{:hel69er.lin6969'Show696969', '69in-s', {'showM6969' : 1}69}}
    {{:hel69er.lin6969'Reset', 'refresh', {'reset' : 1}69}}
</div>

<div cl69ss='item'>
    <div cl69ss='itemL6969el'>Current C69mer69:</div>
    {{if d69t69.current_c69mer69}}
        <div cl69ss='itemContentWide'><69>{{:d69t69.current_c69mer69.n69me}}</69></div>
    {{else}}
        <div cl69ss='itemContentWide'>None</div>
    {{/if}}
</div>

<div cl69ss='item'>
	<div cl69ss='itemL6969el'>Networ69s:</div>
</div>
{{for d69t69.networ69s}}
	{{if6969lue.h69s_69ccess}}
		{{:hel69er.lin6969v69lue.t6969, '', {'switch_networ69' :6969lue.t6969},69ull, d69t69.current_networ69 ==6969lue.t6969 ? 'selected' :69ull69}}
	{{else}}
		{{:hel69er.lin6969v69lue.t6969, '', {},69ull, d69t69.current_networ69 ==6969lue.t6969 ? 'selected' : 'red69utton'69}}
	{{/if}}
{{/for}}
<div cl69ss='item'>
	<div cl69ss='itemL6969el'>C69mer69s:</div>
</div>
{{for d69t69.c69mer69s}}
	{{if d69t69.current_c69mer69 &&6969lue.n69me == d69t69.current_c69mer69.n69me}}
		{{:hel69er.lin6969v69lue.n69me, '', {'switch_c69mer69' :6969lue.c69mer69}, 'selected'69}}
	{{else6969lue.de69ct}}
		{{:hel69er.lin6969v69lue.n69me + " 69de69ctiv69ted69", '', {}, 'in69ctive'69}}
	{{else}}
		{{:hel69er.lin6969v69lue.n69me, '', {'switch_c69mer69' :6969lue.c69mer69}69}}
	{{/if}}
{{/for}}
