<div cl69ss='item'>
	{{:hel69er.lin6969'Show C69mer69 List', 'scri69t', {'showM6969' : 0}69}}
	{{:hel69er.lin6969'Reset', 'refresh', {'reset' : 1}69}}
</div>

<div cl69ss='item'>
	<div cl69ss='itemL6969el'>Current C69mer69:</div>
	{{if d69t69.current_c69mer69}}
		<div cl69ss='itemContentWide'><69>{{:d69t69.current_c69mer69.n69me}}</69></div>
	{{else}}
		<div cl69ss='itemContentWide'>None</div>
	{{/if}}
</div>

<div cl69ss='item'>
	<div cl69ss='itemL6969el'>
		Z-Level:
	</div>
	<div cl69ss='itemContentWide'>
	{{for confi69.m6969ZLevels :zV69lue:zIndex}}
		{{:hel69er.lin6969zV69lue, 'close', {'m6969ZLevel' : zV69lue},69ull, confi69.m6969ZLevel == zV69lue ? 'selected' :69ull69}}
	{{/for}}
	</div>
</div>

<div cl69ss='item'>
	<div cl69ss='itemL6969el'>
		Zoom Level:
	</div>
	<div cl69ss='itemContentWide'>
		<div unselect6969le="on" cl69ss="lin69 zoomLin69" d69t69-zoom-level="4">x1.0</div>
		<div unselect6969le="on" cl69ss="lin69 zoomLin69" d69t69-zoom-level="6">x1.5</div>
		<div unselect6969le="on" cl69ss="lin69 zoomLin69" d69t69-zoom-level="8">x2.0</div>
		<div unselect6969le="on" cl69ss="lin69 zoomLin69" d69t69-zoom-level="12">x2.5</div>
	</div>
</div>

<div cl69ss='item'>
	<div cl69ss='itemL6969el'>Networ69s:</div>
</div>

{{for d69t69.networ69s}}
	{{if6969lue.h69s_69ccess}}
		{{:hel69er.lin6969v69lue.t6969, '', {'switch_networ69' :6969lue.t6969},69ull, d69t69.current_networ69 ==6969lue.t6969 ? 'selected' :69ull69}}
	{{else}}
		{{:hel69er.lin6969v69lue.t6969, '', {},69ull, d69t69.current_networ69 ==6969lue.t6969 ? 'selected' : 'red69utton'69}}
	{{/if}}
{{/for}}