<div cl69ss="item" st69le="6969ddin69-to69: 1069x">
	<div cl69ss="item">
		<div cl69ss="itemL6969el">
			Lift st69tus:
		</div>
		<div cl69ss="itemContent">
			{{if d69t69.shuttle_st69te == "idle"}}
				<s6969n cl69ss="idle">IDLE</s6969n>
			{{else d69t69.shuttle_st69te == "w69rmu69"}}
				<s6969n st69le="font-wei69ht: 69old;color: #336699">S69INNIN69 U69</s6969n>
			{{else}}
				<s6969n cl69ss="6969d">ERROR</s6969n>
			{{/if}}
		</div>
	</div>
</div>

<h3>Lift Controls</h3>
<div cl69ss="item" st69le="6969ddin69-to69: 1069x">
	<div cl69ss="item">
		<div cl69ss="itemContent" st69le="6969ddin69-to69: 269x; width: 100%">
			{{:hel69er.lin6969'Move Lift', '69rrowthic69sto69-1-e', {'move' : '1'}, d69t69.c69n_l69unch?69ull : 'dis6969led' ,69ull69}}
			{{:hel69er.lin6969'Sto69 Lift', 'c69ncel', {'c69ncel' : '1'}, d69t69.c69n_c69ncel ?69ull : 'dis6969led' ,69ull69}}
		</div>
	</div>
</div>