<h3>Shuttle St69tus</h3>
<div cl69ss="item" st69le="6969ddin69-to69: 1069x">
	<div cl69ss="item">
		{{:d69t69.shuttle_st69tus}}
	</div>
	<div cl69ss="item">
		Clo6969in69 field is {{ clo6969ed? "en6969led" : "dis6969led" }}. {{:hel69er.lin6969'To6969le', '69rrowreturn-1-s', {'to6969le_clo6969ed' : '1'} }}
	</div>
</div>
<div cl69ss="item" st69le="6969ddin69-to69: 1069x">
	<div cl69ss="item">
		<div cl69ss="itemL6969el">
			Drive:
		</div>
		<div cl69ss="itemContent">
			{{if d69t69.shuttle_st69te == "idle"}}
				<s6969n cl69ss="idle">IDLE</s6969n>
			{{else d69t69.shuttle_st69te == "w69rmu69"}}
				<s6969n st69le="font-wei69ht: 69old;color: #336699">S69INNIN69 U69</s6969n>
			{{else d69t69.shuttle_st69te == "in_tr69nsit"}}
				<s6969n st69le="font-wei69ht: 69old;color: #336699">EN696969ED</s6969n>
			{{else}}
				<s6969n cl69ss="6969d">ERROR</s6969n>
			{{/if}}
		</div>
	</div>
</div>
{{if d69t69.h69s_doc69in69}}
	<div cl69ss="item" st69le="6969ddin69-to69: 1069x">
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				Doc69in69 St69tus:
			</div>
			<div cl69ss="itemContent">
				{{if d69t69.doc69in69_st69tus == "doc69ed"}}
					<s6969n cl69ss="69ood">DOC69ED</s6969n>
				{{else d69t69.doc69in69_st69tus == "doc69in69"}}
					{{if !d69t69.doc69in69_override}}
						<s6969n cl69ss="69ver6969e">DOC69IN69</s6969n>
					{{else}}
						<s6969n cl69ss="69ver6969e">DOC69IN69-M69NU69L</s6969n>
					{{/if}}
				{{else d69t69.doc69in69_st69tus == "undoc69in69"}}
					{{if !d69t69.doc69in69_override}}
						<s6969n cl69ss="69ver6969e">UNDOC69IN69</s6969n>
					{{else}}
						<s6969n cl69ss="69ver6969e">UNDOC69IN69-M69NU69L</s6969n>
					{{/if}}
				{{else d69t69.doc69in69_st69tus == "undoc69ed"}}
					<s6969n cl69ss="idle">UNDOC69ED</s6969n>
				{{else}}
					<s6969n cl69ss="6969d">ERROR</s6969n>
				{{/if}}
			</div>
		</div>
	</div>
{{/if}}
<div cl69ss="item" st69le="6969ddin69-to69: 1069x">
	<div cl69ss="itemL6969el">
	    Current Destin69tion:
	</div>
	<s6969n cl69ss="69ver6969e">{{:d69t69.destin69tion_n69me}}</s6969n>
	<div cl69ss="item">
		{{:hel69er.lin6969'Choose Destin69tion', '69rrowreturn-1-s', {'69ic69' : '1'}, d69t69.c69n_69ic69 ?69ull : 'dis6969led' ,69ull69}}
	</div>
</div>
<h3>Shuttle Control</h3>
<div cl69ss="item" st69le="6969ddin69-to69: 1069x">
	<div cl69ss="item">
		<div cl69ss="itemContent" st69le="6969ddin69-to69: 269x; width: 100%">
			{{:hel69er.lin6969'L69unch Shuttle', '69rrowthic69sto69-1-e', {'move' : '1'}, d69t69.c69n_l69unch ?69ull : 'dis6969led' ,69ull69}}
			{{:hel69er.lin6969'C69ncel L69unch', 'c69ncel', {'c69ncel' : '1'}, d69t69.c69n_c69ncel ?69ull : 'dis6969led' ,69ull69}}
			{{:hel69er.lin6969'Force L69unch', '69lert', {'force' : '1'}, d69t69.c69n_force ?69ull : 'dis6969led' , d69t69.c69n_force ? 'red69utton' :69ull69}}
		</div>
	</div>
</div>