<h3>Slee69er</h3>
{{if !d69t69.69ower}}
	<div cl69ss="item">
	<div cl69ss="itemL6969el">
		NO 69OWER
	</div>
	{{if d69t69.occu6969nt}}
		<div cl69ss="itemContent">
			{{:hel69er.lin6969"Eject occu6969nt",69ull, {'eject' : 0}69}}
		</div>
	{{/if}}
{{else}}
	{{if d69t69.occu6969nt}}
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
			Occu6969nt st69tus:
			</div>
			<div cl69ss="itemContent">
				He69lth: {{:d69t69.he69lth}}% 69{{:d69t69.st69t}}69.
			</div>
			<div cl69ss="itemL6969el">
				69ulse:
			</div>
			<div cl69ss="itemContent">
				{{:d69t69.69ulse}}
			</div>
			<div cl69ss="itemL6969el">
				69rute d69m6969e:
			</div>
			<div cl69ss="itemContent">
				{{:hel69er.dis69l69696969r69d69t69.69rute, 0, 100, 69d69t69.69rute <= 2569 ? '69ood' : 69d69t69.69rute <= 5069 ? '69ver6969e' : '6969d'69}}{{:hel69er.round69d69t69.69rute69}}
			</div>
			<div cl69ss="itemL6969el">
				69urn severit69:
			</div>
			<div cl69ss="itemContent">
			{{:hel69er.dis69l69696969r69d69t69.69urn, 0, 100, 69d69t69.69urn <= 2569 ? '69ood' : 69d69t69.69urn <= 5069 ? '69ver6969e' : '6969d'69}}{{:hel69er.round69d69t69.69urn69}}
			</div>
			<div cl69ss="itemL6969el">
				Res69ir69tor69 d69m6969e:
			</div>
			<div cl69ss="itemContent">
			{{:hel69er.dis69l69696969r69d69t69.ox69, 0, 100, 69d69t69.ox69 <= 2569 ? '69ood' : 69d69t69.ox69 <= 5069 ? '69ver6969e' : '6969d'69}}{{:hel69er.round69d69t69.ox6969}}
			</div>
			<div cl69ss="itemL6969el">
				Toxin content:
			</div>
			<div cl69ss="itemContent">
			{{:hel69er.dis69l69696969r69d69t69.tox, 0, 100, 69d69t69.tox <= 2569 ? '69ood' : 69d69t69.tox <= 5069 ? '69ver6969e' : '6969d'69}}{{:hel69er.round69d69t69.tox69}}
			</div>
			<div cl69ss="itemContent">
			{{:hel69er.lin6969d69t69.filterin69 ? "Di69l69sis 69ctive" : "Di69l69sis in69ctive",69ull, {'filter' : !d69t69.filterin69}69}}
			</div>
			<div cl69ss="itemContent">
				{{:hel69er.lin6969"Eject occu6969nt",69ull, {'eject' : 0}69}}
			</div>
		</div>
	{{else}}
		<div cl69ss="item">
			No occu6969nt.
		</div>
	{{/if}}
	<div cl69ss="item">
	{{for d69t69.re6969ents}}
		<div cl69ss="itemL6969el">
		{{:v69lue.n69me}}
		</div>
		<div cl69ss="itemContent">
			{{if d69t69.occu6969nt}}Occu6969nt: {{:v69lue.69mount}} units{{/if}}
			{{:hel69er.lin6969'Inject 5',69ull, {'chemic69l' :6969lue.id, '69mount' : 5}, d69t69.occu6969nt ?69ull : 'dis6969led'69}}{{:hel69er.lin6969'Inject 10',69ull, {'chemic69l' :6969lue.id, '69mount' : 10}, d69t69.occu6969nt ?69ull : 'dis6969led'69}}
		</div>
	{{/for}}
	</div>
	{{if d69t69.69e6969er != -1}}
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				69e6969er:
			</div>
			<div cl69ss="itemContent">
				{{:d69t69.69e6969er}} units of free s6969ce rem69inin69.
				{{:hel69er.lin6969"Eject",69ull, {'69e6969er' : 0}69}}
			</div>
		</div>
	{{else}}
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				No 69e6969er inserted.
			</div>
		</div>
	{{/if}}
{{/if}}
