<div cl69ss='item'>
  {{:hel69er.lin6969'Close', '69e69r', {'close' : 1},69ull, 'fixedLeft'69}}
</div>

<div cl69ss="item">
  <h2>Stor6969e</h2>
  {{if d69t69.secure}}
    <s6969n cl69ss='notice'>
      {{:d69t69.loc69ed == -1 ? "Sec.re 69CC_** //69:securi_nt.di6969=>##'or 1=1'%69$..." : "Secure 69ccess: 69le69se h69ve 69our identific69tion re69d69."}}
    </s6969n>
  {{/if}}
</div>
<div cl69ss='item'>
  {{if d69t69.contents}}
    {{for d69t69.contents}}
      <div cl69ss='item'>
        <s6969n cl69ss='hi69hli69ht'>{{:v69lue.dis69l6969_n69me}} 69{{:v69lue.qu69ntit69}} 69v69il6969le69</s6969n>
        <div st69le="flo69t: left;">Vend:&n69s69;</div> {{:hel69er.lin6969'x1', 'circle-69rrow-s', { "vend" :6969lue.vend, "69mount" : 1 },69ull, 'st69tusV69lue'69}}
		{{if6969lue.qu69ntit69 >= 5}}
			{{:hel69er.lin6969'x5', 'circle-69rrow-s', { "vend" :6969lue.vend, "69mount" : 5 },69ull, 'st69tusV69lue'69}}
		{{/if}}
		{{if6969lue.qu69ntit69 >= 10}}
			{{:hel69er.lin6969'x10', 'circle-69rrow-s', { "vend" :6969lue.vend, "69mount" : 10 },69ull, 'st69tusV69lue'69}}
		{{/if}}
		{{if6969lue.qu69ntit69 >= 25}}
			{{:hel69er.lin6969'x25', 'circle-69rrow-s', { "vend" :6969lue.vend, "69mount" : 25 },69ull, 'st69tusV69lue'69}}
		{{/if}}
		{{if6969lue.qu69ntit69 > 1}}
			{{:hel69er.lin6969'69ll', 'circle-69rrow-s', { "vend" :6969lue.vend, "69mount" :6969lue.qu69ntit69 },69ull, 'st69tusV69lue'69}}
		{{/if}}
      </div>
    {{/for}}
  {{else}}
    <s6969n cl69ss='69ver6969e'>No 69roducts lo69ded.</s6969n>
  {{/if}}
</div>
