<div class='statusDisplay'>
	{{if data.currentItem}}
		<center><b><h2>SMELTING...</h2></b>
		<hr></hr>
		<h3>Loaded item: {{:data.currentItem}}</h3></center><br>
		<div class="itemLabel">
			Progress:
		</div>
		<div class="itemContent">
			{{:helper.displayBar(data.progress, 0, 100, 'highlight')}}
		</div>

	{{else}}
		<center><b><h2>NO ITEM</h2></b></center>
	{{/if}}
</div>

<div class="block">
	<div class="item">
		<div class="itemLabelWidest"><b>Loaded materials</b></div>
	</div>
	{{for data.materials}}
		<div class="item">
			<div class="itemLabelNarrow">{{:value.name}}</div>
			<div class="itemContentNarrow">{{:value.count}}/{{:data.capacity}}</div>
			<div class="itemLabelNarrow">{{:helper.link('', 'eject', {'eject' : value.name}, null, 'statusValue')}}</b></div>
		</div>
	{{empty}}
		<div class="item">
			<div class="itemLabelNarrow">empty</div>
		</div>
	{{/for}}
	<div class="item">
		{{:helper.link('EJECT ALL', '', {'eject' : 1}, null, 'bigButton')}}
	</div>
</div>

<div class="block">
	<div class="item">
		<div class="itemLabelWidest"><b><h3>Sides config</h3></b></div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow"><b>Input side</b></div>
		<div class="itemLabelNarrow"><b>Current Side: {{:data.sideI}}</b></div>
		<div class="itemLabelNarrow">{{:helper.link('North', '', {'setsideI' : 1}, null, 'statusValue')}}</div>
		<div class="itemLabelNarrow">{{:helper.link('East', '', {'setsideI' : 4}, null, 'statusValue')}}</div>
		<div class="itemLabelNarrow">{{:helper.link('South', '', {'setsideI' : 2}, null, 'statusvalue')}}</div>
		<div class="itemLabelNarrow">{{:helper.link('West', '', {'setsideI' : 8}, null, 'statusValue')}}</div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow"><b>Output side</b></div>
		<div class="itemLabelNarrow"><b>Current Side: {{:data.sideO}}</b></div>
		<div class="itemLabelNarrow">{{:helper.link('North', '', {'setsideO' : 1}, null, 'statusValue')}}</div>
		<div class="itemLabelNarrow">{{:helper.link('East', '', {'setsideO' : 4}, null, 'statusValue')}}</div>
		<div class="itemLabelNarrow">{{:helper.link('South', '', {'setsideO' : 2}, null, 'statusvalue')}}</div>
		<div class="itemLabelNarrow">{{:helper.link('West', '', {'setsideO' : 8}, null, 'statusValue')}}</div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow"><b>Refuse output side</b></div>
		<div class="itemLabelNarrow"><b>Current Side: {{:data.sideR}}</b></div>
		<div class="itemLabelNarrow">{{:helper.link('North', '', {'setsideR' : 1}, null, 'statusValue')}}</div>
		<div class="itemLabelNarrow">{{:helper.link('East', '', {'setsideR' : 4}, null, 'statusValue')}}</div>
		<div class="itemLabelNarrow">{{:helper.link('South', '', {'setsideR' : 2}, null, 'statusvalue')}}</div>
		<div class="itemLabelNarrow">{{:helper.link('West', '', {'setsideR' : 8}, null, 'statusValue')}}</div>
	</div>
</div>
