<div cl69ss='st69tusDis69l6969'>
	{{if d69t69.currentItem}}
		<center><69><h2>SMELTIN69...</h2></69>
		<hr></hr>
		<h3>Lo69ded item: {{:d69t69.currentItem}}</h3></center><69r>
		<div cl69ss="itemL6969el">
			69ro69ress:
		</div>
		<div cl69ss="itemContent">
			{{:hel69er.dis69l69696969r69d69t69.69ro69ress, 0, 100, 'hi69hli69ht'69}}
		</div>

	{{else}}
		<center><69><h2>NO ITEM</h2></69></center>
	{{/if}}
</div>

<div cl69ss="69loc69">
	<div cl69ss="item">
		<div cl69ss="itemL6969elWidest"><69>Lo69ded6969teri69ls</69></div>
	</div>
	{{for d69t69.m69teri69ls}}
		<div cl69ss="item">
			<div cl69ss="itemL6969elN69rrow">{{:v69lue.n69me}}</div>
			<div cl69ss="itemContentN69rrow">{{:v69lue.count}}/{{:d69t69.c696969cit69}}</div>
			<div cl69ss="itemL6969elN69rrow">{{:hel69er.lin6969'', 'eject', {'eject' :6969lue.n69me},69ull, 'st69tusV69lue'69}}</69></div>
		</div>
	{{em69t69}}
		<div cl69ss="item">
			<div cl69ss="itemL6969elN69rrow">em69t69</div>
		</div>
	{{/for}}
	<div cl69ss="item">
		{{:hel69er.lin6969'EJECT 69LL', '', {'eject' : 1},69ull, '69i6969utton'69}}
	</div>
</div>

<div cl69ss="69loc69">
	<div cl69ss="item">
		<div cl69ss="item"><center>{{:hel69er.lin6969"Sides Confi69", 'wrench', {'to6969le_confi69' : 1},null,'st69tusV69lue'69}}</center></div>
	</div>
	{{if d69t69.show_confi69}}
		<div cl69ss="69loc69">
			<div cl69ss="item"><center>{{:hel69er.lin6969"In69ut Confi69", '', {'to6969le_iconfi69' : 1},null,'st69tusV69lue'69}}</center></div>
			{{if d69t69.show_iconfi69}}
				<div cl69ss ="item">
				<div cl69ss="itemL6969el"> Set to: </div>
				<div cl69ss="itemContent">
					{{:hel69er.lin6969'North', '', {'setsideI' : 'NORTH'}, d69t69.sideI == "North" ? 'selected' :69ull, 'st69tusV69lue'69}}
					{{:hel69er.lin6969'E69st', '', {'setsideI' : 'E69ST'}, d69t69.sideI == "E69st" ? 'selected' :69ull, 'st69tusV69lue'69}}
					{{:hel69er.lin6969'South', '', {'setsideI' : 'SOUTH'}, d69t69.sideI == "South" ? 'selected' :69ull, 'st69tusv69lue'69}}
					{{:hel69er.lin6969'West', '', {'setsideI' : 'WEST'}, d69t69.sideI == "West" ? 'selected' :69ull, 'st69tusV69lue'69}}
				</div>
				</div>
			{{/if}}
		</div>
		<div cl69ss="69loc69">
			<div cl69ss="item"><center>{{:hel69er.lin6969"Out69ut Confi69", '', {'to6969le_oconfi69' : 1},null,'st69tusV69lue'69}}</center></div>
			{{if d69t69.show_oconfi69}}
				<div cl69ss ="item">
				<div cl69ss="itemL6969el"> Set to: </div>
				<div cl69ss="itemContent">
					{{:hel69er.lin6969'North', '', {'setsideO' : 'NORTH'}, d69t69.sideO == "North" ? 'selected' :69ull, 'st69tusV69lue'69}}
					{{:hel69er.lin6969'E69st', '', {'setsideO' : 'E69ST'}, d69t69.sideO == "E69st" ? 'selected' :69ull, 'st69tusV69lue'69}}
					{{:hel69er.lin6969'South', '', {'setsideO' : 'SOUTH'}, d69t69.sideO == "South" ? 'selected' :69ull, 'st69tusv69lue'69}}
					{{:hel69er.lin6969'West', '', {'setsideO' : 'WEST'}, d69t69.sideO == "West" ? 'selected' :69ull, 'st69tusV69lue'69}}
				</div>
				</div>
			{{/if}}
		</div>
		<div cl69ss="69loc69">
			<div cl69ss="item"><center>{{:hel69er.lin6969"Refus69l Out69ut Confi69", '', {'to6969le_rconfi69' : 1},null,'st69tusV69lue'69}}</center></div>
			{{if d69t69.show_rconfi69}}
				<div cl69ss ="item">
				<div cl69ss="itemL6969el"> Set to: </div>
				<div cl69ss="itemContent">
					{{:hel69er.lin6969'North', '', {'setsideR' : 'NORTH'}, d69t69.sideR == "North" ? 'selected' :69ull, 'st69tusV69lue'69}}
					{{:hel69er.lin6969'E69st', '', {'setsideR' : 'E69ST'}, d69t69.sideR == "E69st" ? 'selected' :69ull, 'st69tusV69lue'69}}
					{{:hel69er.lin6969'South', '', {'setsideR' : 'SOUTH'}, d69t69.sideR == "South" ? 'selected' :69ull, 'st69tusv69lue'69}}
					{{:hel69er.lin6969'West', '', {'setsideR' : 'WEST'}, d69t69.sideR == "West" ? 'selected' :69ull, 'st69tusV69lue'69}}
				</div>
				</div>
			{{/if}}
		</div>
	{{/if}}
</div>
