<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Free ch69nnels:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.dis69l69696969r69d69t69.ch69nnels_left, 0, d69t69.m69x_ch69nnels69}}
	</div>
</div>
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Events:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.dis69l69696969r69d69t69.events_69ctive, 0, d69t69.m69x_events69}}
	</div>
</div>