
<div class='statusDisplay'>
	{{if data.currentItem}}
		<center><b><h2>SCANNING...</h2></b>
		<hr></hr>
		<h3>Loaded item: {{:data.currentItem}}</h3></center><br>
		<div class="itemLabel">
			Progress:
		</div>
		<div class="itemContent">
			{{:helper.displayBar(data.progress, 0, 100, 'highlight')}}
		</div>

	{{else}}
		<center><b><h2>NO ITEM TO SCAN</h2></b></center>
	{{/if}}
</div>

<div class="block">
	<center><h3>RULES ({{:data.current_rule_num}}/{{:data.max_rule_num}})</h3></center>
	<hr>
	</hr>
	{{if data.rules.length}}
		{{for data.rules}}
			<div class="item">
				{{if value.accept}}
					Accept 
				{{else}}
					Refuse 
				{{/if}}
				the {{:value.sort_type}}: 
				{{if value.amount && value.sort_type != "name"}}
					{{:value.amount}} amount of 
				{{/if}}
				{{:value.value}}
				{{:helper.link('Remove', 'angle-up', {'remove' : index+1})}}
			</div>
		{{/for}}
	{{/if}}
</div>

<div class="block">
	<div class="item"> {{:helper.link('Rules Config', 'wrench', {'add_new' : 1})}}
	{{if data.add_new_rule}}
		<center><h4>RULE MANAGER</h4></center>
		<div class="itemLabel"> Sort how: </div>
		<div class="itemContent">
			{{:helper.link('Accept', null, {'filter' : 1}, data.new_rule_accept == 1 ? 'selected' : null)}}
			{{:helper.link('Refuse', null, {'filter' : 0}, data.new_rule_accept == 0 ? 'selected' : null)}}
		</div>
		<div class="itemLabel"> Sort by: </div>
		<div class="itemContent">
			{{:helper.link('Material', null, {'sort_type' : "material"}, data.new_rule_sort == "material" ? 'selected' : null)}}
			{{:helper.link('Reagent', null, {'sort_type' : "reagent"}, data.new_rule_sort == "reagent" ? 'selected' : null)}}
			{{:helper.link('Name', null, {'sort_type' : "name"}, data.new_rule_sort == "name" ? 'selected' : null)}}
		</div>
		<div class="itemLabel"> Sort what: </div>
		<div class="itemContent">
			{{:helper.link(!data.new_rule_value ? "empty" : data.new_rule_value, null, {'type_input' : 1})}}
		</div>
		<div class="itemLabel"> Sort by amount: </div>
		<div class="itemContent">
			{{:helper.link(!data.new_rule_amount ? "none" : data.new_rule_amount, null, {'amount_input' : 1})}}
		</div>
		<br>
		{{:helper.link('Add this rule', 'angle-down', {'add' : 1})}}
	{{/if}}
	</div>
</div>

<div class="block">
	<div class="item">
		<div class="item"><center>{{:helper.link("Sides Config", 'wrench', {'toggle_config' : 1},null,'statusValue')}}</center></div>
	</div>
	{{if data.show_config}}
		<div class="block">
			<div class="item"><center>{{:helper.link("Input Config", '', {'toggle_iconfig' : 1},null,'statusValue')}}</center></div>
			{{if data.show_iconfig}}
				<div class ="item">
				<div class="itemLabel"> Set to: </div>
				<div class="itemContent">
					{{:helper.link('North', '', {'setsideI' : 'NORTH'}, data.sideI == "North" ? 'selected' : null, 'statusValue')}}
					{{:helper.link('East', '', {'setsideI' : 'EAST'}, data.sideI == "East" ? 'selected' : null, 'statusValue')}}
					{{:helper.link('South', '', {'setsideI' : 'SOUTH'}, data.sideI == "South" ? 'selected' : null, 'statusvalue')}}
					{{:helper.link('West', '', {'setsideI' : 'WEST'}, data.sideI == "West" ? 'selected' : null, 'statusValue')}}
				</div>
				</div>
			{{/if}}
		</div>
		<div class="block">
			<div class="item"><center>{{:helper.link("Accept Output Config", '', {'toggle_oconfig' : 1},null,'statusValue')}}</center></div>
			{{if data.show_oconfig}}
				<div class ="item">
				<div class="itemLabel"> Set to: </div>
				<div class="itemContent">
					{{:helper.link('North', '', {'setsideO' : 'NORTH'}, data.sideO == "North" ? 'selected' : null, 'statusValue')}}
					{{:helper.link('East', '', {'setsideO' : 'EAST'}, data.sideO == "East" ? 'selected' : null, 'statusValue')}}
					{{:helper.link('South', '', {'setsideO' : 'SOUTH'}, data.sideO == "South" ? 'selected' : null, 'statusvalue')}}
					{{:helper.link('West', '', {'setsideO' : 'WEST'}, data.sideO == "West" ? 'selected' : null, 'statusValue')}}
				</div>
				</div>
			{{/if}}
		</div>
		<div class="block">
			<div class="item"><center>{{:helper.link("Refuse Output Config", '', {'toggle_rconfig' : 1},null,'statusValue')}}</center></div>
			{{if data.show_rconfig}}
				<div class ="item">
				<div class="itemLabel"> Set to: </div>
				<div class="itemContent">
					{{:helper.link('North', '', {'setsideR' : 'NORTH'}, data.sideR == "North" ? 'selected' : null, 'statusValue')}}
					{{:helper.link('East', '', {'setsideR' : 'EAST'}, data.sideR == "East" ? 'selected' : null, 'statusValue')}}
					{{:helper.link('South', '', {'setsideR' : 'SOUTH'}, data.sideR == "South" ? 'selected' : null, 'statusvalue')}}
					{{:helper.link('West', '', {'setsideR' : 'WEST'}, data.sideR == "West" ? 'selected' : null, 'statusValue')}}
				</div>
				</div>
			{{/if}}
		</div>
	{{/if}}
</div>
