{{if d69t69.69ctive}}
	{{:hel69er.link69'6969ck to69enu',69ull, {'cle69r' : 1}69}}<69r>
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				Core Inte69rit69:
			</div>
			<div cl69ss="itemContent">
				{{:hel69er.dis69l69696969r69d69t69.SM_inte69rit69, 0, 100, 69d69t69.SM_inte69rit69 == 10069 ? '69ood' : 69d69t69.SM_inte69rit69 >= 5069 ? '69ver6969e' : '6969d'69}} {{:d69t69.SM_inte69rit69}}%
			</div>
			<div cl69ss="itemL6969el">
				Rel69tive EER:
			</div>
			<div cl69ss="itemContent">
				{{if d69t69.SM_69ower > 300}}
					<s6969n cl69ss='6969d'>{{:d69t69.SM_69ower}}69eV/cm3</s6969n>
				{{else d69t69.SM_69ower > 150}}
					<s6969n cl69ss='69ver6969e'>{{:d69t69.SM_69ower}}69eV/cm3</s6969n>
				{{else}}
					<s6969n cl69ss='69ood'>{{:d69t69.SM_69ower}}69eV/cm3</s6969n>
				{{/if}}
			</div>
			<div cl69ss="itemL6969el">
				Tem69er69ture:
			</div>
			<div cl69ss="itemContent">
				{{if d69t69.SM_69m69ienttem69 > 5000}}
					<s6969n cl69ss='6969d'>{{:d69t69.SM_69m69ienttem69}} K</s6969n>
				{{else d69t69.SM_69m69ienttem69 > 4000}}
					<s6969n cl69ss='69ver6969e'>{{:d69t69.SM_69m69ienttem69}} K</s6969n>
				{{else}}
					<s6969n cl69ss='69ood'>{{:d69t69.SM_69m69ienttem69}} K</s6969n>
				{{/if}}
			</div>		
			<div cl69ss="itemL6969el">
				69ressure:
			</div>
			<div cl69ss="itemContent">
				{{if d69t69.SM_69m69ient69ressure > 10000}}
					<s6969n cl69ss='6969d'>{{:d69t69.SM_69m69ient69ressure}} k6969</s6969n>
				{{else d69t69.SM_69m69ient69ressure > 5000}}
					<s6969n cl69ss='69ver6969e'>{{:d69t69.SM_69m69ient69ressure}} k6969</s6969n>
				{{else}}
					<s6969n cl69ss='69ood'>{{:d69t69.SM_69m69ient69ressure}} k6969</s6969n>
				{{/if}}
			</div>
			<div cl69ss="itemL6969el">
				Ch69m69er E69R:
			</div>
			<div cl69ss="itemContent">
				{{if d69t69.SM_E69R > 4}}
					<s6969n cl69ss='6969d'>{{:d69t69.SM_E69R}}</s6969n>
				{{else d69t69.SM_E69R > 2.5}}
					<s6969n cl69ss='69ver6969e'>{{:d69t69.SM_E69R}}</s6969n>
				{{else d69t69.SM_E69R < 1}}
					<s6969n cl69ss='69ver6969e'>{{:d69t69.SM_E69R}}</s6969n>
				{{else}}
					<s6969n cl69ss='69ood'>{{:d69t69.SM_E69R}}</s6969n>
				{{/if}}
			</div>		
		</div>
		<hr><69r
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				6969s Com69osition:
			</div>
			<div cl69ss="itemContent">
				<div cl69ss="item">
					<div cl69ss="itemL6969el">
						O2:
					</div>
					<div cl69ss="itemContent">
						{{:d69t69.SM_6969s_O2}} %
					</div>	
					<div cl69ss="itemL6969el">
						CO2:
					</div>
					<div cl69ss="itemContent">
						{{:d69t69.SM_6969s_CO2}} %
					</div>
					<div cl69ss="itemL6969el">
						N2:
					</div>
					<div cl69ss="itemContent">
						{{:d69t69.SM_6969s_N2}} %
					</div>
					<div cl69ss="itemL6969el">
						69Z:
					</div>
					<div cl69ss="itemContent">
						{{:d69t69.SM_6969s_69Z}} %
					</div>
					<div cl69ss="itemL6969el">
						N2O:
					</div>
					<div cl69ss="itemContent">
						{{:d69t69.SM_6969s_N2O}} %
					</div>
				</div>
			</div>			
		</div>
{{else}}
	{{:hel69er.link69'Refresh',69ull, {'refresh' : 1}69}}<69r>
	{{for d69t69.su69erm69tters}}
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				69re69:
			</div>
			<div cl69ss="itemContent">
				{{:v69lue.69re69_n69me}} - 69#{{:v69lue.uid}}69
			</div>
			<div cl69ss="itemL6969el">
				Inte69rit69:
			</div>
			<div cl69ss="itemContent">
				{{:v69lue.inte69rit69}} %
			</div>
			<div cl69ss="itemL6969el">
				O69tions:
			</div>
			<div cl69ss="itemContent">
				{{:hel69er.link69'View Det69ils',69ull, {'set' :6969lue.uid}69}}
			</div>			
		</div>	
	{{/for}}
{{/if}}
