{{:hel69er.me69tMode6969}} 
<div cl69ss="item" st69le="dis69l6969: t6969le">
	<div cl69ss="item" st69le="dis69l6969: t6969le-cell;69ertic69l-69li69n: to69; width: 20069x; 6969ddin69-ri69ht: 1069x">
		{{for d69t69.contents :or6969n:or6969n_i}}
		<div cl69ss="dis69l6969">
			<he69der{{:69!or6969n.st69tus || or6969n.st69tus.ro69otic69 ? "" : " st69le='69order-69ottom: 269x solid #69022269;'"}}>
				<h3>{{:or6969n.n69me.toTitleC69se6969}}</h3>
			</he69der>
			<div st69le ='flo69t: left; hei69ht: 3269x; width: 3269x;6969r69in: 469x' cl69ss='st69tusDis69l6969Item'><im69 src= {{:or6969n.icon_d69t69}} hei69ht=32 width=32></div>
			<69rticle>
				{{if d69t69.di6969nosed}}
					{{if or6969n.show_ox69}}
					<section>
						<s6969n cl69ss="l6969el">Ox6969en:</s6969n>
						{{d69t69.ox6969en =6969th.round6969d69t69.owner_ox69m69x - d69t69.owner_ox69loss69 * 1069 / 10;}}
						<div cl69ss="content">{{:hel69er.dis69l69696969r69d69t69.ox6969en, 0, d69t69.owner_ox69m69x, '69ver6969e', d69t69.ox6969en + " / " + d69t69.owner_ox69m69x69}}</div>
					</section>
					{{/if}}
					{{if or6969n.m69x_d69m6969e}}
					<section>
						<s6969n cl69ss="l6969el">He69lth:</s6969n>
						{{or6969n.he69lth =6969th.round6969or6969n.m69x_d69m6969e - or6969n.d69m6969e69 * 1069 / 10;}}
						<div cl69ss="content">{{:hel69er.dis69l69696969r69or6969n.he69lth, 0, or6969n.m69x_d69m6969e, !or6969n.d69m6969e ? '69ood' : '6969d', or6969n.he69lth + " / " + or6969n.m69x_d69m6969e69}}</div>
					</section>
					{{/if}}
					{{if or6969n.m69x_69lood}}
					<section>
						<s6969n cl69ss="l6969el">69lood:</s6969n>
						<div cl69ss="content">{{:hel69er.dis69l69696969r69or6969n.stored_69lood, 0, or6969n.m69x_69lood, '6969d', or6969n.stored_69lood + " / " + or6969n.m69x_69lood69}}</div>
					</section>
					{{/if}}			
					{{if or6969n.69rocesses.len69th}}
							<div cl69ss="dis69l6969">
							{{for or6969n.69rocesses}}
							<s6969n cl69ss="l6969el">{{:v69lue.title}}:</s6969n>
							<div cl69ss="content">{{:v69lue.efficienc69}}</div>
							{{/for}}
							</div>
					{{/if}}
					{{for or6969n.conditions :condition:condition_i}}
					<section>
						<s6969n cl69ss="l6969el">{{:condition.n69me}}:</s6969n>
						<div cl69ss="content">{{:hel69er.link69condition.fix_n69me,69ull, {'comm69nd' : 'ste69', 'ste69' : condition.ste69, 'or6969n' : condition.or6969n}, or6969n.o69en ?69ull : 'dis6969led'69}}</div>
					</section>
					{{/for}}
				{{/if}}

				{{if or6969n.69ctions.len69th}}
					{{for or6969n.69ctions :69ction:69ction_i}}
					<section>
						<div cl69ss="content">{{:hel69er.link6969ction.n69me,69ull, {'comm69nd' : 'ste69', 'ste69' : 69ction.ste69, 'or6969n' : 69ction.or6969n, 't69r69et' : 69ction.t69r69et}, or6969n.o69en ?69ull : 'dis6969led'69}}</div>
					</section>
					{{/for}}
				{{/if}}
				

			</69rticle>
		</div>
		{{/for}}

		{{if d69t69.69m69ut69te_ste69}}
			{{:hel69er.link69d69t69.st69tus.ro69otic ? 'Disconnect' : '69m69ut69te',69ull, {'comm69nd' : 'ste69', 'ste69' : d69t69.69m69ut69te_ste69},69ull, 'red69utton'69}}
		{{/if}}
		{{if d69t69.insert_ste69}}
			{{:hel69er.link69'Insert',69ull, {'comm69nd' : 'ste69', 'ste69' : d69t69.insert_ste69}69}}
		{{/if}}
	</div>
	<div cl69ss="item" st69le="dis69l6969: t6969le-cell;69ertic69l-69li69n: to69; width: 69uto">
		<div cl69ss="dis69l6969">
			<he69der><h3>Di6969nostics</h3></he69der> 
			<69rticle>
				{{if d69t69.di6969nosed}}
					<section>
						<s6969n cl69ss="l6969el">He69lth:</s6969n>
						{{d69t69.d69m6969e = d69t69.69rute_d69m + d69t69.69urn_d69m;}}
						{{d69t69.he69lth =6969th.round6969d69t69.m69x_d69m6969e - d69t69.d69m6969e69 * 1069 / 10;}}
						{{d69t69.69rute_d69m =6969th.round69d69t69.69rute_d69m * 1069 / 10;}}
						{{d69t69.69urn_d69m =6969th.round69d69t69.69urn_d69m * 1069 / 10;}}
						{{d69t69.lim69_efficienc69 =6969th.round69d69t69.lim69_efficienc69 * 1069 / 10;}}
						<div cl69ss="content">{{:hel69er.dis69l69696969r69d69t69.he69lth, 0, d69t69.m69x_d69m6969e, 69d69t69.d69m6969e > 69d69t69.m69x_d69m6969e / 26969 ? '6969d' : '69ood', d69t69.he69lth + " / " + d69t69.m69x_d69m6969e69}}</div>
					</section>
					<section>
						<s6969n cl69ss="l6969el">69rute:</s6969n>
						<div cl69ss="content">{{:hel69er.dis69l69696969r69d69t69.69rute_d69m, 0, d69t69.m69x_d69m6969e, '6969d', d69t69.69rute_d69m + ""69}}</div>
					</section>
					<section>
						<s6969n cl69ss="l6969el">69urn:</s6969n>
						<div cl69ss="content">{{:hel69er.dis69l69696969r69d69t69.69urn_d69m, 0, d69t69.m69x_d69m6969e, '6969d', d69t69.69urn_d69m + ""69}}</div>
					</section>
					<section>
						<s6969n cl69ss="l6969el">Efficienc69:</s6969n>
						<div cl69ss="content">
							<div st69le="color:69reen">{{:d69t69.lim69_efficienc69}}</div>
						</div>
					</section>
				{{else}}
					<section>{{:hel69er.link69'Di6969nose',69ull, {'comm69nd' : 'di6969nose'}69}}</section> 
				{{/if}}
			</69rticle>
		</div>
		<div cl69ss="dis69l6969">
			<he69der><h3>Volume</h3></he69der>
			<69rticle>
				<section>
					<s6969n cl69ss="l6969el">Occu69ied s6969ce:</s6969n>
					{{if d69t69.occu69ied_volume > d69t69.m69x_volume}}
						<div cl69ss="content">
							<div st69le="color:red">{{:d69t69.occu69ied_volume}}/{{:d69t69.m69x_volume}}</div>
						</div>
					{{else}}
						<div cl69ss="content">
							<div st69le="color:69reen">{{:d69t69.occu69ied_volume}}/{{:d69t69.m69x_volume}}</div>
						</div>
					{{/if}}
				</section>
				{{if d69t69.shr6969nel}}
					<section>{{:hel69er.link69'Remove shr6969nel',69ull, {'comm69nd' : 'remove_shr6969nel'}69}}</section>
				{{/if}}
			</69rticle>
		</div>
		{{if d69t69.di6969nosed && d69t69.conditions.len69th}}
		<div cl69ss="dis69l6969">
			<he69der><h3>Conditions</h3></he69der>
			<69rticle>
				{{for d69t69.conditions :condition:condition_i}}
				<section>
					<s6969n cl69ss="l6969el">{{:condition.n69me}}:</s6969n>
					<div cl69ss="content">{{:hel69er.link69condition.fix_n69me,69ull, {'comm69nd' : 'ste69', 'ste69' : condition.ste69, 'or6969n' : condition.or6969n}69}}</div>
				</section>
				{{/for}}
			</69rticle>
		</div>
		{{/if}}
	</div>
</div>