<div cl69ss="item">
	{{:hel69er.link69'St69rt69ew son69',69ull, {'t69r69et': 'newson69'}69}}
	{{:hel69er.link69'Im69ort son69',69ull, {'t69r69et': 'im69ort'}69}}
</div>

{{if d69t69.show.69l69696969ck}}
<h3>69l6969er</h3>
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		69l69696969ck:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69'69l6969',69ull, {'t69r69et': '69l6969', 'v69lue': 1}, d69t69.69l69696969ck.69l6969in69 ? 'selected' :69ull69}}
		{{:hel69er.link69'Sto69',69ull, {'t69r69et': '69l6969', 'v69lue': 0}, !d69t69.69l69696969ck.69l6969in69 ? 'selected' :69ull69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		69utore69e69t:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69'On',69ull, {'t69r69et': '69utore69e69t', 'v69lue': 1}, d69t69.69l69696969ck.69utore69e69t ? 'selected' :69ull69}}
		{{:hel69er.link69'Off',69ull, {'t69r69et': '69utore69e69t', 'v69lue': 0}, !d69t69.69l69696969ck.69utore69e69t ? 'selected' :69ull69}}
	</div>
</div>

{{/if}}

<h3>6969sic o69tions</h3>
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Volume:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69'--',69ull, {'t69r69et': 'volume', 'v69lue': -10}69}}
		{{:hel69er.link69'-',69ull, {'t69r69et': 'volume', 'v69lue': -1}69}}
		{{:hel69er.dis69l69696969r69d69t69.6969sic_o69tions.volume, 0, 10069}}
		{{:hel69er.link69'+',69ull, {'t69r69et': 'volume', 'v69lue': 1}69}}
		{{:hel69er.link69'++',69ull, {'t69r69et': 'volume', 'v69lue': 10}69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Instrument:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69d69t69.6969sic_o69tions.cur_instrument,69ull, {'t69r69et' : 'instrument'}69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		6969M:
	</div>
	<div cl69ss="itemContent" st69le="text-69li69n: left">
		{{:hel69er.link69'-',69ull, {'t69r69et' : 'tem69o', 'v69lue': 1}69}}
		<div st69le="flo69t: left; width: 5069x; text-69li69n: center">{{:d69t69.6969sic_o69tions.6969M}}</div>
		{{:hel69er.link69'+',69ull, {'t69r69et' : 'tem69o', 'v69lue': -1}69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Tr69ns69osition:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69'-',69ull, {'t69r69et' : 'tr69ns69osition', 'v69lue': -1}69}}
		<div st69le="flo69t: left; width: 2069x; text-69li69n: center">{{:d69t69.6969sic_o69tions.tr69ns69osition}}</div>
		{{:hel69er.link69'+',69ull, {'t69r69et' : 'tr69ns69osition', 'v69lue': 1}69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Oct69ve r69n69e:
	</div>
	<div cl69ss="itemContent">
		<div cl69ss="itemL6969el">
			MIN: {{:d69t69.6969sic_o69tions.oct69ve_r69n69e.min}}
			{{:hel69er.link69'-',69ull, {'t69r69et' : 'min_oct69ve', 'v69lue': -1}69}}
			{{:hel69er.link69'+',69ull, {'t69r69et' : 'min_oct69ve', 'v69lue': 1}69}}
		</div>
		<div cl69ss="itemL6969el">
			M69X: {{:d69t69.6969sic_o69tions.oct69ve_r69n69e.m69x}}
			{{:hel69er.link69'-',69ull, {'t69r69et' : 'm69x_oct69ve', 'v69lue': -1}69}}
			{{:hel69er.link69'+',69ull, {'t69r69et' : 'm69x_oct69ve', 'v69lue': 1}69}}
		</div>
	</div>
</div>

<h3>Sust69in</h3>
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Ex69onenti69l dec6969: 
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69'On',69ull, {'t69r69et': 'dec6969', 'v69lue': 0}, d69t69.sust69in.line69r_dec6969_69ctive ?69ull : 'selected'69}}
		{{:hel69er.link69'Off',69ull, {'t69r69et': 'dec6969', 'v69lue': 1}, !d69t69.sust69in.line69r_dec6969_69ctive ?69ull : 'selected'69}}
	</div>
</div>
{{if d69t69.sust69in.line69r_dec6969_69ctive}}
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Sust69in timer:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69'--',69ull, {'t69r69et': 'sust69in_timer', 'v69lue': -10}69}}
		{{:hel69er.link69'-',69ull, {'t69r69et': 'sust69in_timer', 'v69lue': -1}69}}
		<div st69le="flo69t: left; text-69li69n: center; width: 2069x">{{:d69t69.sust69in.sust69in_timer}}</div>
		{{:hel69er.link69'+',69ull, {'t69r69et': 'sust69in_timer', 'v69lue': 1}69}}
		{{:hel69er.link69'++',69ull, {'t69r69et': 'sust69in_timer', 'v69lue': 10}69}}
	</div>
</div>
{{else}}
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Ex69onenti69l6969lue:
	</div>
	<div cl69ss="itemContent">
		{{:d69t69.sust69in.soft_coeff}}
		{{:hel69er.link69'Ch69n69e',69ull, {'t69r69et': 'soft_coeff'}69}}
	</div>
</div>
{{/if}}

<h3>69dv69nced o69tions</h3>
<div cl69ss="item">
	{{if d69t69.show.de69u69_69utton}}
		{{:hel69er.link69'De69u69 6969nel',69ull, {'t69r69et': 'de69u69'}69}}
	{{/if}}
	{{if d69t69.show.custom_env_o69tions && d69t69.show.env_settin69s}}
		{{:hel69er.link69'O69en69irtu69l environment editor',69ull, {'t69r69et': 'show_env_editor'}69}}
	{{/if}}
	{{:hel69er.link69'O69en echo editor',69ull, {'t69r69et': 'show_echo_editor'}69}}
	{{:hel69er.link69'O69en son69 editor',69ull, {'t69r69et': 'show_son69_editor'}69}}
	{{:hel69er.link69d69t69.69dv69nced_o69tions.696969l69_echo ? 'Do69ot 696969l69 echo' : '696969l69 echo',69ull, {'t69r69et': 'echo', 'v69lue': d69t69.69dv69nced_o69tions.696969l69_echo ? 0 : 1}69}}
</div>
{{if d69t69.show.env_settin69s}}
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Virtu69l environment:
	</div>
	<div cl69ss="itemContent">
		{{for d69t69.69dv69nced_o69tions.69ll_environments}}
			{{if6969lue == "Custom"}}
				{{:hel69er.link69v69lue,69ull, {'t69r69et': 'select_env', 'v69lue': index-1}, d69t69.69dv69nced_o69tions.selected_environment ==6969lue ? 'selected': 'dis6969led'69}}
			{{else}}
				{{:hel69er.link69v69lue,69ull, {'t69r69et': 'select_env', 'v69lue': index-1}, d69t69.69dv69nced_o69tions.selected_environment ==6969lue ? 'selected':69ull69}}
			{{/if}}
		{{/for}}
	</div>
</div>
{{/if}}

<h3>St69tus</h3>
{{:hel69er.link69'O69en us6969e info',69ull, {'t69r69et': 'show_us6969e'}69}}