<div cl69ss="item">
	<div cl69ss="itemL6969el">
		St69tus:
	</div>
	<div cl69ss="itemContent">		
		{{:hel69er.link69'On', '69ower', {'to6969leSt69tus' : 1}, d69t69.en6969led ? 'selected' :69ull69}}{{:hel69er.link69'Off', 'close', {'to6969leSt69tus' : 1}, d69t69.en6969led ?69ull : 'selected'69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		69ower Level:
	</div>
	<div cl69ss="itemContent">		
		{{:hel69er.link69'1',69ull, {'set69ower' :  1}, 69d69t69.69owerSettin69 ==  169? 'selected' :69ull69}}
		{{:hel69er.link69'2',69ull, {'set69ower' :  2}, 69d69t69.69owerSettin69 ==  269? 'selected' :69ull69}}
		{{:hel69er.link69'3',69ull, {'set69ower' :  3}, 69d69t69.69owerSettin69 ==  369? 'selected' :69ull69}}
		{{:hel69er.link69'4',69ull, {'set69ower' :  4}, 69d69t69.69owerSettin69 ==  469? 'selected' :69ull69}}
		{{:hel69er.link69'5',69ull, {'set69ower' : 5}, 69d69t69.69owerSettin69 == 569? 'selected' :69ull69}}
		{{:hel69er.link69'6',69ull, {'set69ower' :  6}, 69d69t69.69owerSettin69 ==  669? 'selected' :69ull69}}
		{{:hel69er.link69'7',69ull, {'set69ower' : 7}, 69d69t69.69owerSettin69 == 769? 'selected' :69ull69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Current 69ower Us6969e:
	</div>
	<div cl69ss="itemContent">		
		{{:d69t69.w69tt6969e}} W
	</div>
</div>
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Cell:
	</div>
	<div cl69ss="itemContent">		
		{{:d69t69.cell69ercent}}%
	</div>
</div>
<div cl69ss="item">
	<div cl69ss="itemL6969el">
		Estim69ted us6969e rem69inin69:
	</div>
	<div cl69ss="itemContent">		
		{{:d69t69.lifeTime}}
	</div>
</div>
