{{if data.popup}}
	<div align="center" style="margin-top: 15px;">
		<div class="item">{{:data.popup_message}}</div>
		<table>
			<tr>
				<td>{{:helper.link('Back', null, {'back' : 1})}}</td>
			</tr>
		</table>
	</div>
{{else data.logined}}
	{{if data.browsing_logs}}
		<tr><td>{{:helper.link('Back', null, {'back' : 1})}}</td></tr>
		<div class="statusDisplayRecords">
			<tr>
				<th><b>Timestamp</b></th>
				<th><b>Target</b></th>
				<th><b>Reason</b></th>
				<th><b>Value</b></th>
				<th><b>Terminal</b></th>
			</tr>
			{{for data.account_logs}}
				<tr>
					<td>{{:value.date}} {{:value.time}}</td>
					<td>{{:value.target_name}}</td>
					<td>{{:value.purpose}}</td>
					<td>{{:value.amount}}</td>
					<td>{{:value.source_terminal}}</td>
				</tr>
			{{/for}}
		</div>
	{{else}}
		<div align="center">
			<div class="item"><b>Access authorized</b></div>
			<div class="item">Logged as: {{:data.account_owner}}</div>
		</div>
		<div>
			<table align="center" style="position: relative;">
				<tr>
					<th>Balance</th>
					<th>&nbsp&nbsp&nbsp</th>
					<th>Income</th>
					<th>&nbsp&nbsp&nbsp</th>
					<th>Debt</th>
					<th>&nbsp&nbsp&nbsp</th>
					<th>Handled</th>
					<th>&nbsp&nbsp&nbsp</th>
					<th>Employer</th>
				</tr>
				<tr>
					<td>{{:data.account_balance}}</td>
					<td>&nbsp&nbsp&nbsp</td>
					<td>{{:data.account_wage}}</td>
					<td>&nbsp&nbsp&nbsp</td>
					<td>{{:data.account_debt}}</td>
					<td>&nbsp&nbsp&nbsp</td>
					<td>{{:data.is_manual_wage}}</td>
					<td>&nbsp&nbsp&nbsp</td>
					<td>{{:data.account_alignment}}</td>
				</tr>
			</table>
		</div>
		{{if data.is_department_account}}
			<table align="center">
				{{if data.have_employees}}
					<br><hr>
					<tr>
						<th><b>Employee</b></th><th> </th>
						<th><b>Wage</b></th><th> </th>
						<th><b>Debt</b></th><th> </th>
						<th><b>Handled</b></th>
					</tr>
					{{for data.account_employees}}
						<tr>
							<td>{{:value.employee_name}}</td> <td>{{:helper.link('Disavow', null, {'disavow' : value.employee_number})}}</td>
							<td>{{:value.employee_wage}}</td> <td>{{:helper.link('Set wage', null, {'set_wage' : value.employee_number})}}</td>
							<td>{{:value.employee_debt}}</td> <td>{{:helper.link('Reset wage', null, {'reset_wage' : value.employee_number})}}</td>
							<td>{{:value.employee_is_manual}}</td>
						</tr>
					{{/for}}
				{{else}}
					<td><b>No employee accounts linked.</b></td>
				{{/if}}
			</table>
		{{/if}}
		<br><hr>
		{{if data.is_aster_account}}
			<td>{{:helper.link('Register new account', null, {'create_account' : 1})}}</td>
		{{/if}}
		{{if data.is_department_account}}
			<td>{{:helper.link('Link employee account', null, {'link' : 1})}}</td>
		{{else}}
			<td>{{:helper.link('Resign', null, {'resign' : 1})}}</td>
		{{/if}}
		{{if data.is_guild_account}}
			<td>{{:helper.link('Register account', null, {'create_account' : 1})}}</td>
		{{/if}}
			<td>{{:helper.link('Browse logs', null, {'logs' : 1})}}</td>
			<td>{{:helper.link('Transfer funds', null, {'transfer' : 1})}}</td>
			<td>{{:helper.link('Log out', null, {'log_out' : 1})}}</td>
	{{/if}}
{{else}}
	<div align="center" style="margin-top: 15px;">
		<div class='item'>
			<div style="font-size: x-large;font-weight: bold;">TaxQuickly</div>
			<div style="font-style: italic;">Managing your money since 2559</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Tax ID:
			</div>
			<div align="left" class="itemContent">
				{{:data.stored_login}}&nbsp
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Options:
			</div>
			<div class="itemContent">
				{{:helper.link('Enter Tax ID', null, {'enter_login' : 1})}}
				{{:helper.link('Log In', null, {'log_in' : 1})}}
			</div>
		</div>
	</div>
{{/if}}
