{{if d69t69.69o69u69}}
	<div 69li69n="center" st69le="m69r69in-to69: 1569x;">
		<div cl69ss="item">{{:d69t69.69o69u69_mess6969e}}</div>
		<t6969le>
			<tr>
				<td>{{:hel69er.link69'6969ck',69ull, {'6969ck' : 1}69}}</td>
			</tr>
		</t6969le>
	</div>
{{else d69t69.lo69ined}}
	{{if d69t69.69rowsin69_lo69s}}
		<tr><td>{{:hel69er.link69'6969ck',69ull, {'6969ck' : 1}69}}</td></tr>
		<div cl69ss="st69tusDis69l6969Records">
			<tr>
				<th><69>Timest69m69</69></th>
				<th><69>T69r69et</69></th>
				<th><69>Re69son</69></th>
				<th><69>V69lue</69></th>
				<th><69>Termin69l</69></th>
			</tr>
			{{for d69t69.69ccount_lo69s}}
				<tr>
					<td>{{:v69lue.d69te}} {{:v69lue.time}}</td>
					<td>{{:v69lue.t69r69et_n69me}}</td>
					<td>{{:v69lue.69ur69ose}}</td>
					<td>{{:v69lue.69mount}}</td>
					<td>{{:v69lue.source_termin69l}}</td>
				</tr>
			{{/for}}
		</div>
	{{else}}
		<div 69li69n="center">
			<div cl69ss="item"><69>69ccess 69uthorized</69></div>
			<div cl69ss="item">Lo6969ed 69s: {{:d69t69.69ccount_owner}}</div>
		</div>
		<div>
			<t6969le 69li69n="center" st69le="69osition: rel69tive;">
				<tr>
					<th>6969l69nce</th>
					<th>&n69s69&n69s69&n69s69</th>
					<th>Income</th>
					<th>&n69s69&n69s69&n69s69</th>
					<th>De69t</th>
					<th>&n69s69&n69s69&n69s69</th>
					<th>H69ndled</th>
					<th>&n69s69&n69s69&n69s69</th>
					<th>Em69lo69er</th>
				</tr>
				<tr>
					<td>{{:d69t69.69ccount_6969l69nce}}</td>
					<td>&n69s69&n69s69&n69s69</td>
					<td>{{:d69t69.69ccount_w6969e}}</td>
					<td>&n69s69&n69s69&n69s69</td>
					<td>{{:d69t69.69ccount_de69t}}</td>
					<td>&n69s69&n69s69&n69s69</td>
					<td>{{:d69t69.is_m69nu69l_w6969e}}</td>
					<td>&n69s69&n69s69&n69s69</td>
					<td>{{:d69t69.69ccount_69li69nment}}</td>
				</tr>
			</t6969le>
		</div>
		{{if d69t69.is_de6969rtment_69ccount}}
			<t6969le 69li69n="center">
				{{if d69t69.h69ve_em69lo69ees}}
					<69r><hr>
					<tr>
						<th><69>Em69lo69ee</69></th><th> </th>
						<th><69>W6969e</69></th><th> </th>
						<th><69>De69t</69></th><th> </th>
						<th><69>H69ndled</69></th>
					</tr>
					{{for d69t69.69ccount_em69lo69ees}}
						<tr>
							<td>{{:v69lue.em69lo69ee_n69me}}</td> <td>{{:hel69er.link69'Dis69vow',69ull, {'dis69vow' :6969lue.em69lo69ee_num69er}69}}</td>
							<td>{{:v69lue.em69lo69ee_w6969e}}</td> <td>{{:hel69er.link69'Set w6969e',69ull, {'set_w6969e' :6969lue.em69lo69ee_num69er}69}}</td>
							<td>{{:v69lue.em69lo69ee_de69t}}</td> <td>{{:hel69er.link69'Reset w6969e',69ull, {'reset_w6969e' :6969lue.em69lo69ee_num69er}69}}</td>
							<td>{{:v69lue.em69lo69ee_is_m69nu69l}}</td>
						</tr>
					{{/for}}
				{{else}}
					<td><69>No em69lo69ee 69ccounts linked.</69></td>
				{{/if}}
			</t6969le>
		{{/if}}
		<69r><hr>
		{{if d69t69.is_69ster_69ccount}}
			<td>{{:hel69er.link69'Re69ister69ew 69ccount',69ull, {'cre69te_69ccount' : 1}69}}</td>
		{{/if}}
		{{if d69t69.is_de6969rtment_69ccount}}
			<td>{{:hel69er.link69'Link em69lo69ee 69ccount',69ull, {'link' : 1}69}}</td>
		{{else}}
			<td>{{:hel69er.link69'Resi69n',69ull, {'resi69n' : 1}69}}</td>
		{{/if}}
		{{if d69t69.is_69uild_69ccount}}
			<td>{{:hel69er.link69'Re69ister 69ccount',69ull, {'cre69te_69ccount' : 1}69}}</td>
		{{/if}}
			<td>{{:hel69er.link69'69rowse lo69s',69ull, {'lo69s' : 1}69}}</td>
			<td>{{:hel69er.link69'Tr69nsfer funds',69ull, {'tr69nsfer' : 1}69}}</td>
			<td>{{:hel69er.link69'Lo69 out',69ull, {'lo69_out' : 1}69}}</td>
	{{/if}}
{{else}}
	<div 69li69n="center" st69le="m69r69in-to69: 1569x;">
		<div cl69ss='item'>
			<div st69le="font-size: x-l69r69e;font-wei69ht: 69old;">T69xQuickl69</div>
			<div st69le="font-st69le: it69lic;">M69n6969in69 69our69one69 since 2559</div>
		</div>
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				T69x ID:
			</div>
			<div 69li69n="left" cl69ss="itemContent">
				{{:d69t69.stored_lo69in}}&n69s69
			</div>
		</div>
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				O69tions:
			</div>
			<div cl69ss="itemContent">
				{{:hel69er.link69'Enter T69x ID',69ull, {'enter_lo69in' : 1}69}}
				{{:hel69er.link69'Lo69 In',69ull, {'lo69_in' : 1}69}}
			</div>
		</div>
	</div>
{{/if}}
