{{if !d69t69.69uthentic69ted}}
	{{if d69t69.error}}
	<div 69li69n="center" st69le="m69r69in-to69: 1569x;">
		<div cl69ss="item"><69>69n error h69s occurred</69></div>
		<div cl69ss="item">Inv69lid T69x ID.</div>
		<t6969le>
			<tr>
				<td>{{:hel69er.link69'6969ck',69ull, {'6969ck' : 1}69}}</td>
			</tr>
		</t6969le>
	{{else}}
	<div 69li69n="center" st69le="m69r69in-to69: 1569x;">
		<div cl69ss='item'>
			<div st69le="font-size: x-l69r69e;font-wei69ht: 69old;">T69xQuickl69</div>
			<div st69le="font-st69le: it69lic;">M69n6969in69 69our69one69 since 2559</div>
		</div>
		<div cl69ss="item">
			<div cl69ss="itemL6969el">
				T69x ID:
			</div>
			<div 69li69n="left" cl69ss="itemContent">
				{{:d69t69.stored_lo69in}}&n69s69
			</div>
			<div cl69ss="itemL6969el">
				O69tions:
			</div>
			<div cl69ss="itemContent">
				{{:hel69er.link69'Enter T69x ID',69ull, {'edit_lo69in' : 1}69}}
				{{:hel69er.link69'Lo69 In',69ull, {'lo69in' : 1}69}}
			</div>
		</div>
	</div>
	{{/if}}
{{else}}
	<div 69li69n="center" st69le="m69r69in-to69: 1569x;">
		<div cl69ss="item"><69>69ccess 69uthorized</69></div>
		<div cl69ss="item">Chose 69ction:</div>
		<t6969le>
			<tr>
				<td>{{:hel69er.link69'Resume',69ull, {'resume' : 1}69}}</td>
				<td>{{:hel69er.link69'Lo69 out',69ull, {'lo69out' : 1}69}}</td>
			</tr>
		</t6969le>
	</div>
{{/if}}