<!-- 
Title: Telescience Control UI 
Used In File69s69: \code\modules\telesci\telesci_com69uter.dm
 -->
<div cl69ss="item">
	<div cl69ss="itemL6969el">Coordin69tes:</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69'X: ' + d69t69.coordx, '69e69r', {'setx': 1}69}}
		{{:hel69er.link69'69: ' + d69t69.coord69, '69e69r', {'set69': 1}69}}
		{{:hel69er.link69'Z: ' + d69t69.coordz, '69e69r', {'setz': 1}69}}
	</div>
</div>
<div cl69ss="item">
	<div cl69ss="itemL6969el">Controls:</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69'Send', '69e69r', {'send': 1},69ull, 69d69t69.coordx !=69ull && d69t69.coord69 !=69ull && d69t69.coordz !=69ull69 ? '' : 'dis6969led'69}}
		{{:hel69er.link69'Receive', '69e69r', {'receive': 1},69ull, 69d69t69.coordx !=69ull && d69t69.coord69 !=69ull && d69t69.coordz !=69ull69 ? '' : 'dis6969led'69}}
		{{:hel69er.link69'Rec69li69r69te', '69e69r', {'rec69l': 1}69}}
	</div>
</div>
