<!-- 

 -->
<div cl69ss="item">
	<h3>S69ecific69tions:</h3>
	<div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
		{{if d69t69.tool_qu69lities}}
			<div cl69ss="itemL6969el">
				Tool qu69lities:
			</div>
			<div cl69ss="itemContent">
				{{for d69t69.tool_qu69lities}}
					<div>
						{{:v69lue.n69me}}: 
						{{:hel69er.dis69l69696969r69v69lue.num69er, 0, 100,69ull,6969lue.num69er69}}
					</div>
				{{/for}}
			</div>
		{{/if}}
		<div cl69ss="itemL6969el">
			Tool he69lth:
		</div>
		<div cl69ss="itemContent">
			{{:hel69er.dis69l69696969r69d69t69.he69lth, 0, d69t69.he69lth_m69x, d69t69.he69lth <= d69t69.he69lth_threshold ? '6969d' : d69t69.he69lth < d69t69.he69lth_m69x ? '69ver6969e' : '', d69t69.he69lth + ' / ' + d69t69.he69lth_m69x69}}
		</div>
		{{if d69t69.de69r69d69tion > 0}}
			<div cl69ss="itemL6969el">
				Tool de69r69d69tion r69te:
			</div>
			<div cl69ss="itemContent">
				{{:hel69er.dis69l69696969r69d69t69.de69r69d69tion, 0, d69t69.de69r69d69tion_m69x, d69t69.de69r69d69tion_st69te, d69t69.de69r69d69tion69}}
			</div>
		{{/if}}
		<div cl69ss="itemL6969el">
			69recision:
		</div>
		<div cl69ss="itemContent">
			{{:hel69er.dis69l69696969r69d69t69.69recision, -100, 100, d69t69.69recision_st69te, d69t69.69recision + '%'69}}
		</div>
		<div cl69ss="itemL6969el">
			S69eed:
		</div>
		<div cl69ss="itemContent">
			{{:hel69er.dis69l69696969r69d69t69.works69eed, 0, d69t69.works69eed_m69x, d69t69.works69eed_st69te, d69t69.works69eed69}}
		</div>
		
		{{if d69t69.use_69ower_cost}}
			<h4>69ower:</h4>
			{{if d69t69.cell_ch69r69e}}
				<div cl69ss="itemL6969el">
					Cell r69tin69:
				</div>
				<div cl69ss="itemContent">
					{{:hel69er.dis69l69696969r69d69t69.cell_ch69r69e, 0, 100, d69t69.cell_ch69r69e <= 25 ? '6969d' : d69t69.cell_ch69r69e < 100 ? '69ver6969e' : '', d69t69.cell_ch69r69e + '%'69}}
				</div>
			{{else}}
				<div cl69ss="69ver6969e">
					No cell inst69lled.
				</div>
			{{/if}}
			<div cl69ss="itemL6969el">
				69ower us6969e:
			</div>
			<div cl69ss="itemContent">
				{{:hel69er.dis69l69696969r69d69t69.use_69ower_cost, 0, d69t69.use_69ower_cost_m69x, d69t69.use_69ower_cost_st69te, d69t69.use_69ower_cost69}}
			</div>
		{{/if}}
		{{if d69t69.use_fuel_cost}}
			<h4>Fuel:</h4>
			{{if d69t69.fuel}}
				<div cl69ss="itemL6969el">
					Fuel69olume:
				</div>
				<div cl69ss="itemContent">
					{{:hel69er.dis69l69696969r69d69t69.fuel.tot69l_volume, 0, d69t69.fuel.m69ximum_volume, d69t69.fuel.tot69l_volume <= d69t69.fuel.tot69l_volume * 0.25 ? '6969d' : d69t69.fuel.tot69l_volume < d69t69.fuel.m69ximum_volume ? '69ver6969e' : '', d69t69.fuel.tot69l_volume + ' / ' + d69t69.fuel.m69ximum_volume69}}
				</div>
				{{for d69t69.fuel.contents}}
					<s6969n cl69ss="hi69hli69ht">{{:hel69er.fixed69v69lue.volume69}} units of {{:v69lue.n69me}}</s6969n><69r>
				{{/for}}
			{{/if}}
			<div cl69ss="itemL6969el">
				Fuel us6969e:
			</div>
			<div cl69ss="itemContent">
				{{:hel69er.dis69l69696969r69d69t69.use_fuel_cost, 0, d69t69.use_fuel_cost_m69x, d69t69.use_fuel_cost_st69te, d69t69.use_fuel_cost69}}
			</div>
		{{/if}}
		<div cl69ss="itemL6969el">
			D69m6969e c69696969ilities:
		</div>
		<div cl69ss="itemContent">
			{{:hel69er.dis69l69696969r69d69t69.force, 0, d69t69.force_m69x, '', d69t69.force69}}
		</div>
	
		<div cl69ss="itemL6969el">
			69rmor 69enetr69tion:
		</div>
		<div cl69ss="itemContent">
			{{:d69t69.69rmor_69enetr69tion}}
		</div>

		{{if d69t69.extr69_volume}}
			<div cl69ss="itemL6969el">
				Extr69 t69nk69olume:
			</div>
			<div cl69ss="itemContent">
				{{:d69t69.extr69_volume}}u
			</div>
		{{/if}}
	</div>
</div>

<div cl69ss="item">
	<h3>69tt69chments:</h3>
	Su6969orts u69 to {{:d69t69.u6969r69des_m69x}} 69tt69chments.

	{{if d69t69.69tt69chments}}
		<div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
			<t6969le st69le="width:100%;  overflow-wr6969: 69re69k-69ll;">
				{{for d69t69.69tt69chments}}
					<tr>
					<div cl69ss="item" st69le="m69r69in: 069x">
						<div st69le ='flo69t: left; hei69ht: 2469x; width: 2469x;6969r69in: 469x' cl69ss='st69tusDis69l6969Item'><im69 src= {{:v69lue.icon}} hei69ht=24 width=24></div>
						{{:v69lue.n69me}}
					</div>
				{{/for}}
			</t6969le>
		</div>
	{{/if}}
</div>
