{{if data.station_name}}
	{{:helper.link("Trade Station: " + data.station_name, null, {'PRG_station' : 1})}}{{:helper.link('X', null, {'PRG_station_unlink' : 1}, null, 'redButton')}}
{{else}}
	{{:helper.link("Trade Station", null, {'PRG_station' : 1})}}
{{/if}}
{{:helper.link(data.tradescreen ? "To Offers" : "To Goods", null, {'PRG_trade_screen' : 1})}}
<br>
<hr>
{{if data.tradescreen}}
	{{if data.station_name}}
		<div class="item" style="padding-top: 5px">
			<div class="item">
				<div class="itemLabel">
					Station:
				</div>
				<div class="itemContent">
					<span class="average">{{:data.station_desc}}</span>
				</div>
			</div>
		</div>
		<div class="item" style="padding-top: 5px">
			<div class="item">
				<div class="itemLabel">
					Offer Time Remaining:
				</div>
				<div class="itemContent">
					<span class="average">{{:data.offer_time}}</span>
				</div>
			</div>
		</div>
		<div class='nanoMap' style='padding: 25px 50px;'>
			{{for data.categories}}
				{{:helper.link(value.name, (data.current_category == value.index ? 'folder-open' : 'folder-collapsed'), {'PRG_goods_category': value.index}, (data.current_category == value.index ? 'selected' : null))}}
			{{empty}}
				This trade station has nothing to sell.
			{{/for}}
			<br><br>
			{{if data.current_category}}
				{{if data.goods}}
					<table class='item'>
						<tr class="bottom_bordered">
							<td>Name
							<td>Available
						{{for data.goods}}
							<tr>
								<td>{{:value.name}}
								<td>{{:value.amount_available}}
						{{/for}}
					</table>
				{{else}}
					Please choose category.
				{{/if}}
			{{/if}}
		</div>
	{{else}}
		<div class='nanoMap' style='padding: 100px 200px;'>
			Please pick trade station.
		</div>
	{{/if}}
{{else}}
	<div class='notice' id='SpecialOffer'>
		{{if data.offers}}
			<h3>Special offers{{if data.offer_time}} (time left: {{:data.offer_time}}){{/if}}</h3>
			<table class='item'>
				<tr>
					<th>Station
					<th>Name
					<th>Amount Requested
				{{for data.offers}}
					{{if value.name}}
					<tr>
						<td>{{:value.station}}
						<td>{{:value.name}}
						<td>{{:value.amount}}
					{{/if}}
				{{/for}}
			</table>
		{{else}}
			No offers found.
		{{/if}}
	</div>
{{/if}}
