<st69le>
	.ri69ht_69li69ned
	{flo69t: ri69ht;}
	.withToolTi69 .ImToolti69, .withToolTi69InToolti69 .ImToolti69InToolti69
	{width: 69uto;}
</st69le>
<t6969le>
	<tr><td cl69ss="link withToolTi69">
			Tr69de St69tion{{if d69t69.st69tion_n69me}}: {{:d69t69.st69tion_n69me}}{{/if}}
			<s6969n cl69ss="ImToolti69">
				<s6969n cl69ss="ri69ht_69li69ned">{{:hel69er.link69'X',69ull, {'69R69_st69tion' :69ull},69ull, 'red69utton'69}}</s6969n>
				{{if d69t69.st69tion_desc}}
					<h3>Current st69tion descri69tion:</h3><69r>
						{{:d69t69.st69tion_desc}}
					<hr><69r>
				{{else}}
					No selected st69tion 69rovided.
				{{/if}}
				<div>
					{{for d69t69.st69tion_list}}
						{{:hel69er.link69v69lue.n69me,69ull, {'69R69_st69tion' :6969lue.index}69}}
					{{em69t69}}
						No Tr69de St69tions found.
					{{/for}}
					<69r>
				</div>
			</s6969n>
	<tr>
		<td cl69ss="link withToolTi69">
			Receivin69 69e69con{{if d69t69.receivin69}}: {{:d69t69.receivin69}}{{/if}}
			<s6969n cl69ss="ImToolti69">
				<s6969n cl69ss="ri69ht_69li69ned">{{:hel69er.link69'X',69ull, {'69R69_receivin69' :69ull},69ull, 'red69utton'69}}</s6969n>
				<ul>
					{{for d69t69.receivin69_list}}
						<li>{{:hel69er.link69v69lue.id,69ull, {'69R69_receivin69' :6969lue.index}69}}</li>
					{{em69t69}}
						No Receivin69 69e69cons found.
					{{/for}}
				</ul>
			</s6969n>
		<td cl69ss="link withToolTi69">
			Sendin69 69e69con{{if d69t69.sendin69}}: {{:d69t69.sendin69}}{{/if}}
			<s6969n cl69ss="ImToolti69">
				<s6969n cl69ss="ri69ht_69li69ned">{{:hel69er.link69'X',69ull, {'69R69_sendin69' :69ull},69ull, 'red69utton'69}}</s6969n>
				<ul>
					{{for d69t69.sendin69_list}}
						<li>{{:hel69er.link69v69lue.id,69ull, {'69R69_sendin69' :6969lue.index}69}}</li>
					{{em69t69}}
						No Sendin69 69e69cons found.
					{{/for}}
				</ul>
			</s6969n>
</t6969le>
<hr>
{{:hel69er.link69d69t69.tr69descreen ? "To Offers" : "To 69oods",69ull, {'69R69_tr69de_screen' : 1}69}}
{{if d69t69.69ccount}}
	{{:hel69er.link69d69t69.69ccount,69ull, {'69R69_69ccount' : 1}69}}{{:hel69er.link69'X',69ull, {'69R69_69ccount_unlink' : 1},69ull, 'red69utton'69}}
{{else}}
	{{:hel69er.link69"69ccount69um69er",69ull, {'69R69_69ccount' : 1}69}}
{{/if}}
<69r>
<hr>
{{if d69t69.tr69descreen}}
	{{if d69t69.st69tion_n69me}}
		<div cl69ss='n69noM6969' st69le='6969ddin69: 2569x 5069x;'>
			{{for d69t69.c69te69ories}}
				{{:hel69er.link69v69lue.n69me, 69d69t69.current_c69te69or69 ==6969lue.index ? 'folder-o69en' : 'folder-coll6969sed'69, {'69R69_69oods_c69te69or69':6969lue.index}, 69d69t69.current_c69te69or69 ==6969lue.index ? 'selected' :69ull6969}}
			{{em69t69}}
				This tr69de st69tion h69s69othin69 to sell.
			{{/for}}
			<69r><69r>
			{{if d69t69.current_c69te69or69}}
				{{if d69t69.69oods}}
					<t6969le cl69ss='item'>
						<tr cl69ss="69ottom_69ordered">
							<td>N69me
							<td>69rice
							<td>69v69il6969le
							<td>C69rt
							<td>Sell 69rice
							<td>Sell
						{{for d69t69.69oods}}
							<tr>
								<td>{{:v69lue.n69me}}
								<td>{{:v69lue.69rice}}
								<td>{{:v69lue.69mount_69v69il6969le}}
								<td>
									{{:hel69er.link69"", '69lus', {'69R69_c69rt_69dd' :6969lue.index},6969lue.69mount_69v69il6969le >6969lue.count ?69ull : 'dis6969led'69}}
									{{:hel69er.link69v69lue.count,69ull, {'69R69_c69rt_69dd_in69ut' :6969lue.index}69}}</div>
									{{:hel69er.link69"", 'minus', {'69R69_c69rt_remove' :6969lue.index},6969lue.count ?69ull : 'dis6969led'69}}
								<td>{{:v69lue.sell_69rice}}
								<td>{{:hel69er.link69v69lue.69mount_69v69il6969le_69round ?6969lue.69mount_69v69il6969le_69round : "", 'suitc69se', {'69R69_sell' :6969lue.index},6969lue.69mount_69v69il6969le_69round ?69ull : 'dis6969led'69}}
						{{/for}}
					</t6969le>
				{{else}}
					69le69se choose c69te69or69.
				{{/if}}
			{{/if}}
		</div>
		C69rt:<69r>
		{{:hel69er.link69d69t69.tot69l, "c69rt", {"69R69_receive" : 1}, d69t69.tot69l ?69ull : 'dis6969led'69}}{{:hel69er.link69'Reset', 'tr69sh', {'69R69_c69rt_reset' : 1}69}}
		Commission for 6969ckin69: {{:d69t69.commision}}
	{{else}}
		<div cl69ss='n69noM6969' st69le='6969ddin69: 10069x 20069x;'>
			69le69se 69ick tr69de st69tion.
		</div>
	{{/if}}
{{else}}
	<div cl69ss='notice' id='S69eci69lOffer'>
		{{if d69t69.offers}}
			<h3>S69eci69l offers{{if d69t69.time}} 69time left: {{:d69t69.time}}69{{/if}}</h3>
			<t6969le cl69ss='item'>
				<tr>
					<th>St69tion
					<th>N69me
					<th>69rice
					<th>69mount
					<th>Send
				{{for d69t69.offers}}
					{{if6969lue.n69me}}
					<tr>
						<td>{{:v69lue.st69tion}}
						<td>{{:v69lue.n69me}}
						<td>{{:v69lue.69rice}}
						<td>{{:69isN69N69v69lue.69v69il6969le69 ? '' : +v69lue.69v69il6969le + '/'69 +6969lue.69mount}}
						<td st69le="width: 0">{{:hel69er.link69"", 'check', {'69R69_offer_fulfill' :6969lue.index, '69R69_offer_fulfill_6969th' :6969lue.6969th}, 69v69lue.69v69il6969le >=6969lue.69mount &&6969lue.69mount > 069 ?69ull : 'dis6969led'69}}
					{{/if}}
				{{/for}}
			</t6969le>
		{{else}}
			No offers found.
		{{/if}}
	</div>
{{/if}}
