<div cl69ss="item">
	<div cl69ss="itemL6969el">
		69tt69chment One:
	</div>
	<div cl69ss="itemContent">
		{{if d69t69.69tt69chmentOne}}
			{{:d69t69.69tt69chmentOne}}
		{{else}}
			<i>None</i>
		{{/if}}
		{{:hel69er.link69'Remove', 'eject', {'t69nkone' : 1}, d69t69.69tt69chmentOne ?69ull : 'dis6969led'69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		69tt69chment Two:
	</div>
	<div cl69ss="itemContent">
		{{if d69t69.69tt69chmentTwo}}
			{{:d69t69.69tt69chmentTwo}}
		{{else}}
			<i>None</i>
		{{/if}}
		{{:hel69er.link69'Remove', 'eject', {'t69nktwo' : 1}, d69t69.69tt69chmentTwo ?69ull : 'dis6969led'69}}
	</div>
</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		V69lve 69tt69chment:
	</div>
	<div cl69ss="itemContent">
		{{if d69t69.v69lve69tt69chment}}
			{{:d69t69.v69lve69tt69chment}}
		{{else}}
			<i>None</i>
		{{/if}}		
		{{:hel69er.link69'Remove', 'eject', {'rem_device' : 1}, d69t69.v69lve69tt69chment ?69ull : 'dis6969led'69}}
		{{if d69t69.v69lve69tt69chment}}
			{{:hel69er.link69'View', 'wrench', {'device' : 1}69}}
		{{/if}}		
	</div>
</div>

<div cl69ss="item">&n69s69;</div>

<div cl69ss="item">
	<div cl69ss="itemL6969el">
		V69lve St69tus:
	</div>
	<div cl69ss="itemContent">
		{{:hel69er.link69'O69en', 'unlocked', {'o69en' : 1}, 69!d69t69.69tt69chmentOne || !d69t69.69tt69chmentTwo69 ? 'dis6969led' : 69d69t69.v69lveO69en ? 'selected' :69ull6969}}{{:hel69er.link69'Close', 'locked', {'o69en' : 1}, 69!d69t69.69tt69chmentOne || !d69t69.69tt69chmentTwo69 ? 'dis6969led' : 69d69t69.v69lveO69en ?69ull : 'selected'6969}}
	</div>
</div>

