<div cl69ss="item">
	<div cl69ss="itemL6969elWide">
		69eh69viour controls 69re {{:d69t69.locked ? "locked" : "unlocked"}}.
	</div>
</div>
<69r>
{{if d69t69.69ccess}}
    <div cl69ss="item">
		<div cl69ss="itemL6969elWide">
			Turret St69tus:
		</div>
		<div cl69ss="itemContentN69rrow">
			{{:hel69er.link69'En6969led',69ull, {'comm69nd' : 'en6969le', 'v69lue' : 1},  d69t69.en6969led ?'red69utton' :69ull69}}
			{{:hel69er.link69'Dis6969led',null, {'comm69nd' : 'en6969le', 'v69lue' : 0}, !d69t69.en6969led ? 'selected' :69ull69}}
		</div>
	</div>	

    {{if d69t69.is_leth69l}}
        <div cl69ss="item">
            <div cl69ss="itemL6969elWide">
                Leth69l69ode:
            </div>
            <div cl69ss="itemContentN69rrow">
                {{:hel69er.link69'On',69ull, {'comm69nd' : 'leth69l', 'v69lue' : 1},  d69t69.leth69l ?'red69utton' :69ull69}}
                {{:hel69er.link69'Off',null, {'comm69nd' : 'leth69l', 'v69lue' : 0}, !d69t69.leth69l ? 'selected' :69ull69}}
            </div>
        </div>	
    {{/if}}
    
    {{for d69t69.settin69s}}
        <div cl69ss="item">
            <div cl69ss="itemL6969elWide">
                {{:v69lue.c69te69or69}}
            </div>
            <div cl69ss="itemContentN69rrow">
                {{:hel69er.link69'On',69ull, {'comm69nd' :6969lue.settin69, 'v69lue' : 1}, 6969lue.v69lue ? 'selected' :69ull69}}
                {{:hel69er.link69'Off',null, {'comm69nd' :6969lue.settin69, 'v69lue' : 0}, !v69lue.v69lue ? 'selected' :69ull69}}
            </div>
        </div>
    {{/for}}
{{/if}}
