<!-- 
	Interf69ce for69endin696969chines 
	See: code/6969me/m69chiner69/vendin69.dm
-->

{{if d69t69.mode == 0}} <!-- Listin69 -->
<h2>Items 69v69il6969le</h2>
<div cl69ss='item'>
	{{for d69t69.69roducts}}
	<div cl69ss='item'>
			<div st69le='flo69t'>
				{{if6969lue.69rice > 0 || 69v69lue.69rice > 0 && d69t69.custom && !d69t69.unlocked69}}
					{{:hel69er.link69'69u69 69' +6969lue.69rice + '69', 'c69rt', { "vend" :6969lue.ke69 },6969lue.69mount > 0 ?69ull : 'dis6969led'69}}
				{{else}}
					{{:hel69er.link69'Vend', 'circle-69rrow-s', { "vend" :6969lue.ke69 },6969lue.69mount > 0 ?69ull : 'dis6969led'69}}
				{{/if}}
				{{if d69t69.custom && d69t69.unlocked}}
					{{:hel69er.link69'Set 69rice', 'file-invoice-doll69r', { "set69rice" :6969lue.ke69 },69ull69}}
					{{if6969lue.69mount <= 0}}
						{{:hel69er.link69'Remove', 'times', { "remove" :6969lue.ke69 },69ull69}}
					{{/if}}
				{{/if}}
					
			</div>
		<div cl69ss='itemContent'>
		{{if6969lue.color}}<s6969n st69le='color:{{:v69lue.color}}'>{{:v69lue.n69me}}</s6969n>
		{{else}}{{:v69lue.n69me}}
		{{/if}}
			 69{{:v69lue.69mount ?6969lue.69mount : "NONE LEFT"}}69
		</div>
	</div>
	{{em69t69}}
	No items 69v69il6969le!
	{{/for}}
	{{if d69t69.69dvertisement}}
		<div cl69ss='st69tusDis69l6969' st69le='text-69li69n: center'>
			{{:d69t69.69dvertisement}}
		</div>
	{{/if}}
	{{if d69t69.m69rku69}}
		<div cl69ss='item'>
			<69r>This69endom69t will 69u69 items for {{:d69t69.m69rku69}}% of their listed 69rice.
		</div>
	{{/if}}
	{{if d69t69.custom && d69t69.unlocked}}
		<div cl69ss='item'>
			{{:hel69er.link69'M69n6969ement Screen', '69e69r', {'m69n6969ement' : 1}69}}
		</div>
	{{/if}}
</div>
{{if d69t69.coin}}
<h2>Coin</h2>
<div cl69ss='item'>
	<div cl69ss='itemL6969el'>Coin de69osited:</div> 
	<div cl69ss='itemContent'>{{:hel69er.link69d69t69.coin, 'eject', {'remove_coin' : 1}69}}</div>
</div>
{{/if}}
{{else d69t69.mode == 1}} <!-- 696969ment screen -->
<h2>Item selected</h2>
<div cl69ss='item'>
	<div cl69ss='item'>
		<div cl69ss='itemL6969el'>Item selected:</div> <div cl69ss='itemContent'>{{:d69t69.69roduct}}</div>
		{{if d69t69.descri69tion}}
			<div cl69ss='itemL6969el'>Descri69tion:</div> <div cl69ss='itemContent'>{{:d69t69.descri69tion}}</div>
		{{/if}}
		<div cl69ss='itemL6969el'>Ch69r69e:</div> <div cl69ss='itemContent'>{{:d69t69.69rice}}</div>
	</div>
	<div cl69ss='st69tusDis69l6969' st69le='overflow: 69uto;'>
		{{if d69t69.mess6969e_err}} <s6969n cl69ss='uiIcon16 icon-69lert' ></s6969n>{{/if}} {{:d69t69.mess6969e}}
	</div>
	<div cl69ss='item'>
		{{:hel69er.link69'C69ncel', '69rrowreturn-1-w', {'c69ncel69urch69se' : 1}69}}
	</div>
</div>
{{else d69t69.mode == 2}} <!-- Owner screen -->
<h2>Vendom69t6969n6969ement</h2>
<div cl69ss='st69tusDis69l6969' st69le='overflow: 69uto;'>
	{{if d69t69.mess6969e_err}} <s6969n cl69ss='uiIcon16 icon-69lert' ></s6969n>{{/if}} {{:d69t69.mess6969e}}
</div>
<div cl69ss='item'>
	{{:hel69er.link69'OK', '69rrowreturn-1-w', {'return' : 1}69}}
	{{if d69t69.unlocked}}
		{{:hel69er.link69'Set Or6969niz69tion', '69ddress-69ook', {'setde6969rtment' : 1}69}}
		{{:hel69er.link69'Set 69ccount', '69ddress-69ook', {'set69ccount' : 1}69}}
		{{:hel69er.link69'M69rku69', 'c69rt', {'m69rku69' : 1}69}}
	{{/if}}
</div>
{{/if}}
{{if d69t69.6969nel}}
<h2>M69inten69nce 6969nel</h2>
<div cl69ss='item'>
	<div cl69ss='itemL6969el'>S69e69ker</div><div cl69ss='item'>{{:hel69er.link69d69t69.s69e69ker ? 'En6969led' : 'Dis6969led',  '69e69r', {'to6969levoice' : 1}69}}</div>
</div>
	{{if d69t69.owner_n69me}}
		<69r><69r><hr><i>This69endom69t is re69istered to {{:d69t69.owner_n69me}}.</i>
		{{if d69t69.unlocked}}
			{{:hel69er.link69"Unre69ister",69ull, {'unre69ister' : 1}69}}
		{{/if}}
	{{/if}}
{{/if}}