<div class="item">
	<h3>Specifications:</h3>
	<div class="statusDisplay" style="overflow: auto;">
		<h4>Weapon details:</h4>

		{{if data.damage_multiplier != 1}}
			<div class="itemLabel">
				Projectile damage multiplier:
			</div>
			<div class="itemContent">
				 {{:data.damage_multiplier}}x
			</div>
		{{/if}}

		{{if data.pierce_multiplier != 0}}
			<div class="itemLabel">
				Projectile walls penetration:
			</div>
			<div class="itemContent">
				{{:data.pierce_multiplier}} walls
			</div>
		{{/if}}

		{{if data.penetration_multiplier != 1}}
			<div class="itemLabel">
				Projectile Armor Divisor:
			</div>
			<div class="itemContent">
				{{:data.penetration_multiplier}}
			</div>
		{{/if}}

		<div class="itemLabel">
			Fire delay:
		</div>
			<div class="itemContent">
				{{:data.fire_delay < data.minimum_fire_delay ? data.minimum_fire_delay : data.fire_delay}} ms
			</div>

		{{if data.burst > 1}}
			<div class="itemLabel">
				Rounds per burst:
			</div>
				<div class="itemContent">
					{{:data.burst}} rounds
				</div>
			<div class="itemLabel">
				Burst delay:
			</div>
				<div class="itemContent">
					{{:data.burst_delay}} ms
				</div>
		{{/if}}

		<h4>Recoil details:</h4>
			{{if data.recoil_info.length}}
				{{for data.recoil_info}}
					<div class="itemLabel">
						{{:value.name}}
					</div>
					<div class="itemContent">
						{{:helper.displayBar(value.value, 0, data.total_recoil, value.value <= 0.5 ? 'good' : value.value <= 1.5 ? 'average' : 'bad', value.value + ' degrees')}}
					</div>
				{{/for}}
				<br>
			{{else}}
				<div class="average">
					Has no kickback.
				</div>
			{{/if}}

		<h4>Physical details:</h4>
		<div class="itemLabel">
			Melee capabilities:
		</div>
			<div class="itemContent">
				{{:helper.displayBar(data.force, 0, data.force_max, '', data.force)}}
			</div>
		<div class="itemLabel">
			Armor penetration:
		</div>
			<div class="itemContent">
				{{:helper.displayBar(data.armor_divisor, 0, 100, '', data.armor_divisor + '%')}}
			</div>

		{{if data.caliber}}
			<h4>Ammo details:</h4>
				<div class="itemLabel">
					Rifled caliber:
				</div>
					<div class="itemContent">
						{{:data.caliber}}
					</div>
				<div class="itemLabel">
					Ammo remaining:
				</div>
					<div class="itemContent">
						{{:helper.displayBar(data.current_ammo, 0, data.max_shells, '', data.current_ammo)}}
					</div>
		{{/if}}

		{{if data.charge_cost}}
			<h4>Power information:</h4>
				{{if data.cell_charge}}
					<div class="itemLabel">
						Cell rating:
					</div>
						<div class="itemContent">
							{{:helper.displayBar(data.cell_charge, 0, 100, data.cell_charge <= 25 ? 'bad' : data.cell_charge < 100 ? 'average' : '', data.cell_charge + '%')}}
						</div>
				{{else}}
					<div class="average">
						No cell installed.
					</div>
				{{/if}}
				<div class="itemLabel">
					Power usage:
				</div>
					<div class="itemContent">
						{{:data.charge_cost}}
					</div>
				<div class="itemLabel">
					Shots remaining:
				</div>
					<div class="itemContent">
						{{:helper.displayBar(data.shots_remaining, 0, data.max_shots, '', data.shots_remaining)}}
					</div>
		{{/if}}
	</div>
</div>
{{if data.projectile_name}}
	<div class="item">
		<h3>Projectile Info:</h3>
		<div class="statusDisplay" style="overflow: auto;">
			<div class="itemLabel">
				Name:
			</div>
				<div class="itemContent">
					{{:data.projectile_name}}
				</div>

			<div class="itemLabel">
				Overall damage:
			</div>
				<div class="itemContent">
					{{:data.projectile_damage}}
				</div>

			<div class="itemLabel">
				Overall AP:
			</div>
				<div class="itemContent">
					{{:data.projectile_AP}}
				</div>

			<div class="itemLabel">
				Wound scale:
			</div>
				<div class="itemContent">
					{{:data.projectile_WOUND}}
				</div>

			<div class="itemLabel">
				Unarmoured Damage:
			</div>
				<div class="itemContent">
					{{:data.unarmoured_damage}}
				</div>

			<div class="itemLabel">
				Armoured (10) Damage:
			</div>
				<div class="itemContent">
					{{:data.armoured_damage_10}}
				</div>

			<div class="itemLabel">
				Armoured (15) Damage:
			</div>
				<div class="itemContent">
					{{:data.armoured_damage_15}}
				</div>

			<div class="itemLabel">
				Recoil multiplier:
			</div>
				<div class="itemContent">
					{{:data.projectile_recoil}}
				</div>
		</div>
	</div>
{{/if}}

{{if data.firemode_count}}
	<div class="item">
		<h3>Firemodes: {{:data.firemode_count}}</h3>
		<table style="width:100%;  overflow-wrap: break-all;">
			{{for data.firemode_info}}
				<tr>
				<div class="statusDisplay" style="overflow: auto;">
					<div class="item" style="margin: 0px">
						<h4>
						{{if value.current == 1}}
							{{:helper.link(value.name, 'null', {'firemode' : value.index}, null, 'redButton')}}
						{{else}}
							{{:helper.link(value.name, 'null', {'firemode' : value.index})}}
						{{/if}}
						<i> {{:value.desc}}</i>
						</h4>
						<br>
						{{if value.projectile_name}}
							<div class="itemLabel">
							New Projectile Override: <br>
							</div>
								<div class="itemContent">
									Name:{{:value.projectile_name}}<br>
									Overall damage: {{:value.projectile_damage}}<br>
									Overall AP: {{:value.projectile_AP}}<br>
									Wound scale: {{:value.projectile_WOUND}}<br>
								</div>
						{{/if}}
						{{if value.burst}}
							<div class="itemLabel">
							Rounds per burst:
							</div>
								<div class="itemContent">
									{{:value.burst}}
								</div>

						{{/if}}
						{{if value.fire_delay}}
							<div class="itemLabel">
							Fire delay:
							</div>
								<div class="itemContent">
									{{:value.fire_delay < value.minimum_fire_delay ? value.minimum_fire_delay : value.fire_delay}} ms
								</div>
						{{/if}}
						{{if value.move_delay}}
							<div class="itemLabel">
							Movement delay:
							</div>
								<div class="itemContent">
									{{:value.move_delay}} ms
								</div>
						{{/if}}
					</div>
				</div>
			{{/for}}
		</table>
	</div>
{{/if}}

<div class="item">
	<h3>Attachments:</h3>
	{{if data.attachments}}
		<div class="statusDisplay" style="overflow: auto;">
			<table style="width:100%;  overflow-wrap: break-all;">
				{{for data.attachments}}
					<tr>
					<div class="item" style="margin: 0px">
						<div style ='float: left; height: 24px; width: 24px; margin: 4px' class='statusDisplayItem'><img src= {{:value.icon}} height=24 width=24></div>
						{{:value.name}}
					</div>
				{{/for}}
			</table>
		</div>
	{{/if}}
</div>
