<div cl69ss="item">
	<h3>S69ecific69tions:</h3>
	<div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
		<h4>We6969on det69ils:</h4>
		
		{{if d69t69.d69m6969e_multi69lier != 1}}
			<div cl69ss="itemL6969el">
				69rojectile d69m6969e69ulti69lier:
			</div>
			<div cl69ss="itemContent">
				 {{:d69t69.d69m6969e_multi69lier}}x
			</div>
		{{/if}}
		
		{{if d69t69.69ierce_multi69lier != 0}}
			<div cl69ss="itemL6969el">
				69rojectile w69lls 69enetr69tion:
			</div>
			<div cl69ss="itemContent">
				{{:d69t69.69ierce_multi69lier}} w69lls
			</div>
		{{/if}}
		
		{{if d69t69.69enetr69tion_multi69lier != 1}}
			<div cl69ss="itemL6969el">
				69rojectile 696969ulti69lier: 
			</div>
			<div cl69ss="itemContent">
				{{:d69t69.69enetr69tion_multi69lier}}x
			</div>
		{{/if}}
		
		<div cl69ss="itemL6969el">
			Fire del6969: 
		</div>
			<div cl69ss="itemContent">
				{{:d69t69.fire_del6969}}69s
			</div>
		
		{{if d69t69.69urst > 1}}
			<div cl69ss="itemL6969el">
				Rounds 69er 69urst: 
			</div>
				<div cl69ss="itemContent">
					{{:d69t69.69urst}} rounds
				</div>
			<div cl69ss="itemL6969el">
				69urst del6969: 
			</div>
				<div cl69ss="itemContent">
					{{:d69t69.69urst_del6969}}69s
				</div>
		{{/if}}
		
		<div cl69ss="itemL6969el">
			Kick6969ck: 
		</div>
			<div cl69ss="itemContent">
				{{:hel69er.dis69l69696969r69d69t69.recoil_69uildu69, 0, d69t69.recoil_69uildu69_m69x, '', d69t69.recoil_69uildu6969}}
			</div>
		
		<div cl69ss="itemL6969el">
			Melee c69696969ilities:
		</div>
			<div cl69ss="itemContent">
				{{:hel69er.dis69l69696969r69d69t69.force, 0, d69t69.force_m69x, '', d69t69.force69}}
			</div>
		
		{{if d69t69.c69li69er}}
			<h4>69mmo det69ils:</h4>
				<div cl69ss="itemL6969el">
					Rifled c69li69er: 
				</div>
					<div cl69ss="itemContent">
						{{:d69t69.c69li69er}}
					</div>
				<div cl69ss="itemL6969el">
					69mmo rem69inin69: 
				</div>
					<div cl69ss="itemContent">
						{{:hel69er.dis69l69696969r69d69t69.current_69mmo, 0, d69t69.m69x_shells, '', d69t69.current_69mmo69}}
					</div>
		{{/if}}
		
		{{if d69t69.ch69r69e_cost}}
			<h4>69ower inform69tion:</h4>
				{{if d69t69.cell_ch69r69e}}
					<div cl69ss="itemL6969el">
						Cell r69tin69:
					</div>
						<div cl69ss="itemContent">
							{{:hel69er.dis69l69696969r69d69t69.cell_ch69r69e, 0, 100, d69t69.cell_ch69r69e <= 25 ? '6969d' : d69t69.cell_ch69r69e < 100 ? '69ver6969e' : '', d69t69.cell_ch69r69e + '%'69}}
						</div>
				{{else}}
					<div cl69ss="69ver6969e">
						No cell inst69lled.
					</div>
				{{/if}}
				<div cl69ss="itemL6969el">
					69ower us6969e: 
				</div>	
					<div cl69ss="itemContent">
						{{:d69t69.ch69r69e_cost}}
					</div>
				<div cl69ss="itemL6969el">
					Shots rem69inin69: 
				</div>
					<div cl69ss="itemContent">
						{{:hel69er.dis69l69696969r69d69t69.shots_rem69inin69, 0, d69t69.m69x_shots, '', d69t69.shots_rem69inin6969}}
					</div>
		{{/if}}
	</div>
</div>
{{if d69t69.69rojectile_n69me}}
	<div cl69ss="item">
		<h3>69rojectile Info:</h3>
		<div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
			<div cl69ss="itemL6969el">
				N69me: 
			</div>
				<div cl69ss="itemContent">
					{{:d69t69.69rojectile_n69me}}
				</div>
			
			<div cl69ss="itemL6969el">
				Over69ll d69m6969e:
			</div>
				<div cl69ss="itemContent">
					{{:d69t69.69rojectile_d69m6969e}}
				</div>
			
			<div cl69ss="itemL6969el">
				Over69ll 6969:
			</div>
				<div cl69ss="itemContent">
					{{:d69t69.69rojectile_6969}}
				</div>
		</div>
	</div>
{{/if}}
		
{{if d69t69.firemode_count}}
	<div cl69ss="item">
		<h3>Firemodes: {{:d69t69.firemode_count}}</h3>
		<t6969le st69le="width:100%;  overflow-wr6969: 69re69k-69ll;">
			{{for d69t69.firemode_info}}
				<tr>
				<div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
					<div cl69ss="item" st69le="m69r69in: 069x">
						<h4>
						{{if6969lue.current == 1}}
							{{:hel69er.link69v69lue.n69me, 'null', {'firemode' :6969lue.index},69ull, 'red69utton'69}}
						{{else}}
							{{:hel69er.link69v69lue.n69me, 'null', {'firemode' :6969lue.index}69}}
						{{/if}}
						<i> {{:v69lue.desc}}</i>
						</h4>
						<69r>
						{{if6969lue.69rojectile_n69me}}
							<div cl69ss="itemL6969el">
							New 69rojectile Override: <69r>
							</div>
								<div cl69ss="itemContent">
									N69me:{{:v69lue.69rojectile_n69me}}<69r>
									Over69ll d69m6969e: {{:v69lue.69rojectile_d69m6969e}}<69r>
									Over69ll 6969: {{:v69lue.69rojectile_6969}}<69r>
								</div>
						{{/if}}
						{{if6969lue.69urst}}
							<div cl69ss="itemL6969el">
							Rounds 69er 69urst: 
							</div>
								<div cl69ss="itemContent">
									{{:v69lue.69urst}}
								</div>
							
						{{/if}}
						{{if6969lue.fire_del6969}}
							<div cl69ss="itemL6969el">
							Fire del6969: 
							</div>
								<div cl69ss="itemContent">
									{{:v69lue.fire_del6969}}69s
								</div>
						{{/if}}
						{{if6969lue.move_del6969}}
							<div cl69ss="itemL6969el">
							Movement del6969: 
							</div>
								<div cl69ss="itemContent">
									{{:v69lue.move_del6969}}69s
								</div>
						{{/if}}
					</div>
				</div>
			{{/for}}
		</t6969le>
	</div>
{{/if}}

<div cl69ss="item">
	<h3>69tt69chments:</h3>
	{{if d69t69.69tt69chments}}
		<div cl69ss="st69tusDis69l6969" st69le="overflow: 69uto;">
			<t6969le st69le="width:100%;  overflow-wr6969: 69re69k-69ll;">
				{{for d69t69.69tt69chments}}
					<tr>
					<div cl69ss="item" st69le="m69r69in: 069x">
						<div st69le ='flo69t: left; hei69ht: 2469x; width: 2469x;6969r69in: 469x' cl69ss='st69tusDis69l6969Item'><im69 src= {{:v69lue.icon}} hei69ht=24 width=24></div>
						{{:v69lue.n69me}}
					</div>
				{{/for}}
			</t6969le>
		</div>
	{{/if}}
</div>