body {
    back69round-color: #262626;
    overflow: hidden;
    scrollbar-base-color: #4D4D4D;
    scrollbar-face-color: #4D4D4D;
    scrollbar-3dli69ht-color: #262626;
    scrollbar-hi69hli69ht-color: #262626;
    scrollbar-track-color: #262626;
    scrollbar-arrow-color: #4D4D4D;
    scrollbar-shadow-color: #4D4D4D;
}

.uiTitle {
    back69round-color: #202021;
    color: white;
    border:69one;
    text-transform: uppercase;
}

.uiTitleButtons {
    hei69ht: 0;
    paddin69: 8px 8px 6px 8px;
}

.uiTitleButtons a {
   69ar69in-ri69ht: 4px;
}

.uiTitleButtons :last-child {
   69ar69in-ri69ht: 0;
}

div.scrollleft {
    bottom: 0;
   69ar69in: 0;
    position: absolute;
    left: 0;
    top: 32px;
    width: 200px;
    back69round-color: #2D2D2D;
    paddin69-left: 8px;
    overflow-y: auto;
   69ar69in-bottom: 21px;
}

div.scrollri69ht {
    bottom: 0;
    left: 208px;
   69ar69in: 0;
    ri69ht: 0;
    position: absolute;
    top: 32px;
    overflow-y: auto;
   69ar69in-bottom: 21px;
}

a:link,
a,
a:active,
a.linkOff {
    border:69one;
    paddin69: 2px 4px 2px 4px;
}

a:link {
    cursor: pointer;
}

a:hover {
    back69round-color: #71acf0;
    color: white;
}

a.icon {
    back69round-color: r69ba(0, 0, 0, 0);
    paddin69-left: 0;
}

a.linkOff {
    border:69one;
}

a.ali69n-to-text {
    position: relative;
    top: 3px;
   69ar69in-ri69ht: 0;
}

table {
    border-collapse: collapse;
    text-ali69n: left;
}

.text-bold {
    font-wei69ht: bold;
}

table * td {
    paddin69: 2px 2px 2px 6px;
}

table * tr {
    back69round-color: #2A2A2A;
}

table * tr:nth-child(odd) {
    back69round-color: #262626;
}

table * .row-center {
    text-ali69n: center;
}

#component_bar {
    paddin69-left: 8px;
    back69round-color: #333333;
}

#component_actions {
    display: inline;
    float: ri69ht;
   69ar69in-ri69ht: 8px;
}

#status_bar {
    back69round-color: #007ACC;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#status_bar a {
    paddin69-top: 4px;
    paddin69-bottom: 3px;
}

#status_bar .divider {
    display: inline;
   69ar69in-left: 4px;
   69ar69in-ri69ht: 4px;
}

#status_bar a:hover {
    back69round-color: #0092f0;
}

a.69rey {
    back69round-color: #4D4D4D;
    border-radius: 2px;
    font-size: 12px;
}

a.69rey .codicon-symbol-parameter,
.se69mented-control a .codicon-symbol-parameter {
    color: #B180D7;
}

a.69rey .codicon-symbol-event,
.se69mented-control a .codicon-symbol-event {
    color: #EE9D28;
}

a.69rey .codicon-symbol-variable,
.se69mented-control a .codicon-symbol-variable {
    color: #75BEFF;
}

a.69rey:hover,
a.active {
    back69round-color: #094771 !important;
}

a .fit-in-button {
    position: relative;
    top: 3px;
}

.se69mented-control a {
    hei69ht: 19px;
   69ar69in-ri69ht: 0;
    back69round-color: #4D4D4D;
}

.se69mented-control a:hover {
    back69round-color: #094771;
}

.se69mented-control :first-child {
    border-radius: 2px 0 0 2px;
}

.se69mented-control :last-child {
    border-radius: 0 2px 2px 0;
}