body {
    background-color: #262626;
    overflow: hidden;
    scrollbar-base-color: #4D4D4D;
    scrollbar-face-color: #4D4D4D;
    scrollbar-3dlight-color: #262626;
    scrollbar-highlight-color: #262626;
    scrollbar-track-color: #262626;
    scrollbar-arrow-color: #4D4D4D;
    scrollbar-shadow-color: #4D4D4D;
}

.uiTitle {
    background-color: #202021;
    color: white;
    border: none;
    text-transform: uppercase;
}

.uiTitleButtons {
    height: 0;
    padding: 8px 8px 6px 8px;
}

.uiTitleButtons a {
    margin-right: 4px;
}

.uiTitleButtons :last-child {
    margin-right: 0;
}

div.scrollleft {
    bottom: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 32px;
    width: 200px;
    background-color: #2D2D2D;
    padding-left: 8px;
    overflow-y: auto;
    margin-bottom: 21px;
}

div.scrollright {
    bottom: 0;
    left: 208px;
    margin: 0;
    right: 0;
    position: absolute;
    top: 32px;
    overflow-y: auto;
    margin-bottom: 21px;
}

a:link,
a,
a:active,
a.linkOff {
    border: none;
    padding: 2px 4px 2px 4px;
}

a:link {
    cursor: pointer;
}

a:hover {
    background-color: #71acf0;
    color: white;
}

a.icon {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 0;
}

a.linkOff {
    border: none;
}

a.align-to-text {
    position: relative;
    top: 3px;
    margin-right: 0;
}

table {
    border-collapse: collapse;
    text-align: left;
}

.text-bold {
    font-weight: bold;
}

table * td {
    padding: 2px 2px 2px 6px;
}

table * tr {
    background-color: #2A2A2A;
}

table * tr:nth-child(odd) {
    background-color: #262626;
}

table * .row-center {
    text-align: center;
}

#component_bar {
    padding-left: 8px;
    background-color: #333333;
}

#component_actions {
    display: inline;
    float: right;
    margin-right: 8px;
}

#status_bar {
    background-color: #007ACC;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#status_bar a {
    padding-top: 4px;
    padding-bottom: 3px;
}

#status_bar .divider {
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}

#status_bar a:hover {
    background-color: #0092f0;
}

a.grey {
    background-color: #4D4D4D;
    border-radius: 2px;
    font-size: 12px;
}

a.grey .codicon-symbol-parameter,
.segmented-control a .codicon-symbol-parameter {
    color: #B180D7;
}

a.grey .codicon-symbol-event,
.segmented-control a .codicon-symbol-event {
    color: #EE9D28;
}

a.grey .codicon-symbol-variable,
.segmented-control a .codicon-symbol-variable {
    color: #75BEFF;
}

a.grey:hover,
a.active {
    background-color: #094771 !important;
}

a .fit-in-button {
    position: relative;
    top: 3px;
}

.segmented-control a {
    height: 19px;
    margin-right: 0;
    background-color: #4D4D4D;
}

.segmented-control a:hover {
    background-color: #094771;
}

.segmented-control :first-child {
    border-radius: 2px 0 0 2px;
}

.segmented-control :last-child {
    border-radius: 0 2px 2px 0;
}