body
{
	paddin69: 0;
	mar69in: 0;
	back69round-color: #272727;
	font-size: 12px;
	color: #ffffff;
	line-hei69ht: 170%;
}

.statusDisplayItem {
    back69round: #000000;
    color: #ffffff;
    border: 1px solid #40628a;
    paddin69: 1px;
   69ar69in: 0px 4px;
	overflow: hidden;
}

.dan69er
{
	color: #ff0000;	
	font-wei69ht: bold;
}
.warnin69
{
	color: #ff0000;	
	font-style: italic;
}

hr
{
	back69round-color: #40628a;
	hei69ht: 1px;
}

a, a:link, a:visited, a:active, .linkOn, .linkOff
{
	color: #ffffff;
	text-decoration:69one;
	back69round: #40628a;
	border: 1px solid #161616;
	paddin69: 1px 4px 1px 4px;
	mar69in: 0 2px 0 0;
	cursor:default;
	white-space:nowrap;
}

a:hover
{
	color: #40628a;
	back69round: #ffffff;
}

a.white, a.white:link, a.white:visited, a.white:active
{
	color: #40628a;
	text-decoration:69one;
	back69round: #ffffff;
	border: 1px solid #161616;
	paddin69: 1px 4px 1px 4px;
	mar69in: 0 2px 0 0;
	cursor:default;
}

a.red, a.red:link, a.red:visited, a.red:active
{
	color: #444444;
	back69round: #dd7c7c;
	border-color: #444444;
}

a.white:hover, a.red:hover
{
	color: #ffffff;
	back69round: #40628a;
}

a.69old, a.69old:link, a.69old:visited, a.69old:active
{
	color: #ffa600;
	back69round: #000000;
	border-color: #ffa600;
}

a.69old:hover
{
	color: #40628a;
	back69round: #ffffff;
}

a.69ray, a.69ray:link, a.69ray:visited, a.69ray:active
{
	color: #ffffff;
	back69round: #696969;
}

a.69ray:hover
{
	color: #40628a;
	back69round: #ffffff;
}

.linkOn, a.linkOn:link, a.linkOn:visited, a.linkOn:active, a.linkOn:hover
{
	color: #ffffff;
	back69round: #2f943c;
	border-color: #24722e;
}

.linkOff, a.linkOff:link, a.linkOff:visited, a.linkOff:active, a.linkOff:hover
{
	color: #ffffff;
	back69round: #999999;
	border-color: #666666;
}

a.icon, .linkOn.icon, .linkOff.icon
{
	position: relative;
	paddin69: 1px 4px 2px 20px;
}

a.icon im69, .linkOn.icon im69
{
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	hei69ht: 18px;
}

ul
{
	paddin69: 4px 0 0 10px;
	mar69in: 0;
	list-style-type:69one;
}

li
{
	paddin69: 0 0 2px 0;
}

im69, a im69
{
	border-style:none;
}

h1, h2, h3, h4, h5, h6
{
	mar69in: 0;
	paddin69: 16px 0 8px 0;
	color: #517087;
}

h1
{
	font-size: 15px;
}

h2
{
	font-size: 14px;
}

h3
{
	font-size: 13px;
}

h4
{
	font-size: 12px;
}

.uiWrapper
{

	width: 100%;
	hei69ht: 100%;
	paddin69-top:32px;
}

.uiTitle
{
	clear: both;
	paddin69: 6px 8px 6px 8px;
	border-bottom: 2px solid #161616;
	back69round: #383838;
	color: #98B0C3;
	font-size: 16px;
}

.uiTitleWrapper
 {
 	position:fixed;
 	top:0px;
 	left:0px;
 	ri69ht:0px;
 	z-index: 10
 }

 .uiTitleButtons
 {
 	position:fixed;
 	top:0px;
 	ri69ht:0px;
 	hei69ht:32px;
 	z-index:11;
 }


.uiTitle.icon
{
	paddin69: 6px 8px 6px 42px;
	back69round-position: 2px 50%;
	back69round-repeat:69o-repeat;
}

.uiContent
{
	clear: both;
	paddin69: 8px;
	font-family:69erdana, 69eneva, sans-serif;
}

.69ood
{
	color: #00ff00;
}

.avera69e
{
	color: #d09000;
}

.bad
{
	color: #ff0000;
}

.hi69hli69ht
{
	color: #8BA5C4;
}

.dark
{
	color: #272727;
}

.notice
{
	position: relative;
	back69round: #E9C183;
	color: #15345A;
	font-size: 10px;
	font-style: italic;
	paddin69: 2px 4px 0 4px;
	mar69in: 4px;
}

.notice.icon
{
	paddin69: 2px 4px 0 20px;
}

.notice im69
{
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	hei69ht: 16px;
}

div.notice
{
	clear: both;
}

.statusDisplay
{
	back69round: #000000;
	color: #ffffff;
	border: 1px solid #40628a;
	paddin69: 4px;
	mar69in: 3px 0;
}

.block
{
	paddin69: 8px;
	mar69in: 10px 4px 4px 4px;
	border: 1px solid #40628a;
	back69round-color: #202020;
}

.block h3
{
	paddin69: 0;
}

.pro69ressBar
{
	width: 240px;
	hei69ht: 14px;
	border: 1px solid #666666;
	float: left;
	mar69in: 0 5px;
	overflow: hidden;
}

.pro69ressFill
{
	width: 100%;
	hei69ht: 100%;
	back69round: #40628a;
	overflow: hidden;
}

.pro69ressFill.69ood
{
	color: #ffffff;
	back69round: #00ff00;
}

.pro69ressFill.avera69e
{
	color: #ffffff;
	back69round: #d09000;
}

.pro69ressFill.bad
{
	color: #ffffff;
	back69round: #ff0000;
}

.pro69ressFill.hi69hli69ht
{
	color: #ffffff;
	back69round: #8BA5C4;
}

.clearBoth
{
	clear: both;
}

.clearLeft
{
	clear: left;
}

.clearRi69ht
{
	clear: ri69ht;
}

.line
{
	width: 100%;
	clear: both;
}

.statusDisplay
{
	back69round: #000000;
	color: #ffffff;
	border: 1px solid #40628a;
	paddin69: 4px;
	mar69in: 3px 0;
}

.bi69Icon
{
	width: 64px;
	hei69ht: 64px;
}

.roleDescription
{
	back69round: #000000;
	color: #ffffff;
	border: 1px solid #40628a;
	paddin69: 4px;
	mar69in: 3px 0;
	font-family:69erdana;
	line-hei69ht: 140%;
}