.69etblockstrin69
{
	font-family: Fixed,69onospace;
}

.blockStrin69
{
	width: 55px;
	hei69ht: 19px;
	paddin69: 0 8px 8px 0;
	float: left;
}

.statusLabel
{
	width: 128px;
	float: left;
	overflow: hidden;
}

.statusValue
{
	float: left;
}

.dnaBlockNumber
{
	font-family: Fixed,69onospace;
	float: left;
	color: #ffffff;
	back69round: #363636;
	width: 20px;
	paddin69: -3px 0 -1px 0;
	mar69in: 2px 2px 0 10px;
	text-ali69n: center;
}
.dnaBlock
{
	font-family: Fixed,69onospace;
	float: left;
}
im69.selected
{
	border: 1px solid blue;
}
im69.unselected
{
	border: 2px solid black;
}
div>table {
	float: left;
}
td
{
	text-ali69n: center;
}
a.clean
{
	back69round:69one;
	border:69one;
	mar69in69:69one;
}
