name: CI Suite

on:
  pull_request:
    branches:
      - master
  merge_group:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  start_gate:
    if: ( !contains(github.event.head_commit.message, '[ci skip]') )
    name: Start Gate
    runs-on: ubuntu-latest
    steps:
      - name: Mandatory Empty Step
        run: exit 0

  run_linters:
    name: Run Linters
    needs: start_gate
    uses: ./.github/workflows/run_linters.yml


  collect_data:
    name: Collect data and setup caches for other tasks
    needs: start_gate
    uses: ./.github/workflows/collect_data.yml

  compile_all_maps:
    name: Compile Maps
    needs: collect_data
    uses: ./.github/workflows/compile_all_maps.yml
    with:
      max_required_byond_client: ${{ needs.collect_data.outputs.max_required_byond_client }}

  setup_build_artifacts:
    name: Setup build artifacts
    needs: collect_data
    uses: ./.github/workflows/setup_build_artifacts.yml
    with:
      build_versions: ${{ needs.collect_data.outputs.required_build_versions }}

  run_all_tests:
    name: Integration Tests
    needs: [collect_data, setup_build_artifacts]
    uses: ./.github/workflows/perform_regular_version_tests.yml
    with:
      maps: ${{ needs.collect_data.outputs.maps }}
      max_required_byond_client: ${{ needs.collect_data.outputs.max_required_byond_client }}

  completion_gate: # Serves as a non-moving target for branch rulesets
    name: Completion Gate
    needs:
      [
        compile_all_maps,
        run_all_tests,
        run_linters,
      ]
    runs-on: ubuntu-latest
    steps:
      - name: Mandatory Empty Step
        run: exit 0
































