name: Run Regular BYOND Version Tests

on:
  workflow_call:
    inputs:
      max_required_byond_client:
        required: true
        type: string

jobs:
  run:
    uses: ./.github/workflows/run_integration_tests.yml

    strategy:
      fail-fast: false

    with:
      max_required_byond_client: ${{ inputs.max_required_byond_client }}
